Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Make everything actually work
  client/src/app/app.tsx
  client/src/app/main-menu/game-history.tsx
  client/src/logic/messages.ts
  common/models/game-model.ts
  jest.config.mjs
  server/src/db/db.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
Due: eslint --max-warnings=0, prettier --write

replay test improvement
  tests/replays/replays.test.ts
  tests/replays/tsconfig.json
Due: none

Fix unit tests?
  tests/unit/game/utils.ts
Due: none

combine replay and database tests
  .github/workflows/ci.yaml
  tests/db/replays.test.ts
  tests/replays/tsconfig.json
  tests/unit/game/utils.ts
Due: none

Make it actually kinda work
  client/src/app/main-menu/game-history.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  common/types/database.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

drag cards modal
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  server/src/db/db.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Changes
  server/src/db/db.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: none

Changes
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: none

build errors
  server/src/db/db.ts
  server/src/routines/turn-action-compressor.ts
Due: none

Formatting
  client/src/app/app.tsx
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
  tests/replays/replays.test.ts
Due: eslint --max-warnings=0, prettier --write

issues with tests
  tests/unit/game/utils.ts
Due: none

Make replays save in the database (#1171)
  .github/workflows/ci.yaml
  client/src/app/main-menu/game-history.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/entities.ts
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/ecs.ts
  common/utils/turn-action-compressor.ts
  jest.config.mjs
  package.json
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/index.ts
  tests/db/database.test.ts
  tests/replays/replays.test.ts
  tests/replays/tsconfig.json
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

changes
  common/cards/hermits/smallishbeans-rare.ts
  tests/unit/game/hermits/smallishbeans-rare.test.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/smallishbeans_rare_with_tokens.png
Due: none

Make hof work on mobile
  client/src/app/app.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Move games history over
  client/src/app/main-menu/game-history.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

improvements
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Move achievements to game controller
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

Move Achievements to `GameController` Class (#1188)
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

more front end changes
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

start the fuzz
  tests/fuzz/create-deck.ts
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/index.ts
  tests/fuzz/tsconfig.json
Due: none

some more changes
  tests/fuzz/create-deck.ts
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/utils.ts
Due: none

some more changes
  tests/fuzz/index.ts
Due: none

some changes
  common/components/card-component.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/virtual/virtual-action.ts
  tests/fuzz/create-deck.ts
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/index.ts
  tests/fuzz/run-game.ts
  tests/fuzz/utils.ts
  tests/unit/game/utils.ts
Due: none

Throw errors properly
  common/components/ai-component.ts
  server/src/routines/virtual/virtual-action.ts
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/run-game.ts
Due: none

Throw errors properly
  tests/fuzz/fuzz-ai.ts
Due: none

Update index.ts
  common/status-effects/index.ts
Due: none

Re-write updates to use github releases and get locally
  client/src/app/main-menu/main-menu.tsx
  client/src/components/updates/updates.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  client/src/root-saga.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  package-lock.json
  package.json
  server/src/root-model.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

Basics of stats page (#1191)
  client/src/app/app.tsx
  client/src/app/main-menu/game-history.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Early draft cosmetics page
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  common/achievements/index.ts
  common/achievements/types.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

more improveemnts
  common/components/ai-component.ts
  tests/fuzz/create-deck.ts
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/index.ts
  tests/fuzz/run-game.ts
Due: none

Add appearance to playerModel, set types for each cosmetic, probably other stuff too
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  common/components/player-component.ts
  common/cosmetics/background/index.ts
  common/cosmetics/background/transparent.ts
  common/cosmetics/borders/blue.ts
  common/cosmetics/borders/index.ts
  common/cosmetics/coins/index.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/hearts/red.ts
  common/cosmetics/index.ts
  common/cosmetics/titles/empty.ts
  common/cosmetics/titles/ethogirl.ts
  common/cosmetics/titles/evil-xterminator.ts
  common/cosmetics/titles/index.ts
  common/cosmetics/types.ts
  common/models/player-model.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add default appearance, remove last selectedCoinHead references
  client/src/app/main-menu/cosmetics.tsx
  common/components/player-component.ts
  common/cosmetics/default.ts
  common/cosmetics/types.ts
  common/models/player-model.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Setting cosmetics, rendering cosmetics, cosmetics nearly done
  client/public/images/cosmetics/backgrounds/old_menu.png
  client/public/images/cosmetics/hearts/gold.png
  client/src/app/app.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/game/database/database-selectors.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/components/player-component.ts
  common/cosmetics/background/index.ts
  common/cosmetics/background/old-menu.ts
  common/cosmetics/borders/green.ts
  common/cosmetics/borders/index.ts
  common/cosmetics/default.ts
  common/cosmetics/hearts/gold.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/index.ts
  common/models/player-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/game-state.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/utils/state-gen.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update humancleo-rare.ts
  common/cards/hermits/humancleo-rare.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/humancleo_rare.png
  client/public/images/cards/humancleo_rare_with_tokens.png
Due: none

Correct Human Cleo's HP (#1192)
  client/public/images/cards/humancleo_rare.png
  client/public/images/cards/humancleo_rare_with_tokens.png
  common/cards/hermits/humancleo-rare.ts
Due: none

Reorganization of Status Effects (#1187)
  common/status-effects/frozen.ts
  common/status-effects/index.ts
  common/status-effects/slowness.ts
  common/status-effects/weakness.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/evilxisuma_boss.png
  client/public/images/cards/evilxisuma_boss_with_tokens.png
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare_with_tokens.png
  client/public/images/cards/hotguy_rare_with_tokens.png
  client/public/images/cards/humancleo_rare.png
  client/public/images/cards/humancleo_rare_with_tokens.png
  client/public/images/cards/looting_with_tokens.png
  client/public/images/cards/mumbojumbo_rare_with_tokens.png
  client/public/images/cards/potatoboy_rare.png
  client/public/images/cards/potatoboy_rare_with_tokens.png
  client/public/images/cards/smallishbeans_rare_with_tokens.png
  client/public/images/cards/steampunktango_rare_with_tokens.png
  client/public/images/cards/tinfoilchef_ultra_rare_with_tokens.png
  client/public/images/cards/totem_with_tokens.png
  client/public/images/cards/trident_with_tokens.png
  client/public/images/cards/zombiecleo_rare_with_tokens.png
  client/public/images/cards/zookeeperscar_rare_with_tokens.png
Due: none
