Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

I have no idea how this fixed it, but it did
  common/models/player-model.ts
Due: none

Weakness Description Mod
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/status-effects/weakness.ts
  server/src/utils/state-gen.ts
Due: none

Update potion-of-weakness.ts
  common/cards/single-use/potion-of-weakness.ts
Due: none

fix bug
  common/models/player-model.ts
  common/utils/state-gen.ts
  server/src/db/db.ts
Due: none

type error
  server/src/db/db.ts
Due: none

hopefully fix it
  client/src/logic/session/session-saga.ts
  common/models/player-model.ts
Due: eslint --max-warnings=0, prettier --write

??? code and fix
  client/src/logic/session/session-saga.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Fix login issues
  client/src/app/app.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  server/src/db/db-reciever.ts
Due: eslint --max-warnings=0, prettier --write

Show error when db fails
  server/src/db/db.ts
Due: none

Console log error when DB fails to connect (#974)
  server/src/db/db.ts
Due: none

Edit scuffed items + remove starter pak
  common/cards/items/anarchist-common.ts
  common/cards/items/anarchist-rare.ts
  common/cards/items/athlete-common.ts
  common/cards/items/athlete-rare.ts
  common/cards/items/bard-common.ts
  common/cards/items/bard-rare.ts
  common/cards/items/challenger-common.ts
  common/cards/items/challenger-rare.ts
  common/cards/items/collector-common.ts
  common/cards/items/collector-rare.ts
  common/cards/items/diplomat-common.ts
  common/cards/items/diplomat-rare.ts
  common/cards/items/historian-common.ts
  common/cards/items/historian-rare.ts
  common/cards/items/inventor-common.ts
  common/cards/items/inventor-rare.ts
  common/cards/items/looper-common.ts
  common/cards/items/looper-rare.ts
  common/cards/items/pacifist-common.ts
  common/cards/items/pacifist-rare.ts
  common/cards/items/scavenger-common.ts
  common/cards/items/scavenger-rare.ts
  server/src/utils/state-gen.ts
Due: none

Undo
  common/cards/single-use/potion-of-weakness.ts
Due: none

commit
  client/src/app/app.tsx
  client/src/components/tooltip/tooltip.module.scss
  client/src/components/tooltip/tooltip.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-selectors.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make sure database is not disabled in default debug config
  common/config/debug-config.example.js
Due: none

Fix advent of tcg card compile errors
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
Due: none

Fix starter deck function
  common/utils/game.ts
  common/utils/setup-game.ts
Due: none

Validate deck
  common/utils/state-gen.ts
  playwright-reports/data/727e775d4b0856c5d53d9724afb15064ce877eec.zip
  playwright-reports/data/c338c68ea89e1c7c353a811ac6661f6176d2b4b4.zip
  playwright-reports/data/c81f8f7761531d28d19f808286826450cb593de9.zip
  playwright-reports/data/d845363e8a3ea6021d9004a2224d595fe1feb425.zip
  playwright-reports/data/d8ddbdcc818a5d7f0ed1e4787fd383efca951046.zip
  playwright-reports/index.html
  playwright-reports/playwright-report-e2e.zip
  playwright-reports/trace/assets/codeMirrorModule-eFKCUIu2.js
  playwright-reports/trace/assets/testServerConnection-DeE2kSzz.js
  playwright-reports/trace/assets/workbench-D0cirtfA.js
  playwright-reports/trace/codeMirrorModule.ez37Vkbh.css
  playwright-reports/trace/codicon.DCmgc-ay.ttf
  playwright-reports/trace/embedded.BkuvsLJp.js
  playwright-reports/trace/embedded.html
  playwright-reports/trace/embedded.w7WN2u1R.css
  playwright-reports/trace/index.C968kAiC.js
  playwright-reports/trace/index.CrbWWHbf.css
  playwright-reports/trace/index.html
  playwright-reports/trace/playwright-logo.svg
  playwright-reports/trace/snapshot.html
  playwright-reports/trace/sw.bundle.js
  playwright-reports/trace/uiMode.BkFnr4V0.js
  playwright-reports/trace/uiMode.D3cNFP6u.css
  playwright-reports/trace/uiMode.html
  playwright-reports/trace/workbench.DjbIuxix.css
  playwright-reports/trace/xtermModule.DSXBckUd.css
  tests/unit/game/starter-decks.test.ts
Due: none

oops
  playwright-reports/data/727e775d4b0856c5d53d9724afb15064ce877eec.zip
  playwright-reports/data/c338c68ea89e1c7c353a811ac6661f6176d2b4b4.zip
  playwright-reports/data/c81f8f7761531d28d19f808286826450cb593de9.zip
  playwright-reports/data/d845363e8a3ea6021d9004a2224d595fe1feb425.zip
  playwright-reports/data/d8ddbdcc818a5d7f0ed1e4787fd383efca951046.zip
  playwright-reports/index.html
  playwright-reports/playwright-report-e2e.zip
  playwright-reports/trace/assets/codeMirrorModule-eFKCUIu2.js
  playwright-reports/trace/assets/testServerConnection-DeE2kSzz.js
  playwright-reports/trace/assets/workbench-D0cirtfA.js
  playwright-reports/trace/codeMirrorModule.ez37Vkbh.css
  playwright-reports/trace/codicon.DCmgc-ay.ttf
  playwright-reports/trace/embedded.BkuvsLJp.js
  playwright-reports/trace/embedded.html
  playwright-reports/trace/embedded.w7WN2u1R.css
  playwright-reports/trace/index.C968kAiC.js
  playwright-reports/trace/index.CrbWWHbf.css
  playwright-reports/trace/index.html
  playwright-reports/trace/playwright-logo.svg
  playwright-reports/trace/snapshot.html
  playwright-reports/trace/sw.bundle.js
  playwright-reports/trace/uiMode.BkFnr4V0.js
  playwright-reports/trace/uiMode.D3cNFP6u.css
  playwright-reports/trace/uiMode.html
  playwright-reports/trace/workbench.DjbIuxix.css
  playwright-reports/trace/xtermModule.DSXBckUd.css
Due: none

Benji requests
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.tsx
  common/cards/starter-decks.ts
  common/utils/validation.ts
  tests/unit/game/starter-decks.test.ts
Due: eslint --max-warnings=0, prettier --write

Format
  common/utils/state-gen.ts
  tests/unit/game/starter-decks.test.ts
Due: none

fix type errors
  client/src/logic/session/session-saga.ts
  common/models/player-model.ts
  common/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

???
  common/cards/starter-decks.ts
Due: none

Fix
  client/src/app/app.tsx
  client/src/components/tooltip/tooltip.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/app.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

fix compile errors
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
  client/src/components/card/mobile-card-component.tsx
  common/utils/ranks.ts
Due: eslint --max-warnings=0, prettier --write

compile errors
  client/src/app/deck/deck-select.tsx
  common/utils/ranks.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Fix compile errors for real
  server/src/api/cards.ts
Due: none

Fix getting undefined deck
  common/cards/starter-decks.ts
Due: none

get the test suite to complete
  common/cards/starter-decks.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/hermits/dungeontango-rare.test.ts
  tests/unit/game/starter-decks.test.ts
Due: none

Make the code shit again
  common/cards/starter-decks.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/hermits/dungeontango-rare.test.ts
Due: none

Format
  server/src/api/cards.ts
  tests/unit/game/starter-decks.test.ts
Due: none

Fix login
  common/cards/starter-decks.ts
Due: none

Fix broken stuff
  common/utils/cards.ts
  common/utils/game.ts
Due: none

Fix everything
  common/cards/starter-decks.ts
  tests/unit/game/starter-decks.test.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
