Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix Accessing Undefined Error (#826)
  server/src/routines/matchmaking.ts
Due: none

Move AIComponent to common
  common/components/ai-component.ts
  common/entities.ts
  common/types/virtual-ai.ts
  common/utils/state-gen.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/index.ts
  server/src/routines/virtual/virtual-action.ts
Due: none

Update branch to 0.8.13
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/create-private.tsx
  client/src/logic/messages.ts
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/status-effects/exboss-nine.ts
  common/types/virtual-ai.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/virtual-action.ts
  server/src/utils/index.ts
  server/src/utils/win-conditions.ts
Due: eslint --max-warnings=0, prettier --write

Fix build errors and delete `VirtualPlayerModel`
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/models/virtual-player-model.ts
  server/src/routines/matchmaking.ts
  server/src/utils/win-conditions.ts
Due: eslint --max-warnings=0, prettier --write

Fix interaction with E.Pearl k.o. and World Build
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
Due: none

Fix invis activating on your own attacks
  common/status-effects/invisibility-potion.ts
Due: none

Make battle log messages show from coming from correct player
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Joel not counting King Joel rare
  common/cards/season-x/hermits/smallishbeans-rare.ts
Due: none

Fix settings not saving
  client/src/logic/local-settings/local-settings-saga.ts
Due: eslint --max-warnings=0, prettier --write

Make battle log messages show from coming from correct player (#828)
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Fix invis activating on your own attacks (#827)
  common/status-effects/invisibility-potion.ts
Due: none

format
  client/src/logic/local-settings/local-settings-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix Joel not counting King Joel rare (#829)
  common/cards/season-x/hermits/smallishbeans-rare.ts
Due: none

Fix settings not saving (#830)
  client/src/logic/local-settings/local-settings-saga.ts
Due: eslint --max-warnings=0, prettier --write

move egg to after attack
  common/cards/alter-egos/single-use/egg.ts
Due: none

Move Egg To After Attack (#831)
  common/cards/alter-egos/single-use/egg.ts
Due: none

Remove `applySingleUse` from Cub's pick request
  common/cards/default/hermits/cubfan135-rare.ts
Due: none

fix socket bug
  server/src/routines/background/connection-status.ts
  server/src/utils/comm.ts
Due: none

Fix gaslight activating when it shouldn't have
  common/status-effects/gas-light.ts
Due: none

format and fix
  server/src/routines/background/connection-status.ts
  server/src/utils/comm.ts
Due: none

Fix Cub re-applying single use cards in pick request (#832)
  common/cards/default/hermits/cubfan135-rare.ts
Due: none

better way of sorting it
  common/status-effects/gas-light.ts
Due: none

Call onActiveRowChange with no previous active row
  common/components/player-component.ts
Due: none

Fix King Joel pick request
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
Due: none

Fix loyalty returning items from all damaged hermits
  common/cards/default/effects/loyalty.ts
Due: none

Fix Loyalty returning items from all damaged hermits (#837)
  common/cards/default/effects/loyalty.ts
Due: none

Fix Crash Broadcasting To Player That Does Not Exist (#833)
  server/src/routines/background/connection-status.ts
  server/src/utils/comm.ts
Due: none

Call onActiveRowChange with no previous active row (#835)
  common/components/player-component.ts
Due: none

Clean up rare king joel implementation
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
Due: none

mobile deck builder
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/components/card-list/card-list.module.scss
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  common/status-effects/gas-light.ts
Due: none

Ensure Egg/C Fruit/Knockback add pick last
  common/cards/alter-egos/single-use/egg.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/knockback.ts
  common/types/attack.ts
Due: none

Stop Chorus Fruit From Triggering on Status Effect Attacks
  common/cards/default/single-use/knockback.ts
Due: none

status effects should do this
  common/cards/default/single-use/knockback.ts
Due: none

Fix comment
  common/cards/default/single-use/knockback.ts
Due: none

Fix gaslight activating when it shouldn't have (#834)
  common/status-effects/gas-light.ts
Due: none

Stop Knockback From Triggering On Status Effect Attacks (#838)
  common/cards/default/single-use/knockback.ts
Due: none

Improve the code???
  common/components/status-effect-component.ts
  common/status-effects/death-loop.ts
Due: none

?????????
  common/components/status-effect-component.ts
Due: none
