Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

unlock fix
  client/src/app/main-menu/cosmetics.tsx
Due: eslint --max-warnings=0, prettier --write

cosmetics screen
  client/public/images/cosmetics/background/transparent.png
  client/public/images/lock.png
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

start adding levels
  common/achievements/decked-out.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/types.ts
Due: none

changes
  common/cosmetics/titles/ethogirl.ts
  common/cosmetics/types.ts
Due: none

Win achievement
  common/achievements/index.ts
  common/achievements/wins.ts
Due: none

improvements and animation
  client/public/images/lock.png
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

gold heart update
  client/public/images/cosmetics/heart/gold.png
Due: none

Display on frontned
  client/src/components/achievement/achievement.tsx
  common/achievements/index.ts
Due: eslint --max-warnings=0, prettier --write

Make things
  client/src/components/achievement/achievement.tsx
  common/achievements/british.ts
  common/achievements/certified-zombie.ts
  common/achievements/deceptive-spectacles.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/team-star.ts
  common/achievements/untouchable.ts
  common/achievements/wipeout.ts
Due: eslint --max-warnings=0, prettier --write

????
  client/src/app/main-menu/cosmetics.tsx
  common/cosmetics/titles/british.ts
  common/cosmetics/types.ts
  common/types/achievements.ts
Due: eslint --max-warnings=0, prettier --write

mobile changes
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Complete all things for private games, plus add copy toasts
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
  client/src/components/modal/modal.tsx
  client/src/components/toast/toast.module.scss
  client/src/components/toast/toast.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-selectors.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Rename lobby to game
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

Fix modals
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

Update create game text for clarity
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

cosmetics
  client/src/app/main-menu/cosmsetics.module.scss
Due: stylelint --fix

Fixes
  client/src/app/app.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

????
  common/achievements/index.ts
  common/achievements/sustainable.ts
  tests/unit/game/achivements/sustainable.test.ts
Due: none

Fix for mobile
  client/src/components/achievement/achievement.module.scss
Due: stylelint --fix

lint
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/achievement/achievement.tsx
  client/src/components/tabs/tabs.tsx
Due: eslint --max-warnings=0, prettier --write

Mobile UI reworks (#1260)
  client/public/images/cosmetics/background/transparent.png
  client/public/images/cosmetics/heart/gold.png
  client/public/images/cosmetics/heart/soulflame.png
  client/public/images/cosmetics/title.png
  client/public/images/cosmetics/title_small.png
  client/public/images/icons/plus.png
  client/public/images/lock.png
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/components/tabs/tabs.module.scss
  client/src/components/tabs/tabs.tsx
  common/achievements/decked-out.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/hearts/soulflame.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add some changes
  client/public/images/cosmetics/heart/emerald.png
  common/achievements/sustainable.ts
  common/cosmetics/hearts/emerald.ts
  tests/unit/game/achivements/sustainable.test.ts
Due: none

add emerald heart
  common/cosmetics/hearts/index.ts
Due: none

Fix hearts file
  common/cosmetics/hearts.ts
Due: none

Fix CSS issue
  client/src/app/main-menu/cosmsetics.module.scss
Due: stylelint --fix

commit
  client/public/images/cosmetics/background/builder.png
  client/public/images/cosmetics/background/explorer.png
  client/public/images/cosmetics/background/how_did_we_get_here.png
  client/public/images/cosmetics/background/library.png
  client/public/images/cosmetics/background/pvp.png
  client/public/images/cosmetics/background/terraform.png
  client/public/images/cosmetics/coin/cod.png
  client/public/images/game/gold_border.png
  client/public/images/game/red_border.png
  client/public/images/game/silver_border.png
  client/public/images/game/silver_heart.png
  client/src/app/main-menu/cosmetics.tsx
  common/cosmetics/backgrounds.ts
  common/cosmetics/borders.ts
  common/cosmetics/coins.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write

First background draft complete
  client/public/images/cosmetics/background/balanced.png
  client/public/images/cosmetics/background/explorer.png
  client/public/images/cosmetics/background/farm.png
  client/public/images/cosmetics/background/miner.png
  client/public/images/cosmetics/background/old_menu.png
  client/public/images/cosmetics/background/prankster.png
  client/public/images/cosmetics/background/redstone.png
  client/public/images/cosmetics/background/speedrunner.png
  client/public/images/cosmetics/background/terraform.png
  common/cosmetics/backgrounds.ts
Due: none

Remove mountain from PVP
  client/public/images/cosmetics/background/pvp.png
Due: none

Fix missing img
  client/public/images/cosmetics/border/gold.png
  client/public/images/cosmetics/border/gold_border.png
  client/public/images/cosmetics/border/green_border.png
  client/public/images/cosmetics/border/red.png
  client/public/images/cosmetics/border/red_border.png
  client/public/images/cosmetics/border/silver_border.png
  client/public/images/cosmetics/heart/silver_heart.png
  client/public/images/game/silver_heart.png
  common/cosmetics/borders.ts
Due: none

Rename old menu to classic menu
  client/public/images/cosmetics/background/classic_menu.png
  common/cosmetics/backgrounds.ts
Due: none

rename to classic
  client/public/images/cosmetics/background/classic.png
  common/cosmetics/backgrounds.ts
Due: none

rename transparent to default
  client/public/images/cosmetics/background/default.png
  common/cosmetics/backgrounds.ts
Due: none

Gray out background when inactive
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

change
  client/public/images/cosmetics/background/default.png
  common/cosmetics/backgrounds.ts
Due: none

change
  client/public/images/cosmetics/background/transparent.png
Due: none

Evil X nameplate
  client/src/app/game/player-info/player-info.tsx
  server/src/routines/matchmaking.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Better
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write

format
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write

improve the pixels
  client/public/images/cosmetics/heart/emerald.png
Due: none

change again
  client/public/images/cosmetics/heart/emerald.png
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
