Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

changes
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/tnt.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/utils/board.ts
Due: none

Log attack history debug config setting
  client/src/components/formatting/formatting.module.scss
  common/config/debug-config.json
  common/models/battle-log-model.ts
Due: stylelint --fix

Move effects to new log system
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/knockback.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/mending.ts
  common/cards/default/single-use/netherite-sword.ts
  common/models/battle-log-model.ts
Due: none

clean up for effects
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/models/battle-log-model.ts
  common/types/attack.ts
Due: none

fix attacker and target formatting
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
Due: none

Change color formats to variables
  client/src/components/formatting/formatting.module.scss
Due: stylelint --fix

Remove highlighting from pearl description
  common/cards/default/hermits/pearlescentmoon-rare.ts
Due: none

Update colors/formatting
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.module.scss
  common/config/debug-config.json
  common/models/battle-log-model.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Italic bold and keyword highlighting
  client/src/components/formatting/formatting.module.scss
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/utils/formatting.ts
Due: stylelint --fix

Battle log front end improvements (prob still kinda messy)
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.tsx
  common/models/battle-log-model.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Coinflips and fix colors
  client/src/app/game/chat/chat.tsx
  common/cards/base/hermit-card.ts
  common/cards/default/effects/totem.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/config/debug-config.json
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
Due: eslint --max-warnings=0, prettier --write

chat flip colors and coin flips update
  client/src/app/game/chat/chat.module.scss
  client/src/components/formatting/formatting.module.scss
  common/config/debug-config.json
  common/models/battle-log-model.ts
Due: stylelint --fix

coin flip fixes
  common/models/battle-log-model.ts
Due: none

Update main menu splash to "New Stuff"
  common/config/server-config.json
Due: none

v0.7.0
  common/config/server-config.json
Due: none

The Fix
  common/cards/default/hermits/xbcrafted-rare.ts
Due: none

Note Correction
  common/cards/default/hermits/xbcrafted-rare.ts
Due: none

Correcting my correction.
  common/cards/default/hermits/xbcrafted-rare.ts
Due: none

Apply fix to axe.
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Fix XB ignoring his own effect card when on the same row as the opponent's active hermit. (#540)
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Fix with rvtar's PR
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Coin flip fixes and extra attack log fixes
  common/cards/alter-egos/single-use/trident.ts
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/attacks.ts
  server/src/routines/turn-actions/attack.ts
Due: none

Remove stars from evil x's description
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
Due: none

consistency across cards
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/base/hermit-card.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/types/attack.ts
Due: none

make emojis work again
  client/src/app/game/chat/chat.module.scss
  client/src/components/formatting/formatting.module.scss
  client/src/components/formatting/formatting.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

redo profanity filter
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.tsx
  common/config/profanity-seed.json
  common/models/player-model.ts
  common/utils/formatting.ts
  common/utils/profanity.ts
  package.json
  server/src/index.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

AAAAAAAAAA
  server/src/index.ts
Due: none

update profanity list
  common/config/profanity-seed.json
Due: none

Update branch to 0.7.0
  common/cards/boss/hermits/evilxisuma_boss.ts
Due: none

add profanity filter license
  common/config/profanity-seed.LICENSE
Due: none

Update log system yet again
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/knockback.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/mending.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/types/cards.ts
  common/utils/board.ts
  server/src/routines/turn-actions/play-card.ts
Due: none

healing logs and other changes
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/battle-log-saga.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/default/effects/totem.ts
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/keralis-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/mending.ts
  common/cards/default/single-use/tnt.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/status-effects/sleeping.ts
  common/types/game-state.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/play-card.ts
Due: eslint --max-warnings=0, prettier --write

remove unused imports
  common/models/battle-log-model.ts
Due: none

add testing framework
  common/utils/formatting.ts
  jest.config.ts
  package-lock.json
  package.json
Due: none

add tests
  tests/formatting/parse.test.ts
  tests/formatting/profanity-filter.test.ts
Due: none

more test
  client/src/components/formatting/formatting.tsx
  common/utils/formatting.ts
  tests/formatting.test.ts
  tests/formatting/parse.test.ts
  tests/profanity-filter.ts
Due: eslint --max-warnings=0, prettier --write

fix issue with SUs, water bucket/milk
  common/cards/base/effect-card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/config/debug-config.json
  server/src/routines/turn-actions/play-card.ts
Due: none

fix buggy chat behavior
  client/src/app/game/chat/chat.tsx
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/default/hermits/keralis-rare.ts
Due: eslint --max-warnings=0, prettier --write

make water and milk code clearer
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/models/battle-log-model.ts
  common/types/cards.ts
Due: none
