Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Change Strengths to readonly and reorganize Expansions (#760)
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/import-export/import-modal.tsx
  common/cards/base/types.ts
  common/components/player-component.ts
  common/config/expansions.json
  common/config/index.ts
  common/const/expansions.ts
  common/const/strengths.ts
  common/types/cards.ts
  common/utils/attacks.ts
  common/utils/validation.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Fix errors in logs (#764)
  common/cards/alter-egos-iii/hermits/spookystress-rare.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/default/effects/shield.ts
  common/components/query/row.ts
  common/models/battle-log-model.ts
Due: none

remove unused assets
  client/public/images/effects/mace.png
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

silk touch description
  common/cards/alter-egos-iii/effects/silk-touch.ts
  common/cards/default/single-use/clock.ts
Due: none

Update netherite boots code
  common/cards/alter-egos-iii/effects/netherite-boots.ts
Due: none

fix boots
  common/cards/alter-egos-iii/effects/netherite-boots.ts
Due: none

fix bugs
  common/cards/alter-egos-iii/effects/diamond-boots.ts
  common/cards/alter-egos-iii/effects/netherite-boots.ts
Due: none

token costs
  common/cards/alter-egos-iii/effects/diamond-boots.ts
  common/cards/alter-egos-iii/effects/netherite-boots.ts
  common/cards/alter-egos-iii/effects/silk-touch.ts
Due: none

Display Card Rarity (#755)
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix issues with Copy Attack Modal and Mocked Cards (#763)
  common/components/status-effect-component.ts
  common/utils/attacks.ts
  server/src/utils/state-gen.ts
Due: none

Block entire turn after becomming active
  common/cards/alter-egos/effects/turtle-shell.ts
Due: none

Change chroma keyed reset
  common/status-effects/chroma-keyed.ts
Due: none

fix
  common/status-effects/chroma-keyed.ts
Due: none

switch to nvm
  Dockerfile
Due: none

changes
  Dockerfile
Due: none

use node image
  Dockerfile
Due: none

change
  Dockerfile
Due: none

Skip beef coinflip if there is no status effects
  common/cards/default/hermits/vintagebeef-rare.ts
Due: none

Update api to work with ecs
  common/cards/default/single-use/chest.ts
  common/components/query/player.ts
  server/src/api.ts
Due: none

Run prettier, disable api in dev mode
  common/components/query/player.ts
  server/src/api.ts
Due: none

Allow skizz not to move
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
Due: none

fix logging jamm bug
  common/models/battle-log-model.ts
Due: none

Remove playerId combinator
  common/components/query/player.ts
  server/src/api.ts
Due: none

Fix names (forgot to save I'm dumb)
  server/src/api.ts
Due: none

Prevent circular JSON
  server/src/api.ts
Due: none

Update other endpoints
  server/src/api.ts
Due: none

prettier
  common/models/battle-log-model.ts
Due: none

Fix Jamm Bug with Logging Row Index (#773)
  common/models/battle-log-model.ts
Due: none

Re-add end info to game_end endpoint
  server/src/api.ts
Due: none

Skip beef coinflip if there is no status effects (#770)
  common/cards/default/hermits/vintagebeef-rare.ts
Due: none

Move deck select screen to own file
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

Update branch to 0.8.8
  client/src/app/main-menu/boss-landing.tsx
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/const/expansions.ts
  common/models/virtual-player-model.ts
  common/status-effects/exboss-nine.ts
  server/src/routines/matchmaking.ts
  server/src/routines/virtual/exboss-ai.ts
Due: eslint --max-warnings=0, prettier --write

update pick request description
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
Due: none

Move deck select screen to own file (#774)
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

prettier
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
Due: none

Allow Skizz To Not Move (#772)
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
Due: none

Add sound effects
  client/public/sfx/Item_Frame_add_item1.ogg
  client/public/sfx/Item_Frame_add_item2.ogg
  client/public/sfx/Item_Frame_remove_item1.ogg
  client/public/sfx/Item_Frame_remove_item2.ogg
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

more sound effects
  client/public/sfx/Item_Frame_rotate_item1.ogg
  client/public/sfx/Item_Frame_rotate_item2.ogg
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Update api to work with ecs (#771)
  common/cards/default/single-use/chest.ts
  server/src/api.ts
Due: none
