Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Update credit profile pictures (#508)
  client/src/app/main-menu/credits.tsx
Due: eslint --max-warnings=0, prettier --write

Formatting changes
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add button to show/hide tooltips
  client/public/images/toolbar/tooltips-off.png
  client/public/images/toolbar/tooltips.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/game/toolbar/tooltips-item.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write

Change tooltip icon
  client/public/images/toolbar/tooltips-off.png
  client/public/images/toolbar/tooltips.png
Due: none

Minor fixes
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/utils/movement.ts
  server/src/routines/turn-actions/play-card.ts
Due: none

Spyglass changes
  common/cards/default/single-use/spyglass.ts
  common/config/debug-config.json
Due: none

fix debug config
  common/config/debug-config.json
Due: none

Switch over to glossary system
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/toolbar/tooltips-item.tsx
  client/src/components/card/card-tooltip.tsx
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/default/effects/totem.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/single-use/clock.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/glossary/index.ts
Due: eslint --max-warnings=0, prettier --write

Spyglass: show the opponent player what card was discarded (#510)
  common/cards/default/single-use/spyglass.ts
Due: none

Update more effects to new system (#506)
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/alter-egos/effects/turtle-shell.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/alter-egos/single-use/sweeping-edge.ts
  common/cards/default/effects/bed.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/effects/wolf.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/utils/game.ts
  common/utils/movement.ts
  server/src/routines/turn-actions/play-card.ts
Due: none

Armor stand - prevent any kind of attaching in armor stand row, including the hermit slot to prevent switching
  common/cards/alter-egos/effects/armor-stand.ts
Due: none

Ladder + piston canAttach refactor
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
Due: none

Add back export to exceptInvalidPlayer
  common/utils/movement.ts
Due: none

Add CanAttachError type
  common/cards/base/card.ts
Due: none

Grian + emerald canAttach refactor
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/single-use/emerald.ts
Due: none

Fix bug and typing info
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix prettier
  client/src/components/tooltip/tooltip.module.scss
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make descriptions more inline with the description update
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-ii/hermits/fiveampearl-rare.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos-ii/hermits/overseer-rare.ts
Due: none

Add option to canAttachToSlot to automatically filter invalid player problems
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/single-use/emerald.ts
  common/utils/movement.ts
Due: none

Lead canAttach refactor
  common/cards/default/single-use/lead.ts
Due: none

Mending canAttach refactor
  common/cards/default/single-use/mending.ts
Due: none

Add comment to getIsRemovable method
  common/cards/base/effect-card.ts
Due: none

New looting canAttach refactor
  common/cards/default/single-use/looting.ts
Due: none

Update XB description, was incorrect before
  common/cards/default/hermits/xbcrafted-rare.ts
Due: none

make it consistent with gold axe
  common/cards/default/hermits/xbcrafted-rare.ts
Due: none

change name of glossary button
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/toolbar/tooltips-item.tsx
Due: eslint --max-warnings=0, prettier --write

Fix inconsistency with zedaph
  common/cards/default/hermits/zedaphplays-rare.ts
Due: none

Rename battle log to battle log model
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/types/game-state.ts
  common/utils/board.ts
Due: none

Remove completed TODOS
  client/index.html
  common/cards/default/hermits/geminitay-rare.ts
Due: none

Rename player values to remove the unneeded "player", and protect id etc so it can't be changed
  common/models/game-model.ts
  common/models/player-model.ts
  common/models/root-model.ts
  server/src/api.ts
  server/src/plugins/firebase-logs.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/utils/index.ts
  server/src/utils/state-gen.ts
Due: none

Disable firebase logs when in dev env
  server/src/plugins/firebase-logs.ts
  server/src/serverRoot.ts
Due: none

Update wolf to only deal damage when actually attacked
  common/cards/default/effects/wolf.ts
Due: none

update AoTCG cards and single use card description update
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/effects/furnace.ts
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/alter-egos/single-use/splash-potion-of-healing-ii.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/glossary/index.ts
  common/status-effects/used-clock.ts
Due: none

another wording change because i'm indecisive
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/toolbar/tooltips-item.tsx
Due: eslint --max-warnings=0, prettier --write

Fix lightning rod and wolf being able to activate when it's not opponent's turn
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/default/effects/wolf.ts
Due: none

Change wolf to only activate on damage done rather than just an attack
  common/cards/default/effects/wolf.ts
Due: none

Add functionality for adding new attacks in afterAttack/Defense
  common/utils/attacks.ts
Due: none

Move wolf checks over to afterAttack so we can reliably check damage
  common/cards/default/effects/wolf.ts
Due: none

Fix XB and golden axe
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
