Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

fix mending
  common/cards/default/items/prankster-common.ts
  common/cards/default/items/redstone-common.ts
  common/cards/default/single-use/mending.ts
  server/src/routines/turn-actions/pick-request.ts
Due: none

isItem
  common/types/game-state.ts
Due: none

status effects part one
  client/public/images/status/revived-by-deathloop.png
  client/public/images/status/used-clock.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/status-effects/status-effect-tooltip.tsx
  client/src/components/status-effects/status-effect.tsx
  common/status-effects/index.ts
  common/status-effects/revived-by-deathloop.ts
  common/status-effects/sleeping.ts
  common/status-effects/status-effect.ts
  common/status-effects/used-clock.ts
  common/types/game-state.ts
  common/types/server-requests.ts
  common/utils/board.ts
Due: eslint --max-warnings=0, prettier --write

convert status effects to new system
  common/status-effects/badomen.ts
  common/status-effects/dyed.ts
  common/status-effects/fire.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/protected.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/status-effect.ts
  common/status-effects/used-clock.ts
  common/status-effects/weakness.ts
  common/utils/board.ts
Due: none

status effect front end working
  client/public/images/status/revived-by-deathloop.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write

front end counter thing
  client/src/components/status-effects/status-effect-tooltip.module.scss
  client/src/components/status-effects/status-effect-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

build errors with status effects
  client/src/components/card/card-tooltip.tsx
  common/cards/default/effects/bed.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/single-use/clock.ts
  common/models/battle-log-model.ts
  common/status-effects/used-clock.ts
Due: eslint --max-warnings=0, prettier --write

add betrayed status effect
  client/public/images/status/betrayed.png
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/status-effects/betrayed.ts
  common/status-effects/index.ts
  common/utils/attacks.ts
  ton
Due: none

oops
  common/cards/alter-egos/hermits/humancleo-rare.ts
Due: none

remove need to manually push status effects
  common/status-effects/badomen.ts
  common/status-effects/betrayed.ts
  common/status-effects/dyed.ts
  common/status-effects/fire.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/protected.ts
  common/status-effects/revived-by-deathloop.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/status-effect.ts
  common/status-effects/used-clock.ts
  common/status-effects/weakness.ts
  common/utils/board.ts
Due: none

fix lava bucket
  common/status-effects/status-effect.ts
Due: none

fix apply damage effects
  common/status-effects/status-effect.ts
Due: none

fix compile errors
  common/cards/alter-egos/effects/string.ts
  common/cards/default/effects/bed.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/slot.ts
Due: none

fix bad code
  common/cards/alter-egos/effects/string.ts
  common/status-effects/betrayed.ts
  common/types/game-state.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/index.ts
Due: none

remove import
  server/src/routines/game.ts
Due: none

stuff
  common/slot.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/status-effects/status-effect.ts
Due: none

improve sheep stare
  common/cards/default/hermits/zedaphplays-rare.ts
  common/status-effects/index.ts
  common/utils/coinFlips.ts
Due: none

improve sheep stare
  common/status-effects/sheep-stare.ts
Due: none

add sheep stare image
  client/public/images/status/sheep-stare.png
  common/status-effects/sheep-stare.ts
Due: none

sheep stare
  common/status-effects/sheep-stare.ts
  common/utils/board.ts
Due: none

stuff
  client/public/images/status/aussie-ping.png
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/index.ts
Due: none

aussie ping immune is only added when the attack misses
  common/status-effects/aussie-ping.ts
  common/status-effects/index.ts
Due: none

graphics
  client/public/images/status/aussie-ping-immune.png
Due: none

follow active hermit hook
  common/status-effects/aussie-ping.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/status-effect.ts
Due: none

statusEffectInfo -> instance
  common/status-effects/badomen.ts
  common/status-effects/dyed.ts
  common/status-effects/fire.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/protected.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/status-effect.ts
  common/status-effects/used-clock.ts
  common/status-effects/weakness.ts
Due: none

fix compile errors
  common/status-effects/museum-collection.ts
Due: none

copy over counter when status effect is moved
  common/status-effects/status-effect.ts
  common/types/game-state.ts
Due: none

update target instance differently
  common/status-effects/status-effect.ts
  common/types/game-state.ts
Due: none

remove import
  common/status-effects/status-effect.ts
Due: none

remove unused variables
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

fix grid layout on mobile
  client/src/app/game/board/board.module.scss
Due: stylelint --fix

update betrayed icon
  client/public/images/status/betrayed.png
Due: none

make health card not a card
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-health.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board-status-effects.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/card/health-card-svg.module.scss
  client/src/components/card/health-card-svg.tsx
  client/src/components/status-effects/status-effect.tsx
  common/cards/base/health-card.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

betrayed description
  common/status-effects/betrayed.ts
Due: none

status effect front end error
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write

add status effect component
  client/src/app/game/board/board-health.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board-status-effects.tsx
Due: eslint --max-warnings=0, prettier --write

prettier
  client/src/app/game/board/board-health.tsx
Due: eslint --max-warnings=0, prettier --write

prettier
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

Switch health card display to not be a card (#597)
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-health.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board-status-effects.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/card/health-card-svg.module.scss
  client/src/components/card/health-card-svg.tsx
  client/src/components/status-effects/status-effect.tsx
  common/cards/base/health-card.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

remove InstancedValue where possible
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
Due: none
