Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Update tests to use farmer beef
  common/cards/hermits/farmerbeef-common.ts
  common/cards/hermits/farmerbeef-rare.ts
  common/cards/hermits/index.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/effects/milk-bucket.test.ts
  tests/unit/game/effects/totem.test.ts
  tests/unit/game/effects/turtle-shell.test.ts
  tests/unit/game/hermits/ijevin-rare.test.ts
  tests/unit/game/hermits/kingjoel-rare.test.ts
  tests/unit/game/hermits/tangotek-rare.test.ts
Due: none

regen cards
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common.webp
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_common_with_tokens.webp
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare.webp
  client/public/images/cards/farmerbeef_rare_with_tokens.png
  client/public/images/cards/farmerbeef_rare_with_tokens.webp
Due: none

remove cards
  client/public/images/cards/iskall85_common.png
  client/public/images/cards/iskall85_common.webp
  client/public/images/cards/iskall85_common_with_tokens.png
  client/public/images/cards/iskall85_common_with_tokens.webp
  client/public/images/cards/iskall85_rare.png
  client/public/images/cards/iskall85_rare.webp
  client/public/images/cards/iskall85_rare_with_tokens.png
  client/public/images/cards/iskall85_rare_with_tokens.webp
Due: none

Do not use generator for turn actions (#1159)
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
Due: none

change beef background
  client/public/images/backgrounds/farmerbeef.png
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common.webp
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_common_with_tokens.webp
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare.webp
  client/public/images/cards/farmerbeef_rare_with_tokens.png
  client/public/images/cards/farmerbeef_rare_with_tokens.webp
Due: none

fix places where call should not be used
  server/src/routines/game.ts
Due: none

Fix places where call should not be used (#1161)
  server/src/routines/game.ts
Due: none

lint
  client/src/app/game/toolbar/toolbar.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

fix active deck setting issue
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write

Fix decks not selecting when database is disabled
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
Due: eslint --max-warnings=0, prettier --write

farmer beef card
  client/public/images/backgrounds/farmerbeef.png
  common/cards/hermits/farmerbeef-rare.ts
  common/cards/items/farm-common.ts
Due: none

Bug fix
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare_with_tokens.png
Due: none

Clean up saga
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

confused
  client/public/images/cards/farmerbeef_common.webp
  client/public/images/cards/farmerbeef_common_with_tokens.webp
  client/public/images/cards/farmerbeef_rare.webp
  client/public/images/cards/farmerbeef_rare_with_tokens.webp
Due: none

changes
  common/cards/hermits/farmerbeef-common.ts
  common/cards/hermits/farmerbeef-rare.ts
Due: none

changes
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common.webp
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_common_with_tokens.webp
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare.webp
  client/public/images/cards/farmerbeef_rare_with_tokens.png
  client/public/images/cards/farmerbeef_rare_with_tokens.webp
Due: none

Fix card disabling
  client/src/app/deck/deck-edit.tsx
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/config/server-config.js
Due: eslint --max-warnings=0, prettier --write

Change last change back because it actually didn't work
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

change to prerender
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write

Make random deck codes from saved decks deterministic
  client/src/logic/saved-decks/saved-decks.ts
  common/utils/database-codes.ts
Due: eslint --max-warnings=0, prettier --write

Re-texture Iskall85 to Farmer Beef (#1160)
  client/public/images/backgrounds/iskall85.png
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common.webp
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_common_with_tokens.webp
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare.webp
  client/public/images/cards/farmerbeef_rare_with_tokens.png
  client/public/images/cards/farmerbeef_rare_with_tokens.webp
  client/public/images/cards/iskall85_common.png
  client/public/images/cards/iskall85_common.webp
  client/public/images/cards/iskall85_common_with_tokens.png
  client/public/images/cards/iskall85_common_with_tokens.webp
  client/public/images/cards/iskall85_rare.png
  client/public/images/cards/iskall85_rare.webp
  client/public/images/cards/iskall85_rare_with_tokens.png
  client/public/images/cards/iskall85_rare_with_tokens.webp
  client/public/images/hermits-nobg/farmerbeef.png
  client/public/images/hermits-nobg/iskall85.png
  common/cards/hermits/farmerbeef-common.ts
  common/cards/hermits/farmerbeef-rare.ts
  common/cards/hermits/index.ts
  common/cards/items/farm-common.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/effects/milk-bucket.test.ts
  tests/unit/game/effects/totem.test.ts
  tests/unit/game/effects/turtle-shell.test.ts
  tests/unit/game/hermits/ijevin-rare.test.ts
  tests/unit/game/hermits/kingjoel-rare.test.ts
  tests/unit/game/hermits/tangotek-rare.test.ts
Due: none

Fix server config
  common/config/server-config.js
Due: none

lint
  common/config/server-config.js
Due: none

Active decks rework (#1132)
  client/src/app/deck/deck.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  client/src/root-saga.ts
  common/socket-messages/client-messages.ts
  common/utils/database-codes.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Fix disabling
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update games table in database
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: none

Fix build errors
  common/utils/turn-action-compressor.ts
Due: none

Fix database tests
  tests/db/database.test.ts
Due: none

Change a few RNG functions to use game seed
  common/utils/coinFlips.ts
  common/utils/state-gen.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/virtual-action.ts
Due: none

More places i missed
  common/cards/single-use/spyglass.ts
  common/components/slot-component.ts
Due: none

lint
  server/src/routines/virtual/virtual-action.ts
Due: none

Change a few RNG functions to use game seed (#1167)
  common/cards/single-use/spyglass.ts
  common/components/slot-component.ts
  common/utils/coinFlips.ts
  common/utils/state-gen.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/virtual-action.ts
Due: none

Update games table in database (#1166)
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
  tests/db/database.test.ts
Due: none
