Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

format
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write

Improvements to mobile cards (#1004)
  client/src/app/deck/deck-edit.tsx
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix returning undefined for 'flint_&_steel'
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

Fix importing local decks with Flint & Steel (#1006)
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

refine candle testing
  tests/unit/game/advent-of-tcg/effects/candle.test.ts
Due: none

Implement TNT Minecart
  client/public/images/effects/tnt_minecart.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  tests/unit/game/advent-of-tcg/effects/tnt-minecart.test.ts
Due: none

Fix issues
  server/src/routines/matchmaking.ts
  tests/db/database.test.ts
Due: none

Fixes to system
  server/src/routines/matchmaking.ts
Due: none

linters
  server/src/routines/matchmaking.ts
Due: none

comment
  tests/db/database.test.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/candle.webp
  client/public/images/cards/candle_with_tokens.webp
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/tnt_minecart.webp
  client/public/images/cards/tnt_minecart_with_tokens.webp
Due: none

increase heads damage 80->100
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  tests/unit/game/advent-of-tcg/effects/tnt-minecart.test.ts
Due: none

Reword description
  common/cards/advent-of-tcg/single-use/candle.ts
Due: none

Fix validation requirements for private games
  client/src/app/main-menu/main-menu.tsx
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

fix
  server/src/routines/player.ts
Due: none

Implement candle (#1007)
  client/public/images/cards/candle.webp
  client/public/images/cards/candle_with_tokens.webp
  client/public/images/effects/candle.png
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/index.ts
  tests/unit/game/advent-of-tcg/effects/candle.test.ts
Due: none

Implement TNT Minecart (#1008)
  client/public/images/cards/tnt_minecart.webp
  client/public/images/cards/tnt_minecart_with_tokens.webp
  client/public/images/effects/tnt_minecart.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  tests/unit/game/advent-of-tcg/effects/tnt-minecart.test.ts
Due: none

build error
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

Fix issues with stats sometimes being reversed (#1009)
  server/src/routines/matchmaking.ts
  tests/db/database.test.ts
Due: none

Tag fix
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

wtf
  tests/e2e/private-queue.spec.ts
Due: none

Reduce tooltip touch time
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

fix hold time
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix
  server/src/routines/matchmaking.ts
Due: none

Failure messages
  server/src/routines/matchmaking.ts
Due: none

Reduce hold time for tooltips on mobile (#1014)
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fixes tags only being added to the first deck after being imported from local storage (#1013)
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

Fix deck selection
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix some react elements missing keys
  client/src/app/app.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fixes to active deck system (#1005)
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/models/player-model.ts
  common/types/server-requests.ts
  server/src/db/db-reciever.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

Fix some react elements missing keys (#1015)
  client/src/app/app.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Add games count and detail endpoint
  common/models/game-model.ts
  server/src/api/games.ts
  server/src/api/index.ts
  server/src/root-model.ts
  server/src/routines/matchmaking.ts
  tests/sh/test-api
Due: none

Fix lint
  server/src/api/games.ts
Due: none

fix decks with bdubs
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

remove console.log
  server/src/db/db.ts
Due: none
