Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Hermit shouldn't wake up when the card is detached
  common/cards/card-plugins/effects/bed.js
Due: none

onAttach and onDetach get triggered
  common/cards/card-plugins/hermits/grian-rare.js
  server/utils/index.js
Due: prettier --write

Mending shouldn't be able the move a command block
  common/cards/card-plugins/single-use/mending.js
Due: none

Added moveCardToHand and removed removeCard
  common/cards/card-plugins/effects/loyalty.js
  server/utils/index.js
Due: prettier --write

Zed shouldn't be hit by weakness and effects
  common/cards/card-plugins/hermits/zedaphplays-rare.js
Due: none

Added single_use to moveCardToHand for Helsknight
  server/utils/index.js
Due: prettier --write

human cleo
  common/cards/card-plugins/hermits/humancleo-rare.js
Due: none

Add attacks from onFollowUp and onFollowUpTimeout
  common/types/game-state.ts
  server/routines/game.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/follow-up.js
Due: prettier --write

Added expansion
  common/cards/card-plugins/single-use/egg.js
Due: none

Removed logs
  common/cards/card-plugins/hermits/grian-rare.js
Due: none

Weakness Potion
  client/public/images/status/weakness.png
  common/cards/card-plugins/single-use/potion-of-weakness.js
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

Slowness Potion
  common/cards/card-plugins/single-use/potion-of-slowness.js
  server/routines/game.js
Due: prettier --write

Added missing status icons to the health card
  client/src/app/game/board/board.module.css
Due: none

flipCoin was missing the id
  common/cards/card-plugins/hermits/jingler-rare.js
Due: none

added support for null targets
  common/cards/card-plugins/effects/chainmail-armor.js
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/effects/netherite-armor.js
  common/cards/card-plugins/effects/shield.js
  common/cards/card-plugins/effects/totem.js
  common/cards/card-plugins/effects/turtle-shell.js
  common/cards/card-plugins/effects/wolf.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
  common/cards/card-plugins/hermits/ijevin-rare.js
  common/cards/card-plugins/hermits/iskall85-rare.js
  common/cards/card-plugins/hermits/jingler-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/single-use/target-block.js
  common/cards/card-plugins/single-use/trident.js
  common/types/attack.ts
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

renbob changes to use null target
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Revert "added support for null targets"
  common/cards/card-plugins/effects/chainmail-armor.js
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/effects/netherite-armor.js
  common/cards/card-plugins/effects/shield.js
  common/cards/card-plugins/effects/totem.js
  common/cards/card-plugins/effects/turtle-shell.js
  common/cards/card-plugins/effects/wolf.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
  common/cards/card-plugins/hermits/ijevin-rare.js
  common/cards/card-plugins/hermits/iskall85-rare.js
  common/cards/card-plugins/hermits/jingler-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/single-use/target-block.js
  common/cards/card-plugins/single-use/trident.js
  common/types/attack.ts
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

Added canAttach to Golden Apple (#260)
  common/cards/card-plugins/single-use/golden-apple.js
Due: none

Changes needed for Looting, Grian, Spyglass and Chest (#259)
  client/src/app/game/game.tsx
  client/src/components/card-list/card-list.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/index.js
  common/types/game-state.ts
  config/debug-config.json
  server/routines/game.js
  server/routines/turn-actions/apply-effect.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/follow-up.js
  server/types/index.js
  server/utils/index.js
Due: eslint --max-warnings=0, prettier --write

Added missing status icons to the health card (#268)
  client/src/app/game/board/board.module.css
Due: none

Milk bucket (#248)
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/milk-bucket.js
Due: none

Mending shouldn't be able the move a command block (#266)
  common/cards/card-plugins/single-use/mending.js
Due: none

flipCoin was missing the id (#271)
  common/cards/card-plugins/hermits/jingler-rare.js
Due: none

Weakness Potion (#269)
  client/public/images/status/weakness.png
  common/cards/card-plugins/single-use/potion-of-weakness.js
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

Looting ported (#256)
  client/src/app/game/modals/looting-modal.module.css
  client/src/app/game/modals/looting-modal.tsx
  common/cards/card-plugins/effects/looting.js
  common/cards/card-plugins/single-use/looting.js
Due: eslint --max-warnings=0, prettier --write

Chest ported (#258)
  client/src/app/game/modals/chest-modal.tsx
  common/cards/card-plugins/single-use/chest.js
Due: eslint --max-warnings=0, prettier --write

Egg (#262)
  common/cards/card-plugins/single-use/egg.js
Due: none

Clean up console logs
  common/cards/card-plugins/hermits/grian-rare.js
  server/index.js
  server/routines/player.js
  server/sockets.js
Due: prettier --write

Evil X (#261)
  client/src/app/game/game.tsx
  client/src/app/game/modals/evil-x-modal.module.css
  client/src/app/game/modals/evil-x-modal.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/card-plugins/hermits/evilxisuma_rare.js
Due: eslint --max-warnings=0, prettier --write

Zed shouldn't be hit by weakness and effects (#267)
  common/cards/card-plugins/hermits/zedaphplays-rare.js
Due: none

Fixed Totem (#263)
  common/cards/card-plugins/effects/totem.js
Due: none

remove attack previews (#275)
  client/src/app/game/modals/attack-modal/attack-modal.module.css
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/attack.tsx
Due: eslint --max-warnings=0, prettier --write

Fix card sorting
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

Fixes
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-export-const.ts
  client/src/components/import-export/import-export-utils.ts
  client/src/components/import-export/import-modal.tsx
  common/cards/card-plugins/hermits/index.js
  common/cards/card-plugins/items/_item-card.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/index.js
  common/types/cards.ts
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write

human cleo rare hermit
  common/cards/card-plugins/hermits/humancleo-rare.js
Due: none

Revert "Merge remote-tracking branch 'nikouy/FollowUpAttacks' into human-cleo"
  common/types/game-state.ts
  server/routines/game.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/follow-up.js
Due: prettier --write

Revert "Merge branch 'null-targets' into human-cleo"
  common/cards/card-plugins/effects/chainmail-armor.js
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/effects/netherite-armor.js
  common/cards/card-plugins/effects/shield.js
  common/cards/card-plugins/effects/totem.js
  common/cards/card-plugins/effects/turtle-shell.js
  common/cards/card-plugins/effects/wolf.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
  common/cards/card-plugins/hermits/ijevin-rare.js
  common/cards/card-plugins/hermits/iskall85-rare.js
  common/cards/card-plugins/hermits/jingler-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/single-use/target-block.js
  common/cards/card-plugins/single-use/trident.js
  common/types/attack.ts
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

Revert "Revert "Merge remote-tracking branch 'nikouy/FollowUpAttacks' into human-cleo""
  common/types/game-state.ts
  server/routines/game.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/follow-up.js
Due: prettier --write

Spyglass ported (#257)
  client/src/app/game/modals/spyglass-modal.tsx
  common/cards/card-plugins/single-use/spyglass.js
Due: eslint --max-warnings=0, prettier --write

Added a way to move cards while triggering onAttach and onDetach (#264)
  common/cards/card-plugins/effects/loyalty.js
  common/cards/card-plugins/single-use/emerald.js
  common/cards/card-plugins/single-use/ladder.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/mending.js
  common/cards/card-plugins/single-use/piston.js
  common/types/slots.ts
  server/utils/index.js
  server/utils/slots.js
Due: prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
