Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix deprecation warnings (#1267)
  client/src/app/game/player-info/player-info.module.scss
Due: stylelint --fix

Alternitive Method To Get Achivement Icons (#1284)
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  common/achievements/british.ts
  common/achievements/cant-touch-this.ts
  common/achievements/certified-zombie.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/sustainable.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/types.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Deck edit (#1291)
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Add Loyalty III Achievement (#1278)
  client/public/images/cosmetics/border/copper_border.png
  common/achievements/loyalty-iii.ts
  common/cosmetics/borders.ts
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

Fix cosmetics not being set properly (#1276)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix achievement player queries (#1305)
  common/achievements/sheep-starer.ts
  common/achievements/type-wins.ts
Due: none

Play Screen Rework (#1272)
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/game-mode-button/index.ts
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
  client/src/components/hermit-button/index.ts
  client/src/components/modal/modal.tsx
  client/src/components/toast/toast.module.scss
  client/src/components/toast/toast.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-selectors.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/utils/sorting.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix ci
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
Due: none

i love tests
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: none

I HATE TESTS
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: none

MORE UPDATES
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

Fix CI (#1310)
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

Fix rematch button
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

improvements to game end screen
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix minecraft name not displaying correct on login
  client/src/app/game/player-info/player-info.module.scss
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix issue
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write

fix achievements/rewards screen issues
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Do the rest of it, combine settings pages
  client/src/app/main-menu/credits.tsx
  client/src/app/main-menu/settings.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/credit/credit.tsx
  client/src/components/credit/developer-credit.tsx
  client/src/components/slider/slider.module.scss
  client/src/components/tabs/tabs.module.scss
  client/src/components/tabs/tabs.tsx
  common/achievements/index.ts
  common/config/server-config.js
  common/cosmetics/backgrounds.ts
  common/cosmetics/borders.ts
  common/cosmetics/coins.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
  fly.toml
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Delete unused files
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/game-settings.tsx
Due: eslint --max-warnings=0, prettier --write

Remove old imports
  client/src/app/app.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/main-menu/achievements.tsx
Due: eslint --max-warnings=0, prettier --write

probably fix
  client/src/components/achievement/achievement.tsx
  client/src/logic/session/session-saga.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

Fix timer
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/messages.ts
  common/socket-messages/server-messages.ts
  server/src/routines/matchmaking.ts
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

Fix
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write

Add exception for exit modal to not auto close
  client/src/logic/game/game-reducer.ts
Due: eslint --max-warnings=0, prettier --write

Rematch leaving work properly
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/socket-messages/client-messages.ts
  server/src/root-model.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Cancel rematch button PC
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  common/config/server-config.js
  common/socket-messages/client-messages.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix matchmaking making appearance box small
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

rematch cancel button on mobile
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

lint
  common/config/server-config.js
Due: none

fix
  client/src/components/achievement/achievement.tsx
  server/src/db/db-reciever.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write

fix this bullshit
  server/src/db/db.ts
Due: none

format and fixr
  client/src/components/achievement/achievement.tsx
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove console.log
  server/src/db/db-reciever.ts
Due: none

Fix Many Achievement Bugs (#1312)
  client/src/components/achievement/achievement.tsx
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

Fix naked and scared and ineffective increases on losses
  common/achievements/inneffective.ts
  common/achievements/naked-and-scared.ts
Due: none

Fix "Naked and Scared" and "Ineffective" counting losses (#1313)
  common/achievements/inneffective.ts
  common/achievements/naked-and-scared.ts
Due: none
