Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Revert "Update potion-of-weakness.ts"
  common/cards/single-use/potion-of-weakness.ts
Due: none

Fix
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

final expansion
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Change scuffed port
  common/config/server-config.js
Due: none

Update README.md
  README.md
Due: none

That bug
  client/src/components/card/card-tooltip.tsx
  common/components/query/card.ts
  common/utils/attacks.ts
Due: eslint --max-warnings=0, prettier --write

Type advantage typo bug
  common/utils/attacks.ts
Due: none

Fix advanced tooltip change
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix margin
  client/src/components/tooltip/tooltip.module.scss
Due: stylelint --fix

Recalculate tooltip on width change
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix tooltips showing on scroll
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix some issues with database (#986)
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/game/database/database-saga.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove Radix from Toasts (#979)
  client/src/app/app.tsx
  client/src/components/toast/toast.module.scss
  client/src/components/toast/toast.tsx
  client/src/index.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  common/types/app.ts
  package-lock.json
  package.json
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-With-Image-1-firefox-linux.png
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-Without-Image-1-firefox-linux.png
  tests/ct/toast.spec.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

formatting
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix some problems with tooltips (#987)
  client/src/components/card/mobile-card-component.tsx
  client/src/components/tooltip/tooltip.module.scss
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix weakness hyperredundancy bug
  common/cards/advent-of-tcg/hermits/smallishbeans-ultra-rare.ts
  common/cards/hermits/geminitay-rare.ts
  common/status-effects/weakness.ts
  common/utils/attacks.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeans-ultra-rare.test.ts
Due: none

Remove weakness rigging from Gem
  common/cards/hermits/geminitay-rare.ts
Due: none

diff from apprentice
  common/utils/attacks.ts
Due: none

Remove master diff
  common/utils/attacks.ts
Due: none

Remove diff
  common/utils/attacks.ts
Due: none

Possibly stability update?
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  common/cards/advent-of-tcg/single-use/brush.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix to work with centerpoints
  client/src/app/game/modals/drag-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/app/game/modals/drag-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fix to other issue
  client/src/app/game/modals/drag-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Tests
  .github/workflows/ci.yaml
Due: none

Last change
  client/src/app/game/modals/drag-cards-modal.tsx
  common/cards/advent-of-tcg/single-use/brush.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
Due: eslint --max-warnings=0, prettier --write

Fix branches on which CI run
  .github/workflows/ci.yaml
Due: none

Fix branches on which CI run (#989)
  .github/workflows/ci.yaml
Due: none

Add drag modal for brush (#982)
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-modals-saga.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/models/game-model.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add
  .gitignore
  card-prerender/render.sh
  client/public/images/cards/.gitkeep
  client/public/images/cards/anvil.jpg
  playwright-render.config.ts
Due: none

remove
  client/public/images/cards/anvil.jpg
Due: none

remove
  card-prerender/render.sh
  client/public/cards/flint-steel.png
  client/src/components/card/card.tsx
  common/cards/single-use/flint-and-steel.ts
Due: eslint --max-warnings=0, prettier --write

Changes
  .gitignore
  client/public/images/cards/.gitkeep
Due: none

Show tokens with needed
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

ct update
  tests/ct/cards.spec.tsx
Due: none
