Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove radix from dropdown menu and improve it's behavior (#1047)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/components/dropdown/color-picker-dropdown.tsx
  client/src/components/dropdown/color-picker.scss
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/components/import-export/import-modal.tsx
  common/types/deck.ts
  common/utils/state-gen.ts
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix deck and cards query speed/bug
  server/src/db/db.ts
Due: none

join fix
  server/src/db/db.ts
Due: none

Fix query to work properly
  server/src/api/index.ts
  server/src/db/db.ts
Due: none

docs
  API.md
Due: none

New flavor text
  common/config/server-config.js
Due: none

Improve API speed, bugs, and add new endpoint (#1048)
  API.md
  common/types/database.ts
  server/src/api/index.ts
  server/src/api/stats.ts
  server/src/db/db.ts
Due: none

New Flavor Text (#1049)
  common/config/server-config.js
Due: none

Changes
  server/src/api/index.ts
  server/src/api/stats.ts
  server/src/db/db.ts
Due: none

Changes
  server/src/db/db.ts
Due: none

Add docs
  API.md
Due: none

stage
  server/src/db/db.ts
Due: none

initial
  aotcg.md
  common/cards/advent-of-tcg/single-use/fletching-table.ts
Due: none

Implement fletching table "functionality" (#981)
  client/public/images/effects/feather.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/feather.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/config/server-config.js
  common/const/expansions.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
  tests/unit/game/advent-of-tcg/effects/fletching-table.test.ts
  tests/unit/game/advent-of-tcg/effects/glowstone.test.ts
  tests/unit/game/advent-of-tcg/effects/lantern.test.ts
Due: eslint --max-warnings=0, prettier --write

Update
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Effect-card-SVG-1-firefox-linux.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Hermit-card-SVG-1-firefox-linux.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Item-card-SVG-1-firefox-linux.png
Due: none

Change some elder guardian things
  common/status-effects/mining-fatigue.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

Make it look good
  common/status-effects/mining-fatigue.ts
Due: none

Format
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

Add elder guardian
  client/public/images/effects/elder_guardian.png
Due: none

Tests
  common/cards/advent-of-tcg/attach/elder-guardian.ts
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  common/status-effects/index.ts
  common/status-effects/mining-fatigue.ts
  common/utils/attacks.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

Convert attack cost to a hook
  common/components/card-component.ts
  common/status-effects/betrayed.ts
  common/status-effects/mining-fatigue.ts
  common/utils/attacks.ts
  package-lock.json
  server/src/routines/game.ts
Due: none

UGH
  package-lock.json
Due: none

Fixes
  common/status-effects/index.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

remove useless set counter
  common/cards/advent-of-tcg/attach/elder-guardian.ts
Due: none

commit
  server/src/db/db.ts
Due: none

Fixes
  common/types/database.ts
  server/src/db/db.ts
Due: none

Emoji selector
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/components/dropdown/color-picker-dropdown.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

formatting
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Improve look of emoji button
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

further improve look of emoji button
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

more improvements
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/chat/chat.tsx
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
Due: eslint --max-warnings=0, prettier --write

Update snapshot tests
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Batlte-log-messages-are-hidden-properly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-2-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-2-firefox-linux.png
Due: none

Fixes issues with decks and cards stat queries (#1051)
  common/types/database.ts
  server/src/db/db.ts
Due: none

Fix type name
  server/src/api/index.ts
  server/src/api/stats.ts
Due: none

Update instead of inserting new when deck cards don't change (#1053)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
