Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

fix rounding issues
  client/public/images/backgrounds/any.png
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/item_any_common.png
  client/public/images/cards/item_any_common_with_tokens.png
  client/public/images/cards/item_any_rare.png
  client/public/images/cards/item_any_rare_with_tokens.png
Due: none

Unlock
  common/cards/single-use/golden-apple.ts
  common/cards/single-use/instant-health.ts
Due: none

add mode parameter to addCopyAttackModalRequest
  common/cards/hermits/evilxisuma_rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/models/game-model.ts
  tests/unit/game/hermits/evilxisuma-rare.test.ts
Due: none

New wild item icon (#1460)
  client/public/images/backgrounds/any.png
  client/public/images/cards/item_any_common.png
  client/public/images/cards/item_any_common_with_tokens.png
  client/public/images/cards/item_any_rare.png
  client/public/images/cards/item_any_rare_with_tokens.png
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make Cards in Frozen Hand Slots Unplayable (#1445)
  common/components/player-component.ts
  server/src/routines/turn-actions.ts
Due: none

msgpack for socket
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/socket.ts
  package-lock.json
  package.json
  server/src/sockets.ts
  server/src/utils/comm.ts
Due: eslint --max-warnings=0, prettier --write

optimize message names in producction
  common/redux-messages.ts
Due: none

shorten entities in game
  common/entities.ts
Due: none

shorten entities in game
  common/models/game-model.ts
Due: none

Fixes
  client/src/logic/session/session-saga.ts
  common/utils/database-codes.ts
  common/utils/random.ts
  server/src/api/auth.ts
Due: eslint --max-warnings=0, prettier --write

rename function
  common/cards/hermits/evilxisuma_rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/models/game-model.ts
Due: none

add test for not disabling passive
  tests/unit/game/advent-of-tcg/hermits/zookeeperscar-rare.test.ts
Due: none

Finalize
  common/cards/bed-update/attach/index.ts
  common/cards/bed-update/attach/power-bed.ts
  common/cards/index.ts
Due: none

Finalize
  common/cards/bed-update/attach/healthy-bed.ts
  common/cards/bed-update/attach/index.ts
Due: none

Split
  common/cards/attach/bed.ts
  common/components/row-component.ts
  common/status-effects/sleeping.ts
Due: none

Bdubs Case
  common/cards/hermits/bdoubleo100-rare.ts
Due: none

update
  common/cards/hermits/vintagebeef-ultra-rare.ts
Due: none

Implement Msgpack for websocket (#1463)
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/socket.ts
  package-lock.json
  package.json
  server/src/sockets.ts
  server/src/utils/comm.ts
Due: eslint --max-warnings=0, prettier --write

Clarify hermits for NHO (#1469)
  common/cards/hermits/vintagebeef-ultra-rare.ts
Due: none

Update healthy-bed.ts
  common/cards/bed-update/attach/healthy-bed.ts
Due: none

HP Drain
  common/cards/attach/power-bed.ts
  common/cards/bed-update/attach/power-bed.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/power_bed.png
  client/public/images/cards/power_bed_with_tokens.png
Due: none

HP Drain
  common/cards/bed-update/attach/power-bed.ts
Due: none

convert a lot of logs
  common/utils/logging.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/utils/index.ts
Due: none

fix
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Logs and var rename
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/game/database/database-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  server/src/api/auth.ts
  server/src/api/index.ts
  server/src/db/db.ts
  tests/e2e/login.spec.ts
Due: eslint --max-warnings=0, prettier --write

make it actually playable
  common/cards/bed-update/attach/power-bed.ts
Due: none

Make it actually drain HP
  common/cards/bed-update/attach/power-bed.ts
Due: none

Battle Log
  common/cards/bed-update/attach/power-bed.ts
Due: none

Bed
  common/cards/bed-update/attach/index.ts
  common/cards/bed-update/attach/really-sleepy-bed.ts
  common/status-effects/permanent-sleeping.ts
Due: none

id and image
  client/public/images/effects/really_sleepy_bed.png
  common/cards/bed-update/attach/really-sleepy-bed.ts
Due: none

Power bed (#1466)
  client/public/images/cards/power_bed.png
  client/public/images/cards/power_bed_with_tokens.png
  client/public/images/effects/power_bed.png
  common/cards/bed-update/attach/index.ts
  common/cards/bed-update/attach/power-bed.ts
  common/cards/index.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/healthy_bed.png
  client/public/images/cards/healthy_bed_with_tokens.png
Due: none

Healthy Bed (#1467)
  client/public/images/cards/healthy_bed.png
  client/public/images/cards/healthy_bed_with_tokens.png
  client/public/images/effects/healthy_bed.png
  common/cards/bed-update/attach/healthy-bed.ts
  common/cards/bed-update/attach/index.ts
Due: none

Merge master into april-fools-2025 (#1472)
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/socket.ts
  common/cards/hermits/vintagebeef-ultra-rare.ts
  package-lock.json
  package.json
  server/src/sockets.ts
  server/src/utils/comm.ts
Due: eslint --max-warnings=0, prettier --write

Rework Bed Mechanics (#1468)
  common/cards/attach/bed.ts
  common/cards/hermits/bdoubleo100-rare.ts
  common/components/row-component.ts
  common/status-effects/sleeping.ts
Due: none

Realistic Bed
  common/cards/bed-update/attach/index.ts
  common/cards/bed-update/attach/realistic-bed.ts
  common/status-effects/index.ts
  common/status-effects/lit_fuse.ts
Due: none

Uncomfy bed
  common/cards/bed-update/attach/realistic-bed.ts
  common/cards/bed-update/single-use/index.ts
  common/cards/bed-update/single-use/uncomfy-bed.ts
  common/cards/index.ts
Due: none
