Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

v0.6.26
  common/config/server-config.json
Due: none

Delete private games from the queue when they start
  server/src/routines/matchmaking.ts
Due: none

Evilxisuma fix
  common/cards/hermits/evilxisuma_rare.ts
Due: none

Ren/cleo first row bug fix
  client/src/app/game/modals/copy-attack-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Modals being overwritten fix
  server/src/utils/state-gen.ts
Due: none

ailments not working on first row fix
  common/ailments/fire.ts
  common/ailments/poison.ts
  common/ailments/slowness.ts
Due: none

Egg index fix
  common/cards/single-use/egg.ts
Due: none

Update deck hashes embedded in url
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove double negation
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Prettify session-sage.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Dugeon Master Tango
  client/public/images/hermits-nobg/dungeontango.png
  common/cards/hermits/dungeontango-rare.ts
  common/cards/hermits/index.ts
  common/config/ranks.json
Due: none

Treasure hunter
  client/public/images/types/type-coin.png
  common/cards/items/clank-common.ts
  common/cards/items/index.ts
  common/cards/single-use/index.ts
  common/cards/single-use/treasure-hunter.ts
  common/types/cards.ts
Due: none

Orion sound card
  common/cards/hermits/index.ts
  common/cards/hermits/orionsound-rare.ts
Due: none

More images, and monkeyfarm card
  client/public/images/hermits-nobg/biffa2001.png
  client/public/images/hermits-nobg/dungeontango.png
  client/public/images/hermits-nobg/monkeyfarm.png
  client/public/images/hermits-nobg/orionsound.png
  client/public/images/hermits-nobg/pythongb.png
  client/public/images/hermits-nobg/smajor1995.png
  client/public/images/hermits-nobg/solidaritygaming.png
  common/cards/hermits/index.ts
  common/cards/hermits/monkeyfarm-rare.ts
  common/cards/hermits/orionsound-rare.ts
  common/config/debug-config.json
Due: none

Add python, fix images, and palettes
  client/public/images/backgrounds/advent_of_tcg.png
  client/public/images/expansion-icons/advent_of_tcg.png
  client/public/images/hermits-nobg/dungeontango.png
  client/public/images/hermits-nobg/pythongb.png
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/hermit-card-svg.module.scss
  common/cards/hermits/dungeontango-rare.ts
  common/cards/hermits/index.ts
  common/cards/hermits/pythongb-rare.ts
  common/config/debug-config.json
  common/config/expansions.json
  common/const/strengths.ts
  package-lock.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix errors
  client/src/components/card/hermit-card-svg.module.scss
  common/cards/hermits/pythongb-rare.ts
  common/config/debug-config.json
  package-lock.json
Due: stylelint --fix

remove checks that don't do anything
  common/cards/hermits/monkeyfarm-rare.ts
Due: none

Fix debug file mistakes
  common/config/debug-config.json
Due: none

Unfinished Jimmy
  common/cards/hermits/index.ts
  common/cards/hermits/jimmy-rare.ts
  common/config/debug-config.json
Due: none

Fix issues mentioned by tyrannicodin
  common/cards/hermits/monkeyfarm-rare.ts
Due: none

Ailment system change to using hooks instead, and Jimmy card
  client/public/images/status/protected.png
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  common/ailments/index.ts
  common/ailments/knockedout.ts
  common/ailments/protected.ts
  common/cards/effects/bed.ts
  common/cards/hermits/index.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/hermits/tangotek-rare.ts
  common/cards/single-use/knockback.ts
  common/config/debug-config.json
  common/types/game-state.ts
  common/utils/board.ts
  package-lock.json
  server/src/routines/turn-actions/change-active-hermit.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix ailment changes not working with movement cards
  common/ailments/fire.ts
  common/ailments/poison.ts
  common/ailments/protected.ts
  common/config/debug-config.json
Due: none

Use tabs instead of spaces on ailment names
  common/ailments/knockedout.ts
  common/ailments/protected.ts
Due: none

rollback package-lock changes (and debug confg changes oops!)
  common/config/debug-config.json
  package-lock.json
Due: none

Add damage effect and fix ailment removal bug
  common/ailments/fire.ts
  common/ailments/knockedout.ts
  common/ailments/poison.ts
  common/ailments/protected.ts
  common/ailments/sleeping.ts
  common/types/game-state.ts
  common/utils/board.ts
Due: none

remove extra logs
  common/utils/board.ts
Due: none

Fix protected
  common/ailments/protected.ts
Due: none

Sleeping and slowness fixes
  common/ailments/sleeping.ts
Due: none

Add treasure hunter to advent of tcg pack
  common/cards/single-use/treasure-hunter.ts
Due: none

Delete knockedout ailment
  common/ailments/index.ts
  common/ailments/knockedout.ts
Due: none

Scott card
  client/public/images/status/dyed.png
  client/src/app/game/board/board.module.scss
  common/ailments/dyed.ts
  common/ailments/index.ts
  common/cards/hermits/index.ts
  common/cards/hermits/smajor1995.ts
  common/config/debug-config.json
Due: stylelint --fix

Ailment duration and tooltip improvements
  common/ailments/protected.ts
  common/config/debug-config.json
Due: none

Fix debug config changes
  common/config/debug-config.json
Due: none

Fix merge errors
  client/src/app/game/board/board.module.scss
  common/ailments/dyed.ts
Due: stylelint --fix

Edit the card background and color for the advent of TCG cards
  client/public/images/backgrounds/advent_of_tcg.png
  client/src/components/card/hermit-card-svg.module.scss
Due: stylelint --fix

Biffa card and bug fixes
  client/public/images/status/museum-collection.png
  common/ailments/dyed.ts
  common/ailments/index.ts
  common/ailments/museum-collection.ts
  common/ailments/protected.ts
  common/cards/hermits/biffa2001-rare.ts
  common/cards/hermits/index.ts
  common/config/debug-config.json
Due: none

Katherineeliz card
  client/public/images/hermits-nobg/katherineeliz.png
  common/cards/hermits/index.ts
  common/cards/hermits/katherineeliz-rare.ts
  common/config/debug-config.json
Due: none

Fix numeric IDs
  common/cards/hermits/biffa2001-rare.ts
  common/cards/hermits/katherineeliz-rare.ts
Due: none

fix punctuation
  common/cards/hermits/biffa2001-rare.ts
Due: none

Add brewing stand, fix smajor id
  common/ailments/brewing.ts
  common/ailments/index.ts
  common/cards/effects/brewing-stand.ts
  common/cards/effects/index.ts
  common/cards/hermits/smajor1995.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
