Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

more changes
  common/achievements/useless-machine.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

Usless Machine
  common/achievements/useless-machine.ts
  common/cards/single-use/composter.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

fix
  common/achievements/useless-machine.ts
  common/cards/starter-decks.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

Fix EvilX Achievments (#1404)
  common/achievements/defeat-evil-x.ts
  common/achievements/no-derpcoins.ts
  common/achievements/types.ts
  server/src/game-controller.ts
Due: none

etho-ur
  common/cards/hermits/ethoslab-ultra-rare.ts
  common/types/cards.ts
  common/utils/cards.ts
  common/utils/ranks.ts
Due: none

add test file
  tests/unit/game/achievements/wipeout.test.ts
Due: none

Fix wipeout
  common/achievements/wipeout.ts
  common/cards/starter-decks.ts
  common/types/priorities.ts
  tests/unit/game/achievements/wipeout.test.ts
Due: none

commit
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  common/achievements/wipeout.ts
Due: none

more fixes
  tests/unit/game/achievements/sustainable.test.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

fix
  tests/unit/game/achievements/pesky-bird.test.ts
Due: none

Rematch button and mobile fix
  client/src/app/app.tsx
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  client/src/app/app.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Useless machine (#1415)
  common/achievements/useless-machine.ts
  common/cards/single-use/composter.ts
  common/cards/starter-decks.ts
  tests/unit/game/achievements/pesky-bird.test.ts
  tests/unit/game/achievements/sustainable.test.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

Add title to progress modal/sorting/button style on mobile (#1417)
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

wipeout fixes
  common/achievements/wipeout.ts
  common/types/priorities.ts
  tests/unit/game/achievements/wipeout.test.ts
Due: none

PC location of rematch button/all gamemode button location wrong mobile (#1418)
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

disconnected
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

lint
  client/src/app/game/player-info/player-info.tsx
  common/cards/starter-decks.ts
Due: eslint --max-warnings=0, prettier --write

lava bucket
  tests/unit/game/achievements/wipeout.test.ts
Due: none

Fix
  tests/unit/game/achievements/wipeout.test.ts
Due: none

description
  common/achievements/wipeout.ts
Due: none

half cpus
  fly.toml
Due: none

Half CPUs for fly.io (#1420)
  fly.toml
Due: none

Redo disconnected styling (#1419)
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix Wipeout Achievement (#1416)
  common/achievements/wipeout.ts
  tests/unit/game/achievements/wipeout.test.ts
Due: none

Fix tabs issue in settings
  client/src/components/tabs/tabs.module.scss
Due: stylelint --fix

Fix tabs issue in settings (#1421)
  client/src/components/tabs/tabs.module.scss
Due: stylelint --fix

Fix styling when one achievement
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

back to 4x
  fly.toml
Due: none

Put CPUs back to 4x (#1424)
  fly.toml
Due: none

some coupling
  common/components/query/row.ts
  common/components/row-component.ts
  common/utils/state-gen.ts
Due: none

Finish adjustments
  common/achievements/channeling.ts
  common/cards/attach/lightning-rod.ts
  common/types/priorities.ts
  tests/unit/game/achievements/channeling.test.ts
Due: none

fix for mobile
  client/src/components/achievement/achievement.module.scss
Due: stylelint --fix

Use Like a Hermit achievement
  client/public/images/cosmetics/heart/wooden.png
  common/achievements/index.ts
  common/achievements/use-like-a-hermit.ts
  common/cosmetics/hearts.ts
  server/src/db/db.ts
  tests/unit/game/achievements/certified-zombie.test.ts
  tests/unit/game/achievements/use-like-a-hermit.test.ts
Due: none

fixes
  common/achievements/use-like-a-hermit.ts
  tests/unit/game/achievements/use-like-a-hermit.test.ts
Due: none

lint
  client/src/app/main-menu/play-select.tsx
  tests/unit/game/achievements/use-like-a-hermit.test.ts
Due: eslint --max-warnings=0, prettier --write

Fix achievement styling (#1423)
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/components/achievement/achievement.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix tests
  common/components/query/row.ts
  server/src/utils/state-gen.ts
Due: none

start
  common/components/query/row.ts
  common/components/row-component.ts
  common/status-effects/smelting.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
