Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

fix api stuff
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/import-modal.tsx
  server/src/api/cards.ts
  server/src/api/index.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/deck/deck.tsx
  server/src/api/cards.ts
  server/src/root-model.ts
Due: eslint --max-warnings=0, prettier --write

jamm bug protection
  tests/db/database.test.ts
Due: none

fix
  client/src/app/deck/deck.module.scss
Due: stylelint --fix

Fixes the inside of the save button on the edit decks screen being gray (#970)
  client/src/app/deck/deck.module.scss
Due: stylelint --fix

Add new features and component-style structure to modal
  client/src/components/modal/modal.module.scss
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update existing modals
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/app/game/modals/confirm-modal.tsx
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/app/game/modals/exit-modal.tsx
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change tags modal over to new system
  client/src/app/deck/deck-select.tsx
  client/src/components/tags-modal/tags-modal.module.scss
  client/src/components/tags-modal/tags-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change updates modal over to new system
  client/src/app/main-menu/settings.tsx
  client/src/components/updates/updates.tsx
Due: eslint --max-warnings=0, prettier --write

initial
  aotcg.md
  common/cards/advent-of-tcg/single-use/fletching-table.ts
Due: none

Fix typo
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write

Rename ConfirmModal to SingleUseConfirmModal
  client/src/app/game/modals/index.ts
  client/src/app/game/modals/single-use-confirm-modal.tsx
  client/src/logic/game/tasks/action-modals-saga.ts
Due: eslint --max-warnings=0, prettier --write

implement allay card
  client/public/images/effects/allay.png
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/const/expansions.ts
  server/src/routines/virtual/exboss-ai.ts
  tests/unit/game/advent-of-tcg/effects/allay.test.ts
Due: none

Add setOpen, add new ConfirmModal and move over some modals, and other renaming
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/app/game/modals/exit-modal.tsx
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/game/modals/single-use-confirm-modal.tsx
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/components/alert-modal/alert-modal.tsx
  client/src/components/button/button.tsx
  client/src/components/modal/modal.tsx
  client/src/components/tags-modal/tags-modal.tsx
  client/src/components/updates/updates.tsx
  common/types/buttons.ts
  common/types/server-requests.ts
Due: eslint --max-warnings=0, prettier --write

Move deck edit modals over to ConfirmModals
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Increase min width of modals to match the radix one
  client/src/components/modal/modal.module.scss
Due: stylelint --fix

Fix some imports
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/app/game/modals/single-use-confirm-modal.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write

Add missing setOpens
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Add text to tags modal if it's empty
  client/src/components/tags-modal/tags-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Add alert modal
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write

More import fixes and other minor things
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/app/game/modals/exit-modal.tsx
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/game/modals/single-use-confirm-modal.tsx
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/components/modal/index.ts
  client/src/components/modal/modal.tsx
  client/src/components/tags-modal/tags-modal.tsx
  client/src/components/updates/updates.tsx
Due: eslint --max-warnings=0, prettier --write

Convert all modals in deck select over to new ones
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Delete old alert modal
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/alert-modal/alert-modal.tsx
  client/src/components/alert-modal/index.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Convert import export modals to new system
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-export.module.scss
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
  client/src/components/svgs/copyIcon.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Small change
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

fix related biffa bugs
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/single-use/chest.ts
  tests/unit/game/advent-of-tcg/hermits/biffa2001-rare.test.ts
Due: none

implement sculk catalyst
  client/public/images/effects/sculk_catalyst.png
  common/cards/advent-of-tcg/attach/index.ts
  common/cards/advent-of-tcg/attach/sculk-catalyst.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/status-effects/index.ts
  common/status-effects/skulk-catalyst.ts
  common/types/priorities.ts
  tests/unit/game/advent-of-tcg/effects/sculk-catalyst.test.ts
  tests/unit/game/utils.ts
Due: none

implement wind burst
  client/public/images/effects/wind_burst.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/wind-burst.ts
Due: none

lint and fix client rendering
  client/public/images/expansion-icons/advent_of_tcg_ii.png
  client/src/components/card/card-tooltip.module.scss
  common/cards/advent-of-tcg/attach/sculk-catalyst.ts
  common/cards/advent-of-tcg/single-use/arrow-of-poison.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/wind-burst.ts
  common/status-effects/skulk-catalyst.ts
  tests/unit/game/advent-of-tcg/effects/arrow-of-poison.test.ts
  tests/unit/game/advent-of-tcg/effects/sculk-catalyst.test.ts
  tests/unit/game/advent-of-tcg/hermits/biffa2001-rare.test.ts
  tests/unit/game/utils.ts
Due: stylelint --fix

Add ability to add styling to root modal components, and hide title bar when no title
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write

Convert end game overlay modal to new system
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove radix dialog dependencies
  package-lock.json
  package.json
Due: none

Fix linting
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/components/button/button.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
  client/src/components/modal/modal.tsx
  client/src/components/updates/updates.tsx
  client/src/logic/game/tasks/action-modals-saga.ts
  common/types/buttons.ts
  common/types/server-requests.ts
  package.json
Due: eslint --max-warnings=0, prettier --write

fix tooltip z-order
  client/src/components/tooltip/tooltip.module.scss
Due: stylelint --fix

oops
  client/src/components/tooltip/tooltip.module.scss
Due: stylelint --fix

Fix deck icon system to be more logical
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/models/player-model.ts
  common/types/deck.ts
  common/utils/state-gen.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

formatting
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

Fix tooltip z-order (#972)
  client/src/components/tooltip/tooltip.module.scss
Due: stylelint --fix

Fix issue with tags not loading properly
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write
