Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

added event listeners
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

updated chat ui colors
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

cleaned up game modal imports
  client/src/app/game/game.tsx
  client/src/app/game/modals/index.ts
Due: eslint --max-warnings=0, prettier --write

fixed button css reset which caused padding issues
  client/src/index.scss
Due: stylelint --fix

added End Turn button to toolbar
  client/src/app/game/toolbar/toolbar.module.scss
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

updated game modal ui
  client/src/app/game/game.tsx
  client/src/app/game/modals/attack-modal/attack-modal.module.css
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/attack.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/game/modals/borrow-modal.module.css
  client/src/app/game/modals/borrow-modal.tsx
  client/src/app/game/modals/change-hermit-modal.module.css
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/app/game/modals/chest-modal.module.css
  client/src/app/game/modals/chest-modal.tsx
  client/src/app/game/modals/confirm-modal.module.css
  client/src/app/game/modals/confirm-modal.tsx
  client/src/app/game/modals/discarded-modal.module.scss
  client/src/app/game/modals/discarded-modal.tsx
  client/src/app/game/modals/end-turn-modal.module.css
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/app/game/modals/forfeit-modal.module.css
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/spyglass-modal.module.css
  client/src/app/game/modals/spyglass-modal.tsx
  client/src/app/game/modals/unmet-condition-modal.module.css
  client/src/app/game/modals/unmet-condition-modal.tsx
  client/src/components/card/card.module.scss
  client/src/components/modal/modal.module.scss
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

removed End Turn button from actions
  client/src/app/game/actions/actions.tsx
Due: eslint --max-warnings=0, prettier --write

fixed send and close buttons in chat
  client/src/app/game/chat/chat.module.scss
Due: stylelint --fix

removed placeholder player tag
  client/src/app/game/player-info/player-info.tsx
Due: eslint --max-warnings=0, prettier --write

post-rebase fixes
  client/src/app/game/actions/actions.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/game/modals/borrow-modal.tsx
  client/src/app/game/modals/discarded-modal.tsx
  client/src/app/game/modals/evil-x-modal.tsx
  client/src/app/game/modals/looting-modal.tsx
  client/src/app/game/toolbar/sound-item.tsx
Due: eslint --max-warnings=0, prettier --write

disabled in-game hotkeys
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

fixed attack modal description and removed notice
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/attack.tsx
Due: eslint --max-warnings=0, prettier --write

fixed attack button scaling issue
  client/src/app/game/actions/actions.tsx
Due: eslint --max-warnings=0, prettier --write

ran prettier
  client/src/app/app.tsx
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/game.module.scss
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/components/spinner/spinner.tsx
  client/src/components/svgs/ChatIcon.tsx
  client/src/components/svgs/ChatIconNotify.tsx
  client/src/components/svgs/SpeakerIcon.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

temporary rename
  client/src/components/svgs/index.ts
  client/src/components/svgs/qquestionMarkIcon.tsx
  client/src/components/svgs/sspeakerIcon.tsx
Due: eslint --max-warnings=0, prettier --write

fixed file name issue for some svgs
  client/src/components/svgs/index.ts
  client/src/components/svgs/questionMarkIcon.tsx
  client/src/components/svgs/speakerIcon.tsx
Due: eslint --max-warnings=0, prettier --write

Change renbob hp to 300
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Fix build
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/socket/socket-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix armor stand placement issues
  server/routines/turn-actions/play-card.ts
Due: none

Change thorns to not block 0 attacks
  common/cards/card-plugins/effects/thorns.js
  common/cards/card-plugins/effects/thorns_ii.js
  common/cards/card-plugins/effects/thorns_iii.js
Due: none

Clear debug config
  config/debug-config.json
Due: none

Beta v0.6.8
  config/server-config.json
Due: none

Modify build process
  package.json
Due: none

Change again
  package.json
Due: none

Change where server builds to
  .gitignore
  package.json
  server/tsconfig.json
Due: none

Point directly to index
  package.json
Due: none

Try again
  package.json
Due: none

Again
  package.json
Due: none

Server was pointing to the wrong place
  server/index.ts
Due: none

Also server correct static assets
  server/index.ts
Due: none

Guess what version also looks for wrong place
  server/version.ts
Due: none

Fix hooks calling incorrectly
  common/types/game-state.ts
  server/routines/game.ts
  server/routines/turn-actions/play-card.ts
Due: none

Fix emerald (#355)
  common/cards/card-plugins/single-use/emerald.js
Due: none

allow zero attack in situations where it should be allowed
  server/routines/game.ts
Due: none

Revert "Change renbob hp to 300"
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Change renbob HP to 300
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Show correct strengths on tooltip
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Add .prettierIgnore so we don't check server dist
  .prettierignore
Due: none

Thorns does not do damage for attacks that do no damage
  common/cards/card-plugins/effects/thorns.js
  common/cards/card-plugins/effects/thorns_ii.js
  common/cards/card-plugins/effects/thorns_iii.js
Due: none
