Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

another change
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

new queue screen for public games
  client/src/app/app.tsx
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  client/src/app/main-menu/games-landing.tsx
Due: eslint --max-warnings=0, prettier --write

escape key to return to main menu
  client/src/app/main-menu/games-landing.tsx
Due: eslint --max-warnings=0, prettier --write

fix active deck and ref issues
  client/src/app/main-menu/games-landing.tsx
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/main-menu/games-landing.tsx
Due: eslint --max-warnings=0, prettier --write

Play screen rework draft (#1183)
  client/public/images/backgrounds/beef.png
  client/public/images/backgrounds/cubfan.png
  client/public/images/backgrounds/evilx.png
  client/public/images/backgrounds/gamemodes/boss.png
  client/public/images/backgrounds/gamemodes/private.png
  client/public/images/backgrounds/gamemodes/public.png
  client/public/images/backgrounds/gamemodes/tutorial.png
  client/src/app/app.tsx
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/button.tsx
  client/src/components/hermit-button/hermit-button.tsx
  client/src/components/hermit-button/index.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Rename main-menu screen var to match others
  client/src/app/app.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

Rename new screen to play select, reorganise menu buttons, improve hermit button animations, add header text in play screen
  client/src/app/app.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Modify main menu design + temporarily disable splash text
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/tcg-logo/tcg-logo.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

More hermit button improvements
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write

Modify sizing and improve scaling of background hermit image
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change size and gap of main menu buttons
  client/src/app/main-menu/main-menu.module.scss
Due: stylelint --fix

Make text screen size independent
  client/src/app/main-menu/play-select.tsx
  client/src/components/hermit-button/hermit-button.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Minor updates
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

jack of all cards tests
  common/achievements/jack-of-all-cards.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  tests/unit/game/achivements/all-cards.test.ts
  tests/unit/game/utils.ts
Due: none

Format
  tests/unit/game/achivements/all-cards.test.ts
Due: none

All common files (until more rewards are implemented)
  client/public/images/cosmetics/borders/blue.png
  client/public/images/cosmetics/borders/gold.png
  client/public/images/cosmetics/borders/green.png
  client/public/images/cosmetics/borders/red.png
  client/public/images/cosmetics/hearts/red.png
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/board/board.module.scss
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
  client/src/components/lost-connection/lost-connection.module.scss
  common/cosmetics/background/index.ts
  common/cosmetics/background/transparent.ts
  common/cosmetics/borders/blue.ts
  common/cosmetics/borders/index.ts
  common/cosmetics/coins/creeper.ts
  common/cosmetics/coins/evilx.ts
  common/cosmetics/coins/index.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/hearts/red.ts
  common/cosmetics/index.ts
  common/cosmetics/titles/empty.ts
  common/cosmetics/titles/ethogirl.ts
  common/cosmetics/titles/evil-xterminator.ts
  common/cosmetics/titles/index.ts
  common/cosmetics/types.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change Jack Of All Cards To Only Activate On Wins (#1184)
  common/achievements/jack-of-all-cards.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  tests/unit/game/achivements/all-cards.test.ts
  tests/unit/game/utils.ts
Due: none

Add ingame appearance mockup
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Switch hermit buttons css over to keyframes, still want to have them scale on hover
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Format
  common/achievements/british.ts
  common/achievements/defaults.ts
  common/achievements/types.ts
  common/cosmetics/background/transparent.ts
  common/cosmetics/borders/blue.ts
  common/cosmetics/borders/index.ts
  common/cosmetics/index.ts
Due: none

joel
  common/cards/hermits/smallishbeans-rare.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
  tests/unit/game/hermits/smallishbeans-rare.test.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/smallishbeans_rare_with_tokens.png
Due: none

Add Test
  tests/unit/game/effects/lightning-rod.test.ts
Due: none

Add playerInfo to customisation button, format to show background
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Reorganization
  common/status-effects/frozen.ts
  common/status-effects/index.ts
  common/status-effects/slowness.ts
  common/status-effects/weakness.ts
Due: none

Make Lightning Rod not Discard after Target Block Bypass (#1153)
  common/status-effects/target-block.ts
  tests/unit/game/effects/lightning-rod.test.ts
Due: none

Fix build errors
  common/utils/turn-action-compressor.ts
Due: none

lint
  common/status-effects/index.ts
Due: none

changes
  common/models/game-model.ts
  common/utils/turn-action-compressor.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

Save replays properly
  common/entities.ts
  common/models/game-model.ts
  common/tsconfig.json
  common/types/ecs.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
Due: none

Finish rest of server stuff
  client/src/logic/game/database/database-reducer.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/turn-action-compressor.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

another type error
  server/src/db/db.ts
Due: none

build errors and test
  jest.config.mjs
  package.json
  server/src/routines/game.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/index.ts
  tests/replays/replays.test.ts
  tests/replays/tsconfig.json
  tests/unit/game/utils.ts
Due: none

a lot more changes
  client/src/app/app.tsx
  client/src/app/main-menu/game-history.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  common/types/database.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
Due: eslint --max-warnings=0, prettier --write

More changes to tests
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: none

First test
  tests/replays/replays.test.ts
Due: none

build error
  server/src/db/db.ts
  tests/replays/replays.test.ts
Due: none

logs
  server/src/routines/turn-action-compressor.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
