Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

prettier
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/card-list/card-list.tsx
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

chagnes to CI
  .github/workflows/release.yml
  docker-compose.yml
Due: none

Add CI To Release With Github Releases and Docker (#570)
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  Dockerfile
  client/src/components/link-container/link-container.tsx
  client/vite.config.js
  common/config/index.ts
  common/config/server-config.json
  docker-compose.yml
  esbuild.js
  package-lock.json
  package.json
  version.js
Due: eslint --max-warnings=0, prettier --write

remove arm
  .github/workflows/release.yml
Due: none

Remove arm image from docker (#572)
  .github/workflows/release.yml
Due: none

start making the combinator system
  common/cards/default/hermits/rendog-rare.ts
  common/slot.ts
  common/types/server-requests.ts
Due: none

initial commit
  client/src/app/deck/deck.tsx
  client/src/app/login/login.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/settings.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-actions.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  client/src/root-saga.ts
  common/models/player-model.ts
  common/types/deck.ts
  package-lock.json
  package.json
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

more changes
  client/src/app/deck/deck.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/logic/session/session-saga.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

The fix
  common/cards/default/single-use/golden-axe.ts
Due: none

Fix axe reapplying damage (#574)
  common/cards/default/single-use/golden-axe.ts
Due: none

Update deck hashes embedded in url
  server/src/plugins/postgres.ts
Due: none

Prettify session-sage.ts
  client/src/logic/session/session-saga.ts
  server/src/plugins/postgres.ts
Due: eslint --max-warnings=0, prettier --write

Add option to disable chat
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Change how armor stand uses discard
  common/cards/alter-egos/effects/armor-stand.ts
  server/src/routines/game.ts
Due: none

change in after attack system
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/default/effects/shield.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/effects/wolf.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  server/src/routines/turn-actions/attack.ts
Due: none

get placing cards down functional
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/cards/default/hermits/rendog-rare.ts
  common/models/game-model.ts
  common/slot.ts
  common/types/game-state.ts
  server/src/routines/turn-actions/pick-request.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: none

More work
  common/cards/alter-egos/single-use/trident.ts
  common/models/card-pos-model.ts
  common/slot.ts
  common/types/cards.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions/pick-request.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: none

fix rendog
  common/cards/default/hermits/rendog-rare.ts
  common/slot.ts
  server/src/utils/state-gen.ts
Due: none

fix string
  common/cards/alter-egos/effects/string.ts
Due: none

should ignore slots system
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
  common/models/attack-model.ts
  common/slot.ts
  common/types/attack.ts
  common/utils/attacks.ts
Due: none

use slot.some instead
  common/utils/attacks.ts
Due: none

formattng hcanges
  common/slot.ts
Due: none

AoTCG effects
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/string.ts
Due: none

fix movement.ts most likely
  common/utils/movement.ts
Due: none

spyglass
  common/cards/default/single-use/spyglass.ts
Due: none

looting
  common/cards/default/single-use/looting.ts
  common/cards/default/single-use/splash-potion-of-poison.ts
Due: none

effect
  common/cards/base/single-use-card.ts
  common/slot.ts
Due: none

Most alter egos cards
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/effects/turtle-shell.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/slot.ts
Due: none

Rest of AE cards
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/alter-egos/single-use/sweeping-edge.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/default/single-use/curse-of-vanishing.ts
  common/slot.ts
Due: none

implement some more cards
  common/cards/default/effects/bed.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/effects/wolf.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/single-use/lava-bucket.ts
Due: none

request playable slots implementation
  client/src/app/game/game.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-selectors.ts
  common/models/game-model.ts
  common/types/action-data.ts
  common/types/game-state.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Fix issue
  server/src/routines/player.ts
Due: none

Fix session timeout issue (#577)
  server/src/routines/player.ts
Due: none

rest of changes to fix gem
  common/utils/attacks.ts
Due: none

fix discard pile display
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/select-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix discard pile display (#578)
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/select-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

selecting cards now shows correct spot
  client/src/app/game/actions/actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/logic/game/game-saga.ts
  common/slot.ts
  common/types/action-data.ts
  common/types/game-state.ts
  common/types/server-requests.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

have i changed anything
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/game.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-reducer.ts
  common/cards/alter-egos/effects/string.ts
  common/types/action-data.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
