Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Updated Piston
  common/cards/card-plugins/single-use/piston.js
Due: none

Helsknight rare
  client/public/images/hermits-nobg/helsknight.png
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/hermits/helsknight-rare.js
  common/cards/card-plugins/hermits/index.js
Due: eslint --max-warnings=0, prettier --write

remove empty register functions
  common/cards/card-plugins/hermits/beetlejhost-common.js
  common/cards/card-plugins/hermits/eviljevin-common.js
  common/cards/card-plugins/hermits/poultryman-common.js
Due: none

Helpers for cards that redirect attacks
  server/utils/index.js
Due: prettier --write

Added isRedirecting for Effect Cards
  common/cards/card-plugins/effects/_effect-card.js
Due: none

Potatoboy rare
  common/cards/card-plugins/hermits/potatoboy-rare.js
Due: none

Goatfather
  client/public/images/hermits-nobg/goatfather.png
  common/cards/card-plugins/hermits/goatfather-rare.js
Due: none

Lighning Rod
  client/public/images/effects/lightning_rod.png
  common/cards/card-plugins/effects/lightning-rod.js
Due: none

Target Block
  client/public/images/effects/target_block.png
  common/cards/card-plugins/effects/target-block.js
Due: none

Fix attacks on row index 0
  common/cards/card-plugins/hermits/_hermit-card.js
Due: none

Target Block is Single Use
  common/cards/card-plugins/effects/target-block.js
  common/cards/card-plugins/single-use/target-block.js
Due: none

Changed isRemovable and isRedirecting
  server/utils/index.js
Due: prettier --write

Moved getIsRedirecting to the Card class
  common/cards/card-plugins/_card.js
  common/cards/card-plugins/effects/_effect-card.js
Due: none

Typo
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/single-use/target-block.js
Due: none

PickedSlots are not needed for applySingleUse
  common/cards/card-plugins/single-use/fortune.js
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

Hotguy
  client/public/images/hermits-nobg/hotguy.png
  common/cards/card-plugins/hermits/hotguy-rare.js
Due: none

Anvil
  common/cards/card-plugins/single-use/anvil.js
Due: none

Update deck hashes embedded in url
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove double negation
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Update the hermit images to be crisp
  client/public/images/hermits-nobg/bdoubleo100.png
  client/public/images/hermits-nobg/cubfan135.png
  client/public/images/hermits-nobg/docm77.png
  client/public/images/hermits-nobg/ethoslab.png
  client/public/images/hermits-nobg/falsesymmetry.png
  client/public/images/hermits-nobg/geminitay.png
  client/public/images/hermits-nobg/goodtimeswithscar.png
  client/public/images/hermits-nobg/grian.png
  client/public/images/hermits-nobg/hypnotizd.png
  client/public/images/hermits-nobg/ijevin.png
  client/public/images/hermits-nobg/impulsesv.png
  client/public/images/hermits-nobg/iskall85.png
  client/public/images/hermits-nobg/joehills.png
  client/public/images/hermits-nobg/keralis.png
  client/public/images/hermits-nobg/mumbojumbo.png
  client/public/images/hermits-nobg/pearlescentmoon.png
  client/public/images/hermits-nobg/rendog.png
  client/public/images/hermits-nobg/stressmonster101.png
  client/public/images/hermits-nobg/tangotek.png
  client/public/images/hermits-nobg/tinfoilchef.png
  client/public/images/hermits-nobg/vintagebeef.png
  client/public/images/hermits-nobg/welsknight.png
  client/public/images/hermits-nobg/xbcrafted.png
  client/public/images/hermits-nobg/xisumavoid.png
  client/public/images/hermits-nobg/zedaphplays.png
  client/public/images/hermits-nobg/zombiecleo.png
Due: none

make hermit renders proper size
  client/public/images/hermits-nobg/bdoubleo100.png
  client/public/images/hermits-nobg/beetlejhost.png
  client/public/images/hermits-nobg/cubfan135.png
  client/public/images/hermits-nobg/docm77.png
  client/public/images/hermits-nobg/ethoslab.png
  client/public/images/hermits-nobg/eviljevin.png
  client/public/images/hermits-nobg/falsesymmetry.png
  client/public/images/hermits-nobg/geminitay.png
  client/public/images/hermits-nobg/goodtimeswithscar.png
  client/public/images/hermits-nobg/grian.png
  client/public/images/hermits-nobg/hypnotizd.png
  client/public/images/hermits-nobg/ijevin.png
  client/public/images/hermits-nobg/impulsesv.png
  client/public/images/hermits-nobg/iskall85.png
  client/public/images/hermits-nobg/joehills.png
  client/public/images/hermits-nobg/keralis.png
  client/public/images/hermits-nobg/mumbojumbo.png
  client/public/images/hermits-nobg/pearlescentmoon.png
  client/public/images/hermits-nobg/rendog.png
  client/public/images/hermits-nobg/stressmonster101.png
  client/public/images/hermits-nobg/tangotek.png
  client/public/images/hermits-nobg/tinfoilchef.png
  client/public/images/hermits-nobg/vintagebeef.png
  client/public/images/hermits-nobg/welsknight.png
  client/public/images/hermits-nobg/xbcrafted.png
  client/public/images/hermits-nobg/xisumavoid.png
  client/public/images/hermits-nobg/zedaphplays.png
  client/public/images/hermits-nobg/zombiecleo.png
Due: none

Renbob rare hermit
  client/public/images/hermits-nobg/renbob.png
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/hermits/index.js
  common/cards/card-plugins/hermits/renbob-rare.js
Due: eslint --max-warnings=0, prettier --write

Added expansion to Splash Potion of Healing II
  common/cards/card-plugins/single-use/splash-potion-of-healing-ii.js
Due: none

Disabled Splash Potion of Healing II
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Added expansion to Sweeping Edge
  common/cards/card-plugins/single-use/sweeping-edge.js
Due: none

Disabled Sweeping Edge
  common/cards/card-plugins/single-use/index.js
Due: none

Added expansion to the Command Block
  common/cards/card-plugins/effects/command-block.js
Due: none

Disabled Command Block
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/effects/index.js
Due: eslint --max-warnings=0, prettier --write

Added expansion to the Ender Pearl
  common/cards/card-plugins/single-use/ender-pearl.js
Due: none

Added expansion to the Trident
  common/cards/card-plugins/single-use/trident.js
Due: none

Added expansion to the Chainmail Armor
  common/cards/card-plugins/effects/chainmail-armor.js
Due: none

Added expansion to the Bad Omen
  common/cards/card-plugins/single-use/bad-omen.js
Due: none

Disabled Fire Charge
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Added expansion the the Fire Charge
  common/cards/card-plugins/single-use/fire-charge.js
Due: none

Disabled Ladder
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Added expansion to the Ladder
  common/cards/card-plugins/single-use/ladder.js
Due: none

Disabled Piston
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Added expansion to the Piston
  common/cards/card-plugins/single-use/piston.js
Due: none

Added expansion to the Anvil
  common/cards/card-plugins/single-use/anvil.js
Due: none

Added expansion to Lightning Rod and Target Block
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/single-use/target-block.js
Due: none
