Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

increase prettier width to 100
  .prettierrc.json
Due: none

Added support for null targets (#272)
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/effects/totem.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/evilxisuma_rare.js
  common/cards/card-plugins/hermits/ijevin-rare.js
  common/cards/card-plugins/hermits/iskall85-rare.js
  common/cards/card-plugins/hermits/jingler-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xbcrafted-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/single-use/mending.js
  common/cards/card-plugins/single-use/target-block.js
  common/types/cards.ts
  server/routines/turn-actions/attack.js
  server/utils/attacks.js
Due: prettier --write

Explicitly set join to submit so enter joins private game (#328)
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

Add TheThunderWolf's sweeping edge icon (#329)
  client/public/images/effects/sweeping_edge.png
Due: none

Update Renbob
  common/cards/card-plugins/hermits/index.js
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

fix import-export-const
  client/src/components/import-export/import-export-const.ts
Due: eslint --max-warnings=0, prettier --write

updated human cleo draft
  common/cards/card-plugins/hermits/humancleo-rare.js
  common/cards/card-plugins/hermits/index.js
  common/types/attack.ts
  common/types/game-state.ts
  config/debug-config.json
  server/routines/game.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/follow-up.js
Due: prettier --write

Fixed hooks, followUp and more debug options. (#330)
  client/src/app/game/board/timer/timer.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/effects/looting.js
  common/cards/card-plugins/hermits/evilxisuma_rare.js
  common/cards/card-plugins/hermits/geminitay-rare.js
  common/cards/card-plugins/hermits/grian-rare.js
  common/cards/card-plugins/hermits/helsknight-rare.js
  common/cards/card-plugins/hermits/jingler-rare.js
  common/cards/card-plugins/hermits/joehills-rare.js
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
  common/cards/card-plugins/hermits/rendog-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-ultra-rare.js
  common/cards/card-plugins/hermits/zedaphplays-rare.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/efficiency.js
  common/cards/card-plugins/single-use/fire-charge.js
  common/cards/card-plugins/single-use/fortune.js
  common/cards/card-plugins/single-use/invisibility-potion.js
  common/cards/card-plugins/single-use/piston.js
  common/cards/card-plugins/single-use/spyglass.js
  common/types/game-state.ts
  config/debug-config.json
  server/routines/game.js
  server/routines/turn-actions/follow-up.js
  server/utils/index.js
  server/utils/state-gen.js
Due: eslint --max-warnings=0, prettier --write

Renbob rare hermit (#228)
  common/cards/card-plugins/hermits/index.js
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

beta v0.6.4
  config/server-config.json
Due: none

Disable debug flags and add the file to gitingore
  .gitignore
  config/debug-config.json
Due: none

Reset debug config
  config/debug-config.json
Due: none

Fix renbob row 0 bug
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Fix renbob row 0 issues
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Added opponent-attack to pickOn
  client/src/logic/game/tasks/attack-saga.ts
  common/types/cards.ts
Due: eslint --max-warnings=0, prettier --write

fix problems with tests/modals
  common/cards/card-plugins/hermits/humancleo-rare.js
  common/types/game-state.ts
  config/debug-config.json
  server/routines/turn-actions/follow-up.js
Due: prettier --write

Use custom for opponent-attack
  client/src/logic/game/tasks/attack-saga.ts
  common/types/cards.ts
Due: eslint --max-warnings=0, prettier --write

Added onTurnTimeout
  common/types/game-state.ts
  server/routines/game.js
  server/routines/turn-actions/attack.js
  server/utils/state-gen.js
Due: prettier --write

Fix the bed not being removed correctly by knockout
  common/cards/card-plugins/effects/bed.js
Due: none

Put the new hermit to sleep if the ladder is used
  common/cards/card-plugins/effects/bed.js
Due: none

Ailments move with the Hermit when moved by the Ladder
  common/cards/card-plugins/single-use/ladder.js
Due: none

Fix linter issues
  common/cards/card-plugins/effects/armor-stand.js
Due: none

Shield wasn't calling isTargetingPos
  common/cards/card-plugins/effects/shield.js
Due: none

Fix weakness attack on the Armor Stand
  server/utils/attacks.js
Due: prettier --write

Removed console.log
  server/utils/reqs.js
Due: prettier --write

Human Cleo
  common/cards/card-plugins/hermits/humancleo-rare.js
  common/cards/card-plugins/hermits/index.js
Due: none

Fixed merging error for Pearl
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

Added hook call order to showHooksState
  server/utils/index.js
Due: prettier --write

Added canAttach to Bad Omen
  common/cards/card-plugins/single-use/bad-omen.js
Due: none

New looting
  common/cards/card-plugins/effects/looting.js
  common/types/game-state.ts
  server/routines/game.js
Due: prettier --write

Update turtle-shell.js
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Correct turtle shell description
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Fix renbob row 0 issues (#333)
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Shield wasn't calling isTargetingPos (#336)
  common/cards/card-plugins/effects/shield.js
Due: none

Bed fixes and Ladder changes (#335)
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/single-use/ladder.js
Due: none

Added canAttach to Bad Omen (#340)
  common/cards/card-plugins/single-use/bad-omen.js
Due: none

Added hook call order to showHooksState (#339)
  server/utils/index.js
Due: prettier --write

Move turtle shell to being discarded at end of opponent's turn (#341)
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
