Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

permitcraft tcg logo
  client/public/images/tcg-logo.png
Due: none

Update deck validation so there can only be 1 of each diamond permit
  common/utils/validation.ts
Due: none

Small changes, add validation back to player model
  client/src/app/main-menu/main-menu.tsx
  common/models/player-model.ts
  common/utils/validation.ts
Due: eslint --max-warnings=0, prettier --write

Visual improvements and fixing permit ranks
  client/src/app/game/board/board-slot.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/permit-office.tsx
  common/config/permit-ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove tokens from deck builder UI
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

Increase base tokens to 590
  client/src/logic/permits/permits-saga.ts
Due: eslint --max-warnings=0, prettier --write

remove ranks from advent of TCG cards
  common/config/permit-ranks.json
Due: none

Add tiers instead of tokens on cards
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Bump version & change logoSubText
  common/config/server-config.json
Due: none

Change diamond starting and costs
  client/src/logic/permits/permits-saga.ts
  common/config/permit-ranks.json
Due: eslint --max-warnings=0, prettier --write

Reward credits for knockouts
  client/src/logic/permits/permits-saga.ts
Due: eslint --max-warnings=0, prettier --write

rewards screen stuff and more credit values ideas
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/logic/permits/permits-actions.ts
  client/src/logic/permits/permits-reducer.ts
  client/src/logic/permits/permits-saga.ts
  client/src/logic/permits/permits-selectors.ts
  common/config/credit-values.json
  common/config/debug-config.json
  common/config/index.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update with more ways to get diamonds
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/modals/credit-values-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/permit-office.tsx
  client/src/logic/permits/permits-saga.ts
  common/config/credit-values.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add "win using a card of only one hermit"
  client/src/logic/permits/permits-saga.ts
  common/config/credit-values.json
Due: eslint --max-warnings=0, prettier --write

add attack redirected attribute
  common/cards/alter-egos/effects/chainmail-armor.ts
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/models/attack-model.ts
Due: none

fix debug config
  client/src/app/main-menu/main-menu.module.scss
  common/config/debug-config.json
Due: stylelint --fix

Mechanic Redo
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/status-effects/dodged.ts
  common/status-effects/index.ts
Due: none

Update dodged.ts
  common/status-effects/dodged.ts
Due: none

Why not?
  common/status-effects/dodged.ts
Due: none

More Cleanups
  common/status-effects/dodged.ts
  common/status-effects/used-clock.ts
Due: none

Balancing and bug fixes
  client/src/app/main-menu/main-menu.tsx
  client/src/logic/permits/permits-saga.ts
  common/config/credit-values.json
  common/config/permit-ranks.json
Due: eslint --max-warnings=0, prettier --write

Remove extra console log
  common/models/player-model.ts
Due: none

Changed permit problem notice to please hold
  client/src/app/game/modals/card-unlock-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fix scrolling in buy permit notice
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/permit-office.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improve text on not enough diamonds
  client/src/logic/permits/permits-saga.ts
Due: eslint --max-warnings=0, prettier --write

Reverse version
  common/config/server-config.json
Due: none

Improved description, and changed show objectives to show tasks
  client/src/app/main-menu/permit-office.tsx
Due: eslint --max-warnings=0, prettier --write

CHanged splash text to "Please hold!"
  common/config/server-config.json
Due: none

Fix deck validation
  common/utils/validation.ts
Due: none

Other fix
  client/src/logic/permits/permits-saga.ts
Due: eslint --max-warnings=0, prettier --write

default, AE patch
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/default/hermits/cubfan135-rare.ts
  common/cards/default/hermits/geminitay-rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/ijevin-rare.ts
Due: none

Patch for AoTCG cards.
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
Due: none

Fix debug config
  common/config/debug-config.json
Due: none

Fixes coin flip edge cases
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/alter-egos/hermits/llamadad-rare.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/hermits/docm77-rare.ts
  common/cards/default/hermits/ethoslab-rare.ts
  common/cards/default/hermits/ethoslab-ultra-rare.ts
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/hermits/mumbojumbo-rare.ts
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/hermits/tinfoilchef-rare.ts
  common/cards/default/hermits/tinfoilchef-ultra-rare.ts
  common/cards/default/hermits/vintagebeef-rare.ts
  common/cards/default/hermits/xisumavoid-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/cards/default/single-use/fortune.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/cards/default/single-use/spyglass.ts
  common/models/battle-log.ts
  common/status-effects/badomen.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
  server/src/utils/state-gen.ts
Due: none

The fix
  common/cards/default/hermits/geminitay-rare.ts
Due: none

Chorus patch
  common/cards/default/single-use/chorus-fruit.ts
Due: none

Chorus Patch II
  common/cards/default/hermits/geminitay-rare.ts
Due: none

Basic card programming (w/o images)
  client/public/images/expansion-icons/alter_egos_ii.png
  client/public/images/expansion-icons/dream.png
  client/public/images/types/type-speedrunner.png
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/hermit-card-svg.module.scss
  common/cards/alter-eogs-ii/hermits/architectfalse-common.ts
  common/cards/alter-eogs-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-eogs-ii/hermits/dwarfimpulse-common.ts
  common/cards/alter-eogs-ii/hermits/fiveampearl-rare.ts
  common/cards/alter-eogs-ii/hermits/frenchkeralis-common.ts
  common/cards/alter-eogs-ii/hermits/horseheadhypno-rare.ts
  common/cards/alter-eogs-ii/hermits/index.ts
  common/cards/alter-eogs-ii/hermits/iskallman-rare.ts
  common/cards/alter-eogs-ii/hermits/originalxb-common.ts
  common/cards/alter-eogs-ii/hermits/overseer-rare.ts
  common/cards/alter-eogs-ii/hermits/princessgem-common.ts
  common/cards/alter-eogs-ii/hermits/shadee-common.ts
  common/cards/alter-eogs-ii/hermits/spookystress-common.ts
  common/cards/alter-eogs-ii/hermits/steampunktango-common.ts
  common/cards/alter-eogs-ii/hermits/wormman-common.ts
  common/cards/index.ts
  common/config/debug-config.json
  common/config/expansions.json
  common/config/ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Screaper's Suggestions
  common/cards/default/hermits/geminitay-rare.ts
  common/cards/default/single-use/chorus-fruit.ts
Due: none

Fixes in mistakes with card stats
  common/cards/alter-eogs-ii/hermits/frenchkeralis-common.ts
  common/cards/alter-eogs-ii/hermits/overseer-rare.ts
  common/cards/alter-eogs-ii/hermits/shadee-common.ts
  common/cards/alter-eogs-ii/hermits/steampunktango-common.ts
  common/cards/alter-eogs-ii/hermits/wormman-common.ts
  common/config/debug-config.json
  common/config/expansions.json
  common/config/ranks.json
Due: none
