Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

forgot the config file...
  jest.config.mjs
Due: none

tsconfig for tests
  jest.config.mjs
  tests/tsconfig.json
Due: none

add unit tests to workflow
  .github/workflows/workflow.yaml
Due: none

add jest
  package-lock.json
  package.json
Due: none

Fix card typos and AE attack color
  client/src/components/card/hermit-card-svg.module.scss
  common/cards/alter-egos-ii/hermits/architectfalse-common.ts
  common/cards/alter-egos-ii/hermits/originalxb-common.ts
  common/cards/default/hermits/keralis-rare.ts
  common/cards/default/hermits/xbcrafted-common.ts
  common/cards/default/hermits/xbcrafted-rare.ts
Due: stylelint --fix

color and bug fixes
  client/src/components/formatting/formatting.module.scss
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/models/game-model.ts
Due: stylelint --fix

debug config
  common/config/debug-config.json
Due: none

Fix card typos and AE attack color (#546)
  client/src/components/card/hermit-card-svg.module.scss
  common/cards/alter-egos-ii/hermits/architectfalse-common.ts
  common/cards/alter-egos-ii/hermits/originalxb-common.ts
  common/cards/default/hermits/keralis-rare.ts
  common/cards/default/hermits/xbcrafted-common.ts
  common/cards/default/hermits/xbcrafted-rare.ts
Due: stylelint --fix

Fix debug config
  .gitignore
  common/config/debug-config.json.example
  common/config/index.ts
  server/src/routines/game.ts
  server/src/utils/index.ts
  server/src/utils/state-gen.ts
Due: none

debug config read me and warning
  README.md
  common/config/index.ts
Due: none

changes so it builds
  common/config/index.ts
Due: none

Fix workflows
  .github/workflows/workflow.yaml
Due: none

fix workflow for prettier
  .github/workflows/workflow.yaml
Due: none

update gitignore
  .gitignore
Due: none

readme
  README.md
Due: none

Update workflows
  .github/workflows/workflow.yaml
Due: none

update gitignore and add example
  .gitignore
  common/config/debug-config.example.json
Due: none

Update README.md
  README.md
Due: none

add concat function
  client/index.html
  client/src/components/card-list/card-list.tsx
  common/utils/formatting.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

oops
  client/index.html
Due: none

run linters
  server/src/routines/background/chat.ts
Due: none

Add a delay for coinflips before log sending
  client/src/logic/game/tasks/coin-flips-saga.ts
  common/models/battle-log-model.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
Due: eslint --max-warnings=0, prettier --write

Allow playing String in item slots and an item card
  common/cards/alter-egos/effects/string.ts
  server/src/routines/turn-actions/play-card.ts
Due: none

remove step 7 of attacks (not used right now and would actually break other cards if used)
  common/utils/attacks.ts
Due: none

fixes
  common/utils/formatting.ts
  server/src/routines/background/chat.ts
Due: none

change to use instanceof
  client/src/components/formatting/formatting.tsx
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

build error
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

did i fix it?
  .github/workflows/workflow.yaml
  README.md
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  jest.config.mjs
  package-lock.json
  tests/example.test.ts
  tests/tsconfig.json
Due: none

Explain how to create file in readme
  README.md
Due: none

change prettier target to entire project
  .github/workflows/workflow.yaml
Due: none

fix formatting
  common/status-effects/fire.ts
  common/status-effects/poison.ts
Due: none

Untrack debug config (#548)
  .github/workflows/workflow.yaml
  .gitignore
  README.md
  common/config/debug-config.example.json
Due: none

Chagne prettier target to entire project (#550)
  .github/workflows/workflow.yaml
  common/status-effects/fire.ts
  common/status-effects/poison.ts
Due: none

Add Unit Tests with Jest (#545)
  .github/workflows/workflow.yaml
  jest.config.mjs
  package-lock.json
  package.json
  tests/example.test.ts
  tests/tsconfig.json
Due: none

remove profanity filter again
  package.json
Due: none

package lock
  package-lock.json
Due: none

Fix goatfather not returning attack
  common/cards/alter-egos/hermits/goatfather-rare.ts
Due: none

Revert "change to use instanceof"
  client/src/components/formatting/formatting.tsx
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

Armor stand, attack fixes, and some healing cards
  client/src/app/game/chat/chat.tsx
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/default/effects/shield.ts
  common/cards/default/effects/totem.ts
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/keralis-rare.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/status-effects/sleeping.ts
  common/utils/attacks.ts
  server/src/routines/turn-actions/attack.ts
Due: eslint --max-warnings=0, prettier --write
