Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Redo sags to fix chat messages sending twice
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/models/battle-log-model.ts
  common/utils/formatting.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

Format
  client/src/app/game/chat/chat.tsx
  common/models/battle-log-model.ts
Due: eslint --max-warnings=0, prettier --write

Battle log improvements
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.tsx
  common/models/battle-log-model.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

add first snapshot test
  client/src/app/game/chat/chat.tsx
  tests/snapshots/chat.test.tsx
Due: eslint --max-warnings=0, prettier --write

Fix some issues
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Add missing snapshots
  jest.config.mjs
  tests/snapshots/__snapshots__/chat.test.tsx.snap
Due: none

some changes
  package-lock.json
  package.json
  tests/components/chat-content.spec.tsx
  tests/components/playwright.config.ts
  tests/snapshots/__snapshots__/chat.test.tsx.snap
  tests/snapshots/chat.test.tsx
Due: none

I AM GOING TO KILL MYSELF
  package-lock.json
  package.json
  playwright-ct.config.ts
  playwright.config.ts
  playwright/index.html
  playwright/index.tsx
  tests/components/chat-content.spec.tsx
  tests/components/tsconfig.json
  tests/components/tsconfig.tsbuildinfo
Due: none

Make it build anywhere
  playwright-ct.config.ts
Due: none

FUCK THIS
  tests/components/chat-content.spec.tsx
Due: none

Update snapshots
  tests/components/chat-content.spec.tsx
Due: none

Gitignore
  .gitignore
  package.json
  playwright/index.html
  playwright/index.tsx
Due: none

Delete tests/components/tsconfig.tsbuildinfo
  tests/components/tsconfig.tsbuildinfo
Due: none

Rename advent Joel to Stratos Joel
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
Due: none

Move components
  playwright-ct.config.ts
  tests/components/chat-content.spec.tsx
  tests/components/tsconfig.json
  tests/components/tsconfig.tsbuildinfo
Due: none

Move components
  tests/ct/chat-content.spec.tsx
  tests/ct/tsconfig.json
  tests/ct/tsconfig.tsbuildinfo
Due: none

ct
  .github/workflows/ci.yaml
Due: none

remove buildinfo
  tests/ct/tsconfig.json
Due: none

Fix error when selected card is discarded
  client/src/app/game/board/board-slot.tsx
  client/src/logic/game/game-reducer.ts
Due: eslint --max-warnings=0, prettier --write

playwright
  .gitignore
  playwright/index.html
Due: none

playwright
  playwright/index.tsx
Due: none

BUILD
  playwright-ct.config.ts
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Empty-Chat-Messages-Display-Properly-1-firefox-linux.png
Due: none

Fix logs for `ExBossNineEffect` and Spyglass
  common/cards/default/single-use/spyglass.ts
  common/status-effects/exboss-nine.ts
Due: none

fix Pharaoh card rendering
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/base/types.ts
Due: none

change
  client/src/app/game/chat/chat.tsx
  common/config/index.ts
  common/utils/formatting.ts
  package-lock.json
  package.json
  playwright-ct.config.ts
  playwright/index.tsx
  tests/ct/chat-content.spec.tsx
  tests/ct/tsconfig.json
  tests/ct/tsconfig.tsbuildinfo
Due: eslint --max-warnings=0, prettier --write

changes
  .gitignore
  README.md
  package.json
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/A-message-1-firefox-linux.png
Due: none

style changes
  common/config/index.ts
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/A-message-1-firefox-linux.png
  tests/ct/chat-content.spec.tsx
Due: none

changes
  client/src/app/game/chat/chat.module.scss
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/A-message-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Empty-Chat-Messages-Display-Properly-1-firefox-linux.png
  tests/ct/chat-content.spec.tsx
Due: stylelint --fix

changes
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/A-message-1-firefox-linux.png
  tests/ct/chat-content.spec.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

This is broken
  client/src/app/game/chat/chat.tsx
  common/config/index.ts
Due: eslint --max-warnings=0, prettier --write

revert chat changes
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Runs on newer node somehow
  common/config/index.ts
  playwright-ct.config.ts
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/A-message-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Empty-Chat-Messages-Display-Properly-1-firefox-linux.png
Due: none

Changes to serving
  client/src/app/game/chat/chat.tsx
  client/vite.config.js
  playwright-ct.config.ts
  playwright/index.html
  playwright/index.tsx
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/A-message-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Empty-Chat-Messages-Display-Properly-1-firefox-linux.png
  tests/ct/chat-content.spec.tsx
  tests/ct/empty-dict.js
Due: eslint --max-warnings=0, prettier --write

Bump vite
  common/config/index.ts
  package-lock.json
  package.json
  playwright-ct.config.ts
Due: none

???
  package-lock.json
  package.json
Due: none

This is so annoying
  package-lock.json
  package.json
Due: none

JSON assert
  common/config/index.ts
Due: none

this is so annoying
  client/vite.config.js
  common/components/query/card.ts
Due: none

make it build fr
  client/vite.config.js
  package-lock.json
  package.json
Due: none

revert
  client/vite.config.js
  common/config/index.ts
  package-lock.json
  package.json
Due: none
