Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

update explorer and redstone rewards
  client/public/images/cosmetics/background/explorer.png
  client/public/images/cosmetics/background/redstone.png
Due: none

Rename "Untouchable" to "Can't Touch This!" (#1270)
  common/achievements/cant-touch-this.ts
  common/achievements/index.ts
  common/cosmetics/hearts.ts
Due: none

Add Tests To Ensure Achievements Have Unique IDs (#1269)
  tests/unit/common/unique-ids.test.ts
Due: none

Final achievements (#1254)
  common/achievements/designer.ts
  common/achievements/hot-take.ts
  common/achievements/index.ts
  common/achievements/innefective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/team-star.ts
Due: none

Fix deprecation warnings (#1267)
  client/src/app/game/player-info/player-info.module.scss
Due: stylelint --fix

Play Screen Rework (#1272)
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/game-mode-button/index.ts
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
  client/src/components/hermit-button/index.ts
  client/src/components/modal/modal.tsx
  client/src/components/toast/toast.module.scss
  client/src/components/toast/toast.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-selectors.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/utils/sorting.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

SUStainable Achievement (#1264)
  client/public/images/cosmetics/heart/emerald.png
  common/achievements/index.ts
  common/achievements/sustainable.ts
  common/cosmetics/hearts.ts
  common/cosmetics/hearts/soulflame.ts
  tests/unit/game/achivements/sustainable.test.ts
Due: none

Fix Achievement Mistakes and Link to Rewards (#1268)
  client/public/images/cosmetics/coin/dinnerbone.png
  client/public/images/cosmetics/coin/server-lag.png
  client/public/images/cosmetics/coin/slime.png
  client/public/images/cosmetics/heart/gold.png
  client/src/app/main-menu/cosmetics.tsx
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/index.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/no-derpcoins.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/untouchable.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
  common/cosmetics/backgrounds.ts
  common/cosmetics/borders.ts
  common/cosmetics/coins.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write

Update play screen to work on mobile
  client/src/app/main-menu/play-select.module.scss
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

switch around sides
  client/src/components/game-mode-button/game-mode-button.module.scss
Due: stylelint --fix

alignment and lint
  client/src/app/main-menu/play-select.module.scss
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Mobile play screen (#1273)
  client/src/app/main-menu/play-select.module.scss
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

First test fixed
  tests/e2e/private-queue.spec.ts
Due: none

Update CT tests
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
Due: none

FIX MORE TESTS
  tests/e2e/private-queue.spec.ts
Due: none

FIX MORE TESTS
  tests/e2e/private-queue.spec.ts
  tests/e2e/reconnect.spec.ts
Due: none

Undo component test chagnes
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
Due: none

Fix tests
  tests/e2e/private-queue.spec.ts
  tests/e2e/reconnect.spec.ts
Due: none

fix tests for real
  tests/e2e/private-queue.spec.ts
Due: none

Fix e2e Tests (#1274)
  tests/e2e/private-queue.spec.ts
  tests/e2e/reconnect.spec.ts
Due: none

add cave spider coin
  client/public/images/cosmetics/coin/cave-spider.png
  common/achievements/eye-of-the-spider.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
Due: none

Add tests
  common/achievements/eye-of-the-spider.ts
  tests/unit/game/achivements/eye-of-the-spider.test.ts
Due: none

format
  common/achievements/eye-of-the-spider.ts
  tests/unit/game/achivements/eye-of-the-spider.test.ts
Due: none

gold rewards
  client/public/images/cosmetics/border/gold_border.png
  client/public/images/cosmetics/heart/gold.png
Due: none

Fun test fixes!
  common/achievements/eye-of-the-spider.ts
  tests/unit/game/achivements/eye-of-the-spider.test.ts
Due: none

Set cosmetics fix
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Update client/src/logic/session/session-saga.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add fuzz tests for game replays
  tests/fuzz/run-game.ts
Due: none

selected slots
  server/src/routines/turn-action-compressor.ts
Due: none

add some assertions
  server/src/routines/turn-action-compressor.ts
Due: none

Better assertions
  server/src/routines/turn-action-compressor.ts
Due: none

Better assertions
  tests/fuzz/run-game.ts
Due: none

add assertion card is in hand
  server/src/routines/turn-actions.ts
Due: none

Fix cosmetics not being set properly (#1276)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

change random things
  server/src/routines/turn-action-compressor.ts
  tests/fuzz/run-game.ts
  tests/replays/replays.test.ts
Due: none

Add loyalty III achievement
  common/achievements/loyalty-iii.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
