Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Add tests for World Build
  tests/unit/game/hermits/pixlriffs-rare.test.ts
Due: none

fix World Build interactions with Naughty
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  tests/unit/game/hermits/pixlriffs-rare.test.ts
Due: none

Fix build typescript error
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
Due: none

?
  server/src/routines/matchmaking.ts
Due: none

format
  client/src/app/main-menu/main-menu.tsx
  client/src/debug.ts
  client/src/index.tsx
  server/src/api/index.ts
  tests/e2e/queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

fix unused variable
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write

add some docs
  tests/README.md
Due: none

move test API
  package.json
  tests/sh/test-api
Due: none

Make it more bespoke
  tests/sh/test-api
  tests/sh/utils
Due: none

Move cleanup code
  tests/sh/utils
Due: none

Move cleanup code
  tests/sh/test-api
  tests/sh/utils
Due: none

Query param docs
  tests/README.md
Due: none

More docs
  tests/README.md
Due: none

change
  tests/README.md
Due: none

Unexpand tab
  tests/sh/utils
Due: none

chnages
  tests/README.md
Due: none

run tests with the right command
  .github/workflows/ci.yaml
Due: none

Improve Documentation and Power of e2e Tests (#920)
  .github/workflows/ci.yaml
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/debug.ts
  client/vite.config.js
  common/config/index.ts
  esbuild.js
  package.json
  server/src/api/index.ts
  tests/README.md
  tests/e2e/queue.spec.ts
  tests/e2e/reload.spec.ts
  tests/e2e/updates.spec.ts
  tests/sh/test-api
  tests/sh/utils
Due: eslint --max-warnings=0, prettier --write

rename
  client/src/app/main-menu/main-menu.tsx
  client/src/debug.ts
  tests/README.md
  tests/e2e/private-queue.spec.ts
  tests/e2e/reload.spec.ts
Due: eslint --max-warnings=0, prettier --write

improve tests
  tests/e2e/private-queue.spec.ts
Due: none

remove players from private queue when they press leave for API matches
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/socket-messages/client-messages.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

MORE E2E
  client/src/debug.ts
  server/src/api/index.ts
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

fix tests
  tests/e2e/private-queue.spec.ts
Due: none

Changes
  tests/e2e/private-queue.spec.ts
Due: none

Discover test is broken
  tests/e2e/private-queue.spec.ts
  tests/e2e/queue.spec.ts
Due: none

Fix endpoint
  tests/e2e/private-queue.spec.ts
Due: none

Fix spectators leaving
  client/src/logic/matchmaking/matchmaking-saga.ts
  server/src/api/games.ts
Due: eslint --max-warnings=0, prettier --write

Update branch to 0.8.23
  client/src/app/main-menu/boss-landing.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

improve README
  API.md
Due: none

Allow Games To Be Created With the HC-TCG API (#924)
  API.md
  client/src/app/main-menu/main-menu.tsx
  client/src/debug.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/models/root-model.ts
  common/socket-messages/client-messages.ts
  server/src/api/games.ts
  server/src/api/index.ts
  server/src/api/schema.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  tests/README.md
  tests/e2e/private-queue.spec.ts
  tests/e2e/queue.spec.ts
  tests/e2e/reload.spec.ts
Due: eslint --max-warnings=0, prettier --write

Add test for armor stand freezing correct slots (#923)
  common/cards/alter-egos/effects/armor-stand.ts
  tests/unit/game/effects/armor-stand.test.ts
Due: none

Add victory tests and consolidate hooks
  common/cards/boss/hermits/evilxisuma_boss.ts
  tests/unit/game/hermits/evilxisuma-boss.test.ts
  tests/unit/game/utils.ts
Due: none

menu changes
  client/src/app/app.tsx
  client/src/app/main-menu/create-private.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/private-game.tsx
Due: eslint --max-warnings=0, prettier --write

Update branch with consolidated hooks
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/bigbst4tz2-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/status-effects/dyed.ts
  common/status-effects/melody.ts
  common/status-effects/naughty-regift.ts
  common/status-effects/protected.ts
  common/status-effects/soulmate.ts
  tests/unit/game/hermits/bigbst4tz2-rare.test.ts
Due: none

move buttons
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fade
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/private-game.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Move around menus
  client/src/app/app.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/private-game.tsx
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
