Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Rename Player status effects to Global
  client/src/app/game/board/board-row.tsx
  client/src/components/status-effects/status-effect-tooltip.tsx
  common/types/server-requests.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

changes
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/netherite-sword.ts
  common/types/server-requests.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make grand architect work retroactively
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/base/card.ts
  common/components/card-component.ts
  common/components/player-component.ts
  common/models/attack-model.ts
  common/status-effects/amnesia.ts
  common/status-effects/index.ts
  common/status-effects/singleturn-attack-disabled.ts
  common/utils/state-gen.ts
Due: none

Fix bug where totem sets hp to 10 (#697)
  common/cards/default/effects/totem.ts
Due: none

Rename Player Status Effects to Global (#698)
  client/src/app/game/board/board-row.tsx
  client/src/components/status-effects/status-effect-tooltip.tsx
  common/types/server-requests.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Make grand architect work retroactively (#699)
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/base/card.ts
  common/components/card-component.ts
  common/components/player-component.ts
  common/models/attack-model.ts
  common/status-effects/amnesia.ts
  common/status-effects/index.ts
  common/status-effects/singleturn-attack-disabled.ts
  common/utils/state-gen.ts
Due: none

fix bugs
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/components/import-export/import-export-utils.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

change attack modal colors
  client/src/app/game/modals/game-modals.module.scss
Due: stylelint --fix

lava bucket
  common/cards/default/effects/totem.ts
Due: none

target block
  client/public/images/status/target-block.png
  common/cards/alter-egos/single-use/target-block.ts
  common/status-effects/index.ts
  common/status-effects/target-block.ts
Due: none

Fix buggy timer behavior
  client/src/app/game/timer/timer.tsx
  common/types/game-state.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Various fixes for 0.8.2
  common/cards/alter-egos-iii/hermits/beetlejhost-rare.ts
  common/cards/alter-egos-iii/hermits/helsknight-common.ts
  common/cards/alter-egos-iii/hermits/index.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
Due: none

Fix Totem of Undying not Triggering When Lava Bucket Kills Hermit (#700)
  common/cards/default/effects/totem.ts
Due: none

Various fixes for 0.8.2 (#702)
  common/cards/alter-egos-iii/hermits/beetlejhost-rare.ts
  common/cards/alter-egos-iii/hermits/helsknight-common.ts
  common/cards/alter-egos-iii/hermits/index.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
Due: none

left pad seconds
  client/src/app/game/timer/timer.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Buggy Timer (#703)
  client/src/app/game/timer/timer.tsx
  common/types/game-state.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

fix looting
  common/cards/default/single-use/looting.ts
Due: none

Fix looting giving card to opponent (#704)
  common/cards/default/single-use/looting.ts
Due: none

changes
  common/cards/default/hermits/hypnotizd-rare.ts
  common/components/player-component.ts
  common/models/game-model.ts
  common/types/action-data.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions/pick-request.ts
Due: none

more fixes
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/game/timer/timer.tsx
  client/src/app/game/toolbar/chat-item.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/game/local-state.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  client/src/logic/game/tasks/attack-saga.ts
  client/src/logic/game/tasks/coin-flips-saga.ts
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/types/game-state.ts
  common/types/modal-requests.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

work
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/default/hermits/ijevin-rare.ts
  common/cards/default/hermits/tangotek-rare.ts
  common/cards/default/single-use/knockback.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-actions/modal-request.ts
Due: none

The code works now
  client/src/logic/game/tasks/slot-saga.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

more changes
  server/src/plugins/firebase-logs.ts
  server/src/routines/game.ts
Due: none

fix jevin
  common/cards/default/hermits/ijevin-rare.ts
Due: none

Fix Jevin Creating Pick Request With No Active Hermits (#707)
  common/cards/default/hermits/ijevin-rare.ts
Due: none

Consider slots as empty if the hermit is dead
  common/components/query/slot.ts
Due: none

Consider slots as empty if the hermit is dead (#708)
  common/components/query/slot.ts
Due: none

enable boomer bdubs common
  common/cards/alter-egos-iii/hermits/index.ts
Due: none

Enable Boomer Bdubs Common (#709)
  common/cards/alter-egos-iii/hermits/index.ts
Due: none

Switch to preact
  client/tsconfig.json
  package-lock.json
  package.json
Due: none

fix linters
  client/tsconfig.json
Due: none

Allow emerald to force attach card on opponent
  common/cards/default/single-use/emerald.ts
Due: none

prettier
  common/cards/default/single-use/emerald.ts
Due: none

Fix bug where last 10s sound effects would not work
  client/src/app/game/timer/timer.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Bug Where Last 10s Sound Effects would not work (#712)
  client/src/app/game/timer/timer.tsx
Due: eslint --max-warnings=0, prettier --write

make buttons work
  client/src/app/game/chat/chat.tsx
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/chat-item.tsx
  client/src/app/game/toolbar/sound-item.tsx
  client/src/app/game/toolbar/tooltips-item.tsx
  client/src/app/main-menu/settings.tsx
  client/src/components/modal/modal.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

chat adjustments
  client/src/app/game/chat/chat.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

prettier
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
