Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Lint
  client/src/app/game/toolbar/music-item.tsx
Due: eslint --max-warnings=0, prettier --write

Fix stuff
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

fix CI
  common/achievements/eye-of-the-spider.ts
  common/achievements/loyalty-iii.ts
Due: none

fix CI (#1287)
  common/achievements/eye-of-the-spider.ts
  common/achievements/loyalty-iii.ts
Due: none

update modal
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
Due: stylelint --fix

fix
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
Due: stylelint --fix

ct update
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/components/toast/toast.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

start
  server/src/routines/virtual/index.ts
  server/src/routines/virtual/pharaohboss-ai.ts
Due: none

Minor deck edit improvements
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fix End Turn Modal and CT Tests (#1288)
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix riddle lines not being seperate paragrah
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

Fix riddle paragraphs (#1289)
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

Start pharaoh fight
  common/types/virtual-ai.ts
  common/utils/state-gen.ts
  server/src/routines/matchmaking.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/pharaohboss-ai.ts
Due: none

Go Fish
  common/achievements/go-fish.ts
  common/achievements/index.ts
  tests/unit/game/achivements/go-fish.test.ts
Due: none

fix id
  common/achievements/go-fish.ts
Due: none

Fix cod requirement
  common/cosmetics/coins.ts
Due: none

Rename import deck to Import
  client/src/components/import-export/import-modal.tsx
Due: eslint --max-warnings=0, prettier --write

WORKS
  common/achievements/index.ts
  common/achievements/useless-machine.ts
  common/cards/single-use/composter.ts
  common/components/query/slot.ts
  tests/unit/game/achivements/useless-machine.test.ts
Due: none

fix
  tests/unit/game/achivements/useless-machine.test.ts
Due: none

make go fish code better
  common/achievements/go-fish.ts
Due: none

cosmetic
  common/cosmetics/coins.ts
Due: none

targeted lightning
  common/achievements/targeted-lightning.ts
Due: none

WTF
  common/achievements/index.ts
  common/achievements/targeted-lightning.ts
  tests/unit/game/achivements/targeted-lightning.test.ts
Due: none

Targeted lightning
  common/cosmetics/hearts.ts
Due: none

annoying
  client/public/images/cosmetics/heart/copper.png
Due: none

format
  tests/unit/game/achivements/targeted-lightning.test.ts
Due: none

WHAT
  common/achievements/targeted-lightning.ts
Due: none

fix testing issues
  tests/unit/game/achivements/targeted-lightning.test.ts
Due: none

Last cosmetics
  client/public/images/cosmetics/coin/skeleton.png
  client/public/images/cosmetics/coin/zombie.png
  common/cosmetics/coins.ts
Due: none

Fix border
  client/public/images/cosmetics/border/gold_border.png
Due: none

Add Targeting Lightning Achievement (#1293)
  client/public/images/cosmetics/heart/copper.png
  common/achievements/index.ts
  common/achievements/targeted-lightning.ts
  common/cosmetics/hearts.ts
  tests/unit/game/achivements/targeted-lightning.test.ts
Due: none

Add Go Fish Achievement (#1290)
  common/achievements/go-fish.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/go-fish.test.ts
Due: none

Useless Machine Achievement (#1292)
  common/achievements/index.ts
  common/achievements/useless-machine.ts
  common/cards/single-use/composter.ts
  common/components/query/slot.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/useless-machine.test.ts
Due: none

More cosmetic rewards (#1294)
  client/public/images/cosmetics/background/classic_preview.png
  client/public/images/cosmetics/border/gold_border.png
  client/public/images/cosmetics/coin/cat.png
  client/public/images/cosmetics/coin/skeleton.png
  client/public/images/cosmetics/coin/zombie.png
  client/public/images/cosmetics/heart/gold.png
  client/src/app/main-menu/cosmetics.tsx
  common/cosmetics/backgrounds.ts
  common/cosmetics/coins.ts
  common/cosmetics/types.ts
Due: eslint --max-warnings=0, prettier --write

change
  common/achievements/hurtin-hermits.ts
  common/achievements/index.ts
Due: none

change
  common/achievements/hurtin-hermits.ts
Due: none

Add reward
  common/cosmetics/coins.ts
Due: none

test passed
  tests/unit/game/achivements/hurtin-hermits.test.ts
Due: none

changes
  tests/unit/game/achivements/hurtin-hermits.test.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
