Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix Decks Not Being Sorted In HOF (#1155)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/hall-of-fame.tsx
  common/utils/cards.ts
Due: eslint --max-warnings=0, prettier --write

Improve Text For Games Endpoint in HOF (#1154)
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Move game meta information out of game object
  common/models/game-model.ts
  server/src/game-controller.ts
  server/src/root-model.ts
  server/src/routines/matchmaking.ts
Due: none

remove chat from game
  common/models/game-model.ts
Due: none

Some more changes
  common/models/game-model.ts
  server/src/api/games.ts
  server/src/game-controller.ts
  server/src/root-model.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/selectors.ts
Due: none

Battle log things
  common/models/game-model.ts
  server/src/game-controller.ts
Due: none

chat update for battle log
  common/models/battle-log-model.ts
  common/models/game-model.ts
  server/src/game-controller.ts
Due: none

some more modifications
  server/src/game-controller.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

Send chat on reconnection to game
  client/src/logic/game/game-saga.ts
  common/socket-messages/server-messages.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

coerce the nulls
  common/models/game-model.ts
  server/src/game-controller.ts
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
Due: none

all the errors
  server/src/api/games.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/virtual/virtual-action.ts
Due: none

format
  server/src/routines/virtual/virtual-action.ts
Due: none

Give a few more options in the deck dropdown
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Give a few more options in the deck dropdown (#1157)
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Checkbox fix hopefully
  client/src/components/checkbox/checkbox.module.scss
  client/src/components/dropdown/dropdown.module.scss
Due: stylelint --fix

wtf
  server/src/routines/virtual/virtual-action.ts
Due: none

death to all sagas
  server/src/routines/game.ts
Due: none

?
  server/src/game-controller.ts
Due: none

change
  server/src/routines/game.ts
Due: none

Checkbox size fix (#1158)
  client/src/components/checkbox/checkbox.module.scss
  client/src/components/dropdown/dropdown.module.scss
Due: stylelint --fix

renames part 1
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

renames part 2
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

Fix errors
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

changes
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
  tests/unit/game/utils.ts
Due: none

Move broadcast function to game controller
  server/src/game-controller.ts
  server/src/routines/game.ts
Due: none

Remove viewer component
  common/components/viewer-component.ts
  server/src/game-controller.ts
Due: none

some more changes
  common/entities.ts
  common/models/game-model.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
  server/src/utils/state-gen.ts
Due: none

move timeout for coinflip to game controller
  common/models/battle-log-model.ts
  common/models/game-model.ts
  server/src/game-controller.ts
Due: none

some adjustments
  common/models/battle-log-model.ts
  server/src/api/games.ts
  server/src/game-controller.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/connection-status.ts
  server/src/selectors.ts
Due: none

almost done
  server/src/api/games.ts
  server/src/game-controller.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/utils/index.ts
Due: none

hopefully done
  server/src/game-controller.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/player.ts
  server/src/utils/index.ts
Due: none

Fix
  server/src/utils/state-gen.ts
Due: none

Build issues
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write

[Dead Reckoning 2] Split game away from concept of viewers (#1156)
  client/src/logic/game/game-saga.ts
  common/components/viewer-component.ts
  common/entities.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/socket-messages/server-messages.ts
  server/src/api/games.ts
  server/src/game-controller.ts
  server/src/root-model.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/spectators.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/routines/virtual/virtual-action.ts
  server/src/utils/index.ts
  server/src/utils/state-gen.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

dont use generator for turn actions
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
Due: none

more changes
  server/src/routines/game.ts
Due: none

remove more generators
  server/src/routines/game.ts
Due: none

Re-texture Iskall85 to Farmer Beef
  client/public/images/backgrounds/farmerbeef.png
  client/public/images/hermits-nobg/farmerbeef.png
  client/public/images/hermits-nobg/iskall85.png
  common/cards/hermits/farmerbeef-common.ts
  common/cards/hermits/farmerbeef-rare.ts
  common/cards/hermits/index.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/farmerbeef_common.png
  client/public/images/cards/farmerbeef_common_with_tokens.png
  client/public/images/cards/farmerbeef_rare.png
  client/public/images/cards/farmerbeef_rare_with_tokens.png
Due: none
