Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Implemented Llamadad
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/llamadad-rare.js
Due: eslint --max-warnings=0, prettier --write

Image (Hoffen) and Background (Benji) for Llamadad
  client/public/images/backgrounds/llamadad.png
  client/public/images/hermits-nobg/llamadad.png
Due: none

Beetlejhost, Evil Jevin and Poultry Man
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/beetlejhost-common.js
  server/cards/card-plugins/hermits/eviljevin-common.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/poultryman-common.js
Due: eslint --max-warnings=0, prettier --write

Images (Hoffen) and Backgrounds (Benji)
  client/public/images/backgrounds/beetlejhost.png
  client/public/images/backgrounds/eviljevin.png
  client/public/images/backgrounds/poultryman.png
  client/public/images/hermits-nobg/beetlejhost.png
  client/public/images/hermits-nobg/eviljevin.png
  client/public/images/hermits-nobg/poultryman.png
Due: none

Trident
  client/public/images/effects/trident.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/trident.js
Due: eslint --max-warnings=0, prettier --write

Update and Enable Sweeping Edge
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/sweeping-edge.js
Due: eslint --max-warnings=0, prettier --write

PotatoBoy
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/potatoboy-rare.js
Due: eslint --max-warnings=0, prettier --write

Image (Hoffen) and Background (Benji) for PotatoBoy
  client/public/images/backgrounds/potatoboy.png
  client/public/images/hermits-nobg/potatoboy.png
Due: none

Thorns II and Thorns III
  client/public/images/effects/thorns_ii.png
  client/public/images/effects/thorns_iii.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/effects/index.js
  server/cards/card-plugins/effects/thorns-ii.js
  server/cards/card-plugins/effects/thorns-iii.js
Due: eslint --max-warnings=0, prettier --write

EnderPearl
  client/public/images/effects/ender_pearl.png
  server/cards/card-plugins/effects/milk-bucket.js
  server/cards/card-plugins/effects/water-bucket.js
  server/cards/card-plugins/hermits/keralis-rare.js
  server/cards/card-plugins/hermits/tangotek-rare.js
  server/cards/card-plugins/hermits/zombiecleo-rare.js
  server/cards/card-plugins/single-use/bow.js
  server/cards/card-plugins/single-use/crossbow.js
  server/cards/card-plugins/single-use/ender-pearl.js
  server/cards/card-plugins/single-use/golden-apple.js
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/instant-health-ii.js
  server/cards/card-plugins/single-use/instant-health.js
  server/types/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: prettier --write

Forgot this.
  client/src/components/import-export/import-export-const.ts
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Typos
  server/types/index.js
Due: prettier --write

Linter issues
  server/cards/card-plugins/hermits/keralis-rare.js
  server/cards/card-plugins/single-use/golden-apple.js
  server/cards/card-plugins/single-use/instant-health-ii.js
  server/cards/card-plugins/single-use/instant-health.js
Due: prettier --write

Egg
  client/public/images/effects/egg.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/egg.js
  server/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Add apis
  .gitignore
  server/api.js
  server/index.js
Due: prettier --write

Don't error if there is no api key
  server/api.js
Due: prettier --write

Send more data
  server/api.js
Due: prettier --write

Minor changes and add player name to api
  server/api.js
Due: prettier --write

Add bad omen effect
  server/routines/game.js
  server/utils/index.js
Due: prettier --write

Add bad omen card (effect look still wip)
  client/public/images/effects/bad_omen.png
  client/public/images/status/bad-omen.png
  client/src/app/game/board/board.module.css
  client/src/components/import-export/import-export-const.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/types/game-state.ts
  server/cards/card-plugins/single-use/bad-omen.js
  server/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Update and Enable Sweeping Edge (#148)
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/sweeping-edge.js
Due: eslint --max-warnings=0, prettier --write

EnderPearl (#151)
  client/public/images/effects/ender_pearl.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/effects/milk-bucket.js
  server/cards/card-plugins/effects/water-bucket.js
  server/cards/card-plugins/hermits/keralis-rare.js
  server/cards/card-plugins/hermits/tangotek-rare.js
  server/cards/card-plugins/hermits/zombiecleo-rare.js
  server/cards/card-plugins/single-use/bow.js
  server/cards/card-plugins/single-use/crossbow.js
  server/cards/card-plugins/single-use/ender-pearl.js
  server/cards/card-plugins/single-use/golden-apple.js
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/instant-health-ii.js
  server/cards/card-plugins/single-use/instant-health.js
  server/types/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Ender Pearl changes
  server/cards/card-plugins/effects/milk-bucket.js
  server/cards/card-plugins/effects/water-bucket.js
  server/cards/card-plugins/hermits/keralis-rare.js
  server/cards/card-plugins/hermits/tangotek-rare.js
  server/cards/card-plugins/hermits/zombiecleo-rare.js
  server/cards/card-plugins/single-use/bow.js
  server/cards/card-plugins/single-use/crossbow.js
  server/cards/card-plugins/single-use/golden-apple.js
  server/cards/card-plugins/single-use/instant-health-ii.js
  server/cards/card-plugins/single-use/instant-health.js
Due: prettier --write

Egg (#152)
  client/public/images/effects/egg.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/egg.js
  server/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Changes to the hermit icons
  client/public/images/ranks/any.png
  client/public/images/ranks/any.svg
  client/public/images/ranks/diamond.png
  client/public/images/ranks/diamond.svg
  client/public/images/ranks/emerald.png
  client/public/images/ranks/emerald.svg
  client/public/images/ranks/gold.png
  client/public/images/ranks/gold.svg
  client/public/images/ranks/iron.png
  client/public/images/ranks/iron.svg
  client/public/images/ranks/netherite.png
  client/public/images/ranks/obsidian.svg
  client/public/images/ranks/stone.png
  client/public/images/ranks/stone.svg
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
  config/ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Egg fixes
  server/cards/card-plugins/single-use/egg.js
Due: prettier --write

Trident (#146)
  client/public/images/effects/trident.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/trident.js
Due: eslint --max-warnings=0, prettier --write

Command Block
  client/public/images/effects/command_block.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/effects/command-block.js
  server/cards/card-plugins/effects/index.js
  server/cards/card-plugins/hermits/grian-rare.js
  server/cards/card-plugins/hermits/tinfoilchef-ultra-rare.js
  server/cards/card-plugins/single-use/curse-of-vanishing.js
  server/cards/card-plugins/single-use/emerald.js
  server/cards/card-plugins/single-use/sweeping-edge.js
  server/routines/game.js
  server/utils/index.js
Due: eslint --max-warnings=0, prettier --write

rank png images update
  client/public/images/ranks/any.png
  client/public/images/ranks/diamond.png
  client/public/images/ranks/emerald.png
  client/public/images/ranks/gold.png
  client/public/images/ranks/gold.svg
  client/public/images/ranks/iron.png
  client/public/images/ranks/iron.svg
  client/public/images/ranks/obsidian.png
  client/public/images/ranks/obsidian.svg
  client/public/images/ranks/stone.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write

fix issues sense mentioned
  client/public/images/ranks/any.svg
  client/public/images/ranks/diamond.svg
  client/public/images/ranks/emerald.svg
  client/public/images/ranks/gold.svg
  client/public/images/ranks/iron.svg
  client/public/images/ranks/obsidian.svg
  client/public/images/ranks/stone.png
  client/public/images/ranks/stone.svg
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/item-card-svg.module.scss
Due: stylelint --fix

Bad omen changes and add universal player ailments
  client/src/app/game/board/board.module.css
  common/types/game-state.ts
  server/api.js
  server/cards/card-plugins/single-use/bad-omen.js
  server/models/game-model.js
  server/models/player-model.js
  server/models/root-model.js
  server/plugins/firebase-logs.js
  server/routines/game.js
  server/routines/matchmaking.js
  server/routines/player.js
  server/utils/index.js
  server/utils/state-gen.js
Due: prettier --write

Changes to the rarity icons (#153)
  client/public/images/ranks/any.png
  client/public/images/ranks/diamond.png
  client/public/images/ranks/emerald.png
  client/public/images/ranks/gold.png
  client/public/images/ranks/iron.png
  client/public/images/ranks/netherite.png
  client/public/images/ranks/obsidian.png
  client/public/images/ranks/stone.png
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
  config/ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Llamadad (#144)
  client/public/images/backgrounds/llamadad.png
  client/public/images/hermits-nobg/llamadad.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/llamadad-rare.js
Due: eslint --max-warnings=0, prettier --write

updates to the iron and obsidian token icons
  client/public/images/ranks/iron.png
  client/public/images/ranks/obsidian.png
Due: none

Fix keralis rare (select opponent afk hermit)
  client/src/app/game/game.tsx
  common/types/pick-process.ts
  config/debug-config.json
  server/cards/card-plugins/hermits/keralis-rare.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write
