Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

lint
  client/src/app/deck/deck-select.tsx
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write

oops
  client/public/images/cosmetics/background/dirt.png
  client/public/images/cosmetics/background/gravel.png
  common/cosmetics/backgrounds.ts
Due: none

add rewards
  client/public/images/cosmetics/background/dirt.png
  client/public/images/cosmetics/background/gravel.png
Due: none

rewards
  common/cosmetics/hearts.ts
Due: none

Fix issues
  client/public/images/cosmetics/title.png
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/components/checkbox/checkbox.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

set card entity
  common/components/card-component.ts
  common/components/query/slot.ts
  common/components/slot-component.ts
Due: none

lint
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/achievements.tsx
Due: eslint --max-warnings=0, prettier --write

what is going on
  common/components/card-component.ts
  common/components/query/slot.ts
  common/components/slot-component.ts
Due: none

Update to work on mobile
  client/src/app/main-menu/achievements.module.scss
Due: stylelint --fix

fix tests
  common/components/card-component.ts
  common/components/query/slot.ts
  common/components/slot-component.ts
  common/models/game-model.ts
Due: none

format
  common/components/slot-component.ts
Due: none

Fix issues with new dropdown component (#1336)
  client/src/app/deck/deck-select.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

cursed css that works
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Play screen fixes (#1325)
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

format
  client/src/app/game/toolbar/spectator-code-button.tsx
Due: eslint --max-warnings=0, prettier --write

unsafe fix
  client/src/app/game/toolbar/spectator-code-button.tsx
Due: eslint --max-warnings=0, prettier --write

Rework stats page
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix remaining dropdown issues
  client/src/app/app.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix remaining issues
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write

fix tags
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

reset color
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

optimize has
  common/components/query/slot.ts
Due: none

get rid of get cause its fast now!
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/advent-of-tcg/single-use/powder-snow-bucket.ts
  common/cards/advent-of-tcg/single-use/smithing-table.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/cards/hermits/hypnotizd-rare.ts
  common/cards/hermits/iskallman-rare.ts
  common/cards/hermits/jingler-rare.ts
  common/cards/hermits/kingjoel-rare.ts
  common/cards/hermits/princessgem-rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/cards/single-use/composter.ts
  common/cards/single-use/curse-of-vanishing.ts
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/lead.ts
  common/cards/single-use/looting.ts
  common/cards/single-use/target-block.ts
  common/components/query/slot.ts
  common/components/row-component.ts
  common/components/slot-component.ts
  common/models/battle-log-model.ts
  common/utils/turn-action-compressor.ts
  server/src/routines/turn-actions.ts
  server/src/utils/index.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/dungeontango-rare.test.ts
  tests/unit/game/effects/ladder.test.ts
  tests/unit/game/effects/shield.test.ts
  tests/unit/game/hermits/hypnotizd-rare.test.ts
  tests/unit/game/hermits/zombie-cleo-rare.test.ts
Due: none

format
  common/cards/hermits/hypnotizd-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/components/query/slot.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/dungeontango-rare.test.ts
  tests/unit/game/effects/ladder.test.ts
  tests/unit/game/effects/shield.test.ts
  tests/unit/game/hermits/hypnotizd-rare.test.ts
  tests/unit/game/hermits/zombie-cleo-rare.test.ts
Due: none

fix tootlip issue
  common/cosmetics/titles.ts
Due: none

add info
  docs/BANNING.md
  server/src/api/auth.ts
Due: none

Fix spectator codes
  server/src/routines/matchmaking.ts
Due: none

disable JOIN button if dekc is not selected
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write

Optimize Slot Empty Query (#1339)
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/advent-of-tcg/single-use/powder-snow-bucket.ts
  common/cards/advent-of-tcg/single-use/smithing-table.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/cards/hermits/hypnotizd-rare.ts
  common/cards/hermits/iskallman-rare.ts
  common/cards/hermits/jingler-rare.ts
  common/cards/hermits/kingjoel-rare.ts
  common/cards/hermits/princessgem-rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/cards/single-use/composter.ts
  common/cards/single-use/curse-of-vanishing.ts
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/lead.ts
  common/cards/single-use/looting.ts
  common/cards/single-use/target-block.ts
  common/components/card-component.ts
  common/components/query/slot.ts
  common/components/row-component.ts
  common/components/slot-component.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/utils/turn-action-compressor.ts
  server/src/routines/turn-actions.ts
  server/src/utils/index.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/dungeontango-rare.test.ts
  tests/unit/game/effects/ladder.test.ts
  tests/unit/game/effects/shield.test.ts
  tests/unit/game/hermits/hypnotizd-rare.test.ts
  tests/unit/game/hermits/zombie-cleo-rare.test.ts
Due: none

Game optimizations
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/logic/game/game-selectors.ts
Due: eslint --max-warnings=0, prettier --write

fixes
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

unsafe fix
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

more changes
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/player-info/player-info.tsx
Due: eslint --max-warnings=0, prettier --write

reduce even more reredners
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/player-info/player-info.tsx
Due: eslint --max-warnings=0, prettier --write

Disable Start Game Buttons If Deck Is Not Selected (#1343)
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

reduce even more reredners
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

reduce rerenders on active row change
  client/src/app/game/board/board-row.tsx
Due: eslint --max-warnings=0, prettier --write

compile error
  client/src/app/game/board/board-row.tsx
Due: eslint --max-warnings=0, prettier --write

undo changes to status effects
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
