Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Check empty slots before adding PLAY_ITEM_CARD and PLAY_EFFECT_CARD to available actions (#352)
  server/routines/game.js
Due: prettier --write

Revert golden axe
  common/cards/card-plugins/single-use/golden-axe.js
Due: none

Change armor to reset counter at the start of every turn, and also have clearer description
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/netherite-armor.js
Due: none

Change poison and rare x to 2 tokens
  config/ranks.json
Due: none

Human cleo bed and timeout fix
  common/cards/card-plugins/hermits/humancleo-rare.js
Due: none

Human cleo bed and timeout fix (#353)
  common/cards/card-plugins/hermits/humancleo-rare.js
Due: none

Remove autoimport
  common/cards/card-plugins/single-use/instant-health-ii.js
Due: none

JSDoc
  server/models/card-pos-model.js
Due: prettier --write

Missed those CardPos
  common/cards/card-plugins/hermits/humancleo-rare.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Audit fixes
  package-lock.json
  package.json
Due: none

Fixes
  common/cards/card-plugins/effects/armor-stand.js
  server/utils/cards.js
Due: prettier --write

Remove error when trying to attach to health card slot
  server/routines/turn-actions/play-card.js
Due: prettier --write

Thorns ignores armor
  common/cards/card-plugins/effects/thorns.js
  common/cards/card-plugins/effects/thorns_ii.js
  common/cards/card-plugins/effects/thorns_iii.js
Due: none

Changed thorns back to 2 cost
  config/ranks.json
Due: none

Beta v0.6.7
  config/server-config.json
Due: none

Revert "Audit fixes"
  package-lock.json
  package.json
Due: none

Remove unneeded import
  client/src/components/import-export/export-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fxi row 0 issue
  server/models/card-pos-model.js
Due: prettier --write

Fixes and don't check for empty row on hand
  common/cards/card-plugins/effects/armor-stand.js
  common/cards/card-plugins/effects/thorns.js
  common/cards/card-plugins/effects/thorns_ii.js
  common/cards/card-plugins/effects/thorns_iii.js
  server/utils/reqs.js
Due: prettier --write

Fix emerald
  common/cards/card-plugins/single-use/emerald.js
Due: none

updated panorama and added toggle to settings
  client/public/images/panorama/arena-cub/panorama_0.png
  client/public/images/panorama/arena-cub/panorama_1.png
  client/public/images/panorama/arena-cub/panorama_2.png
  client/public/images/panorama/arena-cub/panorama_3.png
  client/public/images/panorama/arena-cub/panorama_4.png
  client/public/images/panorama/arena-cub/panorama_5.png
  client/src/app/app.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write

Added x to speaker icon to indicate no volume
  client/src/components/svgs/SpeakerIcon.tsx
Due: eslint --max-warnings=0, prettier --write

organize game images & added board side setting
  client/public/images/game/border_frame.png
  client/public/images/game/frame.png
  client/public/images/game/frame_glow.png
  client/public/images/game/heart_empty.png
  client/public/images/game/heart_full.png
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

updated panorama and background
  client/src/app/app.tsx
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/toolbar/sound-item.tsx
  client/src/app/main-menu/settings.tsx
  client/src/components/background/background.module.scss
  client/src/components/background/background.tsx
  client/src/components/svgs/index.ts
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

updated end game overlay
  client/public/images/animations/defeat.gif
  client/public/images/animations/draw.gif
  client/public/images/animations/victory.gif
  client/public/images/game/border_frame_gold.png
  client/public/images/game/border_frame_green.png
  client/public/images/game/border_frame_red.png
  client/src/app/game/end-game-overlay/end-game-overlay.module.css
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

rewrite row reverse conditional
  client/src/app/game/board/board-row.tsx
Due: eslint --max-warnings=0, prettier --write

cleanup console logs
  client/src/app/game/actions/actions.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

updated animations
  client/public/images/animations/defeat.gif
  client/public/images/animations/draw.gif
  client/public/images/animations/victory.gif
Due: none

custom spinner colors and lost connection screen
  client/src/components/lost-connection/lost-connection.module.scss
  client/src/components/lost-connection/lost-connection.tsx
  client/src/components/spinner/spinner.module.scss
  client/src/components/spinner/spinner.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

created getOpponentName selector
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/logic/game/game-selectors.ts
Due: eslint --max-warnings=0, prettier --write

reworked card animations
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/chest-modal.tsx
  client/src/app/game/modals/discarded-modal.tsx
  client/src/app/game/modals/spyglass-modal.tsx
  client/src/components/card-list/card-list.module.scss
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

added 'activate hermit' message to actions
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/actions/actions.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

added changeHermit instructions to game status
  client/src/app/game/actions/actions.tsx
Due: eslint --max-warnings=0, prettier --write

fix height of end-game outcome animation
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
Due: stylelint --fix

new chat ui
  client/src/app/game/chat/chat.module.css
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix
