Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

String (#247)
  common/cards/card-plugins/effects/string.js
Due: none

Totem (#203)
  common/cards/card-plugins/effects/totem.js
Due: none

remove pharaoh
  client/public/images/hermits-nobg/pharaoh.png
Due: none

Lint cleanup so build works
  client/src/app/game/modals/unmet-condition-modal.tsx
  client/src/logic/game/tasks/attack-saga.ts
Due: eslint --max-warnings=0, prettier --write

Water bucket (#245)
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/water-bucket.js
Due: none

Improve asset quality for base hermits (#232)
  client/public/images/hermits-nobg/bdoubleo100.png
  client/public/images/hermits-nobg/beetlejhost.png
  client/public/images/hermits-nobg/cubfan135.png
  client/public/images/hermits-nobg/docm77.png
  client/public/images/hermits-nobg/ethoslab.png
  client/public/images/hermits-nobg/eviljevin.png
  client/public/images/hermits-nobg/evilxisuma.png
  client/public/images/hermits-nobg/falsesymmetry.png
  client/public/images/hermits-nobg/geminitay.png
  client/public/images/hermits-nobg/goatfather.png
  client/public/images/hermits-nobg/goodtimeswithscar.png
  client/public/images/hermits-nobg/grian.png
  client/public/images/hermits-nobg/helsknight.png
  client/public/images/hermits-nobg/hotguy.png
  client/public/images/hermits-nobg/humancleo.png
  client/public/images/hermits-nobg/hypnotizd.png
  client/public/images/hermits-nobg/ijevin.png
  client/public/images/hermits-nobg/impulsesv.png
  client/public/images/hermits-nobg/iskall85.png
  client/public/images/hermits-nobg/jingler.png
  client/public/images/hermits-nobg/joehills.png
  client/public/images/hermits-nobg/keralis.png
  client/public/images/hermits-nobg/llamadad.png
  client/public/images/hermits-nobg/mumbojumbo.png
  client/public/images/hermits-nobg/pearlescentmoon.png
  client/public/images/hermits-nobg/potatoboy.png
  client/public/images/hermits-nobg/poultryman.png
  client/public/images/hermits-nobg/renbob.png
  client/public/images/hermits-nobg/rendog.png
  client/public/images/hermits-nobg/stressmonster101.png
  client/public/images/hermits-nobg/tangotek.png
  client/public/images/hermits-nobg/tinfoilchef.png
  client/public/images/hermits-nobg/vintagebeef.png
  client/public/images/hermits-nobg/welsknight.png
  client/public/images/hermits-nobg/xbcrafted.png
  client/public/images/hermits-nobg/xisumavoid.png
  client/public/images/hermits-nobg/zedaphplays.png
  client/public/images/hermits-nobg/zombiecleo.png
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

New invis potion
  common/cards/card-plugins/single-use/invisibility-potion.js
Due: none

new gapple
  common/cards/card-plugins/single-use/golden-apple.js
Due: none

Joehills rare (#250)
  common/cards/card-plugins/hermits/joehills-rare.js
Due: none

Instant health I and II
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
Due: none

Thorns II and III
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/thorns_ii.js
  common/cards/card-plugins/effects/thorns_iii.js
  common/cards/card-plugins/effects/wolf.js
Due: eslint --max-warnings=0, prettier --write

Clean up
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/effects/command-block.js
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Clean up more
  common/cards/card-plugins/effects/index.js
Due: none

Fix effect card rarities
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/effects/string.js
  common/cards/card-plugins/effects/thorns_ii.js
  common/cards/card-plugins/effects/thorns_iii.js
Due: none

remove attack previews
  client/src/app/game/modals/attack-modal/attack-modal.module.css
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/attack.tsx
Due: eslint --max-warnings=0, prettier --write

Enable all AE cards
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/effects/armor-stand.js
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/hermits/index.js
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Temp fix for single use cards
  client/src/logic/game/tasks/action-logic-saga.ts
Due: eslint --max-warnings=0, prettier --write

evilxisuma change
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/hermits/index.js
Due: eslint --max-warnings=0, prettier --write

v0.6.0 beta
  config/server-config.json
Due: none

Add beta workflow for pr
  .github/workflows/workflow.yaml
Due: none

Server config fix
  config/server-config.json
Due: none

tsc fixes
  server/api.js
  server/plugins/firebase-logs.js
  server/utils/comm.js
Due: prettier --write

temp change to starter pack generation
  server/utils/state-gen.js
Due: prettier --write

remove attack previews (#253)
  client/src/app/game/modals/attack-modal/attack-modal.module.css
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/attack.tsx
Due: eslint --max-warnings=0, prettier --write

Looting ported
  client/src/app/game/modals/looting-modal.module.css
  client/src/app/game/modals/looting-modal.tsx
  common/cards/card-plugins/effects/looting.js
  common/cards/card-plugins/single-use/looting.js
Due: eslint --max-warnings=0, prettier --write

Spyglass ported
  client/src/app/game/modals/spyglass-modal.tsx
  common/cards/card-plugins/single-use/spyglass.js
Due: eslint --max-warnings=0, prettier --write

Chest ported
  client/src/app/game/modals/chest-modal.tsx
  common/cards/card-plugins/single-use/chest.js
Due: eslint --max-warnings=0, prettier --write

Grian ported
  common/cards/card-plugins/hermits/grian-rare.js
Due: none

Undo that
  common/cards/card-plugins/single-use/_single-use-card.js
  server/utils/index.js
Due: prettier --write

Added canAttach to Golden Apple
  common/cards/card-plugins/single-use/golden-apple.js
Due: none

Evil X
  client/public/images/hermits-nobg/evilx.png
  client/src/app/game/game.tsx
  client/src/app/game/modals/evil-x-modal.module.css
  client/src/app/game/modals/evil-x-modal.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/card-plugins/hermits/evilxisuma_rare.js
Due: eslint --max-warnings=0, prettier --write

Egg
  common/cards/card-plugins/single-use/egg.js
Due: none

helsknight rare fixed
  common/cards/card-plugins/hermits/helsknight-rare.js
Due: none

style changes
  common/cards/card-plugins/hermits/helsknight-rare.js
Due: none

Grian can have a Totem
  common/cards/card-plugins/hermits/grian-rare.js
Due: none

Allow the server to use more than one followup
  client/src/logic/game/tasks/action-logic-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fixed Totem
  common/cards/card-plugins/effects/totem.js
Due: none

Forgot to delete that.
  client/public/images/hermits-nobg/evilx.png
Due: none

Some Fixes
  common/cards/card-plugins/hermits/evilxisuma_rare.js
Due: none

Added SlotPos and swapPos to move cards properly
  common/cards/card-plugins/effects/loyalty.js
  common/cards/card-plugins/single-use/emerald.js
  common/cards/card-plugins/single-use/ladder.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/mending.js
  common/cards/card-plugins/single-use/piston.js
  common/types/cards.ts
  common/types/slots.ts
  server/utils/index.js
  server/utils/slots.js
Due: prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
