Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

change
  tests/db/database.test.ts
Due: none

format
  tests/db/database.test.ts
Due: none

Fix minor issues with the deck builder (#916)
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/components/card/mobile-card-component.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix Bug Where Health Would Jump Around When Placing Down a Card (#915)
  client/src/logic/game/local-state.ts
  client/src/logic/game/tasks/slot-saga.ts
Due: eslint --max-warnings=0, prettier --write

Create tests for ultra rare TFC
  tests/unit/game/hermits/tinfoilchef-ultra-rare.test.ts
Due: none

changes
  client/src/app/match-making/match-making.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  common/models/root-model.ts
  common/socket-messages/server-messages.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

changes
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Spectators can now join before games
  client/src/logic/matchmaking/matchmaking-saga.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Fix buggy spectator timer
  client/src/logic/matchmaking/matchmaking-reducer.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Fixed
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/socket-messages/client-messages.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Create tests for rare Worm Man
  tests/unit/game/hermits/tinfoilchef-ultra-rare.test.ts
  tests/unit/game/hermits/wormman-rare.test.ts
  tests/unit/game/hermits/zombie-cleo-rare.test.ts
Due: none

support turned over cards in logs
  common/models/battle-log-model.ts
  server/src/utils/index.ts
  tests/unit/game/hermits/wormman-rare.test.ts
Due: none

Add Test To Prevent Ghost Queues (#917)
  playwright.config.ts
  server/src/api/index.ts
  tests/e2e/reload.spec.ts
Due: none

Add __DEBUG_BUILD__
  client/vite.config.js
  esbuild.js
  server/src/api/index.ts
  server/src/global.d.ts
Due: none

chnage
  client/src/app/main-menu/settings.tsx
  common/config/index.ts
  server/src/api/index.ts
  server/src/global.d.ts
  tests/e2e/queue.spec.ts
  tests/e2e/reload.spec.ts
Due: eslint --max-warnings=0, prettier --write

idea: speed up builds
  package.json
Due: none

Fix "Take It Easy" interactions
  common/cards/default/hermits/tinfoilchef-ultra-rare.ts
  common/status-effects/index.ts
  common/status-effects/tfc-discarded-from.ts
Due: none

fix dockerfile
  Dockerfile
Due: none

test
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/debug.ts
  client/src/index.tsx
  tests/e2e/reload.spec.ts
  tests/e2e/updates.spec.ts
Due: eslint --max-warnings=0, prettier --write

Fix Worm Man interactions
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  tests/unit/game/hermits/zombie-cleo-rare.test.ts
Due: none

Fix linter error
  common/status-effects/tfc-discarded-from.ts
Due: none

Fix interactions with ultra-rare TFC and rare Worm Man (#921)
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  common/cards/default/hermits/tinfoilchef-ultra-rare.ts
  common/models/battle-log-model.ts
  common/status-effects/index.ts
  common/status-effects/tfc-discarded-from.ts
  server/src/utils/index.ts
  tests/unit/game/hermits/tinfoilchef-ultra-rare.test.ts
  tests/unit/game/hermits/wormman-rare.test.ts
  tests/unit/game/hermits/zombie-cleo-rare.test.ts
Due: none

Inserting and retrieving decks test
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

fix playing milk/water bucket as single use
  server/src/routines/game.ts
  tests/unit/game/effects/milk-bucket.test.ts
Due: none

Fix imports for linter
  tests/unit/game/effects/milk-bucket.test.ts
Due: none

Fix playing milk/water bucket as single use (#922)
  server/src/routines/game.ts
  tests/unit/game/effects/milk-bucket.test.ts
Due: none

Add Spectators (#793)
  client/public/images/toolbar/exit.png
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/chat/chat.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/exit-modal.tsx
  client/src/app/game/modals/index.ts
  client/src/app/game/toolbar/exit-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/match-making/match-making.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/game/tasks/action-modals-saga.ts
  client/src/logic/game/tasks/spectators.ts
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-selectors.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  common/models/game-model.ts
  common/models/root-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/game-state.ts
  server/src/plugins/firebase-logs.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/spectators.ts
  server/src/routines/getAttack.1.ts
  server/src/routines/getAttack.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turnActionSaga.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Add test for armor stand freezing correct slots
  common/cards/alter-egos/effects/armor-stand.ts
  tests/unit/game/effects/armor-stand.test.ts
Due: none

Add API for making games
  common/models/root-model.ts
  server/src/api/games.ts
  server/src/api/index.ts
  server/src/api/schema.ts
  server/src/routines/matchmaking.ts
Due: none

add some docs
  API.md
Due: none

lint
  server/src/api/index.ts
  server/src/api/schema.ts
Due: none

add support for titles into db schema
  server/src/db/db.ts
Due: none

Cancel matches correctly
  server/src/api/games.ts
Due: none

make cancel game a function
  common/models/root-model.ts
  server/src/api/games.ts
Due: none

Fix
  server/src/api/games.ts
Due: none

Changes
  tests/e2e/private-queue.spec.ts
Due: none

Add test
  tests/e2e/private-queue.spec.ts
Due: none

Update branch to 0.8.23
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/status-effects/cat-gift.ts
  common/status-effects/naughty-regift.ts
  common/status-effects/protected.ts
  common/status-effects/soulmate.ts
  common/utils/ranks.ts
  tests/unit/common/unique-ids.test.ts
Due: none

Add tests for and fix Slimeball
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/index.ts
  tests/unit/game/effects/slimeball.test.ts
  tests/unit/game/utils.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
