Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

more jamm fixes
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/base/card.ts
  common/cards/base/single-use-card.ts
  common/cards/default/single-use/golden-axe.ts
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Api update for new url (and maybe prevent crash) (#554)
  common/config/server-config.json
  server/src/api.ts
Due: none

improve documentation
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

say backslash
  common/utils/formatting.ts
Due: none

allow chat text to be selected
  client/src/components/formatting/formatting.module.scss
  client/src/components/formatting/formatting.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

final chat changes
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/formatting/formatting.tsx
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix helsknight cost
  common/cards/alter-egos/hermits/helsknight-rare.ts
Due: none

fix helsknight cost (#555)
  common/cards/alter-egos/hermits/helsknight-rare.ts
Due: none

reset properly
  client/src/app/app.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

data management settings visuals complete
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

reset chat window properly
  client/src/logic/local-settings/local-settings-actions.ts
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

center
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

prettier
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add missing file
  client/src/app/main-menu/data-settings.tsx
Due: eslint --max-warnings=0, prettier --write

Add "Reset Chat" button and improve reset settings (#556)
  client/src/app/app.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-actions.ts
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix refresh crash
  server/src/routines/background/connection-status.ts
Due: none

remove console.log
  server/src/routines/background/connection-status.ts
Due: none

Fix failure to reconnect when reloading page (#557)
  server/src/routines/background/connection-status.ts
Due: none

v0.7.1
  common/config/server-config.json
Due: none

version
  common/config/server-config.json
Due: none

fix xB and golden axe
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

docker buildx
  .github/workflows/workflow.yaml
Due: none

improve stability of grian
  client/src/app/game/game.tsx
  client/src/app/game/modals/borrow-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/default/hermits/grian-rare.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

build
  .github/workflows/workflow.yaml
Due: none

linters
  common/cards/default/hermits/grian-rare.ts
Due: none

docker image changes
  Dockerfile
Due: none

what am i doing
  Dockerfile
Due: none

copy config file
  Dockerfile
Due: none

I hate CI
  Dockerfile
Due: none

did i fix it?
  Dockerfile
Due: none

make sure the dockerfile runs
  Dockerfile
  package.json
Due: none

Fix XB and Golden Axe using the wrong pos (#560)
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Create Docker Build CI (#561)
  .github/workflows/workflow.yaml
  Dockerfile
  package.json
Due: none

Change Grian rare to using the selectCards modal instead of a custom modal (#562)
  client/src/app/game/game.tsx
  client/src/app/game/modals/borrow-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/default/hermits/grian-rare.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
