Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Add copper border
  client/public/images/cosmetics/border/copper_border.png
  common/cosmetics/borders.ts
Due: none

basic loyalty III
  common/achievements/loyalty-iii.ts
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

basic loyalty III
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

format
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

coin-flips
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  common/cards/hermits/boomerbdubs-rare.ts
  common/cards/hermits/docm77-rare.ts
  common/cards/hermits/ethoslab-rare.ts
  common/cards/hermits/ethoslab-ultra-rare.ts
  common/cards/hermits/eviljevin-rare.ts
  common/cards/hermits/evilxisuma-rare.ts
  common/cards/hermits/falsesymmetry-rare.ts
  common/cards/hermits/frenchkeralis-rare.ts
  common/cards/hermits/goatfather-rare.ts
  common/cards/hermits/grian-rare.ts
  common/cards/hermits/humancleo-rare.ts
  common/cards/hermits/jingler-rare.ts
  common/cards/hermits/joehills-rare.ts
  common/cards/hermits/kingjoel-rare.ts
  common/cards/hermits/llamadad-rare.ts
  common/cards/hermits/mumbojumbo-rare.ts
  common/cards/hermits/tinfoilchef-rare.ts
  common/cards/hermits/tinfoilchef-ultra-rare.ts
  common/cards/hermits/vintagebeef-rare.ts
  common/cards/hermits/xisumavoid-rare.ts
  common/cards/hermits/zedaphplays-rare.ts
  common/cards/single-use/egg.ts
  common/cards/single-use/invisibility-potion.ts
  common/cards/single-use/looting.ts
  common/cards/single-use/spyglass.ts
  common/cards/single-use/trident.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/bad-omen.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
  common/utils/coin-flips.ts
Due: none

More code
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

add new snapshots
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  common/types/game-state.ts
  server/src/routines/matchmaking.ts
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

add new snapshots
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

add new snapshots
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
Due: eslint --max-warnings=0, prettier --write

more updates
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
Due: eslint --max-warnings=0, prettier --write

This technically works
  client/src/app/game/actions/actions.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make play-select work properly
  client/src/app/app.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Disable most of the game screen on gameOver
  client/src/app/game/actions/actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/chat/chat.tsx
  client/src/app/game/game.module.scss
  client/src/app/game/game.tsx
  client/src/app/game/timer/timer.tsx
  client/src/app/game/toolbar/exit-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Lint
  client/src/app/game/actions/actions.tsx
  client/src/app/game/toolbar/exit-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write

more cosmetics
  client/public/images/cosmetics/background/classic_preview.png
  client/public/images/cosmetics/coin/cat.png
  client/src/app/main-menu/cosmetics.tsx
  common/cosmetics/backgrounds.ts
  common/cosmetics/coins.ts
  common/cosmetics/types.ts
Due: eslint --max-warnings=0, prettier --write

Add riddle to screen
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

lint
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

fix modal
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

Update icon to be property of achievement level
  client/public/images/cosmetics/coin/pink_sheep.png
  client/public/images/cosmetics/coin/server_lag.png
  client/src/app/main-menu/cosmetics.tsx
  client/src/components/achievement/achievement.tsx
  common/achievements/british.ts
  common/achievements/cant-touch-this.ts
  common/achievements/certified-zombie.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/sustainable.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/types.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
  common/cosmetics/borders.ts
  common/cosmetics/coins.ts
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write

Lint
  client/src/app/main-menu/cosmetics.tsx
  client/src/components/achievement/achievement.tsx
  common/achievements/wins.ts
Due: eslint --max-warnings=0, prettier --write

adjust
  common/achievements/inneffective.ts
  common/achievements/wipeout.ts
Due: none

various fixes
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/no-derpcoins.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/team-star.ts
  common/achievements/wins.ts
  common/models/game-model.ts
  tests/unit/game/achivements/designer.test.ts
  tests/unit/game/achivements/ethogirl.test.ts
  tests/unit/game/achivements/how-did-we-get-here.test.ts
  tests/unit/game/achivements/server-lag.test.ts
Due: none

make afterApply a PriorityHook
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/ore-snatcher.ts
  common/achievements/sustainable.ts
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/single-use/arrow-of-poison.ts
  common/cards/attach/milk-bucket.ts
  common/cards/attach/water-bucket.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/cards/hermits/poultryman-rare.ts
  common/cards/single-use/trident.ts
  common/components/player-component.ts
  common/status-effects/betrayed.ts
  common/status-effects/trap-hole.ts
  common/types/priorities.ts
Due: none

adjust
  common/achievements/pack-of-wolves.ts
  common/cosmetics/coins.ts
Due: none

alternitive
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Some Achievement Adjustments (#1283)
  common/achievements/inneffective.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/wipeout.ts
  common/cosmetics/coins.ts
Due: none

remove icon
  common/achievements/cant-touch-this.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/inneffective.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
Due: none

changes
  common/achievements/types.ts
Due: none

fix compile errors
  common/achievements/british.ts
  common/achievements/certified-zombie.ts
  common/achievements/decked-out.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/sustainable.ts
Due: none

fix
  client/src/app/main-menu/cosmsetics.module.scss
Due: stylelint --fix

fix
  client/src/components/achievement/achievement.module.scss
Due: stylelint --fix

AAAAA
  common/achievements/cant-touch-this.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/inneffective.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
Due: none

Alternitive Method To Get Achivement Icons (#1284)
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  common/achievements/british.ts
  common/achievements/cant-touch-this.ts
  common/achievements/certified-zombie.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/sustainable.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/types.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

more changes
  common/achievements/british.ts
  common/achievements/certified-zombie.ts
  common/achievements/hot-take.ts
  tests/unit/game/achivements/british.test.ts
Due: none

Add "Eye of the Spider" Achievement and Reward (#1275)
  client/public/images/cosmetics/coin/cave-spider.png
  common/achievements/eye-of-the-spider.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/eye-of-the-spider.test.ts
Due: none

Add Loyalty III Achievement (#1278)
  client/public/images/cosmetics/border/copper_border.png
  common/achievements/loyalty-iii.ts
  common/cosmetics/borders.ts
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

Custom Message For Opponent Disconnects (#1279)
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  common/types/game-state.ts
  server/src/routines/matchmaking.ts
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

Add riddle to screen (#1281)
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

lint and build errors
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/main-menu/play-select.tsx
  common/achievements/eye-of-the-spider.ts
  common/achievements/loyalty-iii.ts
  common/achievements/sustainable.ts
  tests/unit/game/achivements/british.test.ts
  tests/unit/game/achivements/designer.test.ts
  tests/unit/game/achivements/how-did-we-get-here.test.ts
  tests/unit/game/achivements/server-lag.test.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add mute music
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
