Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix issues with bad omen interactions with pearl
  common/ailments/badomen.ts
  common/ailments/slowness.ts
  common/config/debug-config.json
Due: none

Revert debug config changes
  common/config/debug-config.json
Due: none

Fix error with exporting decks
  client/src/components/import-export/mass-export-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fix dream being removed from the cards list so he can't be exported
  common/cards/default/hermits/dream-rare.ts
  common/cards/default/hermits/index.ts
  common/config/expansions.json
Due: none

Fix dream being removed from the cards list so he can't be exported (#465)
  common/cards/default/hermits/dream-rare.ts
  common/cards/default/hermits/index.ts
  common/config/expansions.json
Due: none

Sound issues fix
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Added EX Boss and fixed minor visuals
  client/src/app/game/board/board-row.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/logic/matchmaking/matchmaking-actions.ts
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/ailments/exboss-nine.ts
  common/ailments/index.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/cards/boss/hermits/index.ts
  common/cards/index.ts
  common/config/expansions.json
  common/config/ranks.json
  common/models/boss-model.ts
  common/utils/state-gen.ts
  server/src/routines/boss.ts
  server/src/routines/matchmaking.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix EX Healing and card interactions
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
Due: none

Fix boss client rendering
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Refactored to use VirtualPlayer
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/models/boss-model.ts
  common/models/game-model.ts
  common/models/virtual-player-model.ts
  common/types/game-state.ts
  common/utils/state-gen.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/boss.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/virtual/virtual-player.ts
  server/src/utils/comm.ts
  server/src/utils/state-gen.ts
Due: none

Update virtual-player.ts
  server/src/routines/virtual/virtual-player.ts
Due: none

Disabled bot api temporarily
  server/src/api.ts
Due: none

Redirect old site connections and requests to new site
  client/index.html
  server/src/index.ts
Due: none

Remove old site from cors
  common/config/server-config.json
Due: none

Add exboss-nine ailment gif
  client/public/images/status/exboss-nine.gif
  client/src/components/ailments/ailment.tsx
Due: eslint --max-warnings=0, prettier --write

Fix effects playable as hermits
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/alter-egos/effects/armor-stand.ts
  server/src/routines/virtual/virtual-player.ts
Due: none

Fix issues with bad omen interactions with pearl (#463)
  common/ailments/badomen.ts
  common/ailments/slowness.ts
Due: none

Sound issues fix (#466)
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix backlash attacks skipping on EX
  common/cards/boss/hermits/evilxisuma_boss.ts
Due: none

Derpcoin does not do anything if opposing active hermit is not a hermit
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
Due: none

Fix game ending when only armor stand is on the board
  server/src/routines/game.ts
Due: none

Derpcoin does not do anything if opposing active hermit is not a hermit (#467)
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
Due: none

Fix game ending when only armor stand is on the board (#468)
  server/src/routines/game.ts
Due: none

Fixed human cleo not preventing hermit switch
  common/cards/alter-egos/hermits/humancleo-rare.ts
Due: none

Re-enable bot api with try catch
  server/src/api.ts
Due: none

v0.6.37
  common/config/server-config.json
Due: none

Adds client voice line testing and volume control
  client/public/voice/TEST.ogg
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-actions.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add voice announcements to EX boss
  client/public/voice/50DMG.ogg
  client/public/voice/70DMG.ogg
  client/public/voice/90DMG.ogg
  client/public/voice/ABLAZE.ogg
  client/public/voice/AFK20.ogg
  client/public/voice/DOUBLE.ogg
  client/public/voice/EFFECTCARD.ogg
  client/public/voice/EXLIFE.ogg
  client/public/voice/EXLOSE.ogg
  client/public/voice/EXSTART.ogg
  client/public/voice/HEAL150.ogg
  client/public/voice/ITEMCARD.ogg
  client/public/voice/NINEATTACHED.ogg
  client/public/voice/NINEDISCARD.ogg
  client/public/voice/PLAYERLIFE.ogg
  client/public/voice/PLAYERLOSE.ogg
  client/src/app/game/game.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/sound/sound-actions.ts
  client/src/logic/sound/sound-saga.ts
  common/ailments/exboss-nine.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/types/game-state.ts
  common/utils/state-gen.ts
  server/src/routines/matchmaking.ts
  server/src/routines/virtual/virtual-player.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Minor boss fixes
  common/cards/boss/hermits/evilxisuma_boss.ts
  server/src/routines/virtual/virtual-player.ts
Due: none

Adds boss info page
  client/src/app/app.tsx
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update boss-landing.tsx
  client/src/app/main-menu/boss-landing.tsx
Due: eslint --max-warnings=0, prettier --write

Fix armor incorrectly calculating attack damage to block
  common/cards/default/effects/diamond-armor.ts
  common/cards/default/effects/gold-armor.ts
  common/cards/default/effects/iron-armor.ts
  common/cards/default/effects/netherite-armor.ts
Due: none

Fix debug config
  common/config/debug-config.json
Due: none

Move comm.ts to server utils
  common/models/battle-log.ts
  common/utils/attacks.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/matchmaking.ts
  server/src/utils/comm.ts
Due: none

Battle Log (#382)
  client/public/images/hermits-emoji/beetlejhost.png
  client/public/images/hermits-emoji/eviljevin.png
  client/public/images/hermits-emoji/evilx.png
  client/public/images/hermits-emoji/goatfather.png
  client/public/images/hermits-emoji/helsknight.png
  client/public/images/hermits-emoji/hotguy.png
  client/public/images/hermits-emoji/humancleo.png
  client/public/images/hermits-emoji/jingler.png
  client/public/images/hermits-emoji/llamadad.png
  client/public/images/hermits-emoji/potatoboy.png
  client/public/images/hermits-emoji/poultryman.png
  client/public/images/hermits-emoji/renbob.png
  client/public/images/icons/attack.png
  client/public/images/icons/end_turn.png
  client/public/images/icons/timeout.png
  client/src/app/game/board/board.tsx
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/app/game/toolbar/chat-item.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/game/tasks/battle-log-saga.ts
  client/src/logic/local-settings/local-settings-reducer.ts
  common/ailments/fire.ts
  common/ailments/poison.ts
  common/models/battle-log.ts
  common/models/game-model.ts
  common/types/chat.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  common/utils/coinFlips.ts
  server/src/routines/background/chat.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/apply-effect.ts
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/change-active-hermit.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/comm.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix ender pearl not running an attack loop, and therefore going through chainmail
  common/cards/alter-egos/single-use/ender-pearl.ts
Due: none

Fix issues with invis, it now properly ignores backlash, weakness and effect attacks
  common/cards/default/single-use/invisibility-potion.ts
Due: none

Fix segments showing backwards on battle log
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
