Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

some more changes
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

More changes
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

correctly cancel private games
  client/src/app/match-making/match-making.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

format
  tests/e2e/private-queue.spec.ts
Due: none

Fix invalid code only triggering once
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix invalid code only triggering once
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix things
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix things
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

ts
  server/src/routines/matchmaking.ts
Due: none

Remove broken test
  tests/e2e/private-queue.spec.ts
Due: none

Timeout
  tests/e2e/private-queue.spec.ts
Due: none

I give up
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/socket-messages/client-messages.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

fix errors
  package.json
  server/src/db/db.ts
Due: none

add queries
  server/src/db/queries.ts
Due: none

fix bug
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

add wait
  tests/e2e/private-queue.spec.ts
Due: none

Fix spectators not being removed from queue
  client/src/app/match-making/match-making.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Bug fixes
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix tests
  client/src/logic/matchmaking/matchmaking-saga.ts
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

Add game starts test
  client/src/logic/matchmaking/matchmaking-reducer.ts
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

TESTS CAUGHT BUGS
  tests/e2e/private-queue.spec.ts
Due: none

Fixes
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Changes
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Its over
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Implement Component Tetsts, Fix Battle Log, Fix Matchmaking Saga (#938)
  .github/workflows/ci.yaml
  .gitignore
  Dockerfile
  README.md
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/vite.config.js
  common/components/query/card.ts
  common/config/debug-config.example.js
  common/config/debug-config.example.json
  common/config/index.ts
  common/config/profanity-seed.js
  common/config/profanity-seed.json
  common/config/server-config.js
  common/config/server-config.json
  common/models/battle-log-model.ts
  common/socket-messages/client-messages.ts
  common/utils/formatting.ts
  jest.config.mjs
  package-lock.json
  package.json
  playwright-ct.config.ts
  playwright/index.html
  playwright/index.tsx
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  tests/README.md
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Batlte-log-messages-are-hidden-properly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-2-firefox-linux.png
  tests/ct/chat-content.spec.tsx
  tests/ct/tsconfig.json
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

Replace HTML Snapshot Tests With Image Snapshot Tests
  .github/workflows/ci.yaml
  README.md
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/item-card-svg.module.scss
  tests/README.md
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Effect-card-SVG-1-firefox-linux.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Hermit-card-SVG-1-firefox-linux.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Item-card-SVG-1-firefox-linux.png
  tests/ct/cards.spec.tsx
  tests/snapshots/__snapshots__/cards.test.tsx.snap
  tests/snapshots/__snapshots__/end-turn-modal.test.tsx.snap
  tests/snapshots/cards.test.tsx
  tests/snapshots/end-turn-modal.test.tsx
  tests/snapshots/tsconfig.json
Due: stylelint --fix

unit
  jest.config.mjs
Due: none

remove react test renderer
  package-lock.json
  package.json
Due: none

Replace Card HTML Snapshot Tests With Image Snapshot Tests (#942)
  .github/workflows/ci.yaml
  README.md
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/item-card-svg.module.scss
  jest.config.mjs
  package-lock.json
  package.json
  tests/README.md
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Effect-card-SVG-1-firefox-linux.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Hermit-card-SVG-1-firefox-linux.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Item-card-SVG-1-firefox-linux.png
  tests/ct/cards.spec.tsx
  tests/snapshots/__snapshots__/cards.test.tsx.snap
  tests/snapshots/__snapshots__/end-turn-modal.test.tsx.snap
  tests/snapshots/cards.test.tsx
  tests/snapshots/end-turn-modal.test.tsx
  tests/snapshots/tsconfig.json
Due: stylelint --fix

Fix Mistake in README
  README.md
Due: none

Fix Mistake in README (#943)
  README.md
Due: none

commit
  server/src/db/db.ts
  server/src/db/queries.ts
  tests/db/database.test.ts
Due: none

formatting
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-sound-saga.ts
  common/cards/alter-egos/single-use/piston.ts
Due: eslint --max-warnings=0, prettier --write

Make tests make more sense
  tests/db/database.test.ts
Due: none

changes
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

saga changes
  client/src/app/match-making/match-making.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  common/socket-messages/server-messages.ts
  server/src/routines/background/connection-status.ts
  tests/e2e/private-queue.spec.ts
Due: eslint --max-warnings=0, prettier --write

format
  server/src/routines/background/connection-status.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
