Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

format with chart js
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/components/tooltip/tooltip.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

sort of fix chart issues
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

remove animations
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

probable time zone fix
  client/src/app/game/timer/timer.tsx
Due: eslint --max-warnings=0, prettier --write

Probable Timer Fix For Timer Displaying >30 minutes (#1144)
  client/src/app/game/timer/timer.tsx
Due: eslint --max-warnings=0, prettier --write

Cleanup graph
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

last changes
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Final hof changes (#1145)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/chartjs.d.ts
Due: eslint --max-warnings=0, prettier --write

use site url if not supplied in debug config
  README.md
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/chartjs.d.ts
  common/config/debug-config.example.js
Due: eslint --max-warnings=0, prettier --write

Fix no unused values
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

fix before and after
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

make trident one
  common/cards/single-use/trident.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/trident_with_tokens.png
  client/public/images/cards/trident_with_tokens.webp
Due: none

fix template
  .github/PULL_REQUEST_TEMPLATE/balance_request.md
Due: none

balance changes
  .github/PULL_REQUEST_TEMPLATE/balance_request.md
Due: none

Improve Balance Request Template (#1147)
  .github/PULL_REQUEST_TEMPLATE/balance_request.md
Due: none

fix my credits
  client/src/app/main-menu/credits.tsx
Due: eslint --max-warnings=0, prettier --write

Final HOF improvements
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Hall of fame (#1138)
  README.md
  client/src/app/app.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/chartjs.d.ts
  client/src/components/import-export/screenshot-deck-modal.tsx
  client/src/components/tooltip/tooltip.module.scss
  client/src/index.tsx
  common/config/debug-config.example.js
  common/types/database.ts
  package-lock.json
  package.json
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Format
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

fix my credits (#1148)
  client/src/app/main-menu/credits.tsx
Due: eslint --max-warnings=0, prettier --write

I am an idiot (hof changes I forgot to push) (#1149)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Start Game Documentation (#1125)
  README.md
  common/status-effects/status-effect.ts
  docs/README.md
  docs/cards.md
  docs/components.md
  docs/hooks.md
  docs/status-effects.md
Due: none

[Balance Request] Make Trident One Token (#1146)
  client/public/images/cards/trident_with_tokens.png
  client/public/images/cards/trident_with_tokens.webp
  common/cards/single-use/trident.ts
Due: none

fix padding
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

remove extra hof button
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

Fix padding on HOF graphs and remove scrollbar (#1150)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove Extra Hall of Fame Button (#1151)
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

Improvements to graph to show both fields at same time
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

add options to hide axis
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

code credit
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

support for brightness > 1
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Make Target Block Ignore Lightning Rod
  common/status-effects/target-block.ts
Due: none

lint
  common/status-effects/target-block.ts
Due: none

Hof Graph Improvements (#1152)
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

changes to game endpoint
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Fix unsorted decks in hall of fame
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/hall-of-fame.tsx
  common/utils/cards.ts
Due: eslint --max-warnings=0, prettier --write

text can be simpler
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Fix typo
  common/utils/cards.ts
Due: none

format
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write
