Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/smallishbeansadvent_rare.png
  client/public/images/cards/smallishbeansadvent_rare.webp
  client/public/images/cards/smallishbeansadvent_rare_with_tokens.png
  client/public/images/cards/smallishbeansadvent_rare_with_tokens.webp
Due: none

fix
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

Format
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

Fix type distribution query returning null even when games were played, if there were no wins
  server/src/db/db.ts
Due: none

Various front end fixes (#1078)
  client/public/images/icons/checkmark.png
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/components/checkbox/checkbox.module.scss
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/import-export/import-modal.tsx
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  server/src/db/db-reciever.ts
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Batlte-log-messages-are-hidden-properly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-2-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-2-firefox-linux.png
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix with frequency values
  server/src/db/db.ts
Due: none

Update numeric Ids
  common/cards/advent-of-tcg/hermits/cyberpunkimpulse-rare.ts
  common/cards/advent-of-tcg/hermits/zookeeperscar-rare.ts
Due: none

Fix type distribution query returning null even when games were played (#1084)
  server/src/db/db.ts
Due: none

Redo Game End Object (#1061)
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/action-modals-saga.ts
  client/src/logic/messages.ts
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/game-state.ts
  common/types/turn-action-data.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-actions.ts
  server/src/utils/win-conditions.ts
  tests/ct/__snapshots__/end-game-overlay.spec.tsx-snapshots/Game-crash-displays-correctly-1-firefox-linux.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx-snapshots/Game-timeout-displays-correctly-1-firefox-linux.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx-snapshots/Viewing-as-spectator-shows-victory-1-firefox-linux.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx-snapshots/You-lost-because-your-hermits-were-killed-1-firefox-linux.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx-snapshots/You-won-by-killing-all-hermits-1-firefox-linux.png
  tests/ct/end-game-overlay.spec.tsx
  tests/db/database.test.ts
  tests/unit/game/hermits/evilxisuma-boss.test.ts
  tests/unit/game/utils.ts
  tests/unit/game/win-conditions.test.ts
Due: eslint --max-warnings=0, prettier --write

Make "View Full Deck" button
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/import-export.module.scss
  client/src/components/import-export/index.ts
  client/src/components/import-export/screenshot-deck-modal.tsx
  client/src/components/modal/modal.module.scss
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change snapshot test names
  playwright-ct.config.ts
  tests/ct/__snapshots__/cards.spec.tsx/Effect-card-SVG-1.png
  tests/ct/__snapshots__/cards.spec.tsx/Hermit-card-SVG-1.png
  tests/ct/__snapshots__/cards.spec.tsx/Item-card-SVG-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Altert-Modal-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Confirm-Modal-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-With-Image-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Global-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Hermit-1.png
Due: none

format
  playwright-ct.config.ts
Due: none

View deck icon
  client/src/app/deck/deck-select.tsx
  client/src/components/svgs/index.ts
  client/src/components/svgs/viewFullDeckIcon.tsx
Due: eslint --max-warnings=0, prettier --write

Change snapshot test names to not include OS and browser (#1086)
  playwright-ct.config.ts
  tests/ct/__snapshots__/cards.spec.tsx/Effect-card-SVG-1.png
  tests/ct/__snapshots__/cards.spec.tsx/Hermit-card-SVG-1.png
  tests/ct/__snapshots__/cards.spec.tsx/Item-card-SVG-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Altert-Modal-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Confirm-Modal-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-With-Image-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Global-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Hermit-1.png
Due: none

linting
  client/src/components/import-export/screenshot-deck-modal.tsx
Due: eslint --max-warnings=0, prettier --write

playwright
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Altert-Modal-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Confirm-Modal-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-With-Image-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Global-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Hermit-1.png
Due: none

Fix tests
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Altert-Modal-1.png
  tests/ct/__snapshots__/modals.spec.tsx/Confirm-Modal-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-With-Image-1.png
  tests/ct/__snapshots__/toast.spec.tsx/Toast-Without-Image-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Global-1.png
  tests/ct/__snapshots__/tooltip.spec.tsx/Status-Effect-Tooltip-Hermit-1.png
Due: none

Put game managert in safe call
  server/src/routines/matchmaking.ts
Due: none

lint
  server/src/routines/matchmaking.ts
Due: none

Fix forfeit crash
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
Due: none

Fix number
  server/src/routines/player.ts
Due: none

Put game manager in safe call and fix forfeit crash (#1088)
  server/src/routines/matchmaking.ts
Due: none

changes
  .github/workflows/release.yml
Due: none

remove comment
  .github/workflows/release.yml
Due: none

Evil X modal
  client/src/app/main-menu/boss-landing.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Whitespace Removal Method For Patchnotes (#1087)
  .github/workflows/release.yml
Due: none

Compatibility for other cards
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/hermits/hypnotizd-rare.ts
  common/components/row-component.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: none

Adjust the tests
  common/utils/attacks.ts
  tests/unit/game/energy.test.ts
Due: none

Fix
  client/src/app/deck/deck-select.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/components/import-export/import-export.module.scss
  client/src/components/import-export/screenshot-deck-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Some adjustments
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/components/player-component.ts
  server/src/routines/game.ts
Due: none

Upgrade tests
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/full_bundle.png
  client/public/images/cards/full_bundle_with_tokens.png
  client/public/images/cards/redstone_torch.png
  client/public/images/cards/redstone_torch_with_tokens.png
  client/public/images/cards/redstone_torch_with_tokens.webp
  client/public/images/cards/splash_potion_of_harming.png
  client/public/images/cards/splash_potion_of_harming.webp
  client/public/images/cards/splash_potion_of_harming_with_tokens.png
  client/public/images/cards/splash_potion_of_harming_with_tokens.webp
  client/public/images/cards/wind_burst.png
  client/public/images/cards/wind_burst_with_tokens.png
Due: none

Fix compile error
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/components/card/card.tsx
  common/status-effects/index.ts
Due: eslint --max-warnings=0, prettier --write

Remove mining fatigue again
  aotcg.md
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  tests/unit/game/advent-of-tcg/effects/mining-fatigue.test.ts
Due: none

Add bundle to index.ts
  common/cards/advent-of-tcg/single-use/index.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/bundle.png
  client/public/images/cards/bundle_with_tokens.png
Due: none

Add Passive Logo
  client/public/images/icons/passive-logo.png
  client/public/images/icons/passive-logo.svg
  client/src/components/card/card.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/cards/advent-of-tcg/hermits/postmasterpearl-rare.ts
Due: eslint --max-warnings=0, prettier --write
