Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Update common/cards/season-x/hermits/skizzleman-rare.ts
  common/cards/season-x/hermits/skizzleman-rare.ts
Due: none

Mobile softlock
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

Show chat as read when opened with hotkey (#731)
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write

random changes
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
Due: none

Fix a bug where player order was not properly randomized (#735)
  common/utils/state-gen.ts
Due: none

prettier
  common/cards/season-x/hermits/skizzleman-rare.ts
Due: none

ignore active hermit with gas light
  common/cards/season-x/hermits/skizzleman-rare.ts
Due: none

fix anvil returning to hand
  server/src/routines/game.ts
  server/src/routines/turn-actions/end-turn.ts
Due: none

Fix issues with mimic
  common/cards/alter-egos/single-use/anvil.ts
  common/utils/attacks.ts
Due: none

switch poepoe skizz to after attack
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
Due: none

somehow get the css working
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

first changes
  client/public/images/effects/diamond_boots.png
  client/public/images/effects/netherite_boots.png
  common/cards/alter-egos-iii/effects/diamond-boots.ts
  common/cards/alter-egos-iii/effects/index.ts
  common/cards/alter-egos-iii/effects/netherite-boots.ts
  common/cards/index.ts
Due: none

implement diamond boots
  common/cards/alter-egos-iii/effects/diamond-boots.ts
Due: none

silk touch image update
  client/public/images/effects/silk_touch.png
Due: none

files for rest of cards
  client/public/images/effects/mace.png
  client/public/images/effects/silk_touch.png
  common/cards/alter-egos-iii/effects/index.ts
  common/cards/alter-egos-iii/effects/mace.ts
  common/cards/alter-egos-iii/effects/silk-touch.ts
Due: none

images
  client/public/images/effects/silk_touch.png
Due: none

Fixes
  common/cards/alter-egos-iii/hermits/dwarfimpulse-rare.ts
  common/cards/alter-egos-iii/hermits/frenchralis-rare.ts
  common/cards/alter-egos-iii/hermits/index.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
Due: none

Enable rest of Alter Egos III cards (#740)
  common/cards/alter-egos-iii/hermits/dwarfimpulse-rare.ts
  common/cards/alter-egos-iii/hermits/frenchralis-rare.ts
  common/cards/alter-egos-iii/hermits/index.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
Due: none

Fix turn skip message on mobile to keep end turn button (#737)
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improve Sorting Once Again (#733)
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

convert to a stauts effect
  client/public/images/status/gas-light.png
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/models/battle-log-model.ts
  common/status-effects/gas-light.ts
  common/status-effects/index.ts
Due: none

Fix Armor Stand No Hermits in Your Hand (#736)
  client/src/logic/game/tasks/slot-saga.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Hopefully Fix Boomer Bdubs (#738)
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
Due: none

Description change
  common/status-effects/gas-light.ts
Due: none

Improve Implementations of Both Skizzes (#732)
  client/public/images/status/gas-light.png
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/models/battle-log-model.ts
  common/status-effects/gas-light.ts
  common/status-effects/index.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/end-turn.ts
Due: none

anvil merge
  common/cards/alter-egos/single-use/anvil.ts
Due: none

color changes and remove SU icon
  client/src/app/game/modals/attack-modal/attack.tsx
  client/src/app/game/modals/game-modals.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

changes
  common/cards/alter-egos-iii/effects/netherite-boots.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/default/single-use/knockback.ts
Due: none

add mace
  common/cards/alter-egos-iii/effects/mace.ts
Due: none

Iskall85 token fix
  common/cards/default/hermits/iskall85-rare.ts
Due: none

Keralis token fix
  common/cards/default/hermits/keralis-common.ts
Due: none

Make string count for mace
  common/cards/alter-egos-iii/effects/mace.ts
Due: none

Update card descriptions
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-iii/hermits/dwarfimpulse-rare.ts
  common/cards/alter-egos-iii/hermits/eviljevin-rare.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/default/effects/loyalty.ts
  common/cards/default/hermits/docm77-rare.ts
  common/cards/default/hermits/mumbojumbo-rare.ts
  common/cards/default/hermits/stressmonster101-rare.ts
  common/cards/default/single-use/chest.ts
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/cards/season-x/hermits/smallishbeans-rare.ts
  common/status-effects/royal-protection.ts
Due: none

Fix Keralis Common and Iskall Rare token cost (#741)
  common/cards/default/hermits/iskall85-rare.ts
  common/cards/default/hermits/keralis-common.ts
Due: none

viewers
  server/src/plugins/firebase-logs.ts
Due: none

start
  common/components/query/card.ts
  common/components/query/index.ts
Due: none

prettier
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/components/query/row.ts
  common/models/battle-log-model.ts
Due: none

Rest of changes to attack modal
  client/src/app/game/modals/attack-modal/attack.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/components/formatting/formatting.module.scss
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/change-active-hermit.ts
  server/src/routines/turn-actions/pick-request.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
