Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Optimize Root of App (#1321)
  client/src/app/app.tsx
  client/src/components/toast/index.ts
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

Tag fix (#1342)
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Attept to fix issues with replays (#1317)
  client/src/app/main-menu/statistics.module.scss
  package.json
  server/src/db/db.ts
  server/src/routines/game.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: stylelint --fix

Fix visual issues with mobile (#1323)
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/tabs/tabs.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Rename "singing in" to authenticating (#1331)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Stats page rework (#1340)
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Spectator Code Copy Button To Toolbar (#1335)
  client/src/app/game/toolbar/spectator-code-button.tsx
  client/src/app/game/toolbar/toolbar.module.scss
  client/src/app/game/toolbar/toolbar.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/server-messages.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

URL Quick Play (#1322)
  API.md
  client/src/app/app.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/debug.ts
  client/src/query-params.ts
  server/src/api/games.ts
  server/src/api/index.ts
  tests/e2e/quick-link.spec.ts
Due: eslint --max-warnings=0, prettier --write

Fixes for filter and search (#1327)
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Account Syncing To Title Screen (#1320)
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/vite.config.js
  tests/e2e/login.spec.ts
  tests/e2e/private-queue.spec.ts
  tests/e2e/reconnect.spec.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Play screen fixes (#1325)
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix issues with new dropdown component (#1336)
  client/src/app/deck/deck-select.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove deck selected toast on return to main menu (#1328)
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Front end updates (#1311)
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/dropdown/dropdown.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/tooltip/tooltip.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
  common/config/server-config.js
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  server/src/root-model.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix all unnecessary showing of scrollbars (#1326)
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/components/card-list/card-list.module.scss
Due: stylelint --fix

Rename deck selection to deck editor, and editing decks to deck edit (#1324)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

Disable Start Game Buttons If Deck Is Not Selected (#1343)
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write

Streamline How Achievements Work (#1314)
  common/achievements/british.ts
  common/achievements/cant-touch-this.ts
  common/achievements/certified-zombie.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/ethogirl.ts
  common/achievements/eye-of-the-spider.ts
  common/achievements/go-fish.ts
  common/achievements/hermits-and-crafting.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/hurtin-hermits.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/loyalty-iii.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/sustainable.ts
  common/achievements/targeted-lightning.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/types.ts
  common/achievements/useless-machine.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
  tests/unit/game/utils.ts
Due: none

New dropdown fixes (#1341)
  client/src/app/app.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Primitive System For Banning Users (#1333)
  client/src/logic/session/session-saga.ts
  common/types/database.ts
  docs/BANNING.md
  server/src/api/auth.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

Fix Many Achievement Bugs (#1312)
  client/src/components/achievement/achievement.tsx
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

Fix cosmetics width being too big on achievements screen (#1332)
  client/src/app/main-menu/achievements.module.scss
Due: stylelint --fix

Various rendering fixes and improvements (#1329)
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
  client/src/components/updates/updates.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix CI (#1310)
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

Fix server crash when running locally without db (#1330)
  server/src/routines/player.ts
Due: none

Achievements page (#1338)
  client/public/images/cosmetics/title.png
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/components/checkbox/checkbox.module.scss
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change "Ineffective" and "Naked and Scared" to ban from deck (#1316)
  common/achievements/eye-of-the-spider.ts
  common/achievements/inneffective.ts
  common/achievements/loyalty-iii.ts
  common/achievements/naked-and-scared.ts
  common/achievements/targeted-lightning.ts
Due: none

Add clear cards confirm modal & fix typo (#1334)
  client/src/app/deck/deck-edit.tsx
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write

Fix compile errors caused by rebase
  common/achievements/ethogirl.ts
  common/achievements/go-fish.ts
  common/achievements/ore-snatcher.ts
  common/achievements/useless-machine.ts
  server/src/routines/turn-action-compressor.ts
Due: none

format
  common/achievements/ethogirl.ts
  common/achievements/go-fish.ts
  common/achievements/useless-machine.ts
Due: none

Fix CI (#1346)
  common/achievements/ethogirl.ts
  common/achievements/go-fish.ts
  common/achievements/useless-machine.ts
Due: none

Achievement toasts in game
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/achievements.ts
  common/components/achievement-component.ts
  common/socket-messages/server-messages.ts
  common/types/achievements.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

fix tooltips not showing up
  client/src/components/toast/toast.tsx
  client/src/logic/game/tasks/achievements.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

fix achievements not being set as completed
  common/achievements/types.ts
  common/components/achievement-component.ts
Due: none

format
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

changes
  client/src/components/achievement/achievement.tsx
  common/achievements/ibuy.ts
Due: eslint --max-warnings=0, prettier --write

changes
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write

Fix
  common/achievements/pesky-bird.ts
Due: none

Fix
  server/src/game-controller.ts
Due: none

Fix Pesky Bird Counting Both Player's Cards (#1348)
  common/achievements/pesky-bird.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
