Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Add "Gotta Schreep" Achievement and Reward (#1367)
  client/public/images/cosmetics/coin/bdoubleo100.png
  common/achievements/gotta-schreep.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achievements/gotta-schreep.test.ts
Due: none

accent
  client/public/images/cosmetics/heart/plant.png
Due: none

improve heart
  client/public/images/cosmetics/heart/plant.png
Due: none

Order achievements
  common/achievements/gods-favorite-princess.ts
  common/achievements/index.ts
  common/cosmetics/titles.ts
Due: none

link free and steel
  common/cosmetics/backgrounds.ts
Due: none

lint
  common/achievements/index.ts
Due: none

Final cahnges
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

limbt
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

Organize Achievements and "lucky streak" rename (#1372)
  common/achievements/gods-favorite-princess.ts
  common/achievements/index.ts
  common/cosmetics/backgrounds.ts
  common/cosmetics/titles.ts
Due: none

change
  common/achievements/ethogirl.ts
Due: none

ethogirl fix
  tests/unit/game/achievements/ethogirl.test.ts
Due: none

tests pass now
  common/achievements/index.ts
  common/achievements/targeted-lightning.ts
  common/cosmetics/hearts.ts
  tests/unit/game/achievements/targeted-lightning.test.ts
Due: none

test
  tests/unit/game/achievements/targeted-lightning.test.ts
Due: none

tests
  tests/unit/game/achievements/targeted-lightning.test.ts
Due: none

rename file
  common/achievements/channeling.ts
  common/achievements/index.ts
  common/cosmetics/hearts.ts
  tests/unit/game/achievements/channeling.test.ts
Due: none

format
  common/achievements/index.ts
  common/cosmetics/hearts.ts
Due: none

Revert updates modal to settings
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Boss achievements progression (#1371)
  common/achievements/defeat-evil-x.ts
  common/achievements/no-derpcoins.ts
  common/achievements/types.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

chagnes
  common/achievements/ethogirl.ts
Due: none

Cosmetic improvements (#1366)
  client/public/images/cosmetics/background/pvp.png
  client/public/images/cosmetics/heart/plant.png
  common/cosmetics/hearts.ts
Due: none

Prevent spec and replay rematch (#1370)
  server/src/routines/matchmaking.ts
Due: none

indiv goals menu
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  common/achievements/jack-of-all-cards.ts
  common/achievements/types.ts
  common/types/achievements.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  common/achievements/channeling.ts
Due: none

fix scrollbar fire
  client/src/app/main-menu/achievements.module.scss
Due: stylelint --fix

Fix login again
  client/src/app/login/login.tsx
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
Due: eslint --max-warnings=0, prettier --write

Properly do it
  client/src/app/main-menu/achievements.tsx
Due: eslint --max-warnings=0, prettier --write

add tests
  tests/e2e/reconnect.spec.ts
Due: none

Redo "Ethogirl" Achievement (#1374)
  common/achievements/ethogirl.ts
  tests/unit/game/achievements/ethogirl.test.ts
Due: none

test
  tests/e2e/reconnect.spec.ts
Due: none

lint
  tests/e2e/reconnect.spec.ts
Due: none

I lied, it was broken
  client/src/app/main-menu/achievements.tsx
Due: eslint --max-warnings=0, prettier --write

add
  common/achievements/signal-inversion.test.ts
Due: none

add red and black
  client/public/images/cosmetics/border/red_and_black.png
Due: none

oops
  common/achievements/index.ts
  common/achievements/signal-inversion.ts
  common/cosmetics/borders.ts
  tests/unit/game/achievements/signal-inversion.test.ts
Due: none

finish tests
  common/achievements/index.ts
  common/achievements/signal-inversion.ts
  common/cosmetics/borders.ts
  tests/unit/game/achievements/signal-inversion.test.ts
Due: none

format
  common/achievements/signal-inversion.ts
  tests/unit/game/achievements/signal-inversion.test.ts
Due: none

remove log
  common/achievements/signal-inversion.ts
Due: none

fix tests
  tests/unit/game/achievements/signal-inversion.test.ts
Due: none

Update common/achievements/signal-inversion.ts
  common/achievements/signal-inversion.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
