Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

more fixes
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Finish setting up title screen
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix issue
  client/src/app/login/login.module.scss
Due: stylelint --fix

Low Hanging Fruit Game Performance Optimizations (#1344)
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/player-info/player-info.tsx
  client/src/logic/game/game-selectors.ts
Due: eslint --max-warnings=0, prettier --write

filter problem
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

error banner padding
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Stats page rework (#1340)
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Achievements page (#1338)
  client/public/images/cosmetics/title.png
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/components/checkbox/checkbox.module.scss
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Primitive System For Banning Users (#1333)
  client/src/logic/session/session-saga.ts
  common/types/database.ts
  docs/BANNING.md
  server/src/api/auth.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

Fix spelling issues
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write

fix syncing menu
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

tests
  client/vite.config.js
  tests/e2e/login.spec.ts
Due: none

more changes
  tests/e2e/login.spec.ts
Due: none

New dropdown fixes (#1341)
  client/src/app/app.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Tag fix (#1342)
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Fix error and grammar
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Add Account Syncing To Title Screen (#1320)
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/vite.config.js
  tests/e2e/login.spec.ts
  tests/e2e/private-queue.spec.ts
  tests/e2e/reconnect.spec.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Spectator Code Copy Button To Toolbar (#1335)
  client/src/app/game/toolbar/spectator-code-button.tsx
  client/src/app/game/toolbar/toolbar.module.scss
  client/src/app/game/toolbar/toolbar.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/server-messages.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add clear cards confirm modal & fix typo (#1334)
  client/src/app/deck/deck-edit.tsx
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write

Make The Zero Coin Flip Bug Impossible (#1319)
  common/utils/coinFlips.ts
Due: none

Fix compile errors caused by rebase
  common/achievements/ethogirl.ts
  common/achievements/go-fish.ts
  common/achievements/ore-snatcher.ts
  common/achievements/useless-machine.ts
  server/src/routines/turn-action-compressor.ts
Due: none

Add achievements (#1169)
  common/components/player-component.ts
  common/models/player-model.ts
Due: none

Allow Coin Head To Be Settable In Player Model (#1173)
  client/src/components/coin-flip/coin-flip.module.scss
  common/components/player-component.ts
  common/models/player-model.ts
Due: stylelint --fix

Add Basic Achievement Tests (#1181)
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.test.ts
  tests/unit/game/utils.ts
Due: none

Menu changes
  client/public/images/backgrounds/beef.png
  client/public/images/backgrounds/cubfan.png
  client/public/images/backgrounds/evilx.png
  client/src/app/app.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/components/button/button.module.scss
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/button.tsx
  client/src/components/hermit-button/index.ts
  client/src/components/link-container/link-container.tsx
  client/src/components/slider/slider.module.scss
  common/types/buttons.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change Jack Of All Cards To Only Activate On Wins (#1184)
  common/achievements/jack-of-all-cards.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  tests/unit/game/achivements/all-cards.test.ts
  tests/unit/game/utils.ts
Due: none

Run CI on the achievements branch (#1182)
  .github/workflows/ci.yaml
  client/src/app/app.tsx
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/settings.tsx
  common/components/player-component.ts
  common/models/player-model.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

remove turn action compressor
  .github/workflows/ci.yaml
  client/src/app/main-menu/game-history.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/entities.ts
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/ecs.ts
  common/utils/turn-action-compressor.ts
  jest.config.mjs
  package.json
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/index.ts
  tests/db/database.test.ts
  tests/replays/replays.test.ts
  tests/replays/tsconfig.json
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

SUStainable Achievement (#1264)
  client/public/images/cosmetics/heart/emerald.png
  common/achievements/index.ts
  common/achievements/sustainable.ts
  common/cosmetics/hearts.ts
  common/cosmetics/hearts/soulflame.ts
  tests/unit/game/achivements/sustainable.test.ts
Due: none

Final achievements (#1254)
  common/achievements/designer.ts
  common/achievements/hot-take.ts
  common/achievements/index.ts
  common/achievements/innefective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/team-star.ts
Due: none

Fix achievement player queries (#1305)
  common/achievements/sheep-starer.ts
  common/achievements/type-wins.ts
Due: none

Fix cosmetics not being set properly (#1276)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add Tests To Ensure Achievements Have Unique IDs (#1269)
  tests/unit/common/unique-ids.test.ts
Due: none

Deck edit (#1291)
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Add "Eye of the Spider" Achievement and Reward (#1275)
  client/public/images/cosmetics/coin/cave-spider.png
  common/achievements/eye-of-the-spider.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/eye-of-the-spider.test.ts
Due: none

More improvements
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/logic/game/database/database-reducer.ts
  common/types/database.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix CI on ux rework branch (#1244)
  .github/workflows/ci.yaml
  common/models/game-model.ts
  tests/unit/game/utils.ts
Due: none

Set username min length to 3 to fix issues (#1298)
  client/src/app/main-menu/cosmetics.tsx
Due: eslint --max-warnings=0, prettier --write

Certified Zombie Achievement (#1249)
  common/achievements/certified-zombie.ts
  common/achievements/index.ts
  common/cosmetics/titles/certified-zombie.ts
  common/cosmetics/titles/index.ts
  tests/unit/game/achivements/certified-zombie.test.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
