Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix behavior of lightning rod (#782)
  common/cards/alter-egos/effects/lightning-rod.ts
Due: none

lint
  biome.json
  client/src/app/game/modals/attack-modal/attack.tsx
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  server/src/api.ts
Due: eslint --max-warnings=0, prettier --write

typecheck command
  .github/workflows/ci.yaml
  README.md
  package.json
Due: none

remove command
  README.md
  package.json
Due: none

server tsc
  .github/workflows/ci.yaml
Due: none

remove prettier files
  .prettierignore
  .prettierrc.json
Due: none

Use Button For Slots (#785)
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Merge with upstream
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/effects/furnace.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/bigbst4tz2-rare.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/components/player-component.ts
  common/const/expansions.ts
  common/status-effects/dyed.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/naughty-regift.ts
  common/status-effects/protected.ts
  common/status-effects/smelting.ts
  common/status-effects/soulmate.ts
Due: none

fix linting errors
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/effects/furnace.ts
  common/cards/advent-of-tcg/effects/index.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/bigbst4tz2-rare.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/index.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/index.ts
  common/status-effects/dyed.ts
  common/status-effects/index.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/naughty-regift.ts
  common/status-effects/protected.ts
  common/status-effects/smelting.ts
  common/status-effects/soulmate.ts
Due: none

Fix mistakes I made
  common/cards/advent-of-tcg/single-use/index.ts
Due: none

some stuff with biome
  biome.json
Due: none

fixes
  common/cards/alter-egos/effects/armor-stand.ts
  common/components/card-component.ts
Due: none

more fixes
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
Due: none

Verify Slot is Empty When Playing a Card (#780)
  server/src/routines/turn-actions/play-card.ts
Due: none

Remove special characters warning for deck page.
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

rework
  client/src/app/game/chat/chat.tsx
  client/src/app/game/toolbar/chat-item.tsx
  common/models/battle-log-model.ts
  common/types/game-state.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

Remove special characters warning for deck page. (#786)
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

a step
  common/cards/alter-egos/single-use/potion-of-weakness.ts
Due: none

Update weakness.ts
  common/status-effects/weakness.ts
Due: none

Change Message Type To Make Variants More Clear (#787)
  client/src/app/game/chat/chat.tsx
  client/src/app/game/toolbar/chat-item.tsx
  common/models/battle-log-model.ts
  common/types/game-state.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

Add node
  client/src/components/formatting/formatting.module.scss
  common/utils/formatting.ts
Due: stylelint --fix

Completely disconnect game from player models
  common/components/player-component.ts
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/matchmaking.ts
Due: none

some more adjustments to make testing easier
  common/components/player-component.ts
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/routines/matchmaking.ts
Due: none

confused
  common/utils/state-gen.ts
  jest.config.mjs
  server/src/routines/game.ts
  tests/tsconfig.json
Due: none

Make tests possible
  jest.config.mjs
  tests/game/example.test.ts
  tests/tsconfig.json
Due: none

some changes
  tests/game/example.test.ts
Due: none

create debug config for tests
  .github/workflows/ci.yaml
Due: none

Don't make player discard when hand is empty
  common/cards/alter-egos/hermits/jingler-rare.ts
Due: none

Add node for spectator color (#788)
  client/src/components/formatting/formatting.module.scss
  common/utils/formatting.ts
Due: stylelint --fix

format
  client/src/app/game/chat/chat.tsx
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

fix biome check
  .github/workflows/ci.yaml
Due: none

actually check with biome
  .github/workflows/ci.yaml
Due: none

Fix Issue Where Code Wasn't Actually Being Checked With Biome (#791)
  .github/workflows/ci.yaml
  client/src/app/game/chat/chat.tsx
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

should be opponent player
  common/cards/alter-egos/hermits/jingler-rare.ts
Due: none

chat fixes
  client/src/components/formatting/formatting.tsx
  common/utils/formatting.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

idk
  server/src/routines/matchmaking.ts
Due: none
