Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

sheep stare
  common/status-effects/sheep-stare.ts
Due: none

update betrayed description
  common/status-effects/betrayed.ts
Due: none

Rework Sheep Stare (#634)
  common/status-effects/sheep-stare.ts
Due: none

Update betrayed description to be more understandable (#635)
  common/status-effects/betrayed.ts
Due: none

dim status effects
  client/src/app/game/board/board-health.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-status-effects.tsx
  client/src/components/status-effects/status-effect.module.scss
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Dim Status Effects When a Card is Selected (#636)
  client/src/app/game/board/board-health.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-status-effects.tsx
  client/src/components/status-effects/status-effect.module.scss
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Poultry Man and correct numericIds
  common/cards/season-ii/hermits/dwarfimpulse-rare.ts
  common/cards/season-ii/hermits/originalxb-rare.ts
  common/cards/season-ii/hermits/poultryman-rare.ts
Due: none

Fix singleUse queries to use query.slot
  common/cards/default/hermits/geminitay-rare.ts
  common/utils/board.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/end-turn.ts
  server/src/routines/turn-actions/remove-effect.ts
Due: none

Make Original XB use status effect
  common/cards/season-ii/hermits/originalxb-rare.ts
  common/status-effects/original-xb.ts
Due: none

Finish Original XB Effect description
  common/status-effects/original-xb.ts
Due: none

Fix cards that allow playing another singleUse
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/default/hermits/geminitay-rare.ts
Due: none

Fix dimming
  client/src/app/game/board/board-status-effects.tsx
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write

Single use fixes (#637)
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/default/hermits/geminitay-rare.ts
  common/utils/board.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/end-turn.ts
  server/src/routines/turn-actions/remove-effect.ts
Due: none

Dim Status Effect Border when board is dimmed (#638)
  client/src/app/game/board/board-status-effects.tsx
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write

fix interactions with fortune
  common/status-effects/aussie-ping.ts
  common/status-effects/fortune.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

Switch cubfan to a pick request
  common/cards/default/hermits/cubfan135-rare.ts
Due: none

fix token cost mistakes
  common/cards/default/effects/bed.ts
  common/cards/default/effects/water-bucket.ts
Due: none

Fix Status Effect Interactions With Fortune (#639)
  common/status-effects/aussie-ping.ts
  common/status-effects/fortune.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

Switch Cubfan to Pick Request (#640)
  common/cards/default/hermits/cubfan135-rare.ts
Due: none

Fix Token Cost Mistakes (#641)
  common/cards/default/effects/bed.ts
  common/cards/default/effects/water-bucket.ts
Due: none

Restore coin flip behavior
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/models/battle-log-model.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/badomen.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

Worm man
  client/public/images/card-back.jpg
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/board/board-health.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/components/card/health-card-svg.module.scss
  client/src/components/card/health-card-svg.tsx
  common/cards/alter-egos-ii/hermits/index.ts
  common/cards/alter-egos-ii/hermits/spookystress-rare.ts
  common/cards/alter-egos-ii/hermits/wormman-rare.ts
  common/components/card-component.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions/pick-request.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Wild items
  client/public/images/types/type-any.png
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/item-card-svg.module.scss
  common/cards/alter-egos-ii/items/index.ts
  common/cards/alter-egos-ii/items/wild-common.ts
  common/cards/base/types.ts
  common/cards/default/items/balanced-rare.ts
  common/cards/default/items/builder-rare.ts
  common/cards/default/items/explorer-rare.ts
  common/cards/default/items/farm-rare.ts
  common/cards/default/items/prankster-rare.ts
  common/cards/default/items/pvp-rare.ts
  common/cards/default/items/redstone-rare.ts
  common/cards/default/items/speedrunner-rare.ts
  common/cards/default/items/terraform-rare.ts
  common/cards/index.ts
  common/types/cards.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fixes to expansion stuff
  common/cards/alter-egos-ii/hermits/index.ts
  common/cards/alter-egos-ii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/cards/alter-egos-iii/hermits/beetlejhost-rare.ts
  common/cards/alter-egos-iii/hermits/dwarfimpulse-rare.ts
  common/cards/alter-egos-iii/hermits/frenchralis-rare.ts
  common/cards/alter-egos-iii/hermits/horseheadhypno-rare.ts
  common/cards/alter-egos-iii/hermits/index.ts
  common/cards/alter-egos-iii/hermits/kingjoel-common.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/poepoeskizz-common.ts
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
  common/cards/alter-egos-iii/hermits/poultryman-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
  common/cards/alter-egos-iii/hermits/spookystress-rare.ts
  common/cards/alter-egos-iii/hermits/steampunktango-rare.ts
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  common/cards/alter-egos-iii/items/index.ts
  common/cards/alter-egos-iii/items/wild-common.ts
  common/cards/index.ts
  common/cards/season-x/hermits/smallishbeans-rare.ts
  common/config/expansions.json
  common/types/cards.ts
Due: none

Fix broken mass export modal
  client/src/components/import-export/import-export-utils.ts
  client/src/components/import-export/mass-export-modal.tsx
Due: eslint --max-warnings=0, prettier --write

export error
  client/src/components/import-export/import-export-utils.ts
Due: eslint --max-warnings=0, prettier --write

Return opponent flip statuses to player
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

prettier
  common/cards/default/single-use/golden-axe.ts
  common/status-effects/chroma-keyed.ts
  common/status-effects/original-xb.ts
Due: none

build errors
  client/src/components/import-export/import-export-utils.ts
  common/const/strengths.ts
  common/status-effects/royal-protection.ts
Due: eslint --max-warnings=0, prettier --write

css
  client/src/components/card-list/card-list.module.scss
Due: stylelint --fix

Bug fixes and wild item icon
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Comment
  server/src/routines/turn-actions/pick-request.ts
Due: none

Restore coin flip behavior (#642)
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/trident.ts
  common/models/battle-log-model.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/badomen.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

fix code
  client/src/components/card-list/card-list.module.scss
  client/src/components/card-list/card-list.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

prettier
  client/src/components/card-list/card-list.tsx
Due: eslint --max-warnings=0, prettier --write

deck editor card entities
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

rest of commons
  client/public/images/expansion-icons/alter_egos_iii.png
  common/cards/alter-egos-iii/hermits/boomerbdubs-common.ts
  common/cards/alter-egos-iii/hermits/evilxisuma-common.ts
  common/cards/alter-egos-iii/hermits/fiveampearl-common.ts
  common/cards/alter-egos-iii/hermits/goatfather-common.ts
  common/cards/alter-egos-iii/hermits/helsknight-common.ts
  common/cards/alter-egos-iii/hermits/hotguy-common.ts
  common/cards/alter-egos-iii/hermits/humancleo-common.ts
  common/cards/alter-egos-iii/hermits/index.ts
  common/cards/alter-egos-iii/hermits/iskallman-common.ts
  common/cards/alter-egos-iii/hermits/jingler-common.ts
  common/cards/alter-egos-iii/hermits/llamadad-common.ts
  common/cards/alter-egos-iii/hermits/overseer-common.ts
  common/cards/alter-egos-iii/hermits/potatoboy-common.ts
  common/cards/alter-egos-iii/hermits/renbob-common.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
  common/cards/alter-egos-iii/hermits/steampunktango-rare.ts
  common/cards/alter-egos-iii/items/wild-common.ts
  common/cards/alter-egos/hermits/index.ts
Due: none

Name fixes
  client/src/components/card/hermit-card-svg.tsx
  common/cards/alter-egos-ii/hermits/poepoeskizz-rare.ts
  common/cards/alter-egos-iii/hermits/dwarfimpulse-rare.ts
  common/cards/alter-egos-iii/hermits/frenchralis-rare.ts
  common/cards/alter-egos-iii/hermits/poepoeskizz-common.ts
  common/cards/alter-egos-iii/hermits/poultryman-rare.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  common/types/cards.ts
Due: eslint --max-warnings=0, prettier --write

Redo item card ordering to put wild at the end
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Card disabling
  common/cards/alter-egos-iii/hermits/index.ts
  common/config/expansions.json
Due: none
