Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix Chroma Keyed Resetting on all Attacks (#768)
  common/status-effects/chroma-keyed.ts
Due: none

Make Turtle Shell Block Damage Entire Turn (#767)
  common/cards/alter-egos/effects/turtle-shell.ts
Due: none

more stolen minecraft sounds
  client/public/sfx/Weak_attack1.ogg
  client/public/sfx/Weak_attack2.ogg
  client/public/sfx/Weak_attack3.ogg
  client/public/sfx/Weak_attack4.ogg
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

Fix disabled cards error
  common/utils/validation.ts
Due: none

Fix broken deck validation (#776)
  common/utils/validation.ts
Due: none

Fix gem
  server/src/routines/turn-actions/attack.ts
Due: none

thorns
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/default/effects/thorns.ts
Due: none

Fix Bug Where Effect Cards would not Trigger Thorns (#779)
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/default/effects/thorns.ts
Due: none

Fix Gem Not Being Able To Play Second Single Use (#778)
  server/src/routines/turn-actions/attack.ts
Due: none

prevent playing card in filled slot
  server/src/routines/turn-actions/play-card.ts
Due: none

Fix interaction with onTurnEnd damage
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/status-effects/royal-protection.ts
Due: none

Princess gem fix (#766)
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/status-effects/royal-protection.ts
Due: none

Discard with armor stand when using ladder
  common/cards/alter-egos/effects/armor-stand.ts
  common/components/card-component.ts
Due: none

Remove attack sound effects
  client/public/sfx/Weak_attack1.ogg
  client/public/sfx/Weak_attack2.ogg
  client/public/sfx/Weak_attack3.ogg
  client/public/sfx/Weak_attack4.ogg
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

Fix behavior of lightning rod
  common/cards/alter-egos/effects/lightning-rod.ts
Due: none

Fix repeated flips on game termination
  server/src/routines/matchmaking.ts
Due: none

Remove player id from game saga
  client/src/app/game/toolbar/chat-item.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-saga.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/play-card.ts
Due: eslint --max-warnings=0, prettier --write

fix
  server/src/api.ts
Due: none

prettier
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/logic/game/game-selectors.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/components/player-component.ts
  common/models/battle-log-model.ts
Due: eslint --max-warnings=0, prettier --write

Update documentation comment
  server/src/routines/matchmaking.ts
Due: none

Improve comment clarity
  server/src/routines/matchmaking.ts
Due: none

Prevent coin flip animations after forfeits (#783)
  server/src/routines/matchmaking.ts
Due: none

Change things to the python way because CI was failing for some reason
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/models/game-model.ts
Due: none

fix coin flip removing code
  server/src/routines/matchmaking.ts
Due: none

Update ability of dropper, glowstone, and grianch
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/status-effects/naughty-regift.ts
Due: none

work
  tests/common/cards/unique-ids.test.ts
Due: none

sendGameMsg -> sendTurnAction
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

check
  .github/workflows/ci.yaml
  package.json
Due: none

changes
  biome.json
Due: none

README
  README.md
Due: none

vs control
  biome.json
Due: none

switch div with button
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

mark as disabled
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

prettier
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/cards/default/hermits/grian-rare.ts
  common/components/player-component.ts
  common/components/status-effect-component.ts
  common/models/battle-log-model.ts
  common/status-effects/status-effect.ts
  common/types/hooks.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

prettier
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/cards/default/hermits/grian-rare.ts
  common/components/player-component.ts
  common/components/status-effect-component.ts
  common/models/battle-log-model.ts
  common/status-effects/status-effect.ts
  common/types/hooks.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Discard When Swapping With Armor stand. (#781)
  common/cards/alter-egos/effects/armor-stand.ts
  common/components/card-component.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
