Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Activate all current hooks
  server/routines/game.js
Due: prettier --write

Add attacker for iron sword
  common/cards/card-plugins/single-use/iron-sword.js
Due: none

Type cleanup and bed, plus rework canAttach
  client/src/app/game/modals/unmet-condition-modal.tsx
  common/cards/card-plugins/_card.js
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/effects/loyalty.js
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/string.js
  common/cards/card-plugins/effects/turtle-shell.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/items/_item-card.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/lead.js
  common/types/attack.ts
  common/types/cards.ts
  common/types/game-state.ts
  server/models/attack-model.js
  server/routines/turn-actions/play-card.js
  server/types/index.js
  server/utils/cards.js
Due: eslint --max-warnings=0, prettier --write

Add default id for hermit attacks
  common/cards/card-plugins/hermits/_hermit-card.js
Due: none

Update bot url
  config/server-config.json
Due: none

Clean up turn state and add blocked actions
  common/types/game-state.ts
  server/models/game-model.js
  server/routines/background/connection-status.js
  server/routines/game.js
Due: prettier --write

Add types to utils and fix state gen
  server/utils/index.js
  server/utils/state-gen.js
Due: prettier --write

Rework attack saga so that we loop though each step - so we can add previews later
  common/types/game-state.ts
  server/routines/turn-actions/attack.js
Due: prettier --write

New bdubs rare
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
Due: none

New cubfan rare
  common/cards/card-plugins/hermits/cubfan135-rare.js
Due: none

New docm rare
  common/cards/card-plugins/hermits/docm77-rare.js
Due: none

New etho rare
  common/cards/card-plugins/hermits/ethoslab-rare.js
Due: none

Fix attack.js index problems
  server/routines/turn-actions/attack.js
Due: prettier --write

New ultra rare etho
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
Due: none

New false rare
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
Due: none

Add onAttach and onDetach hooks
  common/types/game-state.ts
  server/routines/turn-actions/play-card.js
  server/utils/index.js
Due: prettier --write

Welsknight rare working
  common/cards/card-plugins/hermits/welsknight-rare.js
Due: none

Piston
  client/public/images/effects/piston.png
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/piston.js
Due: eslint --max-warnings=0, prettier --write

Adjacent requirement and pickedCard to pickedSlot.
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  client/src/logic/game/tasks/attack-saga.ts
  client/src/logic/game/tasks/pick-process-saga.ts
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/lead.js
  common/types/game-state.ts
  common/types/pick-process.ts
  server/routines/game.js
  server/routines/turn-actions/apply-effect.js
  server/routines/turn-actions/attack.js
  server/types/index.js
  server/utils/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

getIsRemovable is called on validPick client side.
  common/cards/card-plugins/effects/_effect-card.js
Due: none

Fixed attacks on row index 0
  common/cards/card-plugins/hermits/_hermit-card.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Adjacent message
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

Compare against the attackId.
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
  common/cards/card-plugins/hermits/cubfan135-rare.js
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
Due: none

Ladder
  client/public/images/effects/ladder.png
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/ladder.js
Due: eslint --max-warnings=0, prettier --write

Fix activeRow when 0 and get correct player id
  server/utils/reqs.js
Due: prettier --write

Changed adjacent message
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

Bring back anyAvailableReqOptions
  client/src/logic/game/tasks/pick-process-saga.ts
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Update welsknight-rare.js
  common/cards/card-plugins/hermits/welsknight-rare.js
Due: none

Mumbo jumbo rare
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
Due: none

Refactor wolf card
  common/cards/card-plugins/effects/wolf.js
Due: none

Refactor wolf
  common/cards/card-plugins/effects/wolf.js
Due: none

Fire Charge
  client/public/images/effects/fire_charge.png
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/fire-charge.js
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Use onAttack hook
  common/cards/card-plugins/effects/wolf.js
Due: none

Water bucket
  common/cards/card-plugins/effects/water-bucket.js
Due: none

Lava bucket
  common/cards/card-plugins/single-use/lava-bucket.js
Due: none

stress rare (in progress)
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/stressmonster101-rare.js
  config/debug-config.json
  config/server-config.json
Due: none

Fix new attacks not being added to the attack list
  server/routines/turn-actions/attack.js
Due: prettier --write

Update iskall85-rare.js
  common/cards/card-plugins/hermits/iskall85-rare.js
Due: none

Update tinfoilchef-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
Due: none
