Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

make layout easier to follow
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/private-game.tsx
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Copy spectator code when it is clicked
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

Copy spectator code when it is clicked (#926)
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

fix Slimeball interactions with Looting and G.Axe
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/default/single-use/looting.ts
  tests/unit/game/effects/slimeball.test.ts
Due: none

rm private game
  client/src/app/main-menu/private-game.tsx
Due: eslint --max-warnings=0, prettier --write

More UI changes
  client/src/app/app.tsx
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix bug where players could join their own games
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix build errors
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Move Around Buttons On Title Screen (#925)
  client/src/app/app.tsx
  client/src/app/main-menu/create-private.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update private game lobby
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

Fix e2e tests
  tests/e2e/private-queue.spec.ts
Due: none

Update return text
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

Frontend changes
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix broken tests
  tests/e2e/private-queue.spec.ts
Due: none

Some more UI changes
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix button size
  client/src/app/match-making/match-making.module.scss
Due: stylelint --fix

fix
  client/src/components/coin-flip/coin-flip.tsx
  common/components/player-component.ts
  common/models/battle-log-model.ts
  common/status-effects/badomen.ts
  common/status-effects/fortune.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
Due: eslint --max-warnings=0, prettier --write

FLIPPINGS
  client/src/components/coin-flip/coin-flip.tsx
  common/components/player-component.ts
  common/utils/coinFlips.ts
Due: eslint --max-warnings=0, prettier --write

Fix tails
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

Add and fix tests for Pharaoh
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  tests/unit/game/hermits/pharaoh-rare.test.ts
Due: none

Fix import error with tests
  tests/unit/game/hermits/pharaoh-rare.test.ts
Due: none

Shorten Coin Flips When They are Forced (#927)
  client/src/components/coin-flip/coin-flip.tsx
  common/components/player-component.ts
  common/models/battle-log-model.ts
  common/status-effects/badomen.ts
  common/status-effects/fortune.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
Due: eslint --max-warnings=0, prettier --write

show coin flips for spectators
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

Fix broken styles
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

reset invalid code when entering new code
  client/src/logic/matchmaking/matchmaking-reducer.ts
Due: eslint --max-warnings=0, prettier --write

Make invalid code banner stay in same place
  client/src/app/match-making/match-making.tsx
  client/src/components/error-banner/error-banner.module.scss
  client/src/components/error-banner/error-banner.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Voice changes
  client/src/logic/game/game-saga.ts
  common/models/game-model.ts
  common/socket-messages/server-messages.ts
  common/types/game-state.ts
  server/src/routines/game.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Some changes to sound
  client/src/app/game/game.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/sound/sound-saga.ts
  server/src/routines/virtual/exboss-ai.ts
Due: eslint --max-warnings=0, prettier --write

Fixes
  client/src/app/game/game.tsx
  common/components/ai-component.ts
  common/types/game-state.ts
  common/types/turn-action-data.ts
  common/types/virtual-ai.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/virtual-action.ts
Due: eslint --max-warnings=0, prettier --write

Fixes
  common/types/game-state.ts
Due: none

Fixes
  server/src/routines/game.ts
Due: none

Changes
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
Due: none

Refactor and test Shelby/Cat
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/status-effects/cat-gift.ts
  common/status-effects/index.ts
  tests/unit/game/effects/cat.test.ts
  tests/unit/game/hermits/shubbleyt-rare.test.ts
Due: none

Fix build errors
  client/src/logic/game/tasks/action-modals-saga.ts
  common/components/ai-component.ts
  common/socket-messages/server-messages.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Add test
  tests/snapshots/end-turn-modal.test.tsx
Due: none

Add end turn modal snpashots
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/logic/game/tasks/action-modals-saga.ts
  jest.config.mjs
  tests/snapshots/__snapshots__/end-turn-modal.test.tsx.snap
  tests/snapshots/end-game-modal.test.tsx
  tests/snapshots/end-turn-modal.test.tsx
Due: eslint --max-warnings=0, prettier --write

rework
  client/src/app/game/modals/end-turn-modal.tsx
Due: eslint --max-warnings=0, prettier --write

remove end game modal
  tests/snapshots/end-game-modal.test.tsx
Due: none

I HATE RADIX
  package-lock.json
  package.json
  tests/snapshots/__snapshots__/end-turn-modal.test.tsx.snap
  tests/snapshots/end-turn-modal.test.tsx
Due: none

Fix clicks outside modal unfocusing
  client/src/components/modal/modal.module.scss
Due: stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
