Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Redstone torch (#1019)
  client/public/images/effects/redstone_torch.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
  tests/unit/game/advent-of-tcg/effects/redstone-torch.test.ts
Due: none

Add validation
  client/public/images/effects/feather.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/feather.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/config/server-config.js
  common/const/expansions.ts
  common/utils/validation.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
  tests/unit/game/advent-of-tcg/effects/fletching-table.test.ts
  tests/unit/game/advent-of-tcg/effects/glowstone.test.ts
  tests/unit/game/advent-of-tcg/effects/lantern.test.ts
Due: eslint --max-warnings=0, prettier --write

continue rebase
  README.md
  card-prerender/render.spec.tsx
  client/public/images/cards/allay.webp
  client/public/images/cards/allay_with_tokens.webp
  client/public/images/cards/arrow_of_poison.webp
  client/public/images/cards/arrow_of_poison_with_tokens.webp
  client/public/images/cards/feather.webp
  client/public/images/cards/feather_with_tokens.webp
  client/public/images/cards/mining_fatigue.webp
  client/public/images/cards/mining_fatigue_with_tokens.webp
  client/public/images/cards/powder_snow_bucket.webp
  client/public/images/cards/powder_snow_bucket_with_tokens.webp
  client/public/images/cards/sculk_catalyst.webp
  client/public/images/cards/sculk_catalyst_with_tokens.webp
  client/public/images/cards/smithing_table.webp
  client/public/images/cards/smithing_table_with_tokens.webp
  client/public/images/cards/wind_burst.webp
  client/public/images/cards/wind_burst_with_tokens.webp
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
  tests/sh/test-api
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix redstone torch expansion (#1073)
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
Due: none

Fix branches on which CI run (#989)
  .github/workflows/ci.yaml
Due: none

Fix D.Impulse adding request after using G.Axe (#1021)
  common/cards/hermits/dwarfimpulse-rare.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

Implement TNT Minecart (#1008)
  client/public/images/cards/tnt_minecart.webp
  client/public/images/cards/tnt_minecart_with_tokens.webp
  client/public/images/effects/tnt_minecart.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  tests/unit/game/advent-of-tcg/effects/tnt-minecart.test.ts
Due: none

fix Elder Guardian issues (#1074)
  common/cards/advent-of-tcg/attach/elder-guardian.ts
  common/status-effects/mining-fatigue.ts
  common/status-effects/status-effect.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

Fix rarities and token costs of AoTCG II cards (#1091)
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/advent-of-tcg/single-use/arrow-of-poison.ts
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/smithing-table.ts
  common/cards/advent-of-tcg/single-use/wind-burst.ts
Due: none

Remove mining fatigue card from Aotcg (#1072)
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  tests/unit/game/advent-of-tcg/effects/mining-fatigue.test.ts
Due: none

Add drag modal for brush (#982)
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-modals-saga.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/models/game-model.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix bug where splash potion of Poison would not regenerate its image
  card-prerender/render.spec.tsx
  client/public/images/cards/splash_potion_of_harming.png
  client/public/images/cards/splash_potion_of_harming.webp
  client/public/images/cards/splash_potion_of_harming_with_tokens.png
  client/public/images/cards/splash_potion_of_harming_with_tokens.webp
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/config/server-config.js
Due: none

Implement candle (#1007)
  client/public/images/cards/candle.webp
  client/public/images/cards/candle_with_tokens.webp
  client/public/images/effects/candle.png
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/index.ts
  tests/unit/game/advent-of-tcg/effects/candle.test.ts
Due: none

Fix docs
  README.md
Due: none

Fix docs
  aotcg.md
Due: none

Show Tooltips Above Evil X Modal (#1089)
  client/src/app/main-menu/boss-landing.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Errors In Docs (#1092)
  README.md
  aotcg.md
Due: none

errors
  common/entities.ts
  common/models/game-model.ts
Due: none

changes
  common/models/game-model.ts
Due: none

changes
  server/src/routines/matchmaking.ts
Due: none

changes
  server/src/routines/setup-game.ts
Due: none

WTF IS HAPPENING
  server/src/routines/.game.ts.kak.PWaWQg
  server/src/routines/matchmaking.ts
  server/src/routines/setup-game.ts
Due: none

WTF IS HAPPENING
  server/src/routines/.game.ts.kak.PWaWQg
Due: none

adjustments
  server/src/routines/game.ts
  server/src/routines/setup-game.ts
Due: none

changes
  server/src/routines/matchmaking.ts
  server/src/routines/setup-game.ts
Due: none

fix some build errors
  common/types/game-state.ts
  server/src/game-controller.ts
  server/src/routines/setup-game.ts
  server/src/utils/state-gen.ts
Due: none

Fix cards not dragging on brush mobile on PC, and image showing on mobile
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

Fix decks not deleting properly
  server/src/db/db.ts
Due: none

fix sql so tests pass
  server/src/db/db.ts
Due: none

Some changes
  server/src/utils/state-gen.ts
Due: none

AoTCG II palette and AoTCG palette change
  client/public/images/backgrounds/advent_of_tcg.png
  client/public/images/backgrounds/advent_of_tcg_ii.png
  client/src/components/card/hermit-card-svg.module.scss
  common/cards/card.ts
  common/cards/types.ts
Due: stylelint --fix

improved tests for db deletion
  tests/db/database.test.ts
Due: none

Fix card selectability (#1093)
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

Fix decks not deleting properly (#1094)
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

Fix issues with tooltips and deck builder on mobile
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/components/status-effects/status-effect-tooltip.module.scss
  client/src/components/tooltip/tooltip.module.scss
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix
