Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

scar rare hermit
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
Due: none

remove recoverAmount & switch scarRevivedKey
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
Due: none

Fix jsconfig and server tsc
  jsconfig.json
  package.json
Due: none

Further jsconfig changes
  jsconfig.json
  server/utils/state-gen.js
Due: prettier --write

Command Block and Curse of Vanishing (#177)
  client/public/images/effects/command_block.png
  common/cards/card-plugins/effects/command-block.js
  common/cards/card-plugins/single-use/curse-of-vanishing.js
  server/utils/reqs.js
Due: prettier --write

Add item defs and new energy system
  common/cards/card-plugins/items/_item-card.js
  common/types/cards.ts
  common/types/game-state.ts
  server/routines/game.js
  server/utils/index.js
Due: prettier --write

Delete beforeAttack
  common/cards/card-plugins/hermits/hotguy-rare.js
Due: none

Switch all item cards to new system
  common/cards/card-plugins/items/balanced-common.js
  common/cards/card-plugins/items/balanced-rare.js
  common/cards/card-plugins/items/builder-common.js
  common/cards/card-plugins/items/builder-rare.js
  common/cards/card-plugins/items/explorer-common.js
  common/cards/card-plugins/items/explorer-rare.js
  common/cards/card-plugins/items/farm-common.js
  common/cards/card-plugins/items/farm-rare.js
  common/cards/card-plugins/items/miner-common.js
  common/cards/card-plugins/items/miner-rare.js
  common/cards/card-plugins/items/prankster-common.js
  common/cards/card-plugins/items/prankster-rare.js
  common/cards/card-plugins/items/pvp-common.js
  common/cards/card-plugins/items/pvp-rare.js
  common/cards/card-plugins/items/redstone-common.js
  common/cards/card-plugins/items/redstone-rare.js
  common/cards/card-plugins/items/speedrunner-common.js
  common/cards/card-plugins/items/speedrunner-rare.js
  common/cards/card-plugins/items/terraform-common.js
  common/cards/card-plugins/items/terraform-rare.js
Due: none

Tweaks
  common/cards/card-plugins/items/_item-card.js
  common/types/cards.ts
  server/routines/game.js
  server/utils/state-gen.js
Due: prettier --write

More tweaks
  server/utils/index.js
Due: prettier --write

Final command block
  common/cards/card-plugins/effects/command-block.js
Due: none

Randomize card instances on game start
  server/utils/state-gen.js
Due: prettier --write

Fire Charge (#198)
  client/public/images/effects/fire_charge.png
  common/cards/card-plugins/single-use/fire-charge.js
Due: none

Trident (#213)
  common/cards/card-plugins/single-use/trident.js
Due: none

ALways filter with blocked actions
  server/routines/game.js
Due: prettier --write

Ultra Rare TFC (#211)
  common/cards/card-plugins/hermits/tinfoilchef-ultra-rare.js
Due: none

Flint and Steel, Composter and Fishing Rod (#215)
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/fishing-rod.js
  common/cards/card-plugins/single-use/flint-and-steel.js
  server/utils/index.js
  server/utils/reqs.js
Due: prettier --write

Clock Ported
  common/cards/card-plugins/single-use/clock.js
Due: none

Removed getHasRedirectingCards from import
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/single-use/target-block.js
Due: none

Can't attach on turn 1
  common/cards/card-plugins/single-use/clock.js
Due: none

Clock (#237)
  common/cards/card-plugins/single-use/clock.js
Due: none

Change wording of invalid card play
  client/src/app/game/modals/unmet-condition-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Allow to pick less slots if not enough valid slots (#233)
  client/src/app/game/game.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/tasks/pick-process-saga.ts
  common/types/pick-process.ts
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Crossbow ported (#234)
  common/cards/card-plugins/single-use/crossbow.js
Due: none

New hypno rare except picks not working
  common/cards/card-plugins/hermits/hypnotizd-rare.js
Due: none

New efficiency
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/single-use/efficiency.js
Due: none

Removed breakIf check on anyAvailableReqOptions
  server/utils/reqs.js
Due: prettier --write

Removed breakIf check on anyAvailableReqOptions (#238)
  server/utils/reqs.js
Due: prettier --write

Further hypno fixes - hypno done.
  common/cards/card-plugins/hermits/hypnotizd-rare.js
Due: none

Added followup to the new hooks
  client/src/logic/game/tasks/action-logic-saga.ts
  common/types/game-state.ts
  server/routines/game.js
  server/routines/turn-actions/follow-up.js
  server/utils/state-gen.js
Due: eslint --max-warnings=0, prettier --write

Lock damage and removed uncessesary check.
  common/cards/card-plugins/effects/chainmail-armor.js
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/netherite-armor.js
Due: none

Added followUp to onFollowUpTimeout
  common/types/game-state.ts
  server/routines/game.js
Due: prettier --write

Tango Ported
  common/cards/card-plugins/hermits/tangotek-rare.js
Due: none

New keralis rare
  common/cards/card-plugins/hermits/keralis-rare.js
Due: none

Added followup to the new hooks (#239)
  client/src/logic/game/tasks/action-logic-saga.ts
  common/types/game-state.ts
  server/routines/game.js
  server/routines/turn-actions/follow-up.js
  server/utils/state-gen.js
Due: eslint --max-warnings=0, prettier --write

Update deck urls embedded in urls for the new system (#231)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add 'Board' back to target requirement (#208)
  server/utils/reqs.js
Due: prettier --write

Shield, Netherite, Diamond, Iron, Gold and Chainmail Armor (#216)
  client/public/images/effects/chainmail_armor.png
  common/cards/card-plugins/effects/chainmail-armor.js
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/netherite-armor.js
  common/cards/card-plugins/effects/shield.js
Due: none

Only ignore armor
  common/cards/card-plugins/effects/wolf.js
Due: none

Update description, remove returns
  common/cards/card-plugins/single-use/lava-bucket.js
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
