Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

fix
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

Update server-config.js
  common/config/server-config.js
Due: none

Update fly.toml
  fly.toml
Due: none

Update to use new sound method
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
Due: eslint --max-warnings=0, prettier --write

rename
  common/achievements/acquire-hardware.ts
  common/achievements/hall-of-all.ts
  common/achievements/index.ts
Due: none

remove sheep starer
  common/achievements/index.ts
  common/achievements/sheep-starer.ts
  common/cosmetics/coins.ts
Due: none

achievements endpoint
  server/src/api/achievements.ts
  server/src/api/index.ts
Due: none

Add level index
  server/src/api/achievements.ts
Due: none

lint
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

rename "Acquire Hardware" to "Hall of All" and change reward to Pink Sheep (#1352)
  common/achievements/acquire-hardware.ts
  common/achievements/hall-of-all.ts
  common/achievements/index.ts
  common/achievements/sheep-starer.ts
  common/cosmetics/coins.ts
Due: none

lint
  server/src/api/achievements.ts
Due: none

Add free and steel to achievements index to fix CI
  common/achievements/index.ts
Due: none

Settings rework (#1351)
  client/src/app/app.tsx
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/main-menu/credits.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/settings.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/button/button.module.scss
  client/src/components/credit/credit.tsx
  client/src/components/credit/developer-credit.tsx
  client/src/components/setting/setting.module.scss
  client/src/components/setting/sound-setting.tsx
  client/src/components/setting/toggle-setting.tsx
  client/src/components/slider/slider.module.scss
  client/src/components/tabs/tabs.module.scss
  client/src/components/tabs/tabs.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Achievement toasts in game (#1347)
  client/src/components/toast/toast.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/achievements.ts
  common/achievements/index.ts
  common/achievements/types.ts
  common/components/achievement-component.ts
  common/socket-messages/server-messages.ts
  common/types/achievements.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Lint
  server/src/api/achievements.ts
  server/src/api/index.ts
Due: none

More endpoint bits
  server/src/api/achievements.ts
  server/src/api/index.ts
  server/src/db/db.ts
Due: none

Documentation, lint and build
  server/src/api/achievements.ts
  server/src/db/db.ts
Due: none

actually commit docs
  API.md
Due: none

Tests
  tests/db/database.test.ts
Due: none

Linit
  tests/db/database.test.ts
Due: none

lint take II
  server/src/api/achievements.ts
  server/src/api/index.ts
  tests/db/database.test.ts
Due: none

achievements endpoint (#1353)
  API.md
  server/src/api/achievements.ts
  server/src/api/index.ts
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

Fix recently added achievements
  common/achievements/close-call.ts
  common/achievements/hall-of-all.ts
  common/achievements/lucky-streak.ts
  common/achievements/master-of-puppets.ts
  common/achievements/new-team-canada.ts
  tests/unit/game/achievements/master-of-puppets.test.ts
  tests/unit/game/achievements/new-team-canada.test.ts
Due: none

Fix recently added achievements (#1355)
  common/achievements/close-call.ts
  common/achievements/hall-of-all.ts
  common/achievements/lucky-streak.ts
  common/achievements/master-of-puppets.ts
  common/achievements/new-team-canada.ts
  tests/unit/game/achievements/master-of-puppets.test.ts
  tests/unit/game/achievements/new-team-canada.test.ts
Due: none

Show no title when no title is selected
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/achievements.tsx
Due: eslint --max-warnings=0, prettier --write

Fix 0 level error
  client/src/components/achievement/achievement.tsx
  client/src/logic/game/tasks/achievements.ts
  server/src/api/achievements.ts
Due: eslint --max-warnings=0, prettier --write

Fix exclusion for all levels
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write

Fixes
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/timer/timer.module.scss
  client/src/app/main-menu/settings.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/tabs/tabs.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Show card events on board
  client/src/app/game/board/board.module.scss
Due: stylelint --fix

Format, disable evil X rematch
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/achievements.tsx
  server/src/api/achievements.ts
Due: eslint --max-warnings=0, prettier --write

play select fix
  client/src/app/main-menu/play-select.module.scss
Due: stylelint --fix

i hate this
  common/achievements/pesky-bird.ts
  common/cards/hermits/jingler-rare.ts
  common/components/card-component.ts
  tests/unit/game/achievements/pesky-bird.test.ts
Due: none

changes
  common/achievements/pesky-bird.ts
  tests/unit/game/achievements/pesky-bird.test.ts
Due: none

format
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

don't call on change slot
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
Due: none

Update component tests
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
Due: none

rematch data
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-you-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-because-your-opponent-disconnected-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

fix jingler tests
  tests/unit/game/hermits/jingler-rare.test.ts
Due: none
