Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix readme mistake
  README.md
Due: none

Fix jingler not using the new discardFromHand method
  common/cards/hermits/jingler-rare.ts
Due: none

Update readme and npm scripts (#375)
  README.md
  package.json
Due: none

Fix turtle shell
  common/cards/effects/turtle-shell.ts
Due: none

Fix chat notification when you chat
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write

run prettier
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write

Fix ladder resetting card pos
  common/cards/single-use/ladder.ts
  common/models/card-pos-model.ts
  common/utils/movement.ts
Due: none

Add blocked actions for clarity and don't block apply effect
  common/models/game-model.ts
  common/types/game-state.ts
  common/utils/state-gen.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/change-active-hermit.ts
Due: none

Add back bad omen visual
  client/src/app/game/board/board.module.scss
Due: stylelint --fix

If there is no active row, only allow changing active hermit and nothing else
  server/src/routines/game.ts
Due: none

Rename lastEnemyMessageTime to lastOpponentMessageTime
  client/src/app/game/toolbar/chat-item.tsx
  server/src/plugins/firebase-logs.ts
Due: eslint --max-warnings=0, prettier --write

Fix armor stand giving victory point when it dies on own turn
  common/cards/effects/armor-stand.ts
Due: none

Change world to beta - how long was this wrong for :(
  common/config/server-config.json
Due: none

Fix client/server connection issues, and probably wrong state bug
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add addBefore to hooks and fix axe
  common/cards/single-use/golden-axe.ts
  common/models/card-pos-model.ts
  common/types/hooks.ts
  common/utils/attacks.ts
  common/utils/board.ts
Due: none

Minor changes
  common/cards/hermits/xbcrafted-rare.ts
  common/cards/single-use/golden-axe.ts
Due: none

Fix flint and steel
  common/cards/single-use/flint-and-steel.ts
  common/utils/movement.ts
Due: none

Fix armor stand giving victory point when it dies on own turn (#377)
  common/cards/effects/armor-stand.ts
Due: none

Fix chat notification when you chat (#376)
  client/src/app/game/toolbar/chat-item.tsx
  server/src/plugins/firebase-logs.ts
Due: eslint --max-warnings=0, prettier --write

Beta v0.6.11
  common/config/server-config.json
Due: none

added maxFollowupTime to server-config
  common/config/server-config.json
  server/src/routines/game.ts
Due: none

set time limits back to normal
  common/config/server-config.json
Due: none

fixed spyglass using incorrect styles
  client/src/app/game/modals/spyglass-modal.tsx
Due: eslint --max-warnings=0, prettier --write

updated evil-x modal styles
  client/src/app/game/modals/evil-x-modal.module.css
  client/src/app/game/modals/evil-x-modal.tsx
Due: eslint --max-warnings=0, prettier --write

updated looting modal styles
  client/src/app/game/modals/looting-modal.module.css
  client/src/app/game/modals/looting-modal.tsx
Due: eslint --max-warnings=0, prettier --write

updated husky command to run correct npm script
  .husky/pre-commit
Due: none

readded eslint config in client dir
  client/.eslintrc.json
  package-lock.json
  package.json
Due: none

fixed warping card text on game screen
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

added unlimitedCards option to debug-config
  common/config/debug-config.json
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: none

added search filter in hand
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

fix linter errors
  client/src/app/game/battle-log/battle-log.module.scss
  client/src/app/game/battle-log/battle-log.tsx
  client/src/app/game/battle-log/index.ts
  server/src/utils/battle-log.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

bug fixes
  client/src/app/game/battle-log/battle-log.module.scss
  client/src/app/game/battle-log/battle-log.tsx
  server/src/utils/battle-log.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add server build with esbuild for server
  esbuild.js
  jsconfig.json
  package-lock.json
  package.json
  server/src/plugins/firebase-logs.ts
  server/src/utils/win-conditions.ts
  server/tsconfig.json
Due: none

fixed warping card text on game screen (#380)
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Bug/modal fixes (#378)
  client/src/app/game/modals/evil-x-modal.module.css
  client/src/app/game/modals/evil-x-modal.tsx
  client/src/app/game/modals/looting-modal.module.css
  client/src/app/game/modals/looting-modal.tsx
  client/src/app/game/modals/spyglass-modal.tsx
  common/config/server-config.json
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

rename maxFollowupTime to maxFollowUpTime
  common/config/server-config.json
  server/src/routines/game.ts
Due: none

Bug/husky and linting errors (#379)
  .husky/pre-commit
  client/.eslintrc.json
  package-lock.json
  package.json
Due: none

Fix modal being behind tooltip
  client/src/components/modal/modal.module.scss
Due: stylelint --fix

Attempt to fix the jamm bug
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write
