Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix Thorns Typo (#992)
  common/cards/attach/thorns.ts
Due: none

Add More API Endpoints (#983)
  API.md
  common/cards/card.ts
  server/src/api/cards.ts
  server/src/api/index.ts
  tests/sh/test-api
Due: none

new starter decks
  common/cards/starter-decks.ts
  server/src/index.ts
Due: none

fix readme
  README.md
Due: none

format
  server/src/index.ts
Due: none

Fix README (#994)
  README.md
Due: none

New Starter Decks (#993)
  common/cards/starter-decks.ts
Due: none

Use DATABASE_URL if provided
  server/src/db/db.ts
Due: none

Only use database url
  .github/workflows/ci.yaml
  example.env
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

Only use database url
  .github/workflows/ci.yaml
Due: none

Only use database url
  .github/workflows/ci.yaml
  tests/db/database.test.ts
Due: none

Fix errors
  .github/workflows/ci.yaml
  tests/db/database.test.ts
Due: none

Use `DATABASE_URL` to connect to postgres (#995)
  .github/workflows/ci.yaml
  example.env
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

Fix
  Dockerfile
  README.md
Due: none

Actually Build The Project... (#996)
  Dockerfile
  README.md
Due: none

bruh
  card-prerender/render.spec.tsx
Due: none

Fix issues found
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Card adjustments
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

More fix
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write

fix uuid issue
  server/src/routines/matchmaking.ts
Due: none

Fix UUID Issue (#1000)
  server/src/routines/matchmaking.ts
Due: none

Preliminary deck fixes
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Card adjustments (#998)
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix a bunch of issues with the database
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

some changes
  client/src/components/import-export/import-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fix
  server/src/db/db.ts
Due: none

Text update
  client/src/components/import-export/import-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Deck issues (#999)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

Fix imports
  client/src/components/import-export/import-modal.tsx
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix Missing Field In Input Modal (#1002)
  client/src/components/import-export/import-modal.tsx
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix bdouble0 being deleted
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

Fix Bdouble0 Being Deleted from Decks (#1003)
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

improvements to mobile experience
  client/src/app/deck/deck-edit.tsx
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fixes
  client/src/app/deck/deck-select.tsx
  client/src/logic/session/session-reducer.ts
  common/models/player-model.ts
  common/types/server-requests.ts
  server/src/db/db-reciever.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Fix
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write
