Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Tests for passive cards
  server/src/routines/game.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/postmasterpearl-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/zookeeperscar-rare.test.ts
Due: none

Postmaster Pearl reshuffle cards & change stats, Lint
  common/cards/advent-of-tcg/hermits/postmasterpearl-rare.ts
  common/status-effects/post-inspector.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/postmasterpearl-rare.test.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/postmasterpearl_rare.webp
  client/public/images/cards/postmasterpearl_rare_with_tokens.webp
Due: none

Update
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Batlte-log-messages-are-hidden-properly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-2-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-1-firefox-linux.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-2-firefox-linux.png
Due: none

remove 'dows snapshots
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Effect-card-SVG-1-firefox-win32.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Hermit-card-SVG-1-firefox-win32.png
  tests/ct/__snapshots__/cards.spec.tsx-snapshots/Item-card-SVG-1-firefox-win32.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Batlte-log-messages-are-hidden-properly-1-firefox-win32.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-1-firefox-win32.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Messages-do-not-have-colors-for-formatting-2-firefox-win32.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-1-firefox-win32.png
  tests/ct/__snapshots__/chat-content.spec.tsx-snapshots/Players-and-spectators-view-messages-correctly-2-firefox-win32.png
  tests/ct/__snapshots__/modals.spec.tsx-snapshots/Altert-Modal-1-firefox-win32.png
  tests/ct/__snapshots__/modals.spec.tsx-snapshots/Confirm-Modal-1-firefox-win32.png
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-With-Image-1-firefox-win32.png
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-Without-Image-1-firefox-win32.png
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Global-1-firefox-win32.png
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Hermit-1-firefox-win32.png
Due: none

Fix redstone torch expansion (#1073)
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
Due: none

Make spectator messages gray
  client/src/components/formatting/formatting.module.scss
  common/utils/formatting.ts
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
Due: stylelint --fix

Fix evil X games not being removed from root
  common/types/turn-action-data.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-actions.ts
  server/src/routines/virtual/exboss-ai.ts
Due: none

Some fixes
  client/src/logic/game/game-saga.ts
  common/types/turn-action-data.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-actions.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/virtual-action.ts
Due: eslint --max-warnings=0, prettier --write

Some fixes
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
  server/src/routines/virtual/virtual-action.ts
Due: none

remove lying comment
  server/src/routines/matchmaking.ts
Due: none

Dont close modals on turn action
  client/src/logic/game/game-reducer.ts
Due: eslint --max-warnings=0, prettier --write

FIXED
  client/src/logic/game/game-reducer.ts
Due: eslint --max-warnings=0, prettier --write

Fix passives implementation
  common/cards/advent-of-tcg/hermits/cyberpunkimpulse-rare.ts
  common/cards/advent-of-tcg/hermits/zookeeperscar-rare.ts
  tests/unit/game/advent-of-tcg/hermits/zookeeperscar-rare.test.ts
Due: none

Prevent mocking passives
  common/cards/advent-of-tcg/hermits/cyberpunkimpulse-rare.ts
  common/cards/advent-of-tcg/hermits/postmasterpearl-rare.ts
  server/src/utils/state-gen.ts
  tests/unit/game/advent-of-tcg/hermits/zookeeperscar-rare.test.ts
Due: none

Codify golden axe interaction with Lasso
  tests/unit/game/advent-of-tcg/hermits/zookeeperscar-rare.test.ts
Due: none

Make spectator messages in the chat window gray (#1079)
  client/src/components/formatting/formatting.module.scss
  common/utils/formatting.ts
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
Due: stylelint --fix

Adjust Smallsihbeans Advent To Have Damage Reduced Wtih Mining Fatigue
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/smallishbeansadvent_rare.webp
  client/public/images/cards/smallishbeansadvent_rare_with_tokens.webp
Due: none

initial
  aotcg.md
  common/cards/advent-of-tcg/single-use/fletching-table.ts
Due: none

Add validation
  client/public/images/effects/feather.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/feather.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/config/server-config.js
  common/const/expansions.ts
  common/utils/validation.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
  tests/unit/game/advent-of-tcg/effects/fletching-table.test.ts
  tests/unit/game/advent-of-tcg/effects/glowstone.test.ts
  tests/unit/game/advent-of-tcg/effects/lantern.test.ts
Due: eslint --max-warnings=0, prettier --write

Add drag modal for brush (#982)
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-modals-saga.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/models/game-model.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix branches on which CI run (#989)
  .github/workflows/ci.yaml
Due: none

Enable Advent of TCG
  common/const/expansions.ts
Due: none

continue rebase
  README.md
  card-prerender/render.spec.tsx
  client/public/images/cards/allay.webp
  client/public/images/cards/allay_with_tokens.webp
  client/public/images/cards/arrow_of_poison.webp
  client/public/images/cards/arrow_of_poison_with_tokens.webp
  client/public/images/cards/feather.webp
  client/public/images/cards/feather_with_tokens.webp
  client/public/images/cards/mining_fatigue.webp
  client/public/images/cards/mining_fatigue_with_tokens.webp
  client/public/images/cards/powder_snow_bucket.webp
  client/public/images/cards/powder_snow_bucket_with_tokens.webp
  client/public/images/cards/sculk_catalyst.webp
  client/public/images/cards/sculk_catalyst_with_tokens.webp
  client/public/images/cards/smithing_table.webp
  client/public/images/cards/smithing_table_with_tokens.webp
  client/public/images/cards/wind_burst.webp
  client/public/images/cards/wind_burst_with_tokens.webp
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
  tests/sh/test-api
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix D.Impulse adding request after using G.Axe (#1021)
  common/cards/hermits/dwarfimpulse-rare.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

Implement TNT Minecart (#1008)
  client/public/images/cards/tnt_minecart.webp
  client/public/images/cards/tnt_minecart_with_tokens.webp
  client/public/images/effects/tnt_minecart.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  tests/unit/game/advent-of-tcg/effects/tnt-minecart.test.ts
Due: none

Add Elder Guardian (#985)
  client/public/images/cards/elder_guardian.webp
  client/public/images/cards/elder_guardian_with_tokens.webp
  client/public/images/cards/redstone_torch.webp
  client/public/images/cards/redstone_torch_with_tokens.webp
  client/public/images/effects/elder_guardian.png
  common/cards/advent-of-tcg/attach/elder-guardian.ts
  common/cards/advent-of-tcg/attach/index.ts
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  common/components/card-component.ts
  common/components/status-effect-component.ts
  common/status-effects/betrayed.ts
  common/status-effects/index.ts
  common/status-effects/mining-fatigue.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

fix Elder Guardian issues (#1074)
  common/cards/advent-of-tcg/attach/elder-guardian.ts
  common/status-effects/mining-fatigue.ts
  common/status-effects/status-effect.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

Redstone torch (#1019)
  client/public/images/effects/redstone_torch.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
  tests/unit/game/advent-of-tcg/effects/redstone-torch.test.ts
Due: none

Implement candle (#1007)
  client/public/images/cards/candle.webp
  client/public/images/cards/candle_with_tokens.webp
  client/public/images/effects/candle.png
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/index.ts
  tests/unit/game/advent-of-tcg/effects/candle.test.ts
Due: none

Remove mining fatigue card from Aotcg (#1072)
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  tests/unit/game/advent-of-tcg/effects/mining-fatigue.test.ts
Due: none

Fix failed rebase in README.md
  README.md
Due: none

Fix bad merge in cards.tsx
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

Format
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Fix some errors
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
Due: none

Fix CI errors on aotcgii branch (#1081)
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
Due: none
