Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

issues
  common/utils/chat.ts
  server/src/index.ts
Due: none

fix a bug
  common/utils/chat.ts
Due: none

fixes to emoji system
  common/utils/chat.ts
Due: none

add escape characters
  common/utils/chat.ts
  server/src/index.ts
Due: none

probably fix the code
  common/utils/chat.ts
  server/src/index.ts
Due: none

var -> let
  common/utils/chat.ts
  server/src/index.ts
Due: none

fix index.ts and battle log model images
  common/models/battle-log-model.ts
  server/src/index.ts
Due: none

fix crashes and add some random colors
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  common/cards/default/effects/totem.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  common/utils/chat.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

support for italic and bold
  common/types/game-state.ts
  common/utils/chat.ts
  server/src/index.ts
Due: none

bug fix
  common/utils/chat.ts
Due: none

final description updates for 7.0
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/potion-of-slowness.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/looting.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
Due: none

Duration fix
  common/config/debug-config.json
  common/status-effects/weakness.ts
Due: none

final description updates for 7.0 (#536)
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/potion-of-slowness.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/looting.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
Due: none

Finalization
  common/status-effects/weakness.ts
  common/utils/board.ts
Due: none

Add descrition class to card and renames
  client/src/logic/game/game-actions.ts
  common/cards/base/card.ts
  common/cards/base/hermit-card.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/types/cards.ts
  common/types/chat.ts
  common/types/game-state.ts
  common/utils/chat.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

rename file and start of description changes
  client/src/components/card/card-tooltip.tsx
  common/cards/base/card.ts
  common/cards/base/hermit-card.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

Switch rest of descriptions to new system
  client/src/components/card/card-tooltip.tsx
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
Due: eslint --max-warnings=0, prettier --write

Oops
  common/config/debug-config.json
  common/status-effects/weaknessdummy.ts
Due: none

add formatting module and edit pearl descriptoin
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/formatting/formatting.module.scss
  common/cards/default/hermits/pearlescentmoon-rare.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

recursive types
  client/src/app/game/chat/chat.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/logic/game/game-actions.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/types/game-state.ts
  common/utils/formatting.ts
  server/src/index.ts
Due: eslint --max-warnings=0, prettier --write

fix
  server/src/index.ts
Due: none

fix another bug
  common/utils/formatting.ts
  server/src/index.ts
Due: none

move some formatting things around
  client/src/components/formatting/formatting.tsx
  common/models/battle-log-model.ts
  common/types/game-state.ts
  common/utils/formatting.ts
  server/src/index.ts
Due: eslint --max-warnings=0, prettier --write

chagnes
  common/utils/formatting.ts
Due: none

Basic effect attack replacement
  common/cards/default/single-use/diamond-sword.ts
  common/config/debug-config.json
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  server/src/index.ts
  server/src/routines/turn-actions/attack.ts
Due: none

formatting fixes
  client/src/app/game/chat/chat.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/formatting/formatting.tsx
  common/cards/base/card.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/types/cards.ts
  common/types/chat.ts
  common/types/game-state.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

fixes
  common/utils/formatting.ts
Due: none

fix the text
  client/src/components/formatting/formatting.tsx
Due: eslint --max-warnings=0, prettier --write

handle text sequence that begins with \
  common/utils/formatting.ts
Due: none

fixing mistakes that were not made by me
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/formatting/formatting.tsx
  common/cards/base/card.ts
  common/cards/default/single-use/tnt.ts
  common/config/debug-config.json
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  common/utils/formatting.ts
  server/src/routines/background/chat.ts
  server/src/routines/turn-actions/attack.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

changes
  client/src/components/formatting/formatting.tsx
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write

remove console.log
  common/models/battle-log-model.ts
Due: none

stuff
  common/utils/formatting.ts
Due: none

Fixes to spacing and colors
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.module.scss
  client/src/components/formatting/formatting.tsx
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/models/battle-log-model.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix the log
  client/src/components/formatting/formatting.tsx
  common/models/attack-model.ts
  common/models/battle-log-model.ts
Due: eslint --max-warnings=0, prettier --write

Combined attack battle log entries
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/tnt.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/types/attack.ts
  common/types/cards.ts
  common/utils/attacks.ts
  common/utils/board.ts
  server/src/routines/turn-actions/attack.ts
Due: none

Fix cleo/ren and add rows in battle log
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
Due: none

Fix build errors
  client/src/app/game/toolbar/chat-item.tsx
  client/src/logic/game/game-actions.ts
Due: eslint --max-warnings=0, prettier --write

tab formatting
  client/src/components/formatting/formatting.module.scss
  client/src/components/formatting/formatting.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
