Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

mobile end turn modal
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
Due: eslint --max-warnings=0, prettier --write

heal hermit function
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/alter-egos/single-use/splash-potion-of-healing-ii.ts
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
  common/slot.ts
  common/types/game-state.ts
Due: none

prettier
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
  common/slot.ts
Due: none

improve highlight effect
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

es ist over fur mich
  common/cards/base/card.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/iskall85-rare.ts
  common/types/cards.ts
Due: none

first two cards complete
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/app/game/modals/confirm-modal.tsx
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  client/src/components/import-export/import-export-utils.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  client/src/logic/game/tasks/slot-saga.ts
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/health-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/index.ts
  common/config/ranks.json
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

confirmation modal
  common/cards/base/card.ts
  common/models/game-model.ts
  common/types/game-state.ts
Due: none

modify imports
  common/types/game-state.ts
Due: none

complete backend sagas
  common/types/game-state.ts
  common/utils/game.ts
  server/src/plugins/firebase-logs.ts
Due: none

fix more compile errors
  common/cards/base/card.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/pick-request.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/index.ts
Due: none

fix everything again
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/board/board-slot.tsx
  common/config/index.ts
  common/models/battle-log-model.ts
  common/models/player-model.ts
  common/slot.ts
  common/status-effects/badomen.ts
  common/status-effects/fire.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/weakness.ts
  common/types/game-state.ts
  common/utils/board.ts
  common/utils/coinFlips.ts
  common/utils/movement.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

AAAAAAAAAA
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  common/cards/base/card.ts
  common/cards/default/effects/bed.ts
  common/cards/default/effects/index.ts
  common/cards/index.ts
  common/models/player-model.ts
  common/slot.ts
  common/status-effects/melody.ts
  common/status-effects/slowness.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

is it over
  common/cards/default/effects/index.ts
  common/cards/index.ts
  common/slot.ts
  common/types/game-state.ts
  server/src/routines/turn-actions/pick-request.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: none

remove functions
  common/types/server-requests.ts
  common/utils/validation.ts
  server/src/utils/state-gen.ts
Due: none

remove remove functions
  common/types/server-requests.ts
  server/src/utils/state-gen.ts
Due: none

The fix
  common/cards/default/single-use/golden-axe.ts
Due: none

prettier
  common/cards/default/single-use/golden-axe.ts
Due: none

thorns
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
Due: none

string
  common/cards/alter-egos/effects/string.ts
Due: none

improve string placement conditions
  common/cards/alter-egos/effects/string.ts
Due: none

I forgot to remove that thing.
  common/cards/default/single-use/golden-axe.ts
Due: none

remove useless changes for cub and chorus fruit
  common/cards/default/hermits/cubfan135-rare.ts
  common/cards/default/single-use/chorus-fruit.ts
Due: none

more cards converted
  common/cards/default/hermits/falsesymmetry-common.ts
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/hermits/geminitay-common.ts
  common/cards/default/hermits/geminitay-rare.ts
  common/cards/default/hermits/goodtimeswithscar-common.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/grian-common.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/index.ts
Due: none

bring back WithoutFunctions
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/cards/base/card.ts
  common/cards/default/hermits/geminitay-rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/types/server-requests.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

armor stand
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/base/card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/index.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
Due: none

allow games to load properly
  client/src/logic/saved-decks/saved-decks.ts
  common/cards/default/effects/index.ts
  common/cards/default/hermits/index.ts
  common/cards/default/hermits/iskall85-rare.ts
  common/cards/index.ts
  common/models/player-model.ts
  common/types/deck.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

fix more things
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/game-selectors.ts
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
  common/cards/default/effects/bed.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/index.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/models/player-model.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/smelting.ts
  common/types/game-state.ts
  common/utils/cards.ts
  common/utils/movement.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/pick-request.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

lsp renames and bug fixes
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.tsx
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/base/card.ts
  common/cards/default/effects/bed.ts
  common/cards/default/effects/diamond-armor.ts
  common/cards/default/effects/gold-armor.ts
  common/cards/default/effects/iron-armor.ts
  common/cards/default/effects/loyalty.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/netherite-armor.ts
  common/cards/default/effects/shield.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/effects/totem.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/effects/wolf.ts
  common/types/cards.ts
  common/types/game-state.ts
Due: eslint --max-warnings=0, prettier --write

get games running
  client/src/app/deck/deck.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/alter-egos/effects/command-block.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/sweeping-edge.ts
  common/cards/base/card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/tinfoilchef-ultra-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/curse-of-vanishing.ts
  common/cards/default/single-use/emerald.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/mending.ts
  common/models/game-model.ts
  common/slot.ts
  common/types/action-data.ts
  common/types/cards.ts
  common/utils/movement.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

remove unused imports
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

golden apple
  common/cards/default/single-use/golden-apple.ts
Due: none

Make axe ignore for the whole turn again (#591)
  common/cards/default/single-use/golden-axe.ts
Due: none

items and fix hermit backgrounds
  client/src/components/card/hermit-card-svg.tsx
  common/cards/base/card.ts
  common/cards/default/items/balanced-common.ts
  common/cards/default/items/balanced-rare.ts
  common/cards/default/items/builder-common.ts
  common/cards/default/items/builder-rare.ts
  common/cards/default/items/explorer-common.ts
  common/cards/default/items/explorer-rare.ts
  common/cards/default/items/farm-common.ts
  common/cards/default/items/farm-rare.ts
  common/cards/default/items/index.ts
  common/cards/default/items/miner-common.ts
  common/cards/default/items/miner-rare.ts
  common/cards/default/items/prankster-common.ts
  common/cards/default/items/prankster-rare.ts
  common/cards/default/items/pvp-common.ts
  common/cards/default/items/pvp-rare.ts
  common/cards/default/items/redstone-common.ts
  common/cards/default/items/redstone-rare.ts
  common/cards/default/items/speedrunner-common.ts
  common/cards/default/items/speedrunner-rare.ts
  common/cards/default/items/terraform-common.ts
  common/cards/default/items/terraform-rare.ts
  common/cards/index.ts
  server/src/routines/turn-actions/play-card.ts
Due: eslint --max-warnings=0, prettier --write

some more cards
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/tnt.ts
Due: none

lava bucket
  common/cards/default/single-use/lava-bucket.ts
Due: none
