Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  tests/fuzz/fuzz-ai.ts
Due: none

Fix fuzz test failing when picking from hand on opponent's turn (#1226)
  tests/fuzz/fuzz-ai.ts
Due: none

Add farmerbeef emoji
  client/public/images/hermits-emoji/farmerbeef.png
Due: none

Tails PNG revamp
  client/public/images/coins/tails.png
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

remove some bad css
  client/src/components/coin-flip/coin-flip.module.scss
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make play-select work properly
  client/src/app/app.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Tails PNG revamp (#1228)
  client/public/images/coins/tails.png
  client/src/components/coin-flip/coin-flip.module.scss
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

More stuff (yes, I hate commit names like this too)
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Disable most of the game screen on gameOver
  client/src/app/game/actions/actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/chat/chat.tsx
  client/src/app/game/game.module.scss
  client/src/app/game/game.tsx
  client/src/app/game/timer/timer.tsx
  client/src/app/game/toolbar/exit-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Lint
  client/src/app/game/actions/actions.tsx
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/exit-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write

Add copy code toasts
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

game cancel when no replay
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  common/types/game-state.ts
  server/src/db/db-reciever.ts
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Build errors
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

oops
  server/src/db/db.ts
Due: none

fix
  server/src/routines/background/spectators.ts
Due: none

fix remaining problems with replays
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: none

fix the code
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
Due: none

delete code
  server/src/routines/turn-action-compressor.ts
Due: none

were going with it
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
Due: none

Finishing replays and game history tab (#1215)
  client/public/images/icons/trophy.png
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/components/player-component.ts
  common/components/query/player.ts
  common/config/huffman-tree.js
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/game-state.ts
  common/utils/state-gen.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/background/spectators.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/compression.ts
  server/src/utils/state-gen.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix issue where overview scrolled over screen
  client/src/app/main-menu/statistics.module.scss
Due: stylelint --fix

basic auto login
  client/src/logic/game/game-saga.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  server/src/api/auth.ts
  server/src/api/index.ts
Due: eslint --max-warnings=0, prettier --write

Fix issue where overview scrolled over screen (#1232)
  client/src/app/main-menu/statistics.module.scss
Due: stylelint --fix

Re-name "Keep name and icon private" to "Make name and icon public"
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Add copy image to toast
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/toast/toast.module.scss
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

game times stats
  server/src/api/index.ts
  server/src/api/stats.ts
  server/src/db/db.ts
Due: none

More improvements
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/socket.ts
  common/models/player-model.ts
  common/socket-messages/client-messages.ts
  common/types/database.ts
  server/src/api/auth.ts
  server/src/api/index.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/messages.ts
  server/src/root-model.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/player.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

tests and lints
  server/src/api/auth.ts
  server/src/api/index.ts
  server/src/db/db.ts
  tests/db/database.test.ts
Due: none

Add farmerbeef emoji (#1227)
  client/public/images/hermits-emoji/farmerbeef.png
Due: none

Reloading when invalid results
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

cleaning up more stuff
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  server/src/db/db-reciever.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/utils/compression.ts
Due: eslint --max-warnings=0, prettier --write

Fix active deck issues and recieving data
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/cards/starter-decks.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

buttons to update name/username
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

lint
  client/src/root-saga.ts
  common/cards/starter-decks.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

Reconnecting message
  client/src/app/login/login.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
Due: eslint --max-warnings=0, prettier --write

Redo system in which names are set
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  client/src/root-saga.ts
  common/models/player-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  server/src/db/db-reciever.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

lint
  server/src/routines/player.ts
Due: none

Fix build errors/db tests
  client/src/app/main-menu/statistics.tsx
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

Remove option to change head from game settings
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
