Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Reorder Hearts (#1301)
  common/cosmetics/hearts.ts
Due: none

Add Test To Ensure Forfeit Wins Count For Win Achievement (#1303)
  common/achievements/wins.ts
  tests/unit/game/achivements/win.test.ts
Due: none

Mobile play screen (#1273)
  client/src/app/main-menu/play-select.module.scss
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

update explorer and redstone rewards
  client/public/images/cosmetics/background/explorer.png
  client/public/images/cosmetics/background/redstone.png
Due: none

Rework session-saga.ts, and database functions (#1235)
  client/src/app/login/login.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/root-saga.ts
  client/src/socket.ts
  common/cards/starter-decks.ts
  common/models/player-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  server/src/api/auth.ts
  server/src/api/index.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/messages.ts
  server/src/root-model.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/utils/compression.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix issue where overview scrolled over screen (#1232)
  client/src/app/main-menu/statistics.module.scss
Due: stylelint --fix

Add Go Fish Achievement (#1290)
  common/achievements/go-fish.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/go-fish.test.ts
Due: none

Mobile UI reworks (#1260)
  client/public/images/cosmetics/background/transparent.png
  client/public/images/cosmetics/heart/gold.png
  client/public/images/cosmetics/heart/soulflame.png
  client/public/images/cosmetics/title.png
  client/public/images/cosmetics/title_small.png
  client/public/images/icons/plus.png
  client/public/images/lock.png
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/components/tabs/tabs.module.scss
  client/src/components/tabs/tabs.tsx
  common/achievements/decked-out.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/hearts/soulflame.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Targeting Lightning Achievement (#1293)
  client/public/images/cosmetics/heart/copper.png
  common/achievements/index.ts
  common/achievements/targeted-lightning.ts
  common/cosmetics/hearts.ts
  tests/unit/game/achivements/targeted-lightning.test.ts
Due: none

Play Screen Rework (#1272)
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/game-mode-button/index.ts
  client/src/components/hermit-button/hermit-button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
  client/src/components/hermit-button/index.ts
  client/src/components/modal/modal.tsx
  client/src/components/toast/toast.module.scss
  client/src/components/toast/toast.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/matchmaking/matchmaking-selectors.ts
  client/src/logic/matchmaking/matchmaking-types.ts
  client/src/logic/messages.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/utils/sorting.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix deprecation warnings (#1267)
  client/src/app/game/player-info/player-info.module.scss
Due: stylelint --fix

Add filtering component to deck lists (#1299)
  client/src/app/app.tsx
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/tabs/tabs.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  common/utils/decks.ts
  server/src/db/db.ts
  tests/ct/__snapshots__/card-list.spec.tsx/Test-Card-List-Normal-1.png
  tests/ct/__snapshots__/card-list.spec.tsx/Test-Card-List-with-status-effects-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
  tests/ct/card-list.spec.tsx
  tests/ct/chat-content.spec.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Loyalty III Achievement (#1278)
  client/public/images/cosmetics/border/copper_border.png
  common/achievements/loyalty-iii.ts
  common/cosmetics/borders.ts
  tests/unit/game/achivements/loyalty-iii.test.ts
Due: none

Fix End Turn Modal and CT Tests (#1288)
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix Achievement Mistakes and Link to Rewards (#1268)
  client/public/images/cosmetics/coin/dinnerbone.png
  client/public/images/cosmetics/coin/server-lag.png
  client/public/images/cosmetics/coin/slime.png
  client/public/images/cosmetics/heart/gold.png
  client/src/app/main-menu/cosmetics.tsx
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/index.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/no-derpcoins.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/untouchable.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
  common/cosmetics/backgrounds.ts
  common/cosmetics/borders.ts
  common/cosmetics/coins.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write

Useless Machine Achievement (#1292)
  common/achievements/index.ts
  common/achievements/useless-machine.ts
  common/cards/single-use/composter.ts
  common/components/query/slot.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/useless-machine.test.ts
Due: none

Fix e2e Tests (#1274)
  tests/e2e/private-queue.spec.ts
  tests/e2e/reconnect.spec.ts
Due: none

Alternitive Method To Get Achivement Icons (#1284)
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  common/achievements/british.ts
  common/achievements/cant-touch-this.ts
  common/achievements/certified-zombie.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/inneffective.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/naked-and-scared.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/pesky-bird.ts
  common/achievements/server-lag.ts
  common/achievements/sheep-starer.ts
  common/achievements/sustainable.ts
  common/achievements/team-star.ts
  common/achievements/type-wins.ts
  common/achievements/types.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Hurtin Hermits Achievement (#1295)
  common/achievements/hurtin-hermits.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/hurtin-hermits.test.ts
Due: none

Move Achievements to `GameController` Class (#1188)
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

fix CI (#1287)
  common/achievements/eye-of-the-spider.ts
  common/achievements/loyalty-iii.ts
Due: none

More cosmetic rewards (#1294)
  client/public/images/cosmetics/background/classic_preview.png
  client/public/images/cosmetics/border/gold_border.png
  client/public/images/cosmetics/coin/cat.png
  client/public/images/cosmetics/coin/skeleton.png
  client/public/images/cosmetics/coin/zombie.png
  client/public/images/cosmetics/heart/gold.png
  client/src/app/main-menu/cosmetics.tsx
  common/cosmetics/backgrounds.ts
  common/cosmetics/coins.ts
  common/cosmetics/types.ts
Due: eslint --max-warnings=0, prettier --write

Finishing replays and game history tab (#1215)
  client/public/images/icons/trophy.png
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/components/player-component.ts
  common/components/query/player.ts
  common/config/huffman-tree.js
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/game-state.ts
  common/utils/state-gen.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/background/spectators.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/compression.ts
  server/src/utils/state-gen.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix build and lint errors (#1198)
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/statistics.tsx
  common/achievements/deceptive-spectacles.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/team-star.ts
  common/achievements/untouchable.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
  common/socket-messages/server-messages.ts
  server/src/db/db-reciever.ts
Due: eslint --max-warnings=0, prettier --write

Rename "Cosmetics" to "Achievements" and fix visual issue with achievement component (#1300)
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Rename "Untouchable" to "Can't Touch This!" (#1270)
  common/achievements/cant-touch-this.ts
  common/achievements/index.ts
  common/cosmetics/hearts.ts
Due: none

Add mute music setting (#1286)
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Basics of stats page (#1191)
  client/src/app/app.tsx
  client/src/app/main-menu/game-history.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Some Achievement Adjustments (#1283)
  common/achievements/inneffective.ts
  common/achievements/pack-of-wolves.ts
  common/achievements/wipeout.ts
  common/cosmetics/coins.ts
Due: none

Fix Logins Being Entirely Broken (#1308)
  client/src/constants.ts
  client/src/logic/session/session-saga.ts
  client/src/socket.ts
Due: eslint --max-warnings=0, prettier --write

Fix A Bug Where Coin Flip Results Show Opposite (#1307)
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

More changes to try to fix replay (#1318)
  common/config/huffman-tree.js
  common/entities.ts
  common/models/game-model.ts
  common/utils/game.ts
  server/src/db/db.ts
  server/src/utils/compression.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: none

Fix "Naked and Scared" and "Ineffective" counting losses (#1313)
  common/achievements/inneffective.ts
  common/achievements/naked-and-scared.ts
Due: none

Fix achievements not having unique ids (#1315)
  common/achievements/eye-of-the-spider.ts
  common/achievements/hermits-and-crafting.ts
  common/achievements/loyalty-iii.ts
  tests/unit/common/unique-ids.test.ts
Due: none
