Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

forgor
  client/src/app/game/game.tsx
  server/src/routines/turn-actions/request-playable-slots.ts
Due: eslint --max-warnings=0, prettier --write

more changes
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/game.tsx
  client/src/logic/game/game-actions.ts
  server/src/routines/turn-actions/play-card.ts
Due: eslint --max-warnings=0, prettier --write

correct item highlighting
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  common/cards/alter-egos/effects/string.ts
  common/cards/base/item-card.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions/request-playable-slots.ts
Due: eslint --max-warnings=0, prettier --write

unhighlight when clicking on a bad space
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

request playable slots implementation
  client/src/app/game/game.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-selectors.ts
  common/models/game-model.ts
  common/types/action-data.ts
  common/types/game-state.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

slot highlighting
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  common/cards/base/hermit-card.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

spyglass
  common/cards/default/single-use/spyglass.ts
Due: none

fix string
  common/cards/alter-egos/effects/string.ts
Due: none

effect
  common/cards/base/single-use-card.ts
  common/slot.ts
Due: none

Rest of AE cards
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/alter-egos/single-use/sweeping-edge.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/default/single-use/curse-of-vanishing.ts
  common/slot.ts
Due: none

looting
  common/cards/default/single-use/looting.ts
  common/cards/default/single-use/splash-potion-of-poison.ts
Due: none

selecting cards now shows correct spot
  client/src/app/game/actions/actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/logic/game/game-saga.ts
  common/slot.ts
  common/types/action-data.ts
  common/types/game-state.ts
  common/types/server-requests.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix movement.ts most likely
  common/utils/movement.ts
Due: none

formattng hcanges
  common/slot.ts
Due: none

AoTCG effects
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/string.ts
Due: none

have i changed anything
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/game.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-reducer.ts
  common/cards/alter-egos/effects/string.ts
  common/types/action-data.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

More pick request stuff
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/base/health-card.ts
  common/cards/default/hermits/ijevin-rare.ts
  common/cards/default/hermits/keralis-rare.ts
Due: none

Most alter egos cards
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/effects/turtle-shell.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/hermits/jingler-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/slot.ts
Due: none

implement some more cards
  common/cards/default/effects/bed.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/effects/wolf.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/single-use/lava-bucket.ts
Due: none

use slot.some instead
  common/utils/attacks.ts
Due: none

pick requests work
  server/src/utils/state-gen.ts
Due: none

disable spaces when they are not supposed to be cliable
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

unbreak
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Change how armor stand uses discard (#576)
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/default/effects/shield.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/effects/wolf.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
Due: none

Remove get actions
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  server/src/routines/game.ts
Due: none

rename attachCondition
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/effects/lightning-rod.ts
  common/cards/alter-egos/effects/string.ts
  common/cards/alter-egos/effects/turtle-shell.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/health-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/cards/default/effects/bed.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/effects/wolf.ts
  common/cards/default/single-use/lava-bucket.ts
  common/cards/default/single-use/looting.ts
  common/cards/default/single-use/splash-potion-of-poison.ts
  common/cards/default/single-use/spyglass.ts
  common/models/game-model.ts
  common/utils/movement.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/routines/turn-actions/request-playable-slots.ts
Due: none

prettier
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/logic/game/game-actions.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/ijevin-rare.ts
  common/cards/default/hermits/keralis-rare.ts
  common/cards/default/hermits/rendog-rare.ts
Due: eslint --max-warnings=0, prettier --write

improve highlight effect
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix highlighting
  client/src/app/game/board/board-slot.tsx
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

a few more cards
  common/cards/base/single-use-card.ts
  common/cards/default/hermits/tangotek-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/bow.ts
Due: none

a few more cards
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/clock.ts
Due: none

remove console.logs
  common/slot.ts
Due: none

remove console.logs
  common/models/game-model.ts
Due: none

fix ladder
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/slot.ts
Due: none

merge changes
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  server/src/routines/game.ts
Due: none
