Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix border
  client/src/app/game/player-info/player-info.module.scss
Due: stylelint --fix

more fixes
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/logic/session/session-saga.ts
  common/models/player-model.ts
  common/socket-messages/server-messages.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Get the code working
  common/models/game-model.ts
  server/src/game-controller.ts
Due: none

add achievements for right player probably?
  common/components/player-component.ts
  common/models/game-model.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

End game screen
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix this shit
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

remove some debug code
  server/src/routines/matchmaking.ts
Due: none

Rest of achievement display
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Lint
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/messages.ts
  common/components/player-component.ts
  common/config/server-config.js
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

add missing achievement
  common/achievements/index.ts
Due: none

Fixes
  common/coins.ts
  tests/fuzz/run-game.ts
  tests/unit/game/utils.ts
Due: none

Fix unit tests
  common/models/game-model.ts
Due: none

update
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

game history filters desktop
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

my games mobile
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix achievements issue
  server/src/game-controller.ts
Due: none

update end modal tests
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
Due: none

changes
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

Fix for real
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-crash-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Game-timeout-displays-correctly-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/Viewing-as-spectator-shows-victory-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-lost-because-your-hermits-were-killed-1.png
  tests/ct/__snapshots__/end-game-overlay.spec.tsx/You-won-by-killing-all-hermits-1.png
  tests/ct/end-game-overlay.spec.tsx
Due: eslint --max-warnings=0, prettier --write

Change fetch urls
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

remove console logs
  server/src/routines/matchmaking.ts
Due: none

fix e2e
  tests/e2e/private-queue.spec.ts
Due: none

format
  client/src/logic/session/session-saga.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

format
  tests/e2e/private-queue.spec.ts
Due: none

fix for real
  tests/e2e/private-queue.spec.ts
Due: none

fix coin flips
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

add constants
  client/src/constants.ts
  client/src/logic/session/session-saga.ts
  client/src/socket.ts
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix A Bug Where Coin Flip Results Show Opposite (#1307)
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix Logins Being Entirely Broken (#1308)
  client/src/constants.ts
  client/src/logic/session/session-saga.ts
  client/src/socket.ts
Due: eslint --max-warnings=0, prettier --write

Add Test For Hotguy Rare (#1259)
  tests/unit/game/hermits/hotguy-rare.test.ts
Due: none

Allow Coin Head To Be Settable In Player Model (#1173)
  client/src/components/coin-flip/coin-flip.module.scss
  common/components/player-component.ts
  common/models/player-model.ts
Due: stylelint --fix

Menu changes
  client/public/images/backgrounds/beef.png
  client/public/images/backgrounds/cubfan.png
  client/public/images/backgrounds/evilx.png
  client/src/app/app.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/components/button/button.module.scss
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/button.tsx
  client/src/components/hermit-button/index.ts
  client/src/components/link-container/link-container.tsx
  client/src/components/slider/slider.module.scss
  common/types/buttons.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make replays save in the database (#1171)
  .github/workflows/ci.yaml
  client/src/app/main-menu/game-history.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/entities.ts
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/ecs.ts
  common/utils/turn-action-compressor.ts
  jest.config.mjs
  package.json
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/index.ts
  tests/db/database.test.ts
  tests/replays/replays.test.ts
  tests/replays/tsconfig.json
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Add Basic Achievement Tests (#1181)
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.test.ts
  tests/unit/game/utils.ts
Due: none

More improvements
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/logic/game/database/database-reducer.ts
  common/types/database.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change Jack Of All Cards To Only Activate On Wins (#1184)
  common/achievements/jack-of-all-cards.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  tests/unit/game/achivements/all-cards.test.ts
  tests/unit/game/utils.ts
Due: none

Move Achievements to `GameController` Class (#1188)
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
