Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix segments showing backwards on battle log (#471)
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Fixed some issues with attack logs
  common/models/battle-log.ts
Due: none

v0.6.38
  common/config/server-config.json
Due: none

Fix prettier
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board-row.tsx
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/components/status-effects/status-effect-tooltip.module.scss
  client/src/components/status-effects/status-effect-tooltip.tsx
  client/src/components/status-effects/status-effect.module.scss
  client/src/components/status-effects/status-effect.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix problems with changeActiveHermit log entry
  common/models/battle-log.ts
  common/models/game-model.ts
  server/src/routines/turn-actions/change-active-hermit.ts
Due: none

Fix problems with changeActiveHermit log entry (#473)
  common/models/battle-log.ts
  common/models/game-model.ts
  server/src/routines/turn-actions/change-active-hermit.ts
Due: none

Update branch to v0.6.38
  client/src/app/game/toolbar/sound-item.tsx
  client/src/components/status-effects/status-effect.tsx
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/models/battle-log.ts
  common/status-effects/exboss-nine.ts
  common/status-effects/index.ts
  server/src/routines/virtual/virtual-player.ts
Due: eslint --max-warnings=0, prettier --write

Update goodtimeswithscar-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
Due: none

Replace wildcard getInstanceKey with getKey
  common/cards/default/hermits/goodtimeswithscar-rare.ts
Due: none

Battle log fixes
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/composter.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/mending.ts
  common/models/battle-log.ts
  common/utils/attacks.ts
Due: none

Make clock unable to be used twice in a row
  client/public/images/status/used-clock.png
  common/cards/default/single-use/clock.ts
  common/status-effects/index.ts
  common/status-effects/used-clock.ts
  common/utils/board.ts
Due: none

Update slowness.ts
  common/status-effects/slowness.ts
Due: none

oops, fix code issue
  common/status-effects/slowness.ts
Due: none

Thorns sprites
  client/public/images/effects/thorns.png
  client/public/images/effects/thorns_ii.png
  client/public/images/effects/thorns_iii.png
Due: none

Fix sleeping to apply to the active Hermit when used by bdubs
  common/cards/default/hermits/bdoubleo100-rare.ts
Due: none

Update clock and joehills balance changes
  client/src/app/game/board/board-slot.tsx
  client/src/components/status-effects/status-effect.tsx
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/single-use/clock.ts
  common/status-effects/badomen.ts
  common/status-effects/dyed.ts
  common/status-effects/fire.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/protected.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/status-effect.ts
  common/status-effects/used-clock.ts
  common/status-effects/weakness.ts
Due: eslint --max-warnings=0, prettier --write

Increase joehills to 3 tokens
  common/config/ranks.json
Due: none

Refactor single-use battle logs
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/composter.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/knockback.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/mending.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/models/battle-log.ts
  common/utils/board.ts
  server/src/routines/turn-actions/apply-effect.ts
Due: none

Balancing changes to target block and chainmail
  common/cards/alter-egos/effects/chainmail-armor.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/config/ranks.json
Due: none

Pearl-swap fix
  client/public/images/status/degdod.png
  client/public/images/status/dodged.png
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/status-effects/degdod.ts
  common/status-effects/dodged.ts
  common/status-effects/index.ts
Due: none

New Thorns Sprites
  client/public/images/effects/thorns.png
  client/public/images/effects/thorns_ii.png
  client/public/images/effects/thorns_iii.png
Due: none

Fix Deathloop bugs (#474)
  common/cards/default/hermits/goodtimeswithscar-rare.ts
Due: none

Battle log fixes (#475)
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/ladder.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/cards/default/single-use/composter.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/knockback.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/mending.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/models/battle-log.ts
  common/utils/attacks.ts
  common/utils/board.ts
  server/src/routines/turn-actions/apply-effect.ts
Due: none

Make clock unable to be used twice in a row, and alter Joe's behavior slightly to compensate (#476)
  client/public/images/status/used-clock.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/status-effects/status-effect.tsx
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/single-use/clock.ts
  common/config/ranks.json
  common/status-effects/badomen.ts
  common/status-effects/dyed.ts
  common/status-effects/fire.ts
  common/status-effects/index.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/protected.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/status-effect.ts
  common/status-effects/used-clock.ts
  common/status-effects/weakness.ts
  common/utils/board.ts
Due: eslint --max-warnings=0, prettier --write

Fix slowness (#477)
  common/status-effects/slowness.ts
Due: none

0.6.39
  common/config/server-config.json
Due: none

Fix issues with update 0.6.39
  client/src/app/game/board/board-slot.tsx
  common/cards/default/hermits/joehills-rare.ts
  common/status-effects/slowness.ts
Due: eslint --max-warnings=0, prettier --write

Fix issues with update 0.6.39 (#485)
  client/src/app/game/board/board-slot.tsx
  common/cards/default/hermits/joehills-rare.ts
  common/status-effects/slowness.ts
Due: eslint --max-warnings=0, prettier --write

Fix target block/chainmail interaction issue
  common/cards/alter-egos/effects/chainmail-armor.ts
  common/cards/alter-egos/single-use/target-block.ts
Due: none

Fix target block/chainmail interaction issue (#486)
  common/cards/alter-egos/effects/chainmail-armor.ts
  common/cards/alter-egos/single-use/target-block.ts
Due: none

HC TCG Update 0.6.39.5 Hotfix
  client/src/app/game/board/board-slot.tsx
  common/cards/alter-egos/effects/chainmail-armor.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/default/hermits/joehills-rare.ts
  common/status-effects/slowness.ts
Due: eslint --max-warnings=0, prettier --write

Basic weakness changes
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/base/hermit-card.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/config/debug-config.json
  common/models/attack-model.ts
  common/status-effects/weakness.ts
  common/types/attack.ts
  common/utils/attacks.ts
Due: none

Add purchase logic, storage of credits and game rewards
  client/src/app/main-menu/permit-office.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/permits/permits-actions.ts
  client/src/logic/permits/permits-reducer.ts
  client/src/logic/permits/permits-saga.ts
  client/src/logic/permits/permits-selectors.ts
  client/src/root-reducer.ts
  client/src/root-saga.ts
  common/config/permit-ranks.json
  common/types/permits.ts
Due: eslint --max-warnings=0, prettier --write

Update permit office graphics
  client/public/images/icons/permit-office.png
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/permit-office.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add card unlock modal
  client/src/app/game/modals/card-unlock-modal.tsx
  client/src/app/game/modals/index.ts
  client/src/app/main-menu/permit-office.tsx
  client/src/logic/permits/permits-actions.ts
  client/src/logic/permits/permits-reducer.ts
  client/src/logic/permits/permits-selectors.ts
Due: eslint --max-warnings=0, prettier --write

improvements to permit icons and disabling
  client/public/images/ranks/diamond_banner.png
  client/public/images/ranks/gold_banner.png
  client/public/images/ranks/iron_banner.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/health-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

deck validation/error fixes
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/health-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  common/utils/validation.ts
Due: eslint --max-warnings=0, prettier --write

Fix deck validation issues (kinda)
  client/src/app/deck/deck.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-saga.ts
  common/models/player-model.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
