Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Wolf (#188)
  common/cards/card-plugins/effects/wolf.js
Due: none

Bow (#221)
  common/cards/card-plugins/single-use/bow.js
Due: none

Update mending for new description
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/mending.js
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/mending.js
Due: none

Anvil (#230)
  common/cards/card-plugins/single-use/anvil.js
Due: none

Use onAttack hook
  common/cards/card-plugins/effects/totem.js
Due: none

Hotguy (#222)
  client/public/images/hermits-nobg/hotguy.png
  common/cards/card-plugins/hermits/hotguy-rare.js
Due: none

Goatfather (#227)
  client/public/images/hermits-nobg/goatfather.png
  common/cards/card-plugins/hermits/goatfather-rare.js
Due: none

Potatoboy rare (#226)
  common/cards/card-plugins/hermits/potatoboy-rare.js
Due: none

Implement review changes
  common/cards/card-plugins/single-use/mending.js
Due: none

Don't show confirm modal for single use cards, if we have a pickOn
  client/src/logic/game/tasks/action-logic-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove empty description line
  common/cards/card-plugins/effects/totem.js
Due: none

Remove validPick check, remove canApply
  common/cards/card-plugins/single-use/mending.js
Due: none

Removed canAttach
  common/cards/card-plugins/effects/lightning-rod.js
Due: none

Health could be undefined
  common/cards/card-plugins/single-use/knockback.js
Due: none

Use badomen instead of bad_omen
  common/types/game-state.ts
Due: none

Added id of the card that tossed the coin.
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/dream-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
  common/cards/card-plugins/hermits/goatfather-rare.js
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
  common/cards/card-plugins/hermits/grian-rare.js
  common/cards/card-plugins/hermits/joehills-rare.js
  common/cards/card-plugins/hermits/llamadad-rare.js
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-ultra-rare.js
  common/cards/card-plugins/hermits/vintagebeef-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/hermits/zedaphplays-rare.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/invisibility-potion.js
  common/cards/card-plugins/single-use/looting.js
  common/cards/card-plugins/single-use/trident.js
  common/types/game-state.ts
  server/utils/index.js
Due: prettier --write

Use new energy system
  common/cards/card-plugins/single-use/golden-axe.js
  server/utils/index.js
Due: prettier --write

CardPos can be null
  server/utils/index.js
Due: prettier --write

Added helper isActionAvailable
  common/cards/card-plugins/hermits/tangotek-rare.js
  server/utils/index.js
Due: prettier --write

requested changes
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
Due: none

requested changes
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

requested changes
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

new idea?
  common/cards/card-plugins/hermits/renbob-rare.js
Due: none

Jingler
  client/public/images/hermits-nobg/jingler.png
  common/cards/card-plugins/hermits/jingler-rare.js
Due: none

Jevin
  common/cards/card-plugins/hermits/ijevin-rare.js
Due: none

Added canApply and updated the description
  common/cards/card-plugins/single-use/curse-of-binding.js
Due: none

Pearl rare (#205)
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

Knockback (#218)
  common/cards/card-plugins/single-use/knockback.js
Due: none

Lightning Rod and Target Block (#225)
  client/public/images/effects/lightning_rod.png
  client/public/images/effects/target_block.png
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/single-use/target-block.js
Due: none

Added canApply and updated the description (#244)
  common/cards/card-plugins/single-use/curse-of-binding.js
Due: none

add canAppl and canAttach
  common/cards/card-plugins/single-use/lava-bucket.js
Due: none

Move water bucket to single-use cards
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/water-bucket.js
Due: none

Tango (#240)
  common/cards/card-plugins/hermits/tangotek-rare.js
  server/utils/index.js
Due: prettier --write

Check for string, afterAttack hook
  common/cards/card-plugins/single-use/water-bucket.js
Due: none

New loyalty
  common/cards/card-plugins/effects/loyalty.js
Due: none

Change turnStart and turnEnd to onTurnStart and onTurnEnd, plus add onHermitDeath
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/netherite-armor.js
  common/cards/card-plugins/effects/shield.js
  common/cards/card-plugins/hermits/cubfan135-rare.js
  common/cards/card-plugins/hermits/geminitay-rare.js
  common/cards/card-plugins/hermits/zedaphplays-rare.js
  common/cards/card-plugins/single-use/clock.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/fire-charge.js
  common/cards/card-plugins/single-use/piston.js
  common/types/game-state.ts
  server/routines/game.js
  server/utils/state-gen.js
Due: prettier --write

Jevin (#243)
  common/cards/card-plugins/hermits/ijevin-rare.js
Due: none

Bad Omen (#220)
  common/cards/card-plugins/single-use/bad-omen.js
  common/types/game-state.ts
  server/routines/game.js
Due: prettier --write

Jingler (#242)
  client/public/images/hermits-nobg/jingler.png
  common/cards/card-plugins/hermits/jingler-rare.js
Due: none

Clean up player ailments from state gen
  server/utils/state-gen.js
Due: prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
