Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

fix tests
  client/src/app/game/chat/chat.tsx
  tests/ct/chat-content.spec.tsx
Due: eslint --max-warnings=0, prettier --write

update tests
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
Due: none

Fix chat tests
  client/src/app/game/chat/chat.tsx
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
Due: eslint --max-warnings=0, prettier --write

Fix bad code
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Rename "Cosmetics" to "Achievements" and fix visual issue with achievement component (#1300)
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

rename Designer achievement
  common/achievements/hermits-and-crafting.ts
  common/achievements/index.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/hermits-and-crafting.test.ts
Due: none

update tests
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
Due: none

update node
  .github/workflows/ci.yaml
Due: none

fudging the tests
  .github/workflows/ci.yaml
  tests/ct/card-list.spec.tsx
Due: none

run lint
  client/src/app/main-menu/play-select.tsx
  common/achievements/go-fish.ts
  common/achievements/index.ts
  common/achievements/useless-machine.ts
  common/cosmetics/coins.ts
  tests/unit/game/achivements/how-did-we-get-here.test.ts
Due: eslint --max-warnings=0, prettier --write

fudging the tests
  tests/ct/card-list.spec.tsx
Due: none

Add filtering component to deck lists (#1299)
  client/src/app/app.tsx
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/tabs/tabs.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  common/utils/decks.ts
  server/src/db/db.ts
  tests/ct/__snapshots__/card-list.spec.tsx/Test-Card-List-Normal-1.png
  tests/ct/__snapshots__/card-list.spec.tsx/Test-Card-List-with-status-effects-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Batlte-log-messages-are-hidden-properly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Messages-do-not-have-colors-for-formatting-2.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-1.png
  tests/ct/__snapshots__/chat-content.spec.tsx/Players-and-spectators-view-messages-correctly-2.png
  tests/ct/card-list.spec.tsx
  tests/ct/chat-content.spec.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

reorder
  common/cosmetics/hearts.ts
Due: none

Reorder Hearts (#1301)
  common/cosmetics/hearts.ts
Due: none

Fix defeat border missing
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
Due: stylelint --fix

test forfeit wins
  common/achievements/wins.ts
  tests/unit/game/achivements/win.test.ts
Due: none

fix "Can't Touch This"
  client/src/app/main-menu/play-select.tsx
  common/achievements/cant-touch-this.ts
  tests/unit/game/achivements/cant-touch-this.test.ts
Due: eslint --max-warnings=0, prettier --write

fix Targeted Lightning predicates
  client/src/app/main-menu/play-select.tsx
  common/achievements/targeted-lightning.ts
Due: eslint --max-warnings=0, prettier --write

Fix knock-out counting multiple times
  common/achievements/eye-of-the-spider.ts
  common/achievements/targeted-lightning.ts
  tests/unit/game/achivements/eye-of-the-spider.test.ts
  tests/unit/game/achivements/targeted-lightning.test.ts
Due: none

Add Test To Ensure Forfeit Wins Count For Win Achievement (#1303)
  common/achievements/wins.ts
  tests/unit/game/achivements/win.test.ts
Due: none

fix incorrect test name
  tests/unit/game/achivements/hermits-and-crafting.test.ts
Due: none

Most things
  client/public/images/backgrounds/gamemodes/rematch.png
  client/src/app/app.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/app.ts
  common/utils/state-gen.ts
  server/src/root-model.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

push
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  common/config/server-config.js
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make menu nicer
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/messages.ts
  common/config/server-config.js
  common/socket-messages/server-messages.ts
  common/types/achievements.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

fix
  server/src/game-controller.ts
Due: none

another fix
  server/src/routines/matchmaking.ts
Due: none

basic progress bar
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix achievement player queries
  common/achievements/sheep-starer.ts
  common/achievements/type-wins.ts
Due: none

Fix achievement player queries (#1305)
  common/achievements/sheep-starer.ts
  common/achievements/type-wins.ts
Due: none

Build error
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.tsx
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix selecting cosmetics
  common/models/player-model.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/player.ts
Due: none

Fix cosmetics
  client/src/components/achievement/achievement.tsx
  common/cosmetics/titles.ts
  server/src/db/db-reciever.ts
Due: eslint --max-warnings=0, prettier --write

Fix a load of achievement bugs (probably)
  common/config/server-config.js
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/matchmaking.ts
Due: none

Remove merge artifacts
  common/config/server-config.js
Due: none

Fix my bad code
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: none

Fix Lint
  client/src/app/game/toolbar/toolbar.tsx
Due: eslint --max-warnings=0, prettier --write

Add mute music setting (#1286)
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Re-arrange settings menus
  client/src/app/main-menu/credits.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/credit/credit.module.scss
  server/src/db/db-reciever.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
