Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

fix double applying single uses
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/status-effects/curse-of-binding.ts
Due: eslint --max-warnings=0, prettier --write

fix Gas Light and Aussie Ping
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/gas-light.ts
  common/status-effects/index.ts
  common/status-effects/invisibility-potion.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

fix Splash Harming attack preview
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
Due: none

fix Betrayed and Sheep Stare
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/default/hermits/geminitay-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/status-effects/betrayed.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/singleturn-attack-disabled.ts
  common/types/priorities.ts
  server/src/routines/turn-actions.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/hermits/humancleo-rare.test.ts
  tests/unit/game/hermits/wormman-rare.test.ts
  tests/unit/game/hermits/zedaphplays-rare.test.ts
Due: none

fix Trap Hole and Poultry Man
  client/public/images/status/regift.png
  common/cards/alter-egos-iii/hermits/poultryman-rare.ts
  common/status-effects/trap-hole.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/hermits/helsknight-rare.test.ts
  tests/unit/game/hermits/poultryman-rare.test.ts
Due: none

fix Trapdoor + Wolf
  client/public/images/status/soulmate.png
  common/cards/advent-of-tcg/effects/trapdoor.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
Due: none

Some small changes
  common/models/player-model.ts
  common/routines/virtual/virtual-action.ts
  server/src/routines/background/chat.ts
  server/src/routines/game.ts
Due: none

Some small changes
  client/src/logic/fbdb/fbdb-saga.ts
  common/utils/setup-game.ts
Due: eslint --max-warnings=0, prettier --write

Make everything finally build
  server/src/plugins/firebase-logs.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/background/spectators.ts
  server/src/utils/index.ts
Due: none

Fix minor issues with tag system
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

imports
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Clarify creating debug config in README
  README.md
Due: none

change games to start and end time
  server/src/db/db.ts
  tests/db/database.test.ts
  tests/db/turn-actions-compressor.test.ts
Due: none

Clarify creating debug config in README (#963)
  README.md
Due: none

refactor to make functions actually make sense
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

add Grianch support to Amnesia
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/components/player-component.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

Fix minor issues with tag system (#962)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

additional mobile deck builder improvements
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-main.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix scrollbar
  client/src/app/deck/deck.module.scss
  client/src/components/card-list/card-list.module.scss
Due: stylelint --fix

duplicate css fix
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improvements to the visuals of the deck builder/tag system (#965)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/components/card-list/card-list.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix Biffa and Pharaoh bugs
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  tests/unit/game/advent-of-tcg/hermits/biffa2001-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pharaoh-rare.test.ts
Due: none

Codify "end of turn" hermits interacting with Grianch
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

add missing hermit emojis
  client/public/images/hermits-emoji/biffa2001.png
  client/public/images/hermits-emoji/bigbst4tz2.png
  client/public/images/hermits-emoji/dungeontango.png
  client/public/images/hermits-emoji/grianch.png
  client/public/images/hermits-emoji/ldshadowlady.png
  client/public/images/hermits-emoji/monkeyfarm.png
  client/public/images/hermits-emoji/orionsound.png
  client/public/images/hermits-emoji/pharaoh.png
  client/public/images/hermits-emoji/pixlriffs.png
  client/public/images/hermits-emoji/pythongb.png
  client/public/images/hermits-emoji/shubbleyt.png
  client/public/images/hermits-emoji/smajor1995.png
  client/public/images/hermits-emoji/smallishbeansadvent.png
  client/public/images/hermits-emoji/solidaritygaming.png
Due: none

fix client-side issues
  client/src/components/card/card-tooltip.tsx
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/base/card.ts
  common/utils/ranks.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
Due: eslint --max-warnings=0, prettier --write

more tests and fixes
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/models/attack-model.ts
  common/status-effects/chroma-keyed.ts
  common/status-effects/soulmate.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/advent-of-tcg/hermits/bigbst4tz2-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
  tests/unit/game/hermits/beetlejhost-rare.test.ts
Due: none

Make it possible for status effect descriptions to be dynamic
  client/src/components/card/card-tooltip.tsx
  common/status-effects/aussie-ping.ts
  common/status-effects/badomen.ts
  common/status-effects/betrayed.ts
  common/status-effects/chroma-keyed.ts
  common/status-effects/curse-of-binding.ts
  common/status-effects/death-loop.ts
  common/status-effects/dyed.ts
  common/status-effects/efficiency.ts
  common/status-effects/exboss-nine.ts
  common/status-effects/fire.ts
  common/status-effects/fortune.ts
  common/status-effects/gas-light.ts
  common/status-effects/go-mining.ts
  common/status-effects/ignore-attach.ts
  common/status-effects/invisibility-potion.ts
  common/status-effects/loose-shell.ts
  common/status-effects/melody.ts
  common/status-effects/multiturn-attack-disabled.ts
  common/status-effects/museum-collection.ts
  common/status-effects/poison.ts
  common/status-effects/protected.ts
  common/status-effects/royal-protection.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/singleturn-attack-disabled.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/smelting.ts
  common/status-effects/status-effect.ts
  common/status-effects/target-block.ts
  common/status-effects/time-skip-disabled.ts
  common/status-effects/trap-hole.ts
  common/status-effects/used-clock.ts
  common/status-effects/weakness.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Missing description tag
  client/src/components/status-effects/status-effect-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix bugs
  client/src/components/status-effects/status-effect-tooltip.tsx
  common/status-effects/aussie-ping.ts
  common/status-effects/badomen.ts
Due: eslint --max-warnings=0, prettier --write

Updated icons for a few effects
  client/public/images/status/brewing.png
  client/public/images/status/dyed.png
  client/public/images/status/melody.png
  client/public/images/status/protected.png
  client/public/images/status/smelting.png
  client/public/images/status/soulmate.png
Due: none

Fix build errors
  common/types/server-requests.ts
Due: none

Some changes
  common/cards/base/card.ts
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/cards/default/hermits/rendog-rare.ts
  common/utils/instanced-value.ts
Due: none

Some more changes
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/status-effects/exboss-nine.ts
Due: none

Move things around
  common/utils/instanced-value.ts
Due: none

Changes
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/hermits/ldshadowlady-rare.test.ts
Due: none

test and fix effect cards
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  tests/unit/game/advent-of-tcg/effects/berry-bush.test.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
  tests/unit/game/advent-of-tcg/effects/glowstone.test.ts
  tests/unit/game/advent-of-tcg/effects/lantern.test.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

Commit
  client/src/components/status-effects/status-effect-tooltip.tsx
  common/components/status-effect-component.ts
  common/status-effects/badomen.ts
  common/status-effects/chroma-keyed.ts
  common/status-effects/go-mining.ts
  common/status-effects/slowness.ts
  common/status-effects/weakness.ts
  common/types/server-requests.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

lint
  common/components/status-effect-component.ts
Due: none

fix test issues
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/hermits/ldshadowlady-rare.test.ts
Due: none

remove BerryBush dependency on InstantHealthII.id
  common/cards/advent-of-tcg/effects/berry-bush.ts
Due: none
