Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

lint
  client/src/logic/game/game-sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix type errors
  server/src/routines/game.ts
Due: none

Improve system
  client/public/sfx/Teleport1.ogg
  client/public/sfx/Teleport2.ogg
  client/src/logic/game/game-sound-saga.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/base/defaults.ts
  common/cards/base/types.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/models/game-model.ts
  common/models/sound-queue-model.ts
  common/types/game-state.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Some rewords
  common/cards/alter-egos/single-use/piston.ts
  common/cards/default/single-use/chorus-fruit.ts
  common/models/game-model.ts
  common/models/sound-queue-model.ts
  server/src/utils/state-gen.ts
Due: none

tag system initial commit
  client/public/images/hermits-emoji/teto2.png
  client/public/images/icons/tag.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/deck.tsx
  client/src/components/dropdown/color-picker-dropdown.tsx
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-saga.ts
  common/types/deck.ts
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix missing header
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Make the tags actually add and remove properly
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Fix infinite protection from Extra Flee
  common/cards/alter-egos/effects/turtle-shell.ts
  tests/game/effects/turtle-shell.test.ts
Due: none

color picker improvements
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.module.scss
  client/src/components/dropdown/color-picker-dropdown.tsx
  client/src/components/dropdown/dropdown.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

show tags on top
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Manage tags modal (not functional
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix Turtle Shell interaction with Extra Flee (#904)
  common/cards/alter-egos/effects/turtle-shell.ts
  tests/game/effects/turtle-shell.test.ts
Due: none

refactor to allow deleting and modifying tags
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/logic/saved-decks/saved-decks.ts
  common/types/deck.ts
Due: eslint --max-warnings=0, prettier --write

visual improvements
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/components/import-export/import-modal.tsx
  client/src/logic/session/session-reducer.ts
  common/models/player-model.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add icon for finishing touches
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/app/deck/layout/deck-sidebar.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add missing files
  client/src/components/tags-modal/index.ts
  client/src/components/tags-modal/tags-modal.module.scss
  client/src/components/tags-modal/tags-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

make pearl 3 tokens
  common/cards/default/hermits/pearlescentmoon-rare.ts
Due: none

Add pick request sound
  client/src/logic/game/game-saga.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/default/single-use/chorus-fruit.ts
Due: eslint --max-warnings=0, prettier --write

More improvements to SFX
  common/cards/alter-egos/single-use/piston.ts
  common/cards/default/single-use/chorus-fruit.ts
Due: none

Improve the deck builder to display more nicely on mobile (#901)
  client/public/images/hermits-emoji/evilxisuma.png
  client/public/images/icons/deck.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/app/deck/layout/deck-main.tsx
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/app/deck/layout/deck-sidebar.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/components/card-list/card-list.module.scss
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/tooltip/tooltip.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix formatting
  client/src/app/deck/deck-select.tsx
  client/src/components/dropdown/color-picker-dropdown.tsx
  package.json
Due: eslint --max-warnings=0, prettier --write

fix imports AGAIN
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Colors and allow filtering to work on mobile
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

remove URL decks
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

try tag cirlce
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

show max tag reqiurement clearly
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

add tags to mobile deck name
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

fix wrapping
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

change default tag color to red
  client/src/app/deck/deck-edit.tsx
  client/src/components/dropdown/color-picker-dropdown.tsx
  common/config/server-config.json
Due: eslint --max-warnings=0, prettier --write

theme color picker
  client/src/components/dropdown/color-picker-dropdown.tsx
  client/src/components/dropdown/dropdown.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add back remove all button
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

missing files
  client/src/components/dropdown/color-picker.scss
Due: stylelint --fix

alternate sorting method using tags
  client/src/app/deck/deck-select.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write

sort imports
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

linters again
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Make Pearl 3 Tokens (#905)
  common/cards/default/hermits/pearlescentmoon-rare.ts
Due: none

Remove URL Decks (#906)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

images
  server/src/api.ts
  server/src/api/index.ts
  server/src/index.ts
Due: none

add files
  common/cards/base/card.ts
  server/src/api/cards.ts
Due: none
