Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Finish v1 system
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  common/cards/advent-of-tcg/single-use/brush.ts
  common/config/server-config.js
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/logic/game/tasks/action-modals-saga.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Some changes
  common/socket-messages/client-messages.ts
  server/src/messages.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
Due: none

Move toasts up when there is empty room
  client/src/components/toast/toast.tsx
  client/src/logic/session/session-reducer.ts
Due: eslint --max-warnings=0, prettier --write

TESTS
  client/src/components/toast/toast.tsx
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-With-Image-1-firefox-linux.png
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-Without-Image-1-firefox-linux.png
  tests/ct/toast.spec.tsx
Due: eslint --max-warnings=0, prettier --write

WHY IS THIS STILL BROKEN
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

Fix
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

Fix remaining issues with desktop version of drag modal
  client/src/app/game/modals/drag-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Kinda fix it but who knows what is happening on mobile
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix the tests
  client/src/components/toast/toast.tsx
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-With-Image-1-firefox-linux.png
  tests/ct/__snapshots__/toast.spec.tsx-snapshots/Toast-Without-Image-1-firefox-linux.png
  tests/ct/toast.spec.tsx
Due: eslint --max-warnings=0, prettier --write

More endpoints
  common/cards/card.ts
  server/src/api/cards.ts
  server/src/api/index.ts
Due: none

docs
  API.md
Due: none

Add tests
  server/src/api/cards.ts
  tests/sh/test-api
Due: none

Fixes
  client/src/app/game/modals/drag-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write

BUILD
  common/routines/game.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/messages.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
Due: none

Fix reconnects when not in game
  server/src/routines/player.ts
Due: none

Cancel game when state gets desynced
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/routines/turn-actions.ts
  server/src/db/db-reciever.ts
  server/src/root-model.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Discover coinflip issue
  client/src/logic/game/game-saga.ts
  common/models/game-model.ts
Due: eslint --max-warnings=0, prettier --write

Temporary disable
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

changes
  common/routines/game.ts
  server/src/routines/game.ts
Due: none

Implement extraInfo
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/single-use/potion-of-weakness.ts
  common/components/status-effect-component.ts
  common/types/server-requests.ts
  common/utils/attacks.ts
  server/src/utils/state-gen.ts
Due: none

Multitype Support IV
  common/status-effects/weakness.ts
  common/utils/attacks.ts
Due: none

Multitype Support V
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/cards/hermits/iskall85-rare.ts
  common/cards/hermits/overseer-rare.ts
  common/cards/items/miner-common.ts
  common/cards/items/miner-rare.ts
  common/cards/items/prankster-common.ts
  common/cards/items/prankster-rare.ts
  common/components/query/card.ts
  common/status-effects/weakness.ts
  common/utils/attacks.ts
  server/src/api/cards.ts
Due: eslint --max-warnings=0, prettier --write

fix timings
  common/config/server-config.js
Due: none

Front end fixes
  client/src/components/card/card-tooltip.tsx
  common/cards/index.ts
  common/cards/temp/index.ts
  common/cards/temp/tinfoilchef-mythic.ts
Due: eslint --max-warnings=0, prettier --write

weakness check reformat
  client/src/components/card/card-tooltip.tsx
  common/cards/index.ts
  common/utils/attacks.ts
Due: eslint --max-warnings=0, prettier --write

Updates to work with glowstone
  client/src/app/game/modals/drag-cards-modal.tsx
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

More Expansions
  common/cards/hermits/dream-rare.ts
  common/cards/shifttech/hermits/index.ts
  common/cards/shifttech/hermits/jack-common.ts
  common/cards/shifttech/hermits/jack-rare.ts
  common/cards/shifttech/hermits/jack-ultra-rare.ts
  common/const/expansions.ts
Due: none

Undo glowstone using modal because it was hard tounderstand and tests
  client/src/app/game/modals/drag-cards-modal.tsx
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
Due: eslint --max-warnings=0, prettier --write

Mobile support
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

commit
  client/src/components/card/mobile-card-component.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix active deck issues
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/game/database/database-saga.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

some Jacks
  common/cards/shifttech/hermits/jack-common.ts
  common/cards/shifttech/hermits/jack-rare.ts
  common/cards/shifttech/hermits/jack-ultra-rare.ts
  common/const/expansions.ts
Due: none

Revert "Undo"
  common/cards/single-use/potion-of-weakness.ts
Due: none
