Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Multiple types on Pick Requirements (#197)
  client/src/app/game/game.tsx
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/grian-rare.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/keralis-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/single-use/anvil.js
  common/cards/card-plugins/single-use/bow.js
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/crossbow.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/ender-pearl.js
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/looting.js
  common/types/pick-process.ts
  server/routines/game.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Mumbo Jumbo Rare (#185)
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
Due: none

Beef Rare (#195)
  common/cards/card-plugins/hermits/vintagebeef-rare.js
Due: none

Create shouldIgnoreCards for attack model
  common/cards/card-plugins/single-use/anvil.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/iron-sword.js
  common/types/attack.ts
  config/debug-config.json
  server/models/attack-model.js
  server/routines/turn-actions/attack.js
  server/utils/picked-cards.js
Due: prettier --write

Clean up attack functions
  server/models/attack-model.js
Due: prettier --write

New Xbrare
  common/cards/card-plugins/hermits/xbcrafted-rare.js
Due: none

remove console.log from impulse
  common/cards/card-plugins/hermits/impulsesv-rare.js
Due: none

implement sense's changes to stress
  common/cards/card-plugins/hermits/stressmonster101-rare.js
Due: none

llamadad-rare card
  common/cards/card-plugins/hermits/llamadad-rare.js
Due: none

Remove hook, only run when active, update for new ignore
  common/cards/card-plugins/effects/wolf.js
Due: none

Proper cleanup
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Revert that
  config/debug-config.json
Due: none

Add card pos to methods, and pass more in
  common/cards/card-plugins/_card.js
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/turtle-shell.js
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
  common/cards/card-plugins/hermits/cubfan135-rare.js
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
  common/cards/card-plugins/hermits/geminitay-rare.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/iskall85-rare.js
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
  common/cards/card-plugins/hermits/vintagebeef-rare.js
  common/cards/card-plugins/hermits/welsknight-rare.js
  common/cards/card-plugins/hermits/xbcrafted-rare.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/iron-sword.js
  common/cards/card-plugins/single-use/lead.js
  common/types/cards.ts
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/play-card.js
  server/utils/cards.js
  server/utils/index.js
Due: prettier --write

Fix item cards
  common/cards/card-plugins/items/_item-card.js
Due: none

New xisuma rare
  common/cards/card-plugins/hermits/xisumavoid-rare.js
Due: none

New zed rare
  common/cards/card-plugins/hermits/zedaphplays-rare.js
Due: none

Stressmonster rare (#201)
  common/cards/card-plugins/hermits/stressmonster101-rare.js
Due: none

Stress changes
  common/cards/card-plugins/hermits/stressmonster101-rare.js
Due: none

ImpulseSV rare (#189)
  common/cards/card-plugins/hermits/impulsesv-rare.js
Due: none

Impulse changes
  common/cards/card-plugins/hermits/impulsesv-rare.js
Due: none

v0.5.7
  config/server-config.json
Due: none

Update for new pos argument
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Import cardPos from original source
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Update for new pos parameter
  common/cards/card-plugins/effects/wolf.js
Due: none

Update for new pos arguments
  common/cards/card-plugins/single-use/lava-bucket.js
Due: none

Remove unneeded import
  common/cards/card-plugins/effects/wolf.js
Due: none

Fix recovery
  common/cards/card-plugins/effects/totem.js
Due: none

update Beef UR to use new system
  common/cards/card-plugins/hermits/vintagebeef-ultra-rare.js
Due: none

update llamadad to use new pos system
  common/cards/card-plugins/hermits/llamadad-rare.js
Due: none

PickedSlots type refactor
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/logic/game/tasks/pick-process-saga.ts
  client/src/logic/game/tasks/slot-saga.ts
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/keralis-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xbcrafted-rare.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/anvil.js
  common/cards/card-plugins/single-use/bow.js
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/crossbow.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/ender-pearl.js
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/looting.js
  common/types/game-state.ts
  common/types/pick-process.ts
  server/routines/game.js
  server/routines/turn-actions/apply-effect.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/play-card.js
  server/types/index.js
  server/utils/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Change rowState to row
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
Due: none

Update pearlescentmoon-rare.js
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

move rank star a 10 pixels down
  client/src/components/card/hermit-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write

Call results after the full attack loop
  server/routines/turn-actions/attack.js
Due: prettier --write

PickedSlots type refactor (#204)
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/logic/game/tasks/pick-process-saga.ts
  client/src/logic/game/tasks/slot-saga.ts
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/keralis-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xbcrafted-rare.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/anvil.js
  common/cards/card-plugins/single-use/bow.js
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/crossbow.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/ender-pearl.js
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/looting.js
  common/types/game-state.ts
  common/types/pick-process.ts
  server/routines/game.js
  server/routines/turn-actions/apply-effect.js
  server/routines/turn-actions/attack.js
  server/routines/turn-actions/play-card.js
  server/types/index.js
  server/utils/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Check for activity before attack
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Use getInstanceKey
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

slotIndex should be 0 if the slotType is not item
  client/src/app/game/board/board-row.tsx
Due: eslint --max-warnings=0, prettier --write

Fix playerId check
  server/utils/picked-cards.js
Due: prettier --write

validPicks was failing on row index 0
  server/utils/reqs.js
Due: prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
