Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

EnderPearl (#151)
  client/public/images/effects/ender_pearl.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/effects/milk-bucket.js
  server/cards/card-plugins/effects/water-bucket.js
  server/cards/card-plugins/hermits/keralis-rare.js
  server/cards/card-plugins/hermits/tangotek-rare.js
  server/cards/card-plugins/hermits/zombiecleo-rare.js
  server/cards/card-plugins/single-use/bow.js
  server/cards/card-plugins/single-use/crossbow.js
  server/cards/card-plugins/single-use/ender-pearl.js
  server/cards/card-plugins/single-use/golden-apple.js
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/instant-health-ii.js
  server/cards/card-plugins/single-use/instant-health.js
  server/types/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Minor changes and add player name to api
  server/api.js
Due: prettier --write

Update and Enable Sweeping Edge (#148)
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/sweeping-edge.js
Due: eslint --max-warnings=0, prettier --write

Add bad omen effect
  server/routines/game.js
  server/utils/index.js
Due: prettier --write

Add bad omen card (effect look still wip)
  client/public/images/effects/bad_omen.png
  client/public/images/status/bad-omen.png
  client/src/app/game/board/board.module.css
  client/src/components/import-export/import-export-const.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/types/game-state.ts
  server/cards/card-plugins/single-use/bad-omen.js
  server/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Potato boy (#147)
  client/public/images/backgrounds/potatoboy.png
  client/public/images/hermits-nobg/potatoboy.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/potatoboy-rare.js
Due: eslint --max-warnings=0, prettier --write

rank png images update
  client/public/images/ranks/any.png
  client/public/images/ranks/diamond.png
  client/public/images/ranks/emerald.png
  client/public/images/ranks/gold.png
  client/public/images/ranks/gold.svg
  client/public/images/ranks/iron.png
  client/public/images/ranks/iron.svg
  client/public/images/ranks/obsidian.png
  client/public/images/ranks/obsidian.svg
  client/public/images/ranks/stone.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write

Changes to the hermit icons
  client/public/images/ranks/any.png
  client/public/images/ranks/any.svg
  client/public/images/ranks/diamond.png
  client/public/images/ranks/diamond.svg
  client/public/images/ranks/emerald.png
  client/public/images/ranks/emerald.svg
  client/public/images/ranks/gold.png
  client/public/images/ranks/gold.svg
  client/public/images/ranks/iron.png
  client/public/images/ranks/iron.svg
  client/public/images/ranks/netherite.png
  client/public/images/ranks/obsidian.svg
  client/public/images/ranks/stone.png
  client/public/images/ranks/stone.svg
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
  config/ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix issues sense mentioned
  client/public/images/ranks/any.svg
  client/public/images/ranks/diamond.svg
  client/public/images/ranks/emerald.svg
  client/public/images/ranks/gold.svg
  client/public/images/ranks/iron.svg
  client/public/images/ranks/obsidian.svg
  client/public/images/ranks/stone.png
  client/public/images/ranks/stone.svg
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/item-card-svg.module.scss
Due: stylelint --fix

updates to the iron and obsidian token icons
  client/public/images/ranks/iron.png
  client/public/images/ranks/obsidian.png
Due: none

Beetlejhost, Evil Jevin and Poultry Man (#159)
  client/public/images/backgrounds/beetlejhost.png
  client/public/images/backgrounds/eviljevin.png
  client/public/images/backgrounds/poultryman.png
  client/public/images/hermits-nobg/beetlejhost.png
  client/public/images/hermits-nobg/eviljevin.png
  client/public/images/hermits-nobg/poultryman.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/beetlejhost-common.js
  server/cards/card-plugins/hermits/eviljevin-common.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/poultryman-common.js
Due: eslint --max-warnings=0, prettier --write

Cleanup
  server/cards/card-plugins/hermits/index.js
Due: prettier --write

changes to the iron and obsidian icons
  client/public/images/ranks/iron.png
  client/public/images/ranks/obsidian.png
Due: none

changes to the iron and obsidian icons (#160)
  client/public/images/ranks/iron.png
  client/public/images/ranks/obsidian.png
Due: none

Change rank tooltip colours
  client/src/components/card/card-tooltip.module.scss
Due: stylelint --fix

Clean up debug config
  config/debug-config.json
Due: none

Remove rarity from tooltips
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Add attach text on tooltip
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

working on adding palettes, as well as the cub pharaoh card
  client/public/images/backgrounds/pharaoh.png
  client/public/images/hermits-nobg/pharaoh.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/import-export/import-export-const.ts
  common/types/cards.ts
  config/ranks.json
  config/server-config.json
  server/cards/card-plugins/_card.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/pharaoh-rare.js
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Do not require api key file
  server/api.js
Due: prettier --write

Splash Potion of Healing II
  client/public/images/effects/splash_potion_of_healing_ii.png
  client/src/components/import-export/import-export-const.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  server/cards/card-plugins/single-use/index.js
  server/cards/card-plugins/single-use/splash-potion-of-healing-ii.js
Due: eslint --max-warnings=0, prettier --write

Jingler
  client/public/images/backgrounds/jingler.png
  client/public/images/hermits-nobg/jingler.png
  client/src/components/import-export/import-export-const.ts
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/jingler-rare.js
Due: eslint --max-warnings=0, prettier --write

clean up import-export
  client/src/components/import-export/import-export-const.ts
Due: eslint --max-warnings=0, prettier --write

Initial refactor plus modify most attachable effects to use new methods
  common/types/cards.ts
  server/cards/card-plugins/_card.js
  server/cards/card-plugins/effects/_effect-card.js
  server/cards/card-plugins/effects/bed.js
  server/cards/card-plugins/effects/diamond-armor.js
  server/cards/card-plugins/effects/gold-armor.js
  server/cards/card-plugins/effects/iron-armor.js
  server/cards/card-plugins/effects/loyalty.js
  server/cards/card-plugins/effects/mending.js
  server/cards/card-plugins/effects/netherite-armor.js
  server/cards/card-plugins/effects/shield.js
  server/cards/card-plugins/effects/string.js
  server/cards/card-plugins/effects/thorns.js
  server/cards/card-plugins/effects/turtle-shell.js
  server/cards/card-plugins/effects/water-bucket.js
  server/models/attack-model.js
  server/types/index.js
  server/utils/cards.js
Due: prettier --write

unify CardPos type and clean up canAttach method
  common/types/cards.ts
  server/cards/card-plugins/_card.js
  server/cards/card-plugins/effects/_effect-card.js
  server/cards/card-plugins/effects/bed.js
  server/cards/card-plugins/effects/loyalty.js
  server/cards/card-plugins/effects/turtle-shell.js
  server/cards/card-plugins/hermits/_hermit-card.js
  server/cards/card-plugins/items/_item-card.js
  server/types/index.js
  server/utils/cards.js
Due: prettier --write

make cardPos also work for single use
  common/types/cards.ts
  server/cards/card-plugins/effects/_effect-card.js
  server/cards/card-plugins/effects/bed.js
  server/cards/card-plugins/effects/loyalty.js
  server/cards/card-plugins/effects/turtle-shell.js
  server/cards/card-plugins/items/_item-card.js
  server/cards/card-plugins/single-use/_single-use-card.js
  server/utils/cards.js
Due: prettier --write

Fix imports
  server/cards/card-plugins/effects/diamond-armor.js
  server/cards/card-plugins/effects/gold-armor.js
  server/cards/card-plugins/effects/iron-armor.js
  server/cards/card-plugins/effects/shield.js
  server/cards/card-plugins/effects/thorns.js
Due: prettier --write

Fix more imports
  server/cards/card-plugins/effects/bed.js
  server/cards/card-plugins/effects/netherite-armor.js
Due: prettier --write

Fix card list typings
  server/cards/card-plugins/effects/index.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/index.js
  server/cards/card-plugins/items/index.js
  server/cards/index.js
Due: prettier --write

finishing palettes
  client/public/images/backgrounds/alter_egos_background.png
  client/public/images/backgrounds/eviljevin.png
  client/public/images/backgrounds/llamadad.png
  client/public/images/backgrounds/pharaoh.png
  client/public/images/backgrounds/potatoboy.png
  client/public/images/backgrounds/poultryman.png
  client/public/images/hermits-nobg/pharaoh.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/import-export/import-export-const.ts
  common/types/cards.ts
  config/ranks.json
  config/server-config.json
  server/cards/card-plugins/hermits/_hermit-card.js
  server/cards/card-plugins/hermits/beetlejhost-common.js
  server/cards/card-plugins/hermits/eviljevin-common.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/llamadad-rare.js
  server/cards/card-plugins/hermits/pharaoh-rare.js
  server/cards/card-plugins/hermits/potatoboy-rare.js
  server/cards/card-plugins/hermits/poultryman-common.js
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Revert "finishing palettes"
  client/public/images/backgrounds/beetlejhost.png
  client/public/images/backgrounds/eviljevin.png
  client/public/images/backgrounds/llamadad.png
  client/public/images/backgrounds/pharaoh.png
  client/public/images/backgrounds/potatoboy.png
  client/public/images/backgrounds/poultryman.png
  client/public/images/hermits-nobg/pharaoh.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/import-export/import-export-const.ts
  common/types/cards.ts
  config/ranks.json
  config/server-config.json
  server/cards/card-plugins/hermits/_hermit-card.js
  server/cards/card-plugins/hermits/beetlejhost-common.js
  server/cards/card-plugins/hermits/eviljevin-common.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/llamadad-rare.js
  server/cards/card-plugins/hermits/pharaoh-rare.js
  server/cards/card-plugins/hermits/potatoboy-rare.js
  server/cards/card-plugins/hermits/poultryman-common.js
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Disable new cards
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/single-use/index.js
Due: prettier --write

v0.5.6
  config/server-config.json
Due: none

Fix - undo player value renaming
  server/api.js
  server/models/game-model.js
  server/models/player-model.js
  server/models/root-model.js
  server/plugins/firebase-logs.js
  server/routines/matchmaking.js
  server/routines/player.js
  server/utils/state-gen.js
Due: prettier --write

palettes have been switched to functions, and the name length function has been fixed
  client/public/fonts/BangersRegular.otf
  client/public/images/backgrounds/alter_egos_background.png
  client/public/images/backgrounds/eviljevin.png
  client/public/images/backgrounds/llamadad.png
  client/public/images/backgrounds/pharaoh.png
  client/public/images/backgrounds/potatoboy.png
  client/public/images/backgrounds/poultryman.png
  client/public/images/hermits-nobg/pharaoh.png
  client/src/app/game/board/board-slot.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/import-export/import-export-const.ts
  client/src/index.scss
  common/types/cards.ts
  config/ranks.json
  config/server-config.json
  server/cards/card-plugins/_card.js
  server/cards/card-plugins/hermits/_hermit-card.js
  server/cards/card-plugins/hermits/beetlejhost-common.js
  server/cards/card-plugins/hermits/eviljevin-common.js
  server/cards/card-plugins/hermits/index.js
  server/cards/card-plugins/hermits/llamadad-rare.js
  server/cards/card-plugins/hermits/pharaoh-rare.js
  server/cards/card-plugins/hermits/potatoboy-rare.js
  server/cards/card-plugins/hermits/poultryman-common.js
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Attack refactor part 1
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  server/api.js
  server/cards/card-plugins/effects/_effect-card.js
  server/cards/card-plugins/hermits/_hermit-card.js
  server/cards/card-plugins/single-use/_single-use-card.js
  server/cards/index.js
  server/models/attack-model.js
  server/routines/turn-actions/attack.js
Due: eslint --max-warnings=0, prettier --write

add todo
  server/routines/turn-actions/attack.js
Due: prettier --write

Add webhook and fix getOpponentId
  config/server-config.json
  server/api.js
  server/routines/matchmaking.js
  server/utils/index.js
Due: prettier --write

Revert pick requirement changes
  server/types/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: prettier --write
