Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

HC TCG Update v0.7.2
  common/config/server-config.json
Due: none

Create Docker Build CI (#561)
  .github/workflows/workflow.yaml
  Dockerfile
  package.json
Due: none

Fix XB and Golden Axe using the wrong pos (#560)
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Change Grian rare to using the selectCards modal instead of a custom modal (#562)
  client/src/app/game/game.tsx
  client/src/app/game/modals/borrow-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/default/hermits/grian-rare.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

remove unused imports
  client/src/components/card-list/card-list.tsx
Due: eslint --max-warnings=0, prettier --write

hide
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

bring back animations
  client/src/app/deck/deck-edit.tsx
  client/src/components/card-list/card-list.tsx
Due: eslint --max-warnings=0, prettier --write

optimize floating portal
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/health-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

oops
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

fixes
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

fix tooltip
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

changes
  client/src/app/game/modals/select-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write

make the cards show up again
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

format
  client/src/components/card-list/card-list.tsx
Due: eslint --max-warnings=0, prettier --write

centering changes
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/select-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

egg fix
  common/cards/alter-egos/single-use/egg.ts
Due: none

also memo the tooltips, seems to improve speed
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Update branch to v0.7.2
  common/cards/boss/hermits/evilxisuma_boss.ts
  common/models/virtual-player-model.ts
  common/status-effects/exboss-nine.ts
  server/src/routines/virtual/virtual-action.ts
Due: none

anvil.ts prettier
  common/cards/alter-egos/single-use/anvil.ts
Due: none

remove accordian animation
  client/src/components/accordion/accordion.module.css
Due: none

Centering changes to select-cards modal (#565)
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/select-cards-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Jamm bug for egg (#566)
  common/cards/alter-egos/single-use/egg.ts
Due: none

Fix for Card Rendering Speed (#564)
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.tsx
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/health-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Remove Accordian Animation (#568)
  client/src/components/accordion/accordion.module.css
Due: none

fix anvil falling upwards
  common/cards/alter-egos/single-use/anvil.ts
Due: none

Fix anvil falling upwards (#569)
  common/cards/alter-egos/single-use/anvil.ts
Due: none

add get version function
  .github/workflows/workflow.yaml
  Dockerfile
  client/src/components/link-container/link-container.tsx
  client/vite.config.js
  common/config/index.ts
  common/config/server-config.json
  esbuild.js
  package-lock.json
  package.json
  version.js
Due: eslint --max-warnings=0, prettier --write

add workflow
  .github/workflows/ci.yaml
  .github/workflows/release.yml
Due: none

prettier
  .github/workflows/release.yml
  client/vite.config.js
  common/config/index.ts
  esbuild.js
  version.js
Due: none

simplify code
  client/vite.config.js
  common/config/index.ts
Due: none

use __APP_VERSION__ instead of __VERSION__
  client/vite.config.js
  common/config/index.ts
  esbuild.js
Due: none

fix build process
  esbuild.js
Due: none

fix doc error
  common/config/index.ts
Due: none

Add eslint, run auto fix
  client/src/components/formatting/formatting.tsx
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/splash-potion-of-healing-ii.ts
  common/cards/default/single-use/splash-potion-of-healing.ts
  common/types/hooks.ts
  common/utils/cards.ts
  common/utils/coinFlips.ts
  common/utils/formatting.ts
  common/utils/movement.ts
  common/utils/ranks.ts
  eslint.config.js
  package-lock.json
  package.json
  server/src/plugins/firebase-logs.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/routines/turn-actions/attack.ts
  server/src/utils/index.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

eslint
  .github/workflows/workflow.yaml
Due: none

prettier and stuff
  Dockerfile
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/card-list/card-list.tsx
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  client/vite.config.js
  common/config/index.ts
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
  esbuild.js
  version.js
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
