Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove dead hermits at end of attack
  server/routines/turn-actions/attack.js
Due: prettier --write

Attack refactor part 2
  server/cards/card-plugins/hermits/_hermit-card.js
  server/cards/card-plugins/single-use/_single-use-card.js
  server/models/attack-model.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Improve comments
  server/routines/turn-actions/attack.js
Due: prettier --write

fix health display
  client/src/app/game/board/board-slot.tsx
Due: eslint --max-warnings=0, prettier --write

Add onHermitDeath
  server/cards/card-plugins/effects/_effect-card.js
  server/cards/card-plugins/hermits/_hermit-card.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Clean up imports
  server/routines/turn-actions/attack.js
Due: prettier --write

Add back import
  server/routines/turn-actions/attack.js
Due: prettier --write

milk and water bucket canAttach methods
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
Due: none

Fix string
  common/cards/card-plugins/effects/string.js
Due: none

Fix string (#171)
  common/cards/card-plugins/effects/string.js
Due: none

Remove unnecessary imports
  common/cards/index.js
Due: none

Add createGame endpoint, fix playerName on webhook
  server/api.js
  server/index.js
  server/routines/matchmaking.js
  server/sockets.js
Due: prettier --write

method simplification
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
Due: none

Remove Attach Requirements
  client/src/logic/game/tasks/slot-saga.ts
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/types/cards.ts
  server/routines/game.js
  server/routines/turn-actions/play-card.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Removed Use Requirements
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/card-plugins/single-use/anvil.js
  common/cards/card-plugins/single-use/bad-omen.js
  common/cards/card-plugins/single-use/bow.js
  common/cards/card-plugins/single-use/chorus-fruit.js
  common/cards/card-plugins/single-use/clock.js
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/crossbow.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/curse-of-vanishing.js
  common/cards/card-plugins/single-use/diamond-sword.js
  common/cards/card-plugins/single-use/efficiency.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/emerald.js
  common/cards/card-plugins/single-use/ender-pearl.js
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/golden-axe.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
  common/cards/card-plugins/single-use/iron-sword.js
  common/cards/card-plugins/single-use/knockback.js
  common/cards/card-plugins/single-use/lava-bucket.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/looting.js
  common/cards/card-plugins/single-use/netherite-sword.js
  common/cards/card-plugins/single-use/potion-of-slowness.js
  common/cards/card-plugins/single-use/potion-of-weakness.js
  common/cards/card-plugins/single-use/splash-potion-of-healing.js
  common/cards/card-plugins/single-use/splash-potion-of-poison.js
  common/cards/card-plugins/single-use/sweeping-edge.js
  common/cards/card-plugins/single-use/tnt.js
  common/cards/card-plugins/single-use/trident.js
  server/routines/game.js
Due: eslint --max-warnings=0, prettier --write

Restore pickOn and pickReqs
  common/cards/card-plugins/_card.js
  common/types/cards.ts
Due: none

Forgot to add that
  client/src/logic/game/tasks/action-logic-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fixes for Effect and SingleUse cards
  client/src/app/game/modals/attack-modal/attack.tsx
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/types/cards.ts
Due: eslint --max-warnings=0, prettier --write

Added onApply
  common/cards/card-plugins/single-use/_single-use-card.js
  server/routines/turn-actions/apply-effect.js
Due: prettier --write

Fixed the the unmet condition popup
  client/src/app/game/modals/unmet-condition-modal.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
Due: eslint --max-warnings=0, prettier --write

Added some helper functions
  server/utils/index.js
Due: prettier --write

Lead
  common/cards/card-plugins/single-use/lead.js
Due: none

Revert "Revert pick requirement changes"
  server/types/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: prettier --write

Only allow to select empty rows for hermit slots
  server/utils/reqs.js
Due: prettier --write

Added removable to pick requirments
  common/cards/card-plugins/effects/_effect-card.js
  common/types/cards.ts
  common/types/pick-process.ts
  server/utils/reqs.js
Due: prettier --write

Command Block ported
  common/cards/card-plugins/effects/command-block.js
Due: none

Enable Command Block
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
Due: eslint --max-warnings=0, prettier --write

Curse of Vanishing ported
  common/cards/card-plugins/single-use/curse-of-vanishing.js
Due: none

isRemovable
  server/utils/index.js
Due: prettier --write

Fix Import
  server/utils/reqs.js
Due: prettier --write

Fix Curse of Vanishing and add CanAttach
  common/cards/card-plugins/single-use/curse-of-vanishing.js
Due: none

Default onAttack behavior
  common/cards/card-plugins/hermits/_hermit-card.js
Due: none

Format, add create and delete player webhooks
  config/server-config.json
  server/api.js
  server/models/player-model.js
  server/routines/player.js
Due: prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
