Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

format
  tests/e2e/login.spec.ts
Due: none

fix e2e
  tests/e2e/login.spec.ts
Due: none

some changes
  client/src/app/app.tsx
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

Fix another bug i swear i can program
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/login/login.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/app/login/login.tsx
  client/src/components/toast/index.ts
Due: eslint --max-warnings=0, prettier --write

free site optimizations
  client/src/app/app.tsx
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/components/toast/index.ts
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/components/toast/index.ts
Due: eslint --max-warnings=0, prettier --write

Optimize Root of App (#1321)
  client/src/app/app.tsx
  client/src/components/toast/index.ts
  client/src/components/toast/toast.tsx
Due: eslint --max-warnings=0, prettier --write

query
  client/src/query-params.ts
Due: eslint --max-warnings=0, prettier --write

start
  client/src/app/main-menu/main-menu.tsx
  client/src/query-params.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/app.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/query-params.ts
Due: eslint --max-warnings=0, prettier --write

add base url
  server/src/api/games.ts
  server/src/api/index.ts
Due: none

Fixes
  API.md
Due: none

Improve the menu
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

improve animation
  client/src/app/login/login.module.scss
Due: stylelint --fix

Fix padding
  client/src/app/login/login.module.scss
Due: stylelint --fix

login screen mobile stuff
  client/src/app/login/login.module.scss
  client/src/app/login/login.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make menus nicer
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
  client/src/components/tabs/tabs.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix achievements page
  client/src/app/main-menu/achievements.module.scss
Due: stylelint --fix

Rename deck selection to deck editor, and editing decks to deck edit
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

Private game create - rename final button to confirm
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

Fix appearance shrinking when in queue, and increase width
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Increase expanded game mode button size
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improve button menu spacing
  client/src/components/game-mode-button/game-mode-button.module.scss
Due: stylelint --fix

Play select: increase title text size and shadow
  client/src/app/main-menu/play-select.module.scss
Due: stylelint --fix

Fix all unnecessary showing of scrollbars
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/components/card-list/card-list.module.scss
Due: stylelint --fix

Rename tag filter to... "Tag Filter"
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Fix placeholder text not being visible in search bars, and improved sizing
  client/src/app/deck/deck.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add no results text
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/game-mode-button/game-mode-button.module.scss
  client/src/components/game-mode-button/game-mode-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove deck selected toast
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Remove duplicated code from play screen merge
  client/src/app/main-menu/main-menu.module.scss
Due: stylelint --fix

Fix cards sometimes not being rendered square
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix updates modal css spilling onto other components
  client/src/components/updates/updates.module.scss
Due: stylelint --fix

Fix black background when HOF is loading
  client/src/app/main-menu/statistics.module.scss
Due: stylelint --fix

Increase menu button font size
  client/src/app/main-menu/main-menu.module.scss
Due: stylelint --fix

Fix server crash when running locally without db
  server/src/routines/player.ts
Due: none

Rename "singing in" to authenticating
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write
