Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Why is this failing on CI
  tests/game/loyalty.test.ts
Due: none

how can this possibly fail
  tests/game/loyalty.test.ts
Due: none

is this it?
  tests/game/utils.ts
Due: none

add print board state util
  server/src/utils/index.ts
  tests/game/clock.test.ts
  tests/game/utils.ts
Due: none

add print board state util
  server/src/utils/index.ts
Due: none

formatting
  server/src/utils/index.ts
Due: none

print out the board state
  server/src/utils/index.ts
  tests/game/clock.test.ts
  tests/game/loyalty.test.ts
Due: none

formatting
  tests/game/loyalty.test.ts
Due: none

more debug statements
  tests/game/loyalty.test.ts
Due: none

disable one shot
  tests/game/loyalty.test.ts
Due: none

fix everything
  client/src/logic/game/local-state.ts
  common/models/game-model.ts
  common/status-effects/betrayed.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
  tests/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

fix annoying code
  tests/game/clock.test.ts
  tests/game/loyalty.test.ts
  tests/game/utils.ts
Due: none

format
  common/utils/attacks.ts
Due: none

Fix name index
  common/components/query/card.ts
Due: none

Write test for boomers
  common/components/query/card.ts
  common/components/query/effect.ts
  common/components/query/slot.ts
  tests/game/clock.test.ts
  tests/game/impulse-rare.test.ts
  tests/game/loyalty.test.ts
Due: none

Write more tests for impulse
  tests/game/impulse-rare.test.ts
Due: none

Improve test logging
  tests/game/utils.ts
Due: none

Improvements
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/components/card-list/card-list.module.scss
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Mobile deck builder (#844)
  client/public/images/hermits-emoji/evilxisuma.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/app/deck/layout/deck-main.tsx
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/app/deck/layout/deck-sidebar.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/components/card-list/card-list.module.scss
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

document print board state function
  server/src/utils/index.ts
Due: none

imporve loyalty test
  tests/game/loyalty.test.ts
Due: none

Don't fail on asserts
  README.md
  common/config/debug-config.example.json
  common/models/game-model.ts
  common/utils/state-gen.ts
  server/src/routines/game.ts
Due: none

imporve comment
  tests/game/utils.ts
Due: none

Improve Framework For Card Unit Tests (#843)
  README.md
  client/src/components/card/CardReactProps.tsx
  client/src/logic/game/local-state.ts
  client/src/logic/game/tasks/attack-saga.ts
  common/cards/index.ts
  common/components/card-component.ts
  common/components/query/card.ts
  common/components/query/effect.ts
  common/components/query/slot.ts
  common/config/debug-config.example.json
  common/models/game-model.ts
  common/status-effects/betrayed.ts
  common/types/turn-action-data.ts
  common/utils/attacks.ts
  common/utils/state-gen.ts
  jest.config.mjs
  package.json
  server/src/messages.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-actions.ts
  server/src/utils/index.ts
  server/src/utils/state-gen.ts
  tests/game/clock.test.ts
  tests/game/example.test.ts
  tests/game/impulse-rare.test.ts
  tests/game/loyalty.test.ts
  tests/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Replace old error handling method with asserts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/models/game-model.ts
  common/types/game-state.ts
  common/types/modal-requests.ts
  common/utils/board.ts
  common/utils/state-gen.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

remove return values in modal request
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos-iii/hermits/eviljevin-rare.ts
  common/cards/alter-egos-iii/hermits/horseheadhypno-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/spyglass.ts
Due: none

fix and format
  common/cards/default/single-use/spyglass.ts
Due: none

remove file
  client/src/components/card/CardReactProps.tsx
Due: eslint --max-warnings=0, prettier --write

Remove File I accidently created (#846)
  client/src/components/card/CardReactProps.tsx
Due: eslint --max-warnings=0, prettier --write

don't let selectCardsModal close if condition is not satisfied
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write

get rid of undefineds that were never used
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos-iii/hermits/eviljevin-rare.ts
  common/cards/alter-egos-iii/hermits/horseheadhypno-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/spyglass.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

simplify some code
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/single-use/chest.ts
Due: none

fix some terminology
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos-iii/hermits/eviljevin-rare.ts
  common/cards/alter-egos-iii/hermits/horseheadhypno-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/spyglass.ts
  common/types/modal-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
Due: none

improve types
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/game/toolbar/toolbar.tsx
  common/types/modal-requests.ts
  common/types/server-requests.ts
Due: eslint --max-warnings=0, prettier --write

Format and fix
  client/src/app/game/modals/copy-attack-modal.tsx
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/default/single-use/chest.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Log the battle log to stdout
  common/models/battle-log-model.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

Replace a console.log with console.info
  server/src/routines/matchmaking.ts
Due: none

Log turn ends
  server/src/routines/game.ts
Due: none

Log the first player
  server/src/routines/game.ts
Due: none

make evilx actions menu not closeable
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write
