Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

More changtes
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

oops
  common/status-effects/index.ts
Due: none

Fix Status Effect Glossery Entries Crashing Game (#839)
  common/status-effects/index.ts
Due: none

More fixes
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/components/card-list/card-list.module.scss
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Start converting a lot of the cards to the new system
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/cards/advent-of-tcg/effects/brewing-stand.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/effects/furnace.ts
  common/cards/advent-of-tcg/effects/index.ts
  common/cards/advent-of-tcg/effects/slimeball.ts
  common/cards/advent-of-tcg/effects/trapdoor.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/index.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/items/index.ts
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/index.ts
Due: none

Some more fixes
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
Due: none

Fix all of the hermits
  common/cards/advent-of-tcg/hermits/bigbst4tz2-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
Due: none

Fix the other cards
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
Due: none

Convert all status effects to new system
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/status-effects/dyed.ts
  common/status-effects/melody.ts
  common/status-effects/museum-collection.ts
  common/status-effects/naughty-regift.ts
  common/status-effects/protected.ts
  common/status-effects/smelting.ts
  common/status-effects/soulmate.ts
Due: none

add safe call function
  client/src/logic/matchmaking/matchmaking-saga.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/handle-local-message.ts
  server/src/utils/index.ts
Due: eslint --max-warnings=0, prettier --write

format
  server/src/routines/handle-client-message.ts
  server/src/routines/handle-local-message.ts
Due: none

Fix type error
  server/src/utils/win-conditions.ts
Due: none

fix error
  server/src/utils/win-conditions.ts
Due: none

Add Safe Call Function To Prevent Errors Bubling Up To Root (#840)
  client/src/logic/matchmaking/matchmaking-saga.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/handle-local-message.ts
  server/src/utils/index.ts
Due: eslint --max-warnings=0, prettier --write

Fix Server Crash When Player Disconnects During Game (#841)
  server/src/utils/win-conditions.ts
Due: none

Fix duplicate names
  common/components/status-effect-component.ts
  common/status-effects/gas-light.ts
  common/status-effects/status-effect.ts
  common/status-effects/turn-skipped.ts
Due: none

Fix Status Effects With Duplicate Names Causing Crash (#842)
  common/components/status-effect-component.ts
  common/status-effects/gas-light.ts
  common/status-effects/status-effect.ts
  common/status-effects/turn-skipped.ts
Due: none

some changes
  jest.config.mjs
  package-lock.json
  package.json
  server/src/routines/game.ts
  tests/game/example.test.ts
  tests/tsconfig.json
Due: none

Delete debug-config.example.json
  common/config/debug-config.example.json
Due: none

add clock test
  client/src/components/card/CardReactProps.tsx
  common/cards/index.ts
  common/components/card-component.ts
  common/models/game-model.ts
  common/utils/state-gen.ts
  core
  nohup.out
  server/src/messages.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
  tests/game/clock.test.ts
  tests/game/clock.ts
  tests/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

remove bad file
  tests/game/clock.ts
Due: none

Fix a type error
  core
  nohup.out
  server/src/routines/game.ts
  tests/game/clock.test.ts
Due: none

move some settings
  common/models/game-model.ts
  server/src/routines/game.ts
  tests/game/clock.test.ts
  tests/game/utils.ts
Due: none

remove some things
  common/models/game-model.ts
  server/src/messages.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  tests/game/clock.test.ts
  tests/game/example.test.ts
Due: none

Fix the code
  server/src/routines/game.ts
  tests/game/clock.test.ts
Due: none

improve some things
  package.json
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  tests/game/clock.test.ts
  tests/game/utils.ts
Due: none

format
  tests/game/utils.ts
Due: none

fix compile errors
  server/src/routines/matchmaking.ts
Due: none

Simplify the test
  tests/game/clock.test.ts
Due: none

remove unneeded jest library
  package-lock.json
  package.json
Due: none

More fixes
  client/public/images/hermits-emoji/evilxisuma.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/app/deck/layout/deck-main.tsx
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/app/deck/layout/deck-sidebar.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/components/card-list/card-list.module.scss
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card.module.scss
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

format
  package.json
Due: none

Allow for custom settings
  common/models/game-model.ts
  server/src/routines/turn-actions.ts
  tests/game/utils.ts
Due: none

Improvements
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/components/card-list/card-list.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix type errors
  client/src/logic/game/tasks/attack-saga.ts
  common/types/turn-action-data.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
  tests/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

loyalty unit test
  tests/game/loyalty.test.ts
Due: none

Add test for loyalty
  common/types/turn-action-data.ts
  tests/game/clock.test.ts
  tests/game/loyalty.test.ts
  tests/game/utils.ts
Due: none

???
  tests/game/loyalty.test.ts
Due: none

format
  tests/game/loyalty.test.ts
Due: none

Fix compile errors
  server/src/utils/index.ts
  tests/game/utils.ts
  tests/tsconfig.json
Due: none
