Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Make replays save in the database (#1171)
  .github/workflows/ci.yaml
  client/src/app/main-menu/game-history.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/entities.ts
  common/models/game-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/types/ecs.ts
  common/utils/turn-action-compressor.ts
  jest.config.mjs
  package.json
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/handle-client-message.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  server/src/utils/index.ts
  tests/db/database.test.ts
  tests/replays/replays.test.ts
  tests/replays/tsconfig.json
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Certified Zombie Achievement (#1249)
  common/achievements/certified-zombie.ts
  common/achievements/index.ts
  common/cosmetics/titles/certified-zombie.ts
  common/cosmetics/titles/index.ts
  tests/unit/game/achivements/certified-zombie.test.ts
Due: none

Add achievements (#1169)
  common/components/player-component.ts
  common/models/player-model.ts
Due: none

Move each cosmetic type to a single file
  common/cosmetics/background/index.ts
  common/cosmetics/background/old-menu.ts
  common/cosmetics/background/transparent.ts
  common/cosmetics/backgrounds.ts
  common/cosmetics/borders.ts
  common/cosmetics/borders/blue.ts
  common/cosmetics/borders/green.ts
  common/cosmetics/borders/index.ts
  common/cosmetics/coins.ts
  common/cosmetics/coins/creeper.ts
  common/cosmetics/coins/evilx.ts
  common/cosmetics/coins/index.ts
  common/cosmetics/default.ts
  common/cosmetics/hearts.ts
  common/cosmetics/hearts/gold.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/hearts/red.ts
  common/cosmetics/index.ts
  common/cosmetics/titles.ts
  common/cosmetics/titles/british.ts
  common/cosmetics/titles/certified-zombie.ts
  common/cosmetics/titles/empty.ts
  common/cosmetics/titles/ethogirl.ts
  common/cosmetics/titles/evil-xterminator.ts
  common/cosmetics/titles/index.ts
Due: none

Rename sheep head
  common/cosmetics/coins.ts
Due: none

Add wolf and sheep head
  client/public/images/cosmetics/coin/sheep.png
  client/public/images/cosmetics/coin/wolf.png
  common/coins.ts
Due: none

Add unlockAllCosmetics debug
  client/src/app/main-menu/cosmetics.tsx
  client/src/logic/session/session-saga.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

Couple changes
  client/public/images/cosmetics/background/old_menu.png
  client/public/images/cosmetics/heart/gold.png
  client/src/app/main-menu/cosmsetics.module.scss
Due: stylelint --fix

Fix imports
  client/src/logic/session/session-saga.ts
  common/config/debug-config.example.js
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Add more titles & format
  client/src/app/main-menu/cosmetics.tsx
  client/src/logic/session/session-saga.ts
  common/cosmetics/backgrounds.ts
  common/cosmetics/borders.ts
  common/cosmetics/coins.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

rename pink sheep coin
  client/public/images/cosmetics/coin/pink-sheep.png
Due: none

Not sure
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

Add hotguy test
  tests/unit/game/hermits/hotguy-rare.test.ts
Due: none

hotguy
  tests/unit/game/hermits/hotguy-rare.test.ts
Due: none

bow test
  tests/unit/game/hermits/hotguy-rare.test.ts
Due: none

add note
  tests/unit/game/hermits/hotguy-rare.test.ts
Due: none

format and fix
  tests/unit/game/hermits/hotguy-rare.test.ts
Due: none

Fix Monkeyfarm pickCondition including dying rows (#1242)
  common/cards/hermits/kingjoel-rare.ts
  common/components/query/slot.ts
Due: none

Limit Cases Where Lightning Rod Will Not Discard to Only 0-Damage Attacks and Misses (#1243)
  common/cards/attach/lightning-rod.ts
  common/types/priorities.ts
  tests/unit/game/effects/lightning-rod.test.ts
Due: none

Description Changes Suggested By @Mekktor (#1252)
  client/public/images/cards/frenchkeralis_rare.png
  client/public/images/cards/frenchkeralis_rare_with_tokens.png
  common/cards/attach/armor.ts
  common/cards/hermits/cubfan135-rare.ts
  common/cards/hermits/frenchralis-rare.ts
  common/cards/hermits/horseheadhypno-rare.ts
  common/cards/hermits/hotguy-rare.ts
  common/cards/hermits/jingler-rare.ts
  common/cards/hermits/joehills-rare.ts
  common/cards/hermits/poepoeskizz-rare.ts
  common/cards/hermits/poultryman-rare.ts
  common/cards/hermits/shadeee-rare.ts
  common/cards/hermits/skizzleman-rare.ts
  common/cards/hermits/smallishbeans-rare.ts
  common/cards/single-use/composter.ts
  common/cards/single-use/efficiency.ts
  common/glossary/index.ts
  common/status-effects/efficiency.ts
Due: none

Up CPU To Shared 4x (#1251)
  fly.toml
Due: none

Fix card renders in dev docker file (#1245)
  .dockerignore
  Dockerfile
Due: none

Remove Image Preloading (#1246)
  client/src/index.tsx
Due: eslint --max-warnings=0, prettier --write

Throw fuzz error when an invalid battle log is created (#1256)
  common/models/battle-log-model.ts
Due: none

Fix missing period in Hotguy description and consistency in Netherite Armor description (#1253)
  common/cards/attach/armor.ts
  common/cards/hermits/hotguy-rare.ts
Due: none

push
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Hof mobile
  client/public/images/icons/plus.png
  client/src/app/app.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improvements to achievements screen
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

cleanup
  client/src/app/main-menu/cosmetics.tsx
  client/src/components/tabs/tabs.tsx
Due: eslint --max-warnings=0, prettier --write

brighter colors p1
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/components/tabs/tabs.module.scss
Due: stylelint --fix

more improvements
  client/public/images/cosmetics/heart/soulflame.png
  client/public/images/cosmetics/title.png
  client/public/images/cosmetics/title_small.png
  client/public/images/lock.png
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/components/tabs/tabs.module.scss
  client/src/components/tabs/tabs.tsx
  common/achievements/decked-out.ts
  common/cosmetics/hearts/index.ts
  common/cosmetics/hearts/soulflame.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix a bug where Instant Health could pick an empty slot (#1257)
  common/cards/single-use/instant-health.ts
Due: none

Tooltips
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix
