Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix Keralis slot types (#368)
  common/cards/hermits/keralis-rare.ts
Due: none

fix some typos/formatting for the game state (#369)
  client/src/app/game/actions/actions.tsx
Due: eslint --max-warnings=0, prettier --write

fix build errors temporary
  server/src/index.ts
Due: none

Fixed turnPlayerId on validPick
  server/src/utils/reqs.ts
Due: none

Change minecraft name in settings
  client/src/app/app.tsx
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/session/session-actions.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/config/debug-config.json
  common/models/player-model.ts
  common/types/game-state.ts
  server/src/routines/player.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Use super for canAttach and fix Armor Stand attachment
  common/cards/effects/bed.ts
  common/cards/effects/lightning-rod.ts
  common/cards/effects/milk-bucket.ts
  common/cards/effects/turtle-shell.ts
  common/cards/effects/water-bucket.ts
  common/cards/single-use/anvil.ts
  common/cards/single-use/bad-omen.ts
  common/cards/single-use/bow.ts
  common/cards/single-use/chorus-fruit.ts
  common/cards/single-use/clock.ts
  common/cards/single-use/composter.ts
  common/cards/single-use/curse-of-vanishing.ts
  common/cards/single-use/egg.ts
  common/cards/single-use/emerald.ts
  common/cards/single-use/ender-pearl.ts
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/fishing-rod.ts
  common/cards/single-use/flint-and-steel.ts
  common/cards/single-use/golden-apple.ts
  common/cards/single-use/knockback.ts
  common/cards/single-use/ladder.ts
  common/cards/single-use/lead.ts
  common/cards/single-use/mending.ts
  common/cards/single-use/piston.ts
  common/cards/single-use/splash-potion-of-poison.ts
  common/cards/single-use/spyglass.ts
  common/cards/single-use/sweeping-edge.ts
  common/cards/single-use/target-block.ts
Due: none

Fix card placment on row 0
  server/src/routines/turn-actions/play-card.ts
Due: none

Buckets can't use super.canAttach
  common/cards/effects/milk-bucket.ts
  common/cards/effects/water-bucket.ts
Due: none

Fix buckets single use placment
  common/cards/effects/milk-bucket.ts
  common/cards/effects/water-bucket.ts
Due: none

Fixed change active hermit
  server/src/routines/turn-actions/change-active-hermit.ts
Due: none

Revert changes to how the client listens to server
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fixed turnPlayerId on validPick (#370)
  server/src/utils/reqs.ts
Due: none

Fixed change active hermit (#372)
  server/src/routines/turn-actions/change-active-hermit.ts
Due: none

Fixed placement on row 0 and some effect cards being able to be attached to the Armor Stand (#371)
  common/cards/effects/bed.ts
  common/cards/effects/lightning-rod.ts
  common/cards/effects/milk-bucket.ts
  common/cards/effects/turtle-shell.ts
  common/cards/effects/water-bucket.ts
  common/cards/single-use/anvil.ts
  common/cards/single-use/bad-omen.ts
  common/cards/single-use/bow.ts
  common/cards/single-use/chorus-fruit.ts
  common/cards/single-use/clock.ts
  common/cards/single-use/composter.ts
  common/cards/single-use/curse-of-vanishing.ts
  common/cards/single-use/egg.ts
  common/cards/single-use/emerald.ts
  common/cards/single-use/ender-pearl.ts
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/fishing-rod.ts
  common/cards/single-use/flint-and-steel.ts
  common/cards/single-use/golden-apple.ts
  common/cards/single-use/knockback.ts
  common/cards/single-use/ladder.ts
  common/cards/single-use/lead.ts
  common/cards/single-use/mending.ts
  common/cards/single-use/piston.ts
  common/cards/single-use/splash-potion-of-poison.ts
  common/cards/single-use/spyglass.ts
  common/cards/single-use/sweeping-edge.ts
  common/cards/single-use/target-block.ts
  server/src/routines/turn-actions/play-card.ts
Due: none

Update action available warnings to be more accurate
  client/src/app/game/modals/end-turn-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Fix board not updating on game end, and remove console logs
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
Due: none

Minor fixes
  server/src/routines/game.ts
Due: none

Fix armor stand not clearing ailments from row on death
  common/cards/effects/armor-stand.ts
Due: none

Prevent egg removing functionality if it gets discarded early
  common/cards/single-use/egg.ts
Due: none

Change ijevin to only make hermit inactive during afterAttack
  common/cards/hermits/ijevin-rare.ts
Due: none

add credits to menu & fix issues with minecraftName
  client/public/images/icons/twitter.svg
  client/src/app/app.tsx
  client/src/app/main-menu/credits.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/credit/credit.tsx
  client/src/components/credit/index.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Clean up look of new pack selection
  client/src/app/deck/deck.module.scss
Due: stylelint --fix

Wolf now does 20 damage, plus bumped to 1 token
  common/cards/effects/wolf.ts
  common/config/ranks.json
Due: none

Also end turn on change active hermit
  server/src/routines/game.ts
Due: none

Thorns cannot trigger more than once per turn, plus we now trigger on effect attacks too
  common/cards/effects/thorns.ts
  common/cards/effects/thorns_ii.ts
  common/cards/effects/thorns_iii.ts
Due: none

String checks opponents board instead of ours to determine actions
  common/cards/effects/string.ts
Due: none

remove eula stuff
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

Revert "fix build errors temporary"
  server/src/index.ts
Due: none

stop showing string name of coin flip
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

Update to settings menu (#373)
  client/public/images/icons/twitter.svg
  client/src/app/app.tsx
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/credits.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/credit/credit.tsx
  client/src/components/credit/index.ts
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/session/session-actions.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/config/debug-config.json
  common/models/player-model.ts
  common/types/game-state.ts
  server/src/index.ts
  server/src/routines/player.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

stop showing string name of coin flip (#374)
  client/src/components/coin-flip/coin-flip.tsx
Due: eslint --max-warnings=0, prettier --write

Revert changes to debug config and paths from merge
  common/config/debug-config.json
  server/src/index.ts
Due: none

Clean up game screen and add back grace time for timer
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/board/board.module.scss
  client/src/components/coin-flip/coin-flip.module.scss
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
Due: stylelint --fix

Clean up new settings
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/settings.tsx
  common/cards/single-use/flint-and-steel.ts
  server/src/utils/reqs.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

v0.6.10
  common/config/server-config.json
Due: none

Add tsx to main dependencies :)
  package.json
Due: none

Update readme and npm scripts
  README.md
  package.json
Due: none

Update scripts used in other scripts
  package.json
Due: none

Fix spyglass not using the new discardFromHand method
  common/cards/single-use/spyglass.ts
Due: none
