Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

other changes
  common/components/row-component.ts
Due: none

should work
  common/types/ecs.ts
Due: none

more changes
  common/components/achievement-component.ts
  common/components/ai-component.ts
  common/components/card-component.ts
  common/components/observer-component.ts
  common/components/player-component.ts
  common/components/row-component.ts
  common/components/slot-component.ts
  common/components/status-effect-component.ts
  common/types/ecs.ts
Due: none

more changes
  client/public/images/cosmetics/heart/lamp.png
  client/public/images/cosmetics/heart/lamp_off.png
  client/public/images/cosmetics/heart/wooden.png
  client/src/app/game/player-info/player-info.tsx
  client/src/app/main-menu/achievements.tsx
  common/achievements/ibuy.ts
  common/achievements/index.ts
  common/achievements/terrible-trades.ts
  common/cosmetics/hearts.ts
  common/cosmetics/types.ts
  common/types/priorities.ts
Due: eslint --max-warnings=0, prettier --write

Add cherry border
  client/public/images/cosmetics/border/cherry.png
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/main-menu/achievements.module.scss
  common/cosmetics/borders.ts
Due: stylelint --fix

Add cherry border
  client/src/app/game/player-info/player-info.module.scss
Due: stylelint --fix

Update efficiency.ts
  common/status-effects/efficiency.ts
Due: none

Update hypnotizd-rare.test.ts
  tests/unit/game/hermits/hypnotizd-rare.test.ts
Due: none

various changes
  client/src/app/main-menu/statistics.tsx
  common/models/battle-log-model.ts
  server/src/db/db.ts
  server/src/routines/game.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Simplify requirements
  common/achievements/channeling.ts
  tests/unit/game/achievements/channeling.test.ts
Due: none

changes
  client/src/app/main-menu/play-select.tsx
  common/components/ai-component.ts
  common/components/card-component.ts
  common/components/player-component.ts
  common/components/row-component.ts
  common/components/slot-component.ts
  common/components/status-effect-component.ts
  common/types/ecs.ts
  server/src/routines/virtual/exboss-ai.ts
Due: eslint --max-warnings=0, prettier --write

changes
  common/types/ecs.ts
Due: none

format
  common/types/ecs.ts
Due: none

compile errors
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/hermits/goatfather-rare.ts
  common/cards/hermits/hypnotizd-rare.ts
  common/cards/single-use/anvil.ts
  common/status-effects/betrayed.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: none

changes
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/hermits/spookystress-rare.ts
  common/components/query/row.ts
Due: none

Works besides cyberpunk impulse
  client/src/app/main-menu/play-select.tsx
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
Due: eslint --max-warnings=0, prettier --write

fix tests
  common/achievements/useless-machine.ts
  common/types/ecs.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

changes
  common/cards/advent-of-tcg/hermits/cyberpunkimpulse-rare.ts
  common/components/player-component.ts
Due: none

brewing stand
  common/cards/advent-of-tcg/attach/brewing-stand.ts
Due: none

fix composter working with one other card in hand
  common/cards/single-use/composter.ts
Due: none

discovry
  client/src/app/main-menu/play-select.tsx
  common/achievements/poe-poe-enforcer.ts
  tests/unit/game/achievements/poe-poe-enforcer.test.ts
Due: eslint --max-warnings=0, prettier --write

other changes
  tests/unit/game/achievements/poe-poe-enforcer.test.ts
Due: none

fix composter working with one other card in hand (#1433)
  common/cards/single-use/composter.ts
Due: none

tests
  common/achievements/poe-poe-enforcer.ts
  tests/unit/game/achievements/poe-poe-enforcer.test.ts
Due: none

Fix C.Impulse availableEnergy listener
  common/cards/advent-of-tcg/hermits/cyberpunkimpulse-rare.ts
  common/components/observer-component.ts
Due: none

Fix Hermit interactions
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/hermits/hypnotizd-rare.ts
  common/utils/board.ts
Due: none

Fix Evil X deleting item slots
  common/components/row-component.ts
  server/src/routines/matchmaking.ts
  tests/unit/game/utils.ts
Due: none

lint
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
Due: none

fix build error
  common/achievements/master-of-puppets.ts
  common/cards/hermits/wormman-rare.ts
Due: none

Optimize Queries For Hermit In Rows (#1427)
  client/src/app/main-menu/play-select.tsx
  common/achievements/master-of-puppets.ts
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/hermits/cyberpunkimpulse-rare.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/hermits/goatfather-rare.ts
  common/cards/hermits/hypnotizd-rare.ts
  common/cards/hermits/spookystress-rare.ts
  common/cards/hermits/wormman-rare.ts
  common/cards/single-use/anvil.ts
  common/components/observer-component.ts
  common/components/player-component.ts
  common/components/query/row.ts
  common/components/row-component.ts
  common/status-effects/betrayed.ts
  common/status-effects/smelting.ts
  common/utils/board.ts
  common/utils/state-gen.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/utils/state-gen.ts
  tests/unit/game/advent-of-tcg/hermits/cyberpunkimpulse-rare.test.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Fix Poe Poe Enforcer Achievement (#1434)
  common/achievements/poe-poe-enforcer.ts
  tests/unit/game/achievements/poe-poe-enforcer.test.ts
Due: none

changes
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

Array of Structs Optimization (#1432)
  common/achievements/useless-machine.ts
  common/components/achievement-component.ts
  common/components/ai-component.ts
  common/components/card-component.ts
  common/components/observer-component.ts
  common/components/player-component.ts
  common/components/row-component.ts
  common/components/slot-component.ts
  common/components/status-effect-component.ts
  common/types/ecs.ts
  server/src/routines/virtual/exboss-ai.ts
  tests/unit/game/achievements/useless-machine.test.ts
Due: none

Fix "Channeling" achievement (#1408)
  common/achievements/channeling.ts
  common/cards/attach/lightning-rod.ts
  common/models/attack-model.ts
  common/types/priorities.ts
  tests/unit/game/achievements/channeling.test.ts
Due: none

More replay fixes
  server/src/db/db.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-action-compressor.ts
  tests/replays/replays.test.ts
Due: none

more fixes
  client/src/app/main-menu/statistics.tsx
  server/src/db/db.ts
  server/src/routines/turn-action-compressor.ts
Due: eslint --max-warnings=0, prettier --write

lint
  client/src/app/main-menu/play-select.tsx
  tests/replays/replays.test.ts
Due: eslint --max-warnings=0, prettier --write

increment replay version
  server/src/db/db.ts
  server/src/routines/turn-action-compressor.ts
Due: none

Use Like a Hermit achievement
  client/public/images/cosmetics/heart/wooden.png
  common/achievements/index.ts
  common/achievements/use-like-a-hermit.ts
  common/cosmetics/hearts.ts
  server/src/db/db.ts
  tests/unit/game/achievements/certified-zombie.test.ts
  tests/unit/game/achievements/use-like-a-hermit.test.ts
Due: none

fixes
  common/achievements/use-like-a-hermit.ts
  tests/unit/game/achievements/use-like-a-hermit.test.ts
Due: none
