Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

getAttacks changes (only returns 1 attack/undefined now)
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/base/hermit-card.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/config/debug-config.json
  common/types/game-state.ts
  server/src/routines/turn-actions/attack.ts
  server/src/utils/state-gen.ts
Due: none

make chat scrollbar thin
  client/src/app/game/chat/chat.module.scss
Due: stylelint --fix

create example test
  package-lock.json
  package.json
  tests/example.test.ts
Due: none

add unit tests to workflow
  .github/workflows/workflow.yaml
Due: none

remove targetsKey from cards that don't need it
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos/single-use/anvil.ts
Due: none

forgot the config file...
  jest.config.mjs
Due: none

tsconfig for tests
  jest.config.mjs
  tests/tsconfig.json
Due: none

prepare for merge
  jest.config.ts
  package-lock.json
  package.json
Due: none

make attacks not defined in constructor null
  common/models/attack-model.ts
  common/models/battle-log-model.ts
Due: none

fix lints
  client/src/components/formatting/formatting.tsx
  server/src/index.ts
Due: eslint --max-warnings=0, prettier --write

move tests
  tests/common/utils/formatting.test.ts
  tests/common/utils/profanity-filter.ts.ts
Due: none

improve formatted description system
  client/src/components/formatting/formatting.module.scss
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/utils/formatting.ts
Due: stylelint --fix

more complete tests
  common/utils/formatting.ts
  tests/common/utils/formatting.test.ts
  tests/common/utils/profanity-filter.test.ts
Due: none

merge
  common/utils/formatting.ts
Due: none

Fix string attaching to invalid slots
  common/cards/alter-egos/effects/string.ts
Due: none

fix typo
  tests/common/utils/formatting.test.ts
Due: none

change message format stuff
  client/src/app/game/chat/chat.tsx
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

Fix string attaching to invalid slots (#542)
  common/cards/alter-egos/effects/string.ts
Due: none

clean up
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

thorns entries, attack model clean up
  common/cards/alter-egos/effects/thorns_ii.ts
  common/cards/alter-egos/effects/thorns_iii.ts
  common/cards/base/hermit-card.ts
  common/cards/default/effects/thorns.ts
  common/cards/default/effects/wolf.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/types/attack.ts
  server/src/routines/turn-actions/attack.ts
Due: none

readability and more entries
  common/cards/alter-egos/single-use/trident.ts
  common/cards/base/hermit-card.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/types/attack.ts
Due: none

looting entry
  common/cards/default/single-use/looting.ts
  common/models/battle-log-model.ts
  common/types/cards.ts
  common/utils/board.ts
  server/src/routines/turn-actions/play-card.ts
Due: none

egg entry
  common/cards/alter-egos/single-use/egg.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/types/attack.ts
Due: none

readability
  common/cards/alter-egos/single-use/egg.ts
  common/cards/base/effect-card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  server/src/routines/background/chat.ts
Due: none

improve start guide
  README.md
  package.json
Due: none

changes
  README.md
Due: none

colors and chat fix
  client/src/components/formatting/formatting.module.scss
  server/src/routines/background/chat.ts
Due: stylelint --fix

fix
  client/src/components/formatting/formatting.module.scss
  common/models/battle-log-model.ts
Due: stylelint --fix

shield and invis entries
  common/cards/default/effects/shield.ts
  common/cards/default/single-use/invisibility-potion.ts
Due: none

more color updates
  client/src/components/formatting/formatting.module.scss
Due: stylelint --fix

improvements to effect/item entries system
  common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/fire-charge.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/default/effects/milk-bucket.ts
  common/cards/default/effects/water-bucket.ts
  common/cards/default/single-use/golden-apple.ts
  common/cards/default/single-use/instant-health-ii.ts
  common/cards/default/single-use/instant-health.ts
  common/cards/default/single-use/lead.ts
  common/cards/default/single-use/mending.ts
  common/config/debug-config.json
  common/models/battle-log-model.ts
  common/models/game-model.ts
  common/types/cards.ts
Due: none

typo
  common/models/battle-log-model.ts
Due: none

fix typo
  README.md
Due: none

fix typo again
  README.md
Due: none

Remove stars from evil x's description
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
Due: none

Fix XB ignoring his own effect card when on the same row as the opponent's active hermit. (#540)
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Fix with rvtar's PR
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/single-use/golden-axe.ts
Due: none

Improve README and development setup (#543)
  README.md
  package.json
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
