Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

start changing goal progress
  common/achievements/british.ts
  common/achievements/decked-out.ts
  common/components/achievement-component.ts
Due: none

goal progress changes
  common/achievements/british.ts
  common/achievements/deceptive-spectacles.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/hot-take.ts
  common/achievements/how-did-we-get-here.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/team-star.ts
  common/achievements/untouchable.ts
  common/achievements/wins.ts
  common/achievements/wipeout.ts
  common/components/achievement-component.ts
Due: none

more goal progress
  common/achievements/british.ts
  common/achievements/decked-out.ts
  common/achievements/defeat-evil-x.ts
  common/achievements/designer.ts
  common/achievements/hot-take.ts
  common/achievements/jack-of-all-cards.ts
  common/achievements/no-derpcoins.ts
  common/achievements/ore-snatcher.ts
  common/achievements/team-star.ts
  common/achievements/wins.ts
  common/components/achievement-component.ts
Due: none

format
  common/achievements/designer.ts
  common/achievements/ethogirl.ts
  common/achievements/index.ts
Due: none

Implement feedback
  common/achievements/hot-take.ts
  common/achievements/team-star.ts
Due: none

Allow Coin Head To Be Settable In Player Model (#1173)
  client/public/images/coins/creeper.png
  client/public/images/coins/evilx.png
  client/src/app/game/actions/actions.tsx
  client/src/components/coin-flip/coin-flip.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  common/coins.ts
  common/components/player-component.ts
  common/models/player-model.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
  server/src/routines/matchmaking.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Menu changes
  client/public/images/backgrounds/beef.png
  client/public/images/backgrounds/cubfan.png
  client/public/images/backgrounds/evilx.png
  client/src/app/app.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
  client/src/components/button/button.module.scss
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/button.tsx
  client/src/components/hermit-button/index.ts
  client/src/components/link-container/link-container.tsx
  client/src/components/slider/slider.module.scss
  common/config/server-config.js
  common/types/buttons.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add achievements (#1169)
  common/components/player-component.ts
  common/models/player-model.ts
Due: none

more changes
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.ts
Due: none

more changes
  tests/unit/game/utils.ts
Due: none

achievment tests
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.ts
Due: none

Fix iskallman being playable in game
  common/utils/validation.ts
Due: none

Fix disabling again (#1165)
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add test to verify achievment tests run
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.test.ts
Due: none

update to not set stuff in dict to 0
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.ts
Due: none

fix typo
  tests/unit/game/utils.ts
Due: none

run CI on the achievements branch
  .github/workflows/ci.yaml
Due: none

Run CI On The Achievements Branch (#1180)
  .github/workflows/ci.yaml
Due: none

first changes
  client/src/app/app.tsx
  client/src/app/main-menu/games-landing.tsx
  common/config/server-config.js
  common/models/player-model.ts
Due: eslint --max-warnings=0, prettier --write

first changes
  common/components/player-component.ts
Due: none

changes
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

fix db tests
  tests/db/database.test.ts
Due: none

fix
  tests/db/database.test.ts
Due: none

Run CI on the achievements branch (#1182)
  .github/workflows/ci.yaml
  client/src/app/app.tsx
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/settings.tsx
  common/components/player-component.ts
  common/config/server-config.js
  common/models/player-model.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

changes
  client/public/images/backgrounds/beef.png
  client/public/images/backgrounds/cubfan.png
  client/public/images/backgrounds/evilx.png
  client/public/images/backgrounds/gamemodes/boss.png
  client/public/images/backgrounds/gamemodes/private.png
  client/public/images/backgrounds/gamemodes/public.png
  client/public/images/backgrounds/gamemodes/tutorial.png
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/button.tsx
  client/src/components/hermit-button/hermit-button.tsx
  client/src/components/hermit-button/index.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

z-index shenanigans
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Initial cosmetics common files
  client/public/images/cosmetics/coins/creeper.png
  client/public/images/cosmetics/coins/evilx.png
  client/public/images/cosmetics/title.png
  common/cosmetics/coins/creeper.ts
  common/cosmetics/coins/evilx.ts
  common/cosmetics/coins/index.ts
  common/cosmetics/index.ts
  common/cosmetics/titles/empty.ts
  common/cosmetics/titles/ethogirl.ts
  common/cosmetics/titles/evil-xterminator.ts
  common/cosmetics/titles/index.ts
  common/cosmetics/types.ts
Due: none

fix
  client/src/app/main-menu/games-landing.tsx
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

View selected deck button
  client/src/app/main-menu/games-landing.tsx
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix tests
  tests/unit/game/utils.test.ts
Due: none

Add working deck selector
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Basic Achievement Tests (#1181)
  tests/unit/game/achivements/win.test.ts
  tests/unit/game/utils.test.ts
  tests/unit/game/utils.ts
Due: none

Fix disabled cards (not disabled by expansion) being playable in game (#1179)
  common/utils/validation.ts
Due: none

escape and tab
  client/src/app/app.tsx
  client/src/app/main-menu/boss-landing.tsx
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

vw changes
  client/src/app/main-menu/games-landing.module.scss
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix cursor problems
  client/src/components/hermit-button/button.module.scss
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

best i can make it
  client/src/components/hermit-button/button.module.scss
Due: stylelint --fix

Improve deck selector a bit
  client/src/app/main-menu/games-landing.module.scss
  client/src/app/main-menu/games-landing.tsx
  client/src/components/hermit-button/hermit-button.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

button
  client/src/app/main-menu/games-landing.tsx
Due: eslint --max-warnings=0, prettier --write
