Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

also move rare grian test
  tests/game/hermits/grian-rare.test.ts
Due: none

run formatter
  tests/game/hermits/docm77-rare.test.ts
Due: none

code -> gameCode
  common/models/game-model.ts
  server/src/routines/matchmaking.ts
Due: none

merge
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/game.tsx
Due: eslint --max-warnings=0, prettier --write

done
  client/src/app/game/game.tsx
  common/types/game-state.ts
  common/utils/state-gen.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Update branch to 0.8.21
  client/src/app/main-menu/boss-landing.tsx
  common/components/ai-component.ts
  common/status-effects/exboss-nine.ts
  common/types/virtual-ai.ts
  common/utils/state-gen.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/index.ts
Due: eslint --max-warnings=0, prettier --write

Clean up changes
  common/cards/advent-of-tcg/effects/berry-bush.ts
  common/components/player-component.ts
  common/config/debug-config.example.json
  common/models/game-model.ts
  common/types/game-state.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/utils/win-conditions.ts
  tests/game/utils.ts
Due: none

Refactor and test boss status effect
  common/status-effects/exboss-nine.ts
  server/src/routines/virtual/exboss-ai.ts
  tests/game/evilxisuma-boss.test.ts
Due: none

Add subfolders to tests/game (#898)
  tests/game/effects/armor-stand.test.ts
  tests/game/effects/clock.test.ts
  tests/game/effects/invisibility-potion.test.ts
  tests/game/effects/loyalty.test.ts
  tests/game/effects/thorns.test.ts
  tests/game/effects/totem.test.ts
  tests/game/effects/turtle-shell.test.ts
  tests/game/hermits/beetlejhost-rare.test.ts
  tests/game/hermits/docm77-rare.test.ts
  tests/game/hermits/dwarfimpulse-rare.test.ts
  tests/game/hermits/evilxisuma-rare.test.ts
  tests/game/hermits/geminitay-rare.test.ts
  tests/game/hermits/goatfather-rare.test.ts
  tests/game/hermits/grian-rare.test.ts
  tests/game/hermits/helsknight-rare.test.ts
  tests/game/hermits/humancleo-rare.test.ts
  tests/game/hermits/ijevin-rare.test.ts
  tests/game/hermits/impulse-rare.test.ts
  tests/game/hermits/kingjoel-rare.test.ts
  tests/game/hermits/originalxb-rare.test.ts
  tests/game/hermits/pearlescentmoon-rare.test.ts
  tests/game/hermits/poepoeskizz-rare.test.ts
  tests/game/hermits/poultryman-rare.test.ts
  tests/game/hermits/skizzleman-rare.test.ts
  tests/game/hermits/tangotek-rare.test.ts
  tests/game/hermits/xbcrafted-rare.test.ts
  tests/game/hermits/zombie-cleo-rare.test.ts
Due: none

Add test for rare hypno(and rare cleo puppeting the attack)
  tests/game/hermits/hypnotizd-rare.test.ts
  tests/game/hermits/zombie-cleo-rare.test.ts
Due: none

Add rare wels test(currently failing)
  tests/game/hermits/welsknight-rare.test.ts
Due: none

run formatter
  tests/game/hermits/welsknight-rare.test.ts
Due: none

Add missing emojis
  client/public/images/hermits-emoji/kingjoel.png
  client/public/images/hermits-emoji/poepoeskizz.png
  client/public/images/hermits-emoji/skizzleman.png
  client/public/images/hermits-emoji/smallishbeans.png
Due: none

resize
  client/public/images/hermits-emoji/kingjoel.png
  client/public/images/hermits-emoji/poepoeskizz.png
  client/public/images/hermits-emoji/skizzleman.png
  client/public/images/hermits-emoji/smallishbeans.png
Due: none

Add missing emojis (#900)
  client/public/images/hermits-emoji/kingjoel.png
  client/public/images/hermits-emoji/poepoeskizz.png
  client/public/images/hermits-emoji/skizzleman.png
  client/public/images/hermits-emoji/smallishbeans.png
Due: none

A lot of visual improvements for polish
  client/public/images/icons/deck.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/deck/layout/deck-main.module.scss
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/app/deck/layout/deck-sidebar.tsx
  client/src/components/card-list/card-list.module.scss
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improvement
  client/src/components/card-list/card-list.module.scss
Due: stylelint --fix

Fix
  client/src/app/deck/layout/deck-sidebar.module.scss
  client/src/app/deck/layout/deck-sidebar.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

add back margin
  client/src/components/card/card-tooltip.module.scss
Due: stylelint --fix

nevermind make it work properly
  client/src/components/card/card-tooltip.module.scss
  client/src/components/tooltip/tooltip.module.scss
Due: stylelint --fix

Formatting
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/layout/deck-sidebar.tsx
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/layout/deck-main.tsx
  client/src/components/card-list/mobile-card-list.tsx
  client/src/components/card/mobile-card-component.tsx
Due: eslint --max-warnings=0, prettier --write

start diff idea
  client/src/app/game/game.tsx
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

this is not great
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

Good besides for impurities
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

some cleanup
  common/types/game-state.ts
  server/src/utils/state-gen.ts
Due: none

play sound
  client/src/app/game/actions/mobile-actions.tsx
  server/src/routines/turn-actions.ts
Due: eslint --max-warnings=0, prettier --write

Fix rare welsknight test
  tests/game/hermits/welsknight-rare.test.ts
Due: none

Add test for shield
  tests/game/effects/shield.test.ts
Due: none

Add test for lightning rod
  tests/game/effects/lightning-rod.test.ts
Due: none

Add test for ladder
  common/components/card-component.ts
  tests/game/effects/ladder.test.ts
Due: none

run formatter
  tests/game/effects/ladder.test.ts
Due: none

this method works
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-selectors.ts
  client/src/logic/game/local-state.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

fix error
  client/src/logic/game/local-state.ts
Due: eslint --max-warnings=0, prettier --write

improve type
  client/src/logic/game/local-state.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Include single use card
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

more sounds
  client/public/sfx/Piston_extend.ogg
  client/public/sfx/Player_hurt1.ogg
  client/public/sfx/Player_hurt2.ogg
  client/public/sfx/Player_hurt3.ogg
  client/src/app/game/game.tsx
  client/src/logic/game/game-reducer.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/game-sound-saga.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

First sound effects
  client/src/logic/game/game-sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add piston sound
  client/src/logic/game/game-sound-saga.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/base/types.ts
  common/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Allow for multiple sounds
  client/src/logic/game/game-sound-saga.ts
  common/cards/alter-egos/single-use/piston.ts
  common/cards/base/defaults.ts
  common/cards/base/types.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
