Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/cyberpunkimpulse_rare.png
  client/public/images/cards/cyberpunkimpulse_rare.webp
  client/public/images/cards/cyberpunkimpulse_rare_with_tokens.png
  client/public/images/cards/cyberpunkimpulse_rare_with_tokens.webp
  client/public/images/cards/postmasterpearl_rare.png
  client/public/images/cards/postmasterpearl_rare.webp
  client/public/images/cards/postmasterpearl_rare_with_tokens.png
  client/public/images/cards/postmasterpearl_rare_with_tokens.webp
  client/public/images/cards/zookeeperscar_rare.png
  client/public/images/cards/zookeeperscar_rare.webp
  client/public/images/cards/zookeeperscar_rare_with_tokens.png
  client/public/images/cards/zookeeperscar_rare_with_tokens.webp
Due: none

Tooltip and secondary support
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/hermit-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write

Nerf soulmate damage to 80
  common/status-effects/soulmate.ts
Due: none

Nerf soulmate damage to 80 (#1090)
  common/status-effects/soulmate.ts
Due: none

change
  common/components/player-component.ts
Due: none

initial
  aotcg.md
  common/cards/advent-of-tcg/single-use/fletching-table.ts
Due: none

Add validation
  client/public/images/effects/feather.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/hermit-card-svg.tsx
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/feather.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/config/server-config.js
  common/const/expansions.ts
  common/utils/validation.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
  tests/unit/game/advent-of-tcg/effects/fletching-table.test.ts
  tests/unit/game/advent-of-tcg/effects/glowstone.test.ts
  tests/unit/game/advent-of-tcg/effects/lantern.test.ts
Due: eslint --max-warnings=0, prettier --write

fix Elder Guardian issues (#1074)
  common/cards/advent-of-tcg/attach/elder-guardian.ts
  common/status-effects/mining-fatigue.ts
  common/status-effects/status-effect.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

continue rebase
  README.md
  card-prerender/render.spec.tsx
  client/public/images/cards/allay.webp
  client/public/images/cards/allay_with_tokens.webp
  client/public/images/cards/arrow_of_poison.webp
  client/public/images/cards/arrow_of_poison_with_tokens.webp
  client/public/images/cards/feather.webp
  client/public/images/cards/feather_with_tokens.webp
  client/public/images/cards/mining_fatigue.webp
  client/public/images/cards/mining_fatigue_with_tokens.webp
  client/public/images/cards/powder_snow_bucket.webp
  client/public/images/cards/powder_snow_bucket_with_tokens.webp
  client/public/images/cards/sculk_catalyst.webp
  client/public/images/cards/sculk_catalyst_with_tokens.webp
  client/public/images/cards/smithing_table.webp
  client/public/images/cards/smithing_table_with_tokens.webp
  client/public/images/cards/wind_burst.webp
  client/public/images/cards/wind_burst_with_tokens.webp
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
  tests/sh/test-api
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Implement TNT Minecart (#1008)
  client/public/images/cards/tnt_minecart.webp
  client/public/images/cards/tnt_minecart_with_tokens.webp
  client/public/images/effects/tnt_minecart.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
  tests/unit/game/advent-of-tcg/effects/tnt-minecart.test.ts
Due: none

Fix D.Impulse adding request after using G.Axe (#1021)
  common/cards/hermits/dwarfimpulse-rare.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
Due: none

Add drag modal for brush (#982)
  client/src/app/game/modals/drag-cards-modal.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-modals-saga.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/models/game-model.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions.ts
  server/src/utils/state-gen.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add Elder Guardian (#985)
  client/public/images/cards/elder_guardian.webp
  client/public/images/cards/elder_guardian_with_tokens.webp
  client/public/images/cards/redstone_torch.webp
  client/public/images/cards/redstone_torch_with_tokens.webp
  client/public/images/effects/elder_guardian.png
  common/cards/advent-of-tcg/attach/elder-guardian.ts
  common/cards/advent-of-tcg/attach/index.ts
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  common/components/card-component.ts
  common/components/status-effect-component.ts
  common/status-effects/betrayed.ts
  common/status-effects/index.ts
  common/status-effects/mining-fatigue.ts
  common/utils/attacks.ts
  server/src/routines/game.ts
  tests/unit/game/advent-of-tcg/effects/elder-guardian.test.ts
Due: none

Remove mining fatigue card from Aotcg (#1072)
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/mining-fatigue.ts
  tests/unit/game/advent-of-tcg/effects/mining-fatigue.test.ts
Due: none

Implement candle (#1007)
  client/public/images/cards/candle.webp
  client/public/images/cards/candle_with_tokens.webp
  client/public/images/effects/candle.png
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/index.ts
  tests/unit/game/advent-of-tcg/effects/candle.test.ts
Due: none

Fix branches on which CI run (#989)
  .github/workflows/ci.yaml
Due: none

Fix redstone torch expansion (#1073)
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
Due: none

Enable Advent of TCG
  common/const/expansions.ts
Due: none

Redstone torch (#1019)
  client/public/images/effects/redstone_torch.png
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
  tests/unit/game/advent-of-tcg/effects/redstone-torch.test.ts
Due: none

Fix bad merge in cards.tsx
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

Fix failed rebase in README.md
  README.md
Due: none

Format
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Fix rarities of AoTCG II cards
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/advent-of-tcg/single-use/arrow-of-poison.ts
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/smithing-table.ts
  common/cards/advent-of-tcg/single-use/wind-burst.ts
Due: none

Fix various build errors
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/redstone-torch.ts
  common/cards/advent-of-tcg/single-use/tnt-minecart.ts
Due: none

Fix rarities and token costs of AoTCG II cards (#1091)
  .github/workflows/release.yml
  common/cards/advent-of-tcg/single-use/allay.ts
  common/cards/advent-of-tcg/single-use/arrow-of-poison.ts
  common/cards/advent-of-tcg/single-use/candle.ts
  common/cards/advent-of-tcg/single-use/smithing-table.ts
  common/cards/advent-of-tcg/single-use/wind-burst.ts
  common/status-effects/soulmate.ts
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/allay_with_tokens.png
  client/public/images/cards/allay_with_tokens.webp
  client/public/images/cards/smithing_table_with_tokens.png
  client/public/images/cards/smithing_table_with_tokens.webp
Due: none

Disable cards that shouldn't be available day one
  common/config/server-config.js
Due: none

Fix bug where splash potion of Poison would not regenerate its image
  card-prerender/render.spec.tsx
  client/public/images/cards/splash_potion_of_harming.png
  client/public/images/cards/splash_potion_of_harming.webp
  client/public/images/cards/splash_potion_of_harming_with_tokens.png
  client/public/images/cards/splash_potion_of_harming_with_tokens.webp
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/config/server-config.js
Due: none

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/redstone_torch.png
  client/public/images/cards/redstone_torch_with_tokens.png
  client/public/images/cards/wind_burst.png
  client/public/images/cards/wind_burst_with_tokens.png
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
