Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Add option to disable chat (#403)
  client/src/app/game/chat/chat.tsx
  client/src/app/game/toolbar/toolbar.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
Due: eslint --max-warnings=0, prettier --write

3 Healing cards over to pick request, fixed them allowing to pick armor stand
  common/cards/single-use/golden-apple.ts
  common/cards/single-use/instant-health-ii.ts
  common/cards/single-use/instant-health.ts
Due: none

Fixes to shubble
  client/src/app/game/modals/shelby-modal.tsx
  common/cards/hermits/shubbleyt-rare.ts
  common/types/game-state.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Remove new advent of TCG cards
  common/ailments/brewing.ts
  common/ailments/dyed.ts
  common/ailments/index.ts
  common/ailments/museum-collection.ts
  common/ailments/protected.ts
  common/cards/effects/brewing-stand.ts
  common/cards/effects/index.ts
  common/cards/hermits/biffa2001-rare.ts
  common/cards/hermits/dungeontango-rare.ts
  common/cards/hermits/index.ts
  common/cards/hermits/katherineeliz-rare.ts
  common/cards/hermits/monkeyfarm-rare.ts
  common/cards/hermits/orionsound-rare.ts
  common/cards/hermits/pythongb-rare.ts
  common/cards/hermits/smajor1995.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/items/clank-common.ts
  common/cards/items/index.ts
  common/cards/single-use/index.ts
  common/cards/single-use/treasure-hunter.ts
Due: none

Fix massive if else that did nothing
  client/src/logic/game/tasks/action-logic-saga.ts
Due: eslint --max-warnings=0, prettier --write

Ren and Cleo modal fixes (#400)
  client/src/app/game/game.tsx
  client/src/app/game/modals/copy-attack-modal.tsx
  client/src/app/game/modals/evil-x-modal.tsx
  client/src/app/game/modals/index.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/hermits/evilxisuma_rare.ts
  common/cards/hermits/grian-rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/cards/single-use/chest.ts
  common/cards/single-use/spyglass.ts
  common/types/game-state.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions/modal-request.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Remove advent of TCG images
  client/public/images/hermits-nobg/biffa2001.png
  client/public/images/hermits-nobg/dungeontango.png
  client/public/images/hermits-nobg/katherineeliz.png
  client/public/images/hermits-nobg/monkeyfarm.png
  client/public/images/hermits-nobg/orionsound.png
  client/public/images/hermits-nobg/pythongb.png
  client/public/images/hermits-nobg/smajor1995.png
  client/public/images/hermits-nobg/solidaritygaming.png
  client/public/images/status/dyed.png
  client/public/images/status/museum-collection.png
  client/public/images/status/protected.png
Due: none

remove type coin
  client/public/images/types/type-coin.png
  common/types/cards.ts
Due: none

Fix build error
  common/const/strengths.ts
Due: none

remove "advent of TCG" information
  client/public/images/backgrounds/advent_of_tcg.png
  client/public/images/expansion-icons/advent_of_tcg.png
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/hermit-card-svg.module.scss
  common/config/expansions.json
  common/config/ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Moved ladder over to pick request system
  common/cards/single-use/ladder.ts
Due: none

More updates to my cards
  client/public/images/effects/brush.png
  client/public/images/effects/glowstone.png
  client/public/images/effects/lantern.png
  client/src/app/game/game.tsx
  client/src/app/game/modals/index.ts
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/hermits/dungeontango-rare.ts
  common/cards/hermits/katherineeliz-rare.ts
  common/cards/hermits/ldshadowlady-rare.ts
  common/cards/hermits/monkeyfarm-rare.ts
  common/cards/hermits/smajor1995.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/single-use/brush.ts
  common/cards/single-use/glowstone.ts
  common/cards/single-use/index.ts
  common/cards/single-use/lantern.ts
Due: eslint --max-warnings=0, prettier --write

Clean up comments
  common/cards/hermits/grian-rare.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
Due: none

add deleted files back
  client/public/images/backgrounds/advent_of_tcg.png
  client/public/images/expansion-icons/advent_of_tcg.png
  client/public/images/hermits-nobg/biffa2001.png
  client/public/images/hermits-nobg/dungeontango.png
  client/public/images/hermits-nobg/katherineeliz.png
  client/public/images/hermits-nobg/monkeyfarm.png
  client/public/images/hermits-nobg/orionsound.png
  client/public/images/hermits-nobg/pythongb.png
  client/public/images/hermits-nobg/smajor1995.png
  client/public/images/hermits-nobg/solidaritygaming.png
  client/public/images/status/dyed.png
  client/public/images/status/museum-collection.png
  client/public/images/status/protected.png
  client/public/images/types/type-coin.png
  common/ailments/brewing.ts
  common/ailments/dyed.ts
  common/ailments/museum-collection.ts
  common/ailments/protected.ts
  common/cards/effects/brewing-stand.ts
  common/cards/hermits/biffa2001-rare.ts
  common/cards/hermits/pythongb-rare.ts
  common/cards/items/clank-common.ts
  common/cards/single-use/treasure-hunter.ts
Due: none

Move lead over to pick request
  common/cards/single-use/egg.ts
  common/cards/single-use/lead.ts
Due: none

Piston to pick request system (needs changing back to allow any to any though)
  common/cards/single-use/lead.ts
  common/cards/single-use/piston.ts
Due: none

Fix new cards for game.pickRequests
  common/cards/hermits/dungeontango-rare.ts
  common/cards/hermits/katherineeliz-rare.ts
  common/cards/hermits/monkeyfarm-rare.ts
  common/cards/hermits/smajor1995.ts
  common/cards/hermits/solidaritygaming-rare.ts
  server/src/routines/game.ts
Due: none

Furnace, Splash harming
  common/cards/effects/furnace.ts
  common/cards/effects/index.ts
  common/cards/single-use/index.ts
  common/cards/single-use/splash-potion-of-harming.ts
  common/config/debug-config.json
Due: none

Revert debug config
  common/config/debug-config.json
Due: none

all new effects completed besides lantern
  client/src/app/game/game.tsx
  client/src/app/game/modals/chest-modal.tsx
  client/src/app/game/modals/discarded-modal.tsx
  client/src/app/game/modals/index.ts
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/game/modals/shelby-modal.tsx
  client/src/app/game/modals/spyglass-modal.tsx
  client/src/app/game/toolbar/toolbar.tsx
  common/cards/hermits/index.ts
  common/cards/hermits/shubbleyt-rare.ts
  common/cards/single-use/brush.ts
  common/cards/single-use/chest.ts
  common/cards/single-use/glowstone.ts
  common/cards/single-use/lantern.ts
  common/cards/single-use/spyglass.ts
  common/config/debug-config.json
  common/config/expansions.json
Due: eslint --max-warnings=0, prettier --write

Fix console logs and debug config
  client/src/app/game/toolbar/toolbar.tsx
  common/cards/hermits/katherineeliz-rare.ts
  common/cards/hermits/ldshadowlady-rare.ts
  common/cards/single-use/lantern.ts
  common/config/debug-config.json
Due: eslint --max-warnings=0, prettier --write

Fix bugs with lantern and glowstone
  common/cards/single-use/glowstone.ts
  common/config/debug-config.json
  server/src/routines/game.ts
Due: none

fix debug config
  common/config/debug-config.json
Due: none

fix hermit index
  common/cards/hermits/index.ts
Due: none

Fix attack damage for smallishbeans
  common/cards/hermits/solidaritygaming-rare.ts
Due: none

Fix accidental deletions
  client/src/components/card/card-tooltip.tsx
  client/src/components/card/hermit-card-svg.module.scss
  common/ailments/index.ts
  common/cards/effects/index.ts
  common/cards/hermits/index.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/items/index.ts
  common/cards/single-use/index.ts
  common/config/ranks.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix dungeontango
  common/cards/hermits/dungeontango-rare.ts
Due: none

Milk and water to pickRequest system,
  common/cards/effects/milk-bucket.ts
  common/cards/effects/water-bucket.ts
  common/cards/hermits/zombiecleo-rare.ts
Due: none

Fix clank common
  common/types/cards.ts
Due: none

Undo rename of coin-common
  common/cards/items/coin-common.ts
Due: none

Fix strengths.ts
  common/const/strengths.ts
Due: none

fix ranks.json
  common/config/ranks.json
Due: none

final fixes
  common/cards/hermits/orionsound-rare.ts
  common/cards/hermits/smajor1995.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/items/index.ts
Due: none

onTimeout cleanup
  common/cards/hermits/katherineeliz-rare.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/single-use/brush.ts
  common/cards/single-use/glowstone.ts
  common/cards/single-use/lantern.ts
Due: none

Fix bigB and other changes
  client/src/app/game/toolbar/toolbar.tsx
  common/ailments/museum-collection.ts
  common/ailments/protected.ts
  common/cards/effects/brewing-stand.ts
  common/cards/hermits/bigbst4tz2-rare.ts
  common/cards/hermits/solidaritygaming-rare.ts
  common/cards/single-use/brush.ts
  common/cards/single-use/chest.ts
  common/cards/single-use/lantern.ts
Due: eslint --max-warnings=0, prettier --write

Replace treasure hunter with dropper
  common/cards/items/coin-common.ts
  common/cards/items/index.ts
  common/cards/single-use/dropper.ts
  common/cards/single-use/fletching-table.ts
Due: none

Bug changes from yesterday
  common/ailments/museum-collection.ts
  common/cards/single-use/brush.ts
  common/cards/single-use/glowstone.ts
  common/cards/single-use/lantern.ts
  common/cards/single-use/lead.ts
  common/cards/single-use/mending.ts
  common/cards/single-use/piston.ts
  common/config/debug-config.json
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
