Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

more fixes
  server/src/routines/matchmaking.ts
Due: none

dont send achievement for less progress than level
  common/components/achievement-component.ts
Due: none

simplify logic
  common/components/achievement-component.ts
Due: none

New audio icons
  client/public/images/icons/audio_disable.png
  client/public/images/icons/audio_enable.png
  client/public/images/icons/mn6.png
  client/public/images/icons/music_disable.png
  client/public/images/icons/music_enable.png
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/game/toolbar/toolbar.module.scss
  client/src/components/svgs/index.ts
  client/src/components/svgs/speakerIcon.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fuck
  common/achievements/acquire-hardware.ts
Due: none

fuck
  common/achievements/acquire-hardware.ts
  common/achievements/index.ts
Due: none

rename test dir
  tests/unit/game/achievements/all-cards.test.ts
  tests/unit/game/achievements/british.test.ts
  tests/unit/game/achievements/cant-touch-this.test.ts
  tests/unit/game/achievements/certified-zombie.test.ts
  tests/unit/game/achievements/ethogirl.test.ts
  tests/unit/game/achievements/eye-of-the-spider.test.ts
  tests/unit/game/achievements/free-and-steel.test.ts
  tests/unit/game/achievements/go-fish.test.ts
  tests/unit/game/achievements/hermits-and-crafting.test.ts
  tests/unit/game/achievements/how-did-we-get-here.test.ts
  tests/unit/game/achievements/hurtin-hermits.test.ts
  tests/unit/game/achievements/loyalty-iii.test.ts
  tests/unit/game/achievements/server-lag.test.ts
  tests/unit/game/achievements/sustainable.test.ts
  tests/unit/game/achievements/targeted-lightning.test.ts
  tests/unit/game/achievements/type-wins.test.ts
  tests/unit/game/achievements/useless-machine.test.ts
  tests/unit/game/achievements/win.test.ts
Due: none

remove ibuy
  common/achievements/ibuy.ts
Due: none

red king
  common/achievements/close-call.ts
  common/achievements/free-and-steel.ts
  common/achievements/is-great.ts
  common/achievements/poe-poe-enforcer.ts
Due: none

change desc
  common/achievements/index.ts
  common/achievements/master-of-puppets.ts
  common/cosmetics/titles.ts
Due: none

change desc
  tests/unit/game/achievements/master-of-puppets.test.ts
Due: none

tests
  tests/unit/game/achievements/master-of-puppets.test.ts
Due: none

MORE TESTS
  common/achievements/master-of-puppets.ts
  common/models/game-model.ts
  common/types/modal-requests.ts
  server/src/routines/turn-actions.ts
  tests/unit/game/achievements/master-of-puppets.test.ts
Due: none

format
  common/achievements/index.ts
  tests/unit/game/achievements/master-of-puppets.test.ts
Due: none

add lucky streak achievement
  common/achievements/index.ts
  common/achievements/lucky-streak.ts
  common/types/priorities.ts
Due: none

new team
  common/achievements/index.ts
  common/achievements/new-team-canada.ts
Due: none

finish new team canada
  common/achievements/lucky-streak.ts
  common/achievements/new-team-canada.ts
Due: none

add tests
  tests/unit/game/achievements/new-team-canada.test.ts
Due: none

add missing alter egos
  common/achievements/new-team-canada.ts
Due: none

fix description
  common/achievements/new-team-canada.ts
Due: none

fix resolution
  client/public/images/icons/mn6.png
  client/public/images/icons/music_disable.png
Due: none

New audio icons on toolbar, courtesy of Chimera Dev (#1349)
  client/public/images/icons/audio_disable.png
  client/public/images/icons/audio_enable.png
  client/public/images/icons/music_disable.png
  client/public/images/icons/music_enable.png
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/game/toolbar/toolbar.module.scss
  client/src/components/svgs/index.ts
  client/src/components/svgs/speakerIcon.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

new cosmetics
  client/public/images/cosmetics/border/copper_border.png
  client/public/images/cosmetics/border/gold_border.png
  client/public/images/cosmetics/border/green_border.png
  client/public/images/cosmetics/border/red_border.png
  client/public/images/cosmetics/border/silver_border.png
  client/public/images/cosmetics/heart/copper.png
  client/public/images/cosmetics/heart/emerald.png
  client/public/images/cosmetics/heart/gold.png
  client/public/images/cosmetics/heart/plant.png
  client/public/images/cosmetics/heart/red.png
  client/public/images/cosmetics/heart/silver_heart.png
  client/public/images/cosmetics/heart/snow.png
  client/public/images/cosmetics/heart/soulflame.png
  client/public/images/game/heart_empty.png
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/main-menu/achievements.module.scss
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  common/cosmetics/backgrounds.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Link up titles
  client/public/images/cosmetics/heart/snow.png
  common/cosmetics/titles.ts
Due: none

Account for step skipping
  common/components/achievement-component.ts
Due: none

settings changes
  client/src/app/main-menu/settings.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/setting/setting.module.scss
  client/src/components/setting/sound-setting.tsx
  client/src/components/setting/toggle-setting.tsx
  client/src/components/tabs/tabs.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add copy toasts
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

Sound volumes
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/components/setting/sound-setting.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

cleaning
  common/achievements/fortune-placeholder.ts
Due: none

probably fix poe poe enforcer
  common/achievements/poe-poe-enforcer.ts
Due: none

format
  common/achievements/poe-poe-enforcer.ts
Due: none

basic test
  common/achievements/poe-poe-enforcer.ts
Due: none

Revert stuff
  fly.toml
Due: none

fix tests
  common/achievements/new-team-canada.ts
Due: none

Revert properly
  client/src/logic/local-settings/local-settings-reducer.ts
  common/config/server-config.js
Due: eslint --max-warnings=0, prettier --write

changes
  common/achievements/free-and-steel.ts
Due: none

fix issue with filtering component
  client/src/app/deck/deck.module.scss
Due: stylelint --fix

Fix issue with filtering component (#1350)
  client/src/app/deck/deck.module.scss
Due: stylelint --fix

this is fucked
  client/src/app/app.tsx
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/game.tsx
  client/src/app/game/toolbar/music-item.tsx
  client/src/app/game/toolbar/sfx-item.tsx
  client/src/app/main-menu/credits.tsx
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/settings.module.scss
  client/src/app/main-menu/settings.tsx
  client/src/components/button/button.module.scss
  client/src/components/credit/credit.tsx
  client/src/components/credit/developer-credit.tsx
  client/src/components/setting/setting.module.scss
  client/src/components/setting/sound-setting.tsx
  client/src/components/setting/toggle-setting.tsx
  client/src/components/slider/slider.module.scss
  client/src/components/tabs/tabs.module.scss
  client/src/components/tabs/tabs.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/sound/sound-saga.ts
  common/config/server-config.js
  fly.toml
Due: eslint --max-warnings=0, prettier --write, stylelint --fix
