Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

maybe this will fix it
  common/cards/starter-decks.ts
Due: none

Update logo subtext (#1136)
  common/config/server-config.js
Due: none

Update token costs of Hotguy and Frenchralis (#1137)
  client/public/images/cards/frenchkeralis_rare_with_tokens.png
  client/public/images/cards/frenchkeralis_rare_with_tokens.webp
  client/public/images/cards/hotguy_rare_with_tokens.png
  client/public/images/cards/hotguy_rare_with_tokens.webp
  common/cards/hermits/frenchralis-rare.ts
  common/cards/hermits/hotguy-rare.ts
  common/cards/starter-decks.ts
Due: none

Improve looks, add copy hash button
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove useless stuff
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Initial drop-down
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Hall of fame improvements (#1139)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Reformat css, add card renderer
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add basic game stat page
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

More changes based on tyrannicodin's branch
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improvements to HOF
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

console.logs
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Disabled spinner
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Hof changes (#1141)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Further HOF additions (#1140)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Formatting
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Improvements to display and bug fix
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

fix some errors
  server/src/game-controller.ts
  server/src/root-model.ts
  server/src/routines/setup-game.ts
Due: none

setup add ai action
  common/types/game-state.ts
  common/types/turn-action-data.ts
  server/src/routines/setup-game.ts
Due: none

Initial chartjs
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/index.tsx
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improvements to thing
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add button to switch between winrate and frequency
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Fix styling for table
  client/src/app/main-menu/main-menu.module.scss
Due: stylelint --fix

changes
  server/src/api/games.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/setup-game.ts
Due: none

get the app to open
  server/src/routines/background/chat.ts
  server/src/routines/background/spectators.ts
  server/src/routines/player.ts
  server/src/utils/index.ts
Due: none

improvements
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improve layout and options
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

lint
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

add dropdown menu
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix comments
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Add date picker
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Small visual improvements
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Fix icons not changing locations
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/chartjs.d.ts
Due: eslint --max-warnings=0, prettier --write

Perfect type charts
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

add buttons
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

changes
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Add chart.js charts to the hall of fame (#1143)
  client/src/app/main-menu/hall-of-fame.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/index.tsx
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

path error
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write

Fix tripple s error
  client/src/app/main-menu/hall-of-fame.tsx
  common/types/database.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

set up clearing dates
  client/src/app/main-menu/hall-of-fame.tsx
Due: eslint --max-warnings=0, prettier --write
