Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

front end
  client/public/images/types/type-anarchist.png
  client/public/images/types/type-athlete.png
  client/public/images/types/type-explorer.png
  client/public/images/types/type-historian.png
  client/public/images/types/type-inventor.png
  client/public/images/types/type-looper.png
  client/public/images/types/type-pacifist.png
  client/public/images/types/type-pvp.png
  client/public/images/types/type-redstone.png
  client/public/images/types/type-scavenger.png
  client/public/images/types/type-speedrunner.png
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update card-tooltip.tsx
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

scuffed item bkg
  client/src/components/card/item-card-svg.module.scss
  common/cards/items/anarchist-rare.ts
  common/cards/items/athlete-rare.ts
  common/cards/items/balanced-rare.ts
  common/cards/items/bard-rare.ts
  common/cards/items/challenger-rare.ts
  common/cards/items/collector-rare.ts
  common/cards/items/diplomat-rare.ts
  common/cards/items/historian-rare.ts
  common/cards/items/inventor-rare.ts
  common/cards/items/looper-rare.ts
  common/cards/items/pacifist-rare.ts
  common/cards/items/scavenger-rare.ts
Due: stylelint --fix

Receiving stats working
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/index.ts
  server/src/routines/matchmaking.ts
Due: eslint --max-warnings=0, prettier --write

Make decks not removable when there's 0, except through updating
  client/src/app/deck/deck-select.tsx
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

New user and refresh user hopefully working
  client/src/app/main-menu/data-settings.tsx
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
  server/src/routines/handle-client-message.ts
Due: eslint --max-warnings=0, prettier --write

Fixes
  client/src/app/main-menu/data-settings.tsx
  client/src/logic/session/session-saga.ts
  server/src/db/db-reciever.ts
Due: eslint --max-warnings=0, prettier --write

Starter deck generation
  client/src/logic/session/session-saga.ts
  common/utils/state-gen.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Make disabled cards unable to be generated
  common/utils/state-gen.ts
Due: none

minor cleanup
  client/src/app/deck/deck-select.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

mass exports
  client/src/components/import-export/import-modal.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  server/src/db/db-reciever.ts
Due: eslint --max-warnings=0, prettier --write

Visual improvements
  client/src/app/main-menu/data-settings.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/import-export/import-export.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Bug fixes
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/main-menu/data-settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Remove the rest of firebase
  client/index.html
  package-lock.json
  package.json
Due: none

delete tests
  tests/db/turn-actions-compressor.test.ts
Due: none

Linters again
  client/src/app/main-menu/data-settings.tsx
  common/utils/state-gen.ts
  server/src/db/db-reciever.ts
  server/src/routines/matchmaking.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

improvement
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-saga.ts
  common/types/deck.ts
Due: eslint --max-warnings=0, prettier --write

Remove a deck type for simplicity
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
  client/src/components/card/mobile-card-component.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/messages.ts
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/database.ts
  common/utils/cards.ts
  common/utils/ranks.ts
  common/utils/state-gen.ts
  common/utils/validation.ts
  server/src/api/cards.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write

rename PlayerDeck to Deck
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/messages.ts
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/models/player-model.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  common/types/deck.ts
  common/types/server-requests.ts
  server/src/db/db.ts
  server/src/messages.ts
Due: eslint --max-warnings=0, prettier --write

rename effects to attach
  common/cards/advent-of-tcg/attach/berry-bush.ts
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/attach/cat.ts
  common/cards/advent-of-tcg/attach/furnace.ts
  common/cards/advent-of-tcg/attach/index.ts
  common/cards/advent-of-tcg/attach/slimeball.ts
  common/cards/advent-of-tcg/attach/trapdoor.ts
Due: none

sub
  common/cards/advent-of-tcg/attach/berry-bush.ts
  common/cards/advent-of-tcg/attach/brewing-stand.ts
  common/cards/advent-of-tcg/attach/cat.ts
  common/cards/advent-of-tcg/attach/furnace.ts
  common/cards/advent-of-tcg/attach/index.ts
  common/cards/advent-of-tcg/attach/slimeball.ts
  common/cards/advent-of-tcg/attach/trapdoor.ts
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/bigbst4tz2-rare.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/index.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/fletching-table.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/index.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
Due: none

More fixes
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/index.ts
  common/status-effects/soulmate.ts
Due: none

fixes fixes fixes
  client/src/app/main-menu/boss-landing.tsx
  common/cards/advent-of-tcg/attach/trapdoor.ts
  common/cards/hermits/boomerbdubs-rare.ts
  common/cards/hermits/poepoeskizz-rare.ts
  common/cards/hermits/poultryman-rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/skizzleman-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/status-effects/soulmate.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/main-menu/boss-landing.tsx
  common/cards/advent-of-tcg/attach/berry-bush.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/hermits/poultryman-rare.ts
  common/cards/hermits/rendog-rare.ts
  common/cards/hermits/zombiecleo-rare.ts
  common/cards/index.ts
Due: eslint --max-warnings=0, prettier --write

more changes
  common/cards/index.ts
  tests/unit/game/advent-of-tcg/effects/berry-bush.test.ts
  tests/unit/game/advent-of-tcg/effects/brush.test.ts
  tests/unit/game/advent-of-tcg/effects/cat.test.ts
  tests/unit/game/advent-of-tcg/effects/furnace.test.ts
  tests/unit/game/advent-of-tcg/effects/glowstone.test.ts
  tests/unit/game/advent-of-tcg/effects/lantern.test.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/advent-of-tcg/hermits/biffa2001-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/bigbst4tz2-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/dungeontango-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/ldshadowlady-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/orionsound-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pharaoh-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pixlriffs-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pythongb-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/shubbleyt-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/smajor1995-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/solidaritygaming-rare.test.ts
  tests/unit/game/effects/weakness.test.ts
  tests/unit/game/hermits/beetlejhost-rare.test.ts
  tests/unit/game/hermits/boomerbdubs-rare.test.ts
  tests/unit/game/hermits/helsknight-rare.test.ts
  tests/unit/game/hermits/humancleo-rare.test.ts
  tests/unit/game/hermits/hypnotizd-rare.test.ts
  tests/unit/game/hermits/poepoeskizz-rare.test.ts
  tests/unit/game/hermits/poultryman-rare.test.ts
  tests/unit/game/hermits/wormman-rare.test.ts
  tests/unit/game/hermits/zedaphplays-rare.test.ts
Due: none

format
  tests/unit/game/advent-of-tcg/effects/berry-bush.test.ts
  tests/unit/game/advent-of-tcg/effects/cat.test.ts
  tests/unit/game/advent-of-tcg/effects/furnace.test.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/advent-of-tcg/hermits/biffa2001-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/bigbst4tz2-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pharaoh-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pixlriffs-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/solidaritygaming-rare.test.ts
  tests/unit/game/effects/weakness.test.ts
  tests/unit/game/hermits/beetlejhost-rare.test.ts
  tests/unit/game/hermits/boomerbdubs-rare.test.ts
  tests/unit/game/hermits/helsknight-rare.test.ts
  tests/unit/game/hermits/humancleo-rare.test.ts
  tests/unit/game/hermits/poepoeskizz-rare.test.ts
  tests/unit/game/hermits/poultryman-rare.test.ts
  tests/unit/game/hermits/wormman-rare.test.ts
  tests/unit/game/hermits/zedaphplays-rare.test.ts
Due: none

Fix import errors
  tests/unit/game/advent-of-tcg/effects/berry-bush.test.ts
  tests/unit/game/advent-of-tcg/effects/cat.test.ts
  tests/unit/game/advent-of-tcg/effects/furnace.test.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/advent-of-tcg/hermits/biffa2001-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/bigbst4tz2-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/ldshadowlady-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pharaoh-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pixlriffs-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/shubbleyt-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/solidaritygaming-rare.test.ts
  tests/unit/game/effects/weakness.test.ts
  tests/unit/game/hermits/humancleo-rare.test.ts
  tests/unit/game/hermits/wormman-rare.test.ts
Due: none

More import fixes
  tests/unit/game/advent-of-tcg/effects/cat.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/advent-of-tcg/hermits/bigbst4tz2-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pharaoh-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/pixlriffs-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/shubbleyt-rare.test.ts
Due: none

fix a failed test
  common/cards/attach/thorns.ts
  tests/unit/game/advent-of-tcg/effects/slimeball.test.ts
  tests/unit/game/advent-of-tcg/effects/trapdoor.test.ts
  tests/unit/game/advent-of-tcg/hermits/grianch-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/smallishbeansadvent-rare.test.ts
  tests/unit/game/advent-of-tcg/hermits/solidaritygaming-rare.test.ts
  tests/unit/game/effects/weakness.test.ts
Due: none

Multitype Support II
  client/src/app/deck/deck-edit.tsx
  client/src/components/card/card-tooltip.tsx
  client/src/components/import-export/import-modal.tsx
  common/cards/alter-egos-ii/hermits/overseer-rare.ts
  common/cards/default/hermits/iskall85-rare.ts
  common/components/query/card.ts
  common/types/deck.ts
Due: eslint --max-warnings=0, prettier --write

Post merge advent type refix
  common/cards/advent-of-tcg/hermits/biffa2001-rare.ts
  common/cards/advent-of-tcg/hermits/bigbst4tz2-rare.ts
  common/cards/advent-of-tcg/hermits/dungeontango-rare.ts
  common/cards/advent-of-tcg/hermits/grianch-rare.ts
  common/cards/advent-of-tcg/hermits/ldshadowlady-rare.ts
  common/cards/advent-of-tcg/hermits/monkeyfarm-rare.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
  common/cards/advent-of-tcg/hermits/pharaoh-rare.ts
  common/cards/advent-of-tcg/hermits/pixlriffs-rare.ts
  common/cards/advent-of-tcg/hermits/pythongb-rare.ts
  common/cards/advent-of-tcg/hermits/shubbleyt-rare.ts
  common/cards/advent-of-tcg/hermits/smajor1995.ts
  common/cards/advent-of-tcg/hermits/smallishbeans-rare.ts
  common/cards/advent-of-tcg/hermits/solidaritygaming-rare.ts
Due: none

Thorns bug
  common/cards/attach/thorns.ts
Due: none

Fix build error on server
  server/src/db/db.ts
Due: none

fixes/starter deck
  common/utils/state-gen.ts
  tests/db/database.test.ts
Due: none

new player message actually works
  client/src/app/main-menu/main-menu.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/session/session-selectors.ts
Due: eslint --max-warnings=0, prettier --write

Move armor
  common/cards/attach/armor.ts
  common/cards/sword.ts
Due: none

Remove old files
  common/cards/attach/armor.ts
  common/cards/attach/diamond-armor.ts
  common/cards/attach/gold-armor.ts
  common/cards/attach/iron-armor.ts
  common/cards/attach/netherite-armor.ts
  common/cards/single-use/diamond-sword.ts
  common/cards/single-use/iron-sword.ts
  common/cards/single-use/netherite-sword.ts
  common/cards/single-use/sword.ts
  common/cards/sword.ts
Due: none
