Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Move all icons to better endpoints
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  common/cards/base/card.ts
  server/src/api/cards.ts
Due: eslint --max-warnings=0, prettier --write

add endpoint for decoding decks
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
  common/utils/import-export.ts
  server/src/api/cards.ts
  server/src/api/index.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
  common/utils/import-export.ts
  server/src/api/cards.ts
Due: eslint --max-warnings=0, prettier --write

add card short name
  server/src/api/cards.ts
Due: none

add url to path
  server/src/api/cards.ts
  server/src/api/index.ts
  server/src/api/utils.ts
Due: none

fix
  server/src/api/utils.ts
Due: none

fix random changes oops
  client/public/images/hermits-emoji/teto2.png
  common/config/server-config.json
Due: none

screaper changes
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/logic/saved-decks/saved-decks.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

initial commit
  package-lock.json
  package.json
Due: none

Add a tag feature to the deck builder (#903)
  client/public/images/icons/tag.png
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.module.scss
  client/src/app/deck/deck.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/components/dropdown/color-picker-dropdown.tsx
  client/src/components/dropdown/color-picker.scss
  client/src/components/dropdown/dropdown.module.scss
  client/src/components/dropdown/dropdown.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/tags-modal/index.ts
  client/src/components/tags-modal/tags-modal.module.scss
  client/src/components/tags-modal/tags-modal.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  common/models/player-model.ts
  common/types/deck.ts
  package-lock.json
  package.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Rewrite API (#907)
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
  common/cards/base/card.ts
  common/utils/import-export.ts
  server/src/api.ts
  server/src/api/cards.ts
  server/src/api/index.ts
  server/src/api/utils.ts
  server/src/index.ts
Due: eslint --max-warnings=0, prettier --write

Fix card rendering errors
  client/src/components/card/hermit-card-svg.tsx
  common/cards/base/card.ts
Due: eslint --max-warnings=0, prettier --write

Fix card rendering errors (#909)
  client/src/components/card/hermit-card-svg.tsx
  common/cards/base/card.ts
Due: eslint --max-warnings=0, prettier --write

Basic impl
  client/src/index.tsx
  client/src/logic/fbdb/fbdb-saga.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/chat-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/logic/socket/socket-selectors.ts
  client/src/socket.ts
Due: eslint --max-warnings=0, prettier --write

It works?
  client/src/logic/socket/socket-saga.ts
Due: eslint --max-warnings=0, prettier --write

remove console.log
  client/src/logic/socket/socket-saga.ts
Due: eslint --max-warnings=0, prettier --write

adjustments
  common/utils/ranks.ts
  package-lock.json
  package.json
  server/src/api/cards.ts
  server/src/api/index.ts
  server/src/api/schema.ts
  server/src/index.ts
Due: none

Improve token cost calculations
  common/utils/ranks.ts
  server/src/api/cards.ts
Due: none

tests
  server/src/api/cards.ts
Due: none

API test draft
  .github/workflows/ci.yaml
  api-test.sh
  tests/api/api.test.ts
Due: none

sudo
  .github/workflows/ci.yaml
Due: none

use build
  api-test.sh
Due: none

move test
  .github/workflows/ci.yaml
  tests/test-api.sh
Due: none

Remove unneeded new method from card-component.ts
  common/components/card-component.ts
  tests/game/effects/ladder.test.ts
Due: none

More verification
  tests/test-api.sh
Due: none

format
  package.json
  server/src/api/cards.ts
  server/src/api/index.ts
  server/src/api/schema.ts
  tests/api/api.test.ts
Due: none

Move Socket Into Redux Store (#910)
  client/src/index.tsx
  client/src/logic/fbdb/fbdb-saga.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/chat-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
  client/src/logic/socket/socket-saga.ts
  client/src/logic/socket/socket-selectors.ts
  client/src/socket.ts
Due: eslint --max-warnings=0, prettier --write

add setup node
  .github/workflows/ci.yaml
  tests/test-api.sh
Due: none

i hate ci
  .github/workflows/ci.yaml
Due: none

fix compile errors
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
  client/src/components/card/mobile-card-component.tsx
  common/utils/validation.ts
Due: eslint --max-warnings=0, prettier --write

format
  client/src/app/deck/deck-select.tsx
Due: eslint --max-warnings=0, prettier --write

Adds tests for Ladder, Lightning Rod, Shield, Wels, Hypno, and Cleo.
  tests/game/effects/ladder.test.ts
  tests/game/effects/lightning-rod.test.ts
  tests/game/effects/shield.test.ts
  tests/game/hermits/hypnotizd-rare.test.ts
  tests/game/hermits/welsknight-rare.test.ts
  tests/game/hermits/zombie-cleo-rare.test.ts
Due: none

confusion
  .github/workflows/ci.yaml
Due: none

output
  tests/test-api.sh
Due: none

????
  tests/test-api.sh
Due: none

exit
  tests/test-api.sh
Due: none

cleanup code
  tests/test-api.sh
Due: none

more checks
  tests/test-api.sh
Due: none

use literal strings
  tests/test-api.sh
Due: none

specify the port
  tests/test-api.sh
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
