Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

prettier
  package.json
Due: none

Fix package lock formatting
  package.json
Due: none

Remove regex validation for deck titles (#525)
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

Note change
  common/cards/default/hermits/geminitay-rare.ts
Due: none

Gem knockback fix (#494)
  common/cards/default/hermits/geminitay-rare.ts
  common/cards/default/single-use/chorus-fruit.ts
Due: none

Sense's changes
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
  common/cards/alter-egos-ii/hermits/iskallman-rare.ts
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/alter-egos/hermits/goatfather-rare.ts
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/base/card.ts
  common/cards/base/hermit-card.ts
  common/cards/default/effects/shield.ts
  common/cards/default/effects/totem.ts
  common/cards/default/hermits/falsesymmetry-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/keralis-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/xbcrafted-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/spyglass.ts
  common/cards/default/single-use/tnt.ts
  common/models/battle-log-model.ts
  common/status-effects/badomen.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/status-effects/sleeping.ts
  common/status-effects/slowness.ts
  common/status-effects/weakness.ts
  common/types/game-state.ts
  common/utils/board.ts
  server/src/routines/turn-actions/attack.ts
  server/src/utils/state-gen.ts
Due: none

Fix profanity nodes and bad class serializing
  client/src/app/game/chat/chat.tsx
  client/src/components/formatting/formatting.tsx
  common/models/battle-log-model.ts
  common/utils/formatting.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write

rename opponent to opponentName
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Merge in scrapers PR and make changes to improve useability
  client/src/components/formatting/formatting.tsx
  common/utils/formatting.ts
  tests/common/utils/formatting.test.ts
Due: eslint --max-warnings=0, prettier --write

prettier
  common/utils/formatting.ts
  tests/common/utils/formatting.test.ts
Due: none

onCardPlay removal 1
  common/types/game-state.ts
Due: none

onCardPlay removal 2
  server/src/routines/turn-actions/play-card.ts
Due: none

onCardPlay removal 3
  server/src/utils/state-gen.ts
Due: none

onCardPlay removal 4
  common/status-effects/weakness.ts
Due: none

onCardPlay removal 5
  common/models/card-pos-model.ts
  common/status-effects/weakness.ts
Due: none

redo getting card from instance
  common/models/card-pos-model.ts
  common/status-effects/weakness.ts
Due: none

Run prettier
  common/status-effects/index.ts
  common/status-effects/weakness.ts
  common/status-effects/weaknessdummy.ts
  common/utils/board.ts
Due: none

Update common/cards/alter-egos/single-use/egg.ts
  common/cards/alter-egos/single-use/egg.ts
Due: none

Update common/status-effects/sleeping.ts
  common/status-effects/sleeping.ts
Due: none

Run prettier
  common/status-effects/fire.ts
  common/status-effects/index.ts
  common/status-effects/poison.ts
  common/status-effects/weakness.ts
  common/status-effects/weaknessdummy.ts
  common/utils/board.ts
Due: none

lsp fix
  common/cards/alter-egos/single-use/egg.ts
Due: none

fixing some issues jamm mentioned
  common/cards/default/single-use/spyglass.ts
  common/models/battle-log-model.ts
  common/models/game-model.ts
Due: none

prettier again
  common/models/game-model.ts
Due: none

fix rest of jamm's issues
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/models/attack-model.ts
  common/models/battle-log-model.ts
  common/types/attack.ts
Due: none

prettier.... AGAIN!!
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/models/attack-model.ts
Due: none

log modification and profanity seed change
  common/cards/base/hermit-card.ts
  common/config/profanity-seed.json
Due: none

Api update for new url (and maybe prevent crash)
  common/config/server-config.json
  server/src/api.ts
Due: none

jamm changes
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/cards/alter-egos/effects/armor-stand.ts
  common/cards/base/hermit-card.ts
  common/cards/default/single-use/spyglass.ts
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix the changes
  common/models/battle-log-model.ts
Due: none

fix the fixes to the changes
  common/models/battle-log-model.ts
Due: none

Fix the chat window
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix ender pearl
  common/models/attack-model.ts
Due: none

improve clarity of healing descriptions
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/default/hermits/keralis-rare.ts
Due: none

profanity seed
  common/config/profanity-seed.json
Due: none

prettier
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/default/hermits/keralis-rare.ts
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

totem fix
  common/cards/alter-egos/hermits/potatoboy-rare.ts
  common/cards/default/effects/totem.ts
Due: none

linters
  common/cards/default/effects/totem.ts
Due: none

make log system consistent
  common/cards/base/card.ts
  common/cards/base/effect-card.ts
  common/cards/base/hermit-card.ts
  common/cards/base/item-card.ts
  common/cards/base/single-use-card.ts
  common/models/battle-log-model.ts
  common/types/cards.ts
Due: none

Improve logs for helsknight
  common/cards/alter-egos/hermits/helsknight-rare.ts
Due: none

format
  README.md
  client/index.html
  client/src/app/deck/deck.module.scss
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/modals/attack-modal/hermit-selector.tsx
  client/src/app/login/login.module.scss
  client/src/app/main-menu/main-menu.module.scss
  client/src/components/alert-modal/alert-modal.module.scss
  client/src/components/beef/beef.module.scss
  client/src/components/button/button.module.scss
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/credit/credit.module.scss
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/components/slider/slider.module.scss
  client/src/index.scss
  common/models/battle-log-model.ts
  common/status-effects/fire.ts
  common/status-effects/poison.ts
  common/utils/formatting.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
