Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

change modal request types to be differet on frontend and backend, making visitor pattern for converting components possible
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/logic/game/game-actions.ts
  common/cards/alter-egos-ii/hermits/BoomerBdubsRareHermitCard.ts
  common/cards/alter-egos/hermits/EvilXisumaRareHermitCard.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/hermits/rendog-rare.ts
  common/cards/default/hermits/zombiecleo-rare.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/spyglass.ts
  common/components/card-component.ts
  common/components/query/card.ts
  common/components/status-effect-component.ts
  common/models/game-model.ts
  common/types/game-state.ts
  common/types/modal-requests.ts
  common/types/server-requests.ts
  server/src/routines/turn-actions/modal-request.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

fix error with chest
  common/cards/default/single-use/chest.ts
Due: none

improve chest
  common/cards/default/single-use/chest.ts
Due: none

clean up state gen a bit with privacy
  server/src/utils/state-gen.ts
Due: none

rename some code
  common/entities.ts
  common/models/game-model.ts
  common/types/ecs.ts
  common/utils/state-gen.ts
Due: none

docs
  common/types/ecs.ts
Due: none

more work
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/hypnotizd-rare.ts
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/cards/default/single-use/clock.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/betrayed.ts
  common/status-effects/curse-of-binding.ts
  common/status-effects/derp-coin.ts
  common/status-effects/index.ts
  common/status-effects/invisibility-potion.ts
  common/status-effects/revived-by-deathloop.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
  common/status-effects/turn-skipped.ts
  common/status-effects/used-clock.ts
Due: none

fortune to a system status effect
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/status-effects/fortune.ts
  common/status-effects/index.ts
Due: none

more work
  common/types/ecs.ts
Due: none

visitors
  client/src/components/coin-flip/coin-flip.tsx
  client/src/logic/game/game-actions.ts
  common/cards/alter-egos/single-use/trident.ts
  common/components/card-component.ts
  common/components/observer-component.ts
  common/components/player-component.ts
  common/models/battle-log-model.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/fortune.ts
  common/status-effects/sheep-stare.ts
  common/types/ecs.ts
  common/types/game-state.ts
  common/utils/coinFlips.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

more comments
  common/types/ecs.ts
Due: none

entity comments
  common/entities.ts
  common/types/ecs.ts
Due: none

changes to make it better
  client/src/logic/game/game-actions.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/default/hermits/grian-rare.ts
  common/cards/default/single-use/clock.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/components/player-component.ts
  common/components/status-effect-component.ts
  common/models/battle-log-model.ts
  common/status-effects/index.ts
  common/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

fix imports
  common/models/battle-log-model.ts
Due: none

werid code
  client/src/components/import-export/import-export-utils.ts
Due: eslint --max-warnings=0, prettier --write

Add Myself to Credits (#606)
  client/src/app/main-menu/credits.tsx
Due: eslint --max-warnings=0, prettier --write

set no row as active on hermit death
  client/src/components/import-export/import-export-utils.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

what is that console.log doing
  client/src/components/import-export/import-export-utils.ts
Due: eslint --max-warnings=0, prettier --write

more changes
  server/src/routines/game.ts
Due: none

Set no Active Row on Hermit Death (#607)
  server/src/routines/game.ts
Due: none

spooky stress card
  common/cards/alter-egos-ii/hermits/spookystress-rare.ts
Due: none

readability
  common/cards/alter-egos-ii/hermits/spookystress-rare.ts
Due: none

improve speed
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/components/card-list/card-list.tsx
  common/cards/index.ts
Due: eslint --max-warnings=0, prettier --write

numeric ID fix
  common/cards/alter-egos-ii/hermits/spookystress-rare.ts
Due: none

fix a bug where dream wasn't disabled
  client/src/app/deck/deck-edit.tsx
  client/src/components/card-list/card-list.tsx
Due: eslint --max-warnings=0, prettier --write

only sort cards once
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
Due: eslint --max-warnings=0, prettier --write

evil jevin and stress change
  common/cards/alter-egos-ii/hermits/eviljevin-rare.ts
  common/cards/alter-egos-ii/hermits/spookystress-rare.ts
Due: none

fix loyalty
  common/cards/default/effects/loyalty.ts
Due: none

Add expansion
  common/config/expansions.json
  common/types/cards.ts
Due: none

disable dream
  client/src/app/deck/deck-edit.tsx
Due: eslint --max-warnings=0, prettier --write

fix wolf
  common/cards/default/effects/wolf.ts
Due: none

Add icons for joehills and derpcoin
  client/public/images/status/primary-attack-disabled.png
  client/public/images/status/secondary-attack-disabled.png
  client/public/images/status/turn-skipped.png
  client/public/images/status/used-clock.png
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/default/hermits/joehills-rare.ts
  common/status-effects/index.ts
  common/status-effects/joehills-attack-disabled.ts
  common/status-effects/turn-skipped.ts
  common/status-effects/used-clock.ts
Due: none

fixes
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/status-effects/index.ts
Due: none

Fix Wolf (#610)
  common/cards/default/effects/wolf.ts
Due: none

Add icons for disabled attacks to make the system more intuitive (#611)
  client/public/images/status/primary-attack-disabled.png
  client/public/images/status/secondary-attack-disabled.png
  client/public/images/status/turn-skipped.png
  client/public/images/status/used-clock.png
  common/cards/default/hermits/joehills-rare.ts
  common/status-effects/index.ts
  common/status-effects/joehills-attack-disabled.ts
  common/status-effects/turn-skipped.ts
  common/status-effects/used-clock.ts
Due: none

Fix Loyalty (#609)
  common/cards/default/effects/loyalty.ts
Due: none

Fix deck filtering and imporve performance (#608)
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck.tsx
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/components/card-list/card-list.tsx
  common/cards/index.ts
Due: eslint --max-warnings=0, prettier --write

Outline status effects
  client/src/components/status-effects/status-effect.module.scss
Due: stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
