Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

fix
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.tsx
Due: eslint --max-warnings=0, prettier --write

Add Signal Inversion Achievement (#1378)
  client/public/images/cosmetics/border/red_and_black.png
  common/achievements/index.ts
  common/achievements/signal-inversion.ts
  common/cosmetics/borders.ts
  tests/unit/game/achievements/signal-inversion.test.ts
Due: none

Fix Red King failing if any row had exactly 90hp
  common/achievements/close-call.ts
Due: none

Fix Logins When Session is Invalid (#1376)
  client/src/app/login/login.tsx
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  client/src/logic/socket/socket-reducer.ts
  tests/e2e/reconnect.spec.ts
Due: eslint --max-warnings=0, prettier --write

Fix Red King failing if any row had exactly 90hp (#1379)
  common/achievements/close-call.ts
Due: none

heart size fix
  client/public/images/cosmetics/heart/plant.png
Due: none

Change Targeting Lightning To "Channeling" Achievement (#1375)
  common/achievements/channeling.ts
  common/achievements/index.ts
  common/achievements/targeted-lightning.ts
  common/cosmetics/hearts.ts
  tests/unit/game/achievements/channeling.test.ts
  tests/unit/game/achievements/targeted-lightning.test.ts
Due: none

Small changes (#1373)
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix Achievement Issues (#1377)
  client/src/app/main-menu/achievements.module.scss
  client/src/app/main-menu/achievements.tsx
  client/src/components/achievement/achievement.module.scss
  client/src/components/achievement/achievement.tsx
  common/achievements/jack-of-all-cards.ts
  common/achievements/types.ts
  common/types/achievements.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Heart size (#1380)
  client/public/images/cosmetics/heart/plant.png
Due: none

disable achievements
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
Due: none

move dirt
  common/cosmetics/backgrounds.ts
Due: none

Fix HOF not loading
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write

Send game for joinUrl
  server/src/api/games.ts
Due: none

changes
  common/achievements/is-great.ts
  server/src/db/db.ts
  tests/unit/game/achievements/is-great.test.ts
Due: none

maybe fix things
  server/src/db/db.ts
Due: none

Send game for joinUrl (#1383)
  server/src/api/games.ts
Due: none

Fix HOF not loading (#1382)
  client/src/app/main-menu/statistics.tsx
Due: eslint --max-warnings=0, prettier --write

Remove Cosmetics People Shouldn't Have (#1381)
  common/cosmetics/backgrounds.ts
  common/cosmetics/hearts.ts
  common/cosmetics/titles.ts
Due: none

format
  server/src/db/db.ts
  tests/unit/game/achievements/is-great.test.ts
Due: none

fix db?
  server/src/db/db.ts
Due: none

Add rate limiter
  package-lock.json
  package.json
  server/src/index.ts
Due: none

more limits
  server/src/index.ts
Due: none

auth rate limiter
  server/src/api/index.ts
  server/src/index.ts
Due: none

format
  package.json
  server/src/api/index.ts
  server/src/index.ts
Due: none

fix is great
  tests/unit/game/achievements/is-great.test.ts
Due: none

fix
  server/src/db/db.ts
Due: none

Fix duplicate tags
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

disable rate limits in CI
  client/src/logic/messages.ts
  server/src/api/index.ts
  server/src/index.ts
Due: eslint --max-warnings=0, prettier --write

changes
  server/src/index.ts
Due: none

changes
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Fix duplicate tags in deck builder (#1387)
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove replays for Evil X games
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: none

changes
  tests/unit/game/achievements/is-great.test.ts
Due: none

changes
  server/src/db/db.ts
Due: none

fix tests
  common/achievements/is-great.ts
  tests/unit/game/achievements/is-great.test.ts
Due: none

tests
  tests/unit/game/achievements/is-great.test.ts
Due: none

only authenticate if uuid
  server/src/db/db.ts
Due: none

Remove replays for Evil X games (#1388)
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
Due: none

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
