Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fixed Knockedout ailment not being removed for Tango (#319)
  common/cards/card-plugins/hermits/tangotek-rare.js
Due: none

Fixed Piston not being able to be attached (#316)
  common/cards/card-plugins/single-use/piston.js
  server/utils/index.js
Due: prettier --write

pearl and invis fix (#309)
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
  common/cards/card-plugins/single-use/invisibility-potion.js
Due: none

Fixed Lightning Rod getting discarded with 0 damage (#320)
  common/cards/card-plugins/effects/lightning-rod.js
  server/models/attack-model.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Lightning rod cleanup
  common/cards/card-plugins/effects/lightning-rod.js
Due: none

Fixed Rare TFC's power not working. (#317)
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
Due: none

Fixed Spyglass and Trident after the last merge
  common/cards/card-plugins/single-use/spyglass.js
  common/cards/card-plugins/single-use/trident.js
Due: none

Fix ailments lasting 1 turn less thant they should
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
  server/routines/game.js
Due: prettier --write

requested changes
  common/cards/card-plugins/single-use/target-block.js
  server/utils/attacks.js
Due: prettier --write

Add pi symbol to BangersRegular
  client/public/fonts/BangersRegular.otf
Due: none

Better description
  common/cards/card-plugins/_card.js
Due: none

Added Zero Attack to the blocked actions
  common/cards/card-plugins/effects/armor-stand.js
Due: none

Make sure it's the card being attacked
  common/cards/card-plugins/effects/armor-stand.js
Due: none

Fix looting not removing onHermitDeath hook
  common/cards/card-plugins/effects/looting.js
Due: none

The health of Rendog was incorrect
  common/cards/card-plugins/hermits/rendog-rare.js
Due: none

Improved flipCoin (#315)
  client/src/components/coin-flip/coin-flip.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/coin-flips-saga.ts
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/dream-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/evilxisuma_rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
  common/cards/card-plugins/hermits/geminitay-rare.js
  common/cards/card-plugins/hermits/goatfather-rare.js
  common/cards/card-plugins/hermits/grian-rare.js
  common/cards/card-plugins/hermits/helsknight-rare.js
  common/cards/card-plugins/hermits/jingler-rare.js
  common/cards/card-plugins/hermits/joehills-rare.js
  common/cards/card-plugins/hermits/llamadad-rare.js
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
  common/cards/card-plugins/hermits/rendog-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-ultra-rare.js
  common/cards/card-plugins/hermits/vintagebeef-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/hermits/zedaphplays-rare.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/fortune.js
  common/cards/card-plugins/single-use/invisibility-potion.js
  common/cards/card-plugins/single-use/spyglass.js
  common/cards/card-plugins/single-use/trident.js
  common/types/game-state.ts
  server/routines/game.js
  server/utils/index.js
  server/utils/state-gen.js
Due: eslint --max-warnings=0, prettier --write

Add pi symbol to BangersRegular (#321)
  client/public/fonts/BangersRegular.otf
Due: none

Fix looting not removing onHermitDeath hook (#324)
  common/cards/card-plugins/effects/looting.js
Due: none

The health of Rendog was incorrect (#325)
  common/cards/card-plugins/hermits/rendog-rare.js
Due: none

Fix ailments lasting 1 turn less thant they should (#322)
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
  server/routines/game.js
Due: prettier --write

Fix diamond armor typo
  common/cards/card-plugins/effects/diamond-armor.js
Due: none

Fix health card tooltip
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

Fix armor sometimes applying twice
  common/cards/card-plugins/effects/diamond-armor.js
  common/cards/card-plugins/effects/gold-armor.js
  common/cards/card-plugins/effects/iron-armor.js
  common/cards/card-plugins/effects/netherite-armor.js
Due: none

Fix type advantage issues (#318)
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/single-use/target-block.js
  server/routines/turn-actions/attack.js
  server/utils/attacks.js
Due: prettier --write

Remove unneeded console log
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

v0.6.3 beta
  config/server-config.json
Due: none

changes to attacks
  common/cards/card-plugins/hermits/ijevin-rare.js
  common/types/cards.ts
  server/routines/turn-actions/attack.js
  server/utils/attacks.js
Due: prettier --write

Target block and lightning rod changes for renbob
  common/cards/card-plugins/effects/lightning-rod.js
  common/cards/card-plugins/single-use/target-block.js
Due: none

Fire/Posion was being removed after 1 turn
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/single-use/lava-bucket.js
  common/cards/card-plugins/single-use/splash-potion-of-poison.js
  common/types/game-state.ts
  server/routines/game.js
Due: prettier --write

The custom value was deleted from the wrong player
  common/cards/card-plugins/hermits/zedaphplays-rare.js
Due: none

Explicitly set join to submit so enter joins private game
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

Fire/Posion was being removed after 1 turn (#326)
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/single-use/lava-bucket.js
  common/cards/card-plugins/single-use/splash-potion-of-poison.js
  common/types/game-state.ts
  server/routines/game.js
Due: prettier --write

The custom value was deleted from the wrong player (#327)
  common/cards/card-plugins/hermits/zedaphplays-rare.js
Due: none

Fixed pearl blocking effect damage, and flipping multiple times
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

Add TheThunderWolf's sweeping edge icon
  client/public/images/effects/sweeping_edge.png
Due: none

Run prettier, set config
  .prettierrc.json
  client/src/app/match-making/match-making.tsx
Due: eslint --max-warnings=0, prettier --write

Give up on not changing every line end to lf
  .prettierrc.json
Due: none

fix tests
  common/cards/card-plugins/effects/totem.js
  common/cards/card-plugins/hermits/evilxisuma_rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/xbcrafted-rare.js
  common/cards/card-plugins/single-use/mending.js
Due: none

Add attack damage change
  common/types/attack.ts
  server/models/attack-model.js
Due: prettier --write
