Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

add pos param
  common/cards/card-plugins/hermits/llamadad-rare.js
Due: none

Llamadad Rare (#202)
  common/cards/card-plugins/hermits/llamadad-rare.js
Due: none

Use targetRow const
  common/cards/card-plugins/effects/totem.js
Due: none

Update description
  common/cards/card-plugins/single-use/water-bucket.js
Due: none

Tango fixes
  common/cards/card-plugins/hermits/tangotek-rare.js
  server/utils/index.js
Due: prettier --write

Highlight end turn when no valid moves left #121
  client/src/app/game/board/board.tsx
  package-lock.json
Due: eslint --max-warnings=0, prettier --write

Requested changes
  client/src/app/game/board/board.tsx
  package-lock.json
Due: eslint --max-warnings=0, prettier --write

New cleo rare
  common/cards/card-plugins/hermits/zombiecleo-rare.js
Due: none

Highlight end turn when there are no valid moves left (#241)
  client/src/app/game/board/board.tsx
Due: eslint --max-warnings=0, prettier --write

Scar rare hermit (#236)
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
Due: none

Scar rare cleanup
  common/cards/card-plugins/hermits/goodtimeswithscar-rare.js
Due: none

Fix pearl hooks
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

Chorus Fruit ported
  common/cards/card-plugins/single-use/chorus-fruit.js
Due: none

String
  common/cards/card-plugins/effects/string.js
Due: none

Milk bucket
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/milk-bucket.js
Due: none

Remove unneeded checks
  common/cards/card-plugins/single-use/water-bucket.js
Due: none

Golden apple
  common/cards/card-plugins/single-use/golden-apple.js
Due: none

disable AE hermits
  common/cards/card-plugins/hermits/index.js
Due: none

joe works perfectly!
  common/cards/card-plugins/hermits/joehills-rare.js
Due: none

fix hook deletion
  common/cards/card-plugins/hermits/joehills-rare.js
Due: none

Renamed coinFlip to onCoinFlip
  common/cards/card-plugins/single-use/fortune.js
  common/types/game-state.ts
  server/utils/index.js
  server/utils/state-gen.js
Due: prettier --write

I thought I added that but I didn't
  common/types/game-state.ts
Due: none

Somehow I missed that
  server/utils/index.js
Due: prettier --write

Player Ailments were removed
  server/utils/index.js
Due: prettier --write

That's a better way to do it.
  common/cards/card-plugins/single-use/chorus-fruit.js
Due: none

Fix attacks on row index 0 (#251)
  common/cards/card-plugins/hermits/_hermit-card.js
Due: none

Fortune and CoinFlip Hook (#219)
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/dream-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
  common/cards/card-plugins/hermits/goatfather-rare.js
  common/cards/card-plugins/hermits/grian-rare.js
  common/cards/card-plugins/hermits/joehills-rare.js
  common/cards/card-plugins/hermits/llamadad-rare.js
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
  common/cards/card-plugins/hermits/tinfoilchef-ultra-rare.js
  common/cards/card-plugins/hermits/vintagebeef-rare.js
  common/cards/card-plugins/hermits/xisumavoid-rare.js
  common/cards/card-plugins/hermits/zedaphplays-rare.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/fortune.js
  common/cards/card-plugins/single-use/invisibility-potion.js
  common/cards/card-plugins/single-use/looting.js
  common/cards/card-plugins/single-use/trident.js
  common/types/game-state.ts
  server/utils/index.js
  server/utils/state-gen.js
Due: prettier --write

Fortune changes
  common/cards/card-plugins/single-use/fortune.js
Due: none

index.js jsdoc fix
  server/utils/index.js
Due: prettier --write

Golden Axe (#235)
  common/cards/card-plugins/single-use/golden-axe.js
  server/utils/index.js
Due: prettier --write

Clean up game-state.ts
  common/types/game-state.ts
Due: none

iron, diamond, and netherite swords, plus tnt
  common/cards/card-plugins/single-use/diamond-sword.js
  common/cards/card-plugins/single-use/iron-sword.js
  common/cards/card-plugins/single-use/netherite-sword.js
  common/cards/card-plugins/single-use/tnt.js
Due: none

New ren rare, plus general checks for picked cards
  client/src/logic/game/tasks/attack-saga.ts
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/keralis-rare.js
  common/cards/card-plugins/hermits/rendog-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/zombiecleo-rare.js
  common/cards/card-plugins/single-use/target-block.js
  common/types/cards.ts
Due: eslint --max-warnings=0, prettier --write

Chorus Fruit (#246)
  common/cards/card-plugins/single-use/chorus-fruit.js
Due: none

Turtle shell (#193)
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/effects/turtle-shell.js
Due: eslint --max-warnings=0, prettier --write

Lava bucket (#192)
  common/cards/card-plugins/single-use/lava-bucket.js
Due: none

Lava cleanup and poison
  common/cards/card-plugins/single-use/lava-bucket.js
  common/cards/card-plugins/single-use/splash-potion-of-poison.js
Due: none

New ailments, and poison doesn't kill
  server/routines/game.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Mending (#194)
  common/cards/card-plugins/effects/index.js
  common/cards/card-plugins/effects/mending.js
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/mending.js
Due: none

final changes
  client/public/images/hermits-nobg/bdoubleo100.png
  client/public/images/hermits-nobg/beetlejhost.png
  client/public/images/hermits-nobg/cubfan135.png
  client/public/images/hermits-nobg/docm77.png
  client/public/images/hermits-nobg/ethoslab.png
  client/public/images/hermits-nobg/eviljevin.png
  client/public/images/hermits-nobg/evilxisuma.png
  client/public/images/hermits-nobg/falsesymmetry.png
  client/public/images/hermits-nobg/geminitay.png
  client/public/images/hermits-nobg/goatfather.png
  client/public/images/hermits-nobg/goodtimeswithscar.png
  client/public/images/hermits-nobg/grian.png
  client/public/images/hermits-nobg/helsknight.png
  client/public/images/hermits-nobg/hotguy.png
  client/public/images/hermits-nobg/humancleo.png
  client/public/images/hermits-nobg/hypnotizd.png
  client/public/images/hermits-nobg/ijevin.png
  client/public/images/hermits-nobg/impulsesv.png
  client/public/images/hermits-nobg/iskall85.png
  client/public/images/hermits-nobg/jingler.png
  client/public/images/hermits-nobg/joehills.png
  client/public/images/hermits-nobg/keralis.png
  client/public/images/hermits-nobg/llamadad.png
  client/public/images/hermits-nobg/mumbojumbo.png
  client/public/images/hermits-nobg/pearlescentmoon.png
  client/public/images/hermits-nobg/pharaoh.png
  client/public/images/hermits-nobg/potatoboy.png
  client/public/images/hermits-nobg/poultryman.png
  client/public/images/hermits-nobg/renbob.png
  client/public/images/hermits-nobg/rendog.png
  client/public/images/hermits-nobg/stressmonster101.png
  client/public/images/hermits-nobg/tangotek.png
  client/public/images/hermits-nobg/tinfoilchef.png
  client/public/images/hermits-nobg/vintagebeef.png
  client/public/images/hermits-nobg/welsknight.png
  client/public/images/hermits-nobg/xbcrafted.png
  client/public/images/hermits-nobg/xisumavoid.png
  client/public/images/hermits-nobg/zedaphplays.png
  client/public/images/hermits-nobg/zombiecleo.png
  client/src/components/card/hermit-card-svg.module.scss
Due: stylelint --fix
