Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Fix bug with fuzz testing
  tests/fuzz/fuzz-ai.ts
Due: none

More fixes
  tests/fuzz/fuzz-ai.ts
Due: none

More improvements
  client/src/app/deck/layout/deck-layout.module.scss
  client/src/app/main-menu/statistics.module.scss
  client/src/app/main-menu/statistics.tsx
  client/src/components/menu-layout/menu-layout.module.scss
  client/src/logic/game/database/database-reducer.ts
  common/types/database.ts
  server/src/db/db.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Make code easier to expand
  server/src/routines/virtual/exboss-ai.ts
  tests/fuzz/index.ts
  tests/fuzz/run-game.ts
Due: none

format
  tests/fuzz/index.ts
  tests/fuzz/run-game.ts
Due: none

Improvements
  tests/README.md
Due: none

Remove stress console log
  common/cards/hermits/stressmonster101-rare.ts
Due: none

Add cosmetics preview
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/components/achievement/achievement.tsx
  client/src/logic/session/session-saga.ts
  common/cosmetics/background/index.ts
  common/cosmetics/background/old-menu.ts
  common/cosmetics/borders/green.ts
  common/cosmetics/hearts/gold.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Re-arrange css, include cosmetic type selector in cosmetic selector
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/logic/session/session-saga.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Store cosmetics on database
  client/src/logic/session/session-saga.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

Remove `console.log` in Stress Rare (#1194)
  common/cards/hermits/stressmonster101-rare.ts
Due: none

Fix update modal
  client/src/components/updates/updates.module.scss
  client/src/components/updates/updates.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  common/socket-messages/server-messages.ts
  server/src/index.ts
  server/src/load-updates.ts
  server/src/root-model.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

format
  server/src/index.ts
Due: none

add href
  client/src/components/updates/updates.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-reducer.ts
  common/socket-messages/server-messages.ts
  common/types/server-requests.ts
  server/src/load-updates.ts
  server/src/root-model.ts
Due: eslint --max-warnings=0, prettier --write

remove tab support
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

make link changes look good
  client/src/components/updates/updates.module.scss
Due: stylelint --fix

formatting
  server/src/root-model.ts
Due: none

More UI changes
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
  client/src/app/match-making/index.ts
  client/src/app/match-making/match-making.module.scss
  client/src/app/match-making/match-making.tsx
  client/src/components/accordion/accordion.module.scss
  client/src/components/accordion/accordion.tsx
  client/src/components/hermit-button/hermit-button.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix incorrect private game code
  client/src/app/main-menu/play-select.tsx
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  client/src/logic/messages.ts
Due: eslint --max-warnings=0, prettier --write

Final changes to play select screen
  client/public/images/backgrounds/gamemodes/tutorial.png
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

fix typo and visual bug
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write

Rename Settings to More in code, link game settings to main menu
  client/src/app/app.tsx
  client/src/app/main-menu/game-settings.tsx
  client/src/app/main-menu/main-menu.tsx
  client/src/app/main-menu/settings.tsx
Due: eslint --max-warnings=0, prettier --write

Active deck indicator
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix wrong types for update
  client/src/logic/session/session-reducer.ts
Due: eslint --max-warnings=0, prettier --write

push formatting fixes
  client/src/app/app.tsx
  client/src/app/main-menu/achievements.tsx
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/play-select.tsx
  client/src/app/main-menu/statistics.tsx
  client/src/components/accordion/accordion.tsx
  client/src/components/achievement/achievement.tsx
  client/src/components/coin-flip/coin-flip.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/messages.ts
  common/achievements/jack-of-all-cards.ts
  common/components/player-component.ts
  common/models/player-model.ts
  common/types/game-state.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  tests/unit/game/utils.ts
Due: eslint --max-warnings=0, prettier --write

Fix update modal not showing
  client/src/app/main-menu/main-menu.tsx
  common/types/server-requests.ts
  server/src/load-updates.ts
Due: eslint --max-warnings=0, prettier --write

Command changes
  tests/README.md
  tests/fuzz/index.ts
Due: none

fix equality
  client/src/app/main-menu/main-menu.tsx
  client/src/components/updates/updates.tsx
Due: eslint --max-warnings=0, prettier --write

fix equality
  client/src/app/main-menu/main-menu.tsx
Due: eslint --max-warnings=0, prettier --write

make appearance own module
  client/src/app/main-menu/cosmetics.tsx
  client/src/app/main-menu/cosmsetics.module.scss
  client/src/app/main-menu/play-select.module.scss
  client/src/app/main-menu/play-select.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Implement Basic Fuzz Testing (#1189)
  README.md
  common/cards/defaults.ts
  common/components/card-component.ts
  common/components/query/card.ts
  common/components/status-effect-component.ts
  common/types/turn-action-data.ts
  package.json
  server/src/game-controller.ts
  server/src/routines/game.ts
  server/src/routines/virtual/exboss-ai.ts
  server/src/routines/virtual/virtual-action.ts
  tests/README.md
  tests/fuzz/create-deck.ts
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/index.ts
  tests/fuzz/run-game.ts
  tests/fuzz/tsconfig.json
  tests/fuzz/utils.ts
  tests/unit/game/effects/looting.test.ts
  tests/unit/game/utils.ts
Due: none

Add fuzz.yml
  .github/workflows/fuzz.yml
Due: none

Add fail fast mode
  tests/fuzz/fuzz-ai.ts
  tests/fuzz/index.ts
Due: none

Add things
  .github/ISSUE_TEMPLATE/fuzz-testing-failure.md
  .github/workflows/fuzz.yml
Due: none

Add things
  .github/workflows/fuzz.yml
Due: none

fix
  .github/workflows/fuzz.yml
Due: none

fix
  tests/fuzz/fuzz-ai.ts
Due: none
