Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Improve Clarity Of Attack Modal (#690)
  client/src/app/deck/deck-edit.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/attack-modal/attack.tsx
  client/src/app/game/modals/game-modals.module.scss
  client/src/components/formatting/formatting.module.scss
  client/src/components/import-export/import-export-utils.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/trident.ts
  common/cards/base/types.ts
  common/cards/default/single-use/bow.ts
  common/cards/default/single-use/crossbow.ts
  common/cards/default/single-use/diamond-sword.ts
  common/cards/default/single-use/golden-axe.ts
  common/cards/default/single-use/iron-sword.ts
  common/cards/default/single-use/netherite-sword.ts
  common/cards/default/single-use/tnt.ts
  common/types/server-requests.ts
  common/utils/formatting.ts
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Update Card Descriptions for AE3 to be more consistent (#742)
  common/cards/alter-egos-ii/hermits/boomerbdubs-rare.ts
  common/cards/alter-egos-iii/hermits/dwarfimpulse-rare.ts
  common/cards/alter-egos-iii/hermits/eviljevin-rare.ts
  common/cards/alter-egos-iii/hermits/kingjoel-rare.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/poepoeskizz-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/cards/alter-egos-iii/hermits/shadeee-rare.ts
  common/cards/alter-egos-iii/hermits/wormman-rare.ts
  common/cards/alter-egos/hermits/hotguy-rare.ts
  common/cards/alter-egos/hermits/renbob-rare.ts
  common/cards/alter-egos/single-use/anvil.ts
  common/cards/alter-egos/single-use/ender-pearl.ts
  common/cards/default/effects/loyalty.ts
  common/cards/default/hermits/docm77-rare.ts
  common/cards/default/hermits/mumbojumbo-rare.ts
  common/cards/default/hermits/stressmonster101-rare.ts
  common/cards/default/single-use/chest.ts
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/cards/season-x/hermits/smallishbeans-rare.ts
  common/status-effects/royal-protection.ts
Due: none

fix
  common/components/query/card.ts
Due: none

Fix anvil attack log
  common/cards/alter-egos/single-use/anvil.ts
Due: none

remove action available check
  server/src/routines/game.ts
Due: none

forgot to merge
  common/models/game-model.ts
Due: none

Fix anvil attack log (#744)
  common/cards/alter-egos/single-use/anvil.ts
Due: none

item color
  client/src/components/card/item-card-svg.module.scss
Due: stylelint --fix

grain fix
  common/cards/default/hermits/grian-rare.ts
Due: none

Change Wildcard Item Color (#746)
  client/src/components/card/item-card-svg.module.scss
Due: stylelint --fix

Remove Grian coinflip when ability can't be used (#747)
  common/cards/default/hermits/grian-rare.ts
Due: none

Remove Available Action Check (#745)
  server/src/routines/game.ts
Due: none

remove card pointer events on mobile
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

math
  client/src/components/card-list/card-list.module.scss
Due: stylelint --fix

real
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write

remove card pointer events on mobile (#748)
  client/src/components/card-list/card-list.module.scss
  client/src/components/card/card.module.scss
  client/src/components/card/card.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Undo changes to minification
  esbuild.js
Due: none

Undo changes to minification (#749)
  esbuild.js
Due: none

add extra error handling
  server/src/routines/player.ts
Due: none

Add extra discord logs (#750)
  server/src/routines/player.ts
Due: none

Fix poison dealing 10 damage
  common/status-effects/poison.ts
Due: none

poison
  common/status-effects/poison.ts
Due: none

skizzlman hermit slots
  common/cards/season-x/hermits/skizzleman-rare.ts
Due: none

Make Skizzlman Only Give Effect To Hermits (#752)
  common/cards/season-x/hermits/skizzleman-rare.ts
Due: none

Give status effects a creator
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/components/status-effect-component.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

add status effect creator
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/cards/alter-egos-iii/hermits/beetlejhost-rare.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/potion-of-slowness.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/default/effects/bed.ts
  common/cards/default/hermits/ethoslab-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/hermits/xisumavoid-rare.ts
  common/cards/default/single-use/clock.ts
  common/cards/default/single-use/curse-of-binding.ts
  common/cards/default/single-use/fortune.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/cards/default/single-use/lava-bucket.ts
  common/cards/default/single-use/splash-potion-of-poison.ts
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/components/status-effect-component.ts
  common/status-effects/death-loop.ts
  common/status-effects/gas-light.ts
Due: none

bdubs
  common/cards/default/hermits/bdoubleo100-rare.ts
Due: none

wild
  common/cards/alter-egos-iii/items/wild-common.ts
  common/cards/base/types.ts
  common/types/cards.ts
  common/utils/ranks.ts
  server/src/utils/state-gen.ts
Due: none

Display card rarity
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

changes
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

more changes
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write

line break
  common/cards/alter-egos-iii/items/wild-common.ts
Due: none

Fix Coinflip Failures Caused By Logging Issue (#753)
  common/cards/alter-egos-iii/hermits/architectfalse-rare.ts
  common/cards/alter-egos-iii/hermits/beetlejhost-rare.ts
  common/cards/alter-egos-iii/hermits/originalxb-rare.ts
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
  common/cards/alter-egos/hermits/evilxisuma_rare.ts
  common/cards/alter-egos/hermits/helsknight-rare.ts
  common/cards/alter-egos/hermits/humancleo-rare.ts
  common/cards/alter-egos/single-use/bad-omen.ts
  common/cards/alter-egos/single-use/potion-of-slowness.ts
  common/cards/alter-egos/single-use/potion-of-weakness.ts
  common/cards/alter-egos/single-use/target-block.ts
  common/cards/default/effects/bed.ts
  common/cards/default/hermits/bdoubleo100-rare.ts
  common/cards/default/hermits/ethoslab-rare.ts
  common/cards/default/hermits/goodtimeswithscar-rare.ts
  common/cards/default/hermits/joehills-rare.ts
  common/cards/default/hermits/pearlescentmoon-rare.ts
  common/cards/default/hermits/xisumavoid-rare.ts
  common/cards/default/hermits/zedaphplays-rare.ts
  common/cards/default/single-use/clock.ts
  common/cards/default/single-use/curse-of-binding.ts
  common/cards/default/single-use/fortune.ts
  common/cards/default/single-use/invisibility-potion.ts
  common/cards/default/single-use/lava-bucket.ts
  common/cards/default/single-use/splash-potion-of-poison.ts
  common/cards/season-x/hermits/skizzleman-rare.ts
  common/components/status-effect-component.ts
  common/status-effects/aussie-ping.ts
  common/status-effects/death-loop.ts
  common/status-effects/gas-light.ts
  common/status-effects/sheep-stare.ts
  common/status-effects/trap-hole.ts
Due: none

changes
  client/src/components/card/card-tooltip.module.scss
  client/src/components/card/card-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Change Princess Gem Token Cost
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
Due: none

Change Princess Gem Token Cost to 1 (#756)
  common/cards/alter-egos-iii/hermits/princessgem-rare.ts
Due: none

Make First Three Wild Cards Cost Zero Tokens (#754)
  client/src/app/deck/deck-edit.tsx
  common/cards/alter-egos-iii/items/wild-common.ts
  common/cards/base/types.ts
  common/types/cards.ts
  common/utils/ranks.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

Fix Poison Only Dealing 10 Damage (#751)
  common/status-effects/poison.ts
Due: none

attempted fix
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
Due: none
