Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Pearlescentmoon rare
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

Turtle shell
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/effects/turtle-shell.js
Due: eslint --max-warnings=0, prettier --write

Remove log
  common/cards/card-plugins/effects/wolf.js
Due: none

Better return statement
  common/cards/card-plugins/effects/turtle-shell.js
Due: none

Still apply fire if water bucket is attached
  common/cards/card-plugins/single-use/lava-bucket.js
Due: none

Mending
  common/cards/card-plugins/effects/mending.js
Due: none

Update vintagebeef-rare.js
  common/cards/card-plugins/hermits/vintagebeef-rare.js
Due: none

Impulse sv rare
  common/cards/card-plugins/hermits/impulsesv-rare.js
Due: none

Update vintagebeef-ultra-rare.js
  common/cards/card-plugins/hermits/vintagebeef-ultra-rare.js
Due: none

add onApply and canApply
  client/src/logic/game/tasks/action-logic-saga.ts
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/knockback.js
  common/types/game-state.ts
  server/routines/turn-actions/apply-effect.js
  server/utils/index.js
  server/utils/state-gen.js
Due: eslint --max-warnings=0, prettier --write

New gem rare
  common/cards/card-plugins/hermits/geminitay-rare.js
Due: none

Fix attacks (#181)
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
  common/cards/card-plugins/hermits/cubfan135-rare.js
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
  server/routines/turn-actions/attack.js
Due: prettier --write

Change default attack id to be without attack string
  common/cards/card-plugins/hermits/_hermit-card.js
Due: none

Change in hermits too
  common/cards/card-plugins/hermits/bdoubleo100-rare.js
  common/cards/card-plugins/hermits/cubfan135-rare.js
  common/cards/card-plugins/hermits/docm77-rare.js
  common/cards/card-plugins/hermits/ethoslab-rare.js
  common/cards/card-plugins/hermits/ethoslab-ultra-rare.js
  common/cards/card-plugins/hermits/falsesymmetry-rare.js
Due: none

Welsknight rare working (#180)
  common/cards/card-plugins/hermits/welsknight-rare.js
Due: none

Change attack id
  common/cards/card-plugins/hermits/welsknight-rare.js
Due: none

Adjacent Pick Requirement (#182)
  client/src/app/game/board/board.tsx
  client/src/app/game/game.tsx
  client/src/app/game/modals/change-hermit-modal.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  client/src/logic/game/tasks/attack-saga.ts
  client/src/logic/game/tasks/pick-process-saga.ts
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/curse-of-binding.js
  common/cards/card-plugins/single-use/lead.js
  common/types/game-state.ts
  common/types/pick-process.ts
  server/routines/game.js
  server/routines/turn-actions/apply-effect.js
  server/routines/turn-actions/attack.js
  server/types/index.js
  server/utils/index.js
  server/utils/picked-cards.js
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Switch over everything to pickedslots
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/keralis-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/hermits/welsknight-rare.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/bow.js
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/crossbow.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/ender-pearl.js
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
  common/cards/card-plugins/single-use/looting.js
  server/utils/index.js
Due: prettier --write

Fix attack id on gem
  common/cards/card-plugins/hermits/geminitay-rare.js
Due: none

Update tinfoilchef-rare.js (#191)
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
Due: none

Clean up
  common/cards/card-plugins/hermits/tinfoilchef-rare.js
Due: none

Update iskall85-rare.js (#190)
  common/cards/card-plugins/hermits/iskall85-rare.js
Due: none

Remove attack string from attack id
  common/cards/card-plugins/hermits/iskall85-rare.js
Due: none

Allow to target multiple slot types
  client/src/app/game/game.tsx
  common/types/pick-process.ts
  server/utils/reqs.js
Due: eslint --max-warnings=0, prettier --write

Fix returns for the ladder
  common/cards/card-plugins/single-use/ladder.js
Due: none

Returns and fix PLAY_SINGLE_USE_CARD being removed
  common/cards/card-plugins/single-use/piston.js
Due: none

Returns and keep availableActions hook
  common/cards/card-plugins/single-use/fire-charge.js
Due: none

Change 'type' to an array on all cards
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/grian-rare.js
  common/cards/card-plugins/hermits/hypnotizd-rare.js
  common/cards/card-plugins/hermits/keralis-rare.js
  common/cards/card-plugins/hermits/tangotek-rare.js
  common/cards/card-plugins/single-use/anvil.js
  common/cards/card-plugins/single-use/bow.js
  common/cards/card-plugins/single-use/composter.js
  common/cards/card-plugins/single-use/crossbow.js
  common/cards/card-plugins/single-use/egg.js
  common/cards/card-plugins/single-use/ender-pearl.js
  common/cards/card-plugins/single-use/golden-apple.js
  common/cards/card-plugins/single-use/instant-health-ii.js
  common/cards/card-plugins/single-use/instant-health.js
  common/cards/card-plugins/single-use/lead.js
  common/cards/card-plugins/single-use/looting.js
Due: none

Update isRemovable
  common/cards/card-plugins/single-use/emerald.js
  server/utils/index.js
Due: prettier --write

Updated Curse of Vanishing
  common/cards/card-plugins/single-use/curse-of-vanishing.js
Due: none

Sweeping Edge working with the new system
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/sweeping-edge.js
Due: none

Splash Potion of Healing I and II
  client/public/images/effects/splash_potion_of_healing_ii.png
  client/src/components/import-export/import-export-const.ts
  common/cards/card-plugins/single-use/index.js
  common/cards/card-plugins/single-use/splash-potion-of-healing-ii.js
Due: eslint --max-warnings=0, prettier --write

update mumbo jumbo rare to fix issues
  common/cards/card-plugins/hermits/mumbojumbo-rare.js
Due: none

impulse sv rare fixes
  common/cards/card-plugins/hermits/impulsesv-rare.js
Due: none

use getInstanceKey() default
  common/cards/card-plugins/hermits/vintagebeef-rare.js
Due: none

use getInstanceKey() default
  common/cards/card-plugins/hermits/vintagebeef-ultra-rare.js
Due: none

use default getInstanceKey()
  common/cards/card-plugins/hermits/pearlescentmoon-rare.js
Due: none

stress fix
  common/cards/card-plugins/hermits/stressmonster101-rare.js
  config/debug-config.json
  config/server-config.json
Due: none

Change returns for canAttach
  common/cards/card-plugins/_card.js
  common/cards/card-plugins/effects/_effect-card.js
  common/cards/card-plugins/effects/bed.js
  common/cards/card-plugins/effects/milk-bucket.js
  common/cards/card-plugins/effects/string.js
  common/cards/card-plugins/effects/turtle-shell.js
  common/cards/card-plugins/effects/water-bucket.js
  common/cards/card-plugins/hermits/_hermit-card.js
  common/cards/card-plugins/items/_item-card.js
  common/cards/card-plugins/single-use/_single-use-card.js
  common/cards/card-plugins/single-use/lead.js
  server/routines/turn-actions/play-card.js
Due: prettier --write

expansion filter added (#178)
  client/public/images/expansion-icons/alter_egos.png
  client/public/images/expansion-icons/any.png
  client/public/images/expansion-icons/default.png
  client/src/app/deck/deck-edit.tsx
  client/src/components/dropdown/dropdown.tsx
  common/cards/card-plugins/_card.js
  common/cards/card-plugins/hermits/beetlejhost-common.js
  common/cards/card-plugins/hermits/eviljevin-common.js
  common/cards/card-plugins/hermits/index.js
  common/cards/card-plugins/hermits/llamadad-rare.js
  common/cards/card-plugins/hermits/potatoboy-rare.js
  common/cards/card-plugins/hermits/poultryman-common.js
  config/expansions.json
  config/index.js
  server/utils/validation.js
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
