Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"client/src/**/*.ts": ["eslint --max-warnings=0", "prettier --write"],
	"client/src/**/*.tsx": ["eslint --max-warnings=0", "prettier --write"],
	"server/**/*.js": ["prettier --write"],
	"client/src/**/*.scss": ["stylelint --fix"]
}

Use filter instead of map to get latestOpponentMessageTime
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write

Change timer color to be white always, except on follow up
  client/src/app/game/timer/timer.tsx
Due: eslint --max-warnings=0, prettier --write

Modals are now centered vertically
  client/src/components/modal/modal.module.scss
Due: stylelint --fix

Update to desktop game screen
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/game.module.scss
  client/src/app/game/timer/timer.module.scss
  client/src/app/game/toolbar/toolbar.tsx
  client/src/components/coin-flip/coin-flip.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix armor stand making active hermit null when it makes no sense
  common/cards/effects/armor-stand.ts
Due: none

added unlimitedCards option to debug-config (#381)
  client/src/app/game/game.tsx
  common/config/debug-config.json
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/state-gen.ts
Due: eslint --max-warnings=0, prettier --write

The merge reset the code
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write

Fix build issues
  esbuild.js
  server/src/api.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/player.ts
  server/src/serverRoot.ts
Due: none

Fix chat notifications not clearing properly (#383)
  client/src/app/game/toolbar/chat-item.tsx
Due: eslint --max-warnings=0, prettier --write

Unlimited cards cleanup
  server/src/routines/game.ts
  server/src/utils/state-gen.ts
Due: none

Fix piston and fire charge
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/piston.ts
  common/models/game-model.ts
  common/utils/board.ts
Due: none

Clean up chorus fruit
  common/cards/single-use/chorus-fruit.ts
  common/models/game-model.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
Due: none

Clean up cubfan
  common/cards/hermits/cubfan135-rare.ts
Due: none

More clean up
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/piston.ts
  common/utils/board.ts
Due: none

Only allow attacking with single use when that card can actually attack
  client/src/app/game/actions/actions.tsx
  client/src/app/game/actions/mobile-actions.tsx
  client/src/app/game/modals/attack-modal/attack-modal.tsx
  client/src/app/game/modals/end-turn-modal.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/attack-saga.ts
  common/cards/base/single-use-card.ts
  common/cards/effects/armor-stand.ts
  common/cards/hermits/geminitay-rare.ts
  common/cards/hermits/joehills-rare.ts
  common/cards/single-use/anvil.ts
  common/cards/single-use/bow.ts
  common/cards/single-use/clock.ts
  common/cards/single-use/crossbow.ts
  common/cards/single-use/diamond-sword.ts
  common/cards/single-use/golden-axe.ts
  common/cards/single-use/iron-sword.ts
  common/cards/single-use/netherite-sword.ts
  common/cards/single-use/tnt.ts
  common/cards/single-use/trident.ts
  common/types/action-data.ts
  common/types/attack.ts
  common/types/game-state.ts
  server/src/routines/game.ts
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/change-active-hermit.ts
Due: eslint --max-warnings=0, prettier --write

Improve game screen look further
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/actions/actions.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Beta v0.6.12
  common/config/server-config.json
Due: none

Oh wait it didn't actually work
  esbuild.js
Due: none

I deleted the start script?
  package.json
Due: none

Fix border images not showing
  client/src/app/game/actions/actions.module.scss
  client/src/app/game/board/board.module.scss
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.module.scss
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/player-info/player-info.module.scss
  client/src/app/game/player-info/player-info.tsx
  client/src/components/coin-flip/coin-flip.tsx
  client/src/components/lost-connection/lost-connection.module.scss
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Beta v0.6.13
  common/config/server-config.json
Due: none

Don't open action modals when waiting for server response
  client/src/app/game/actions/actions.tsx
  client/src/logic/game/game-actions.ts
  client/src/logic/game/game-saga.ts
  common/cards/hermits/joehills-rare.ts
Due: eslint --max-warnings=0, prettier --write

Center cards in hand (needs testing)
  client/src/app/game/game.module.scss
Due: stylelint --fix

Fix at least part of the discard issue
  common/utils/movement.ts
Due: none

Actually fix the jamm bug, plus prevent opening attack modal when waiting for server response
  client/src/app/game/modals/forfeit-modal.tsx
  client/src/app/game/toolbar/forfeit-item.tsx
  client/src/logic/game/tasks/action-modals-saga.ts
  client/src/logic/matchmaking/matchmaking-actions.ts
  client/src/logic/matchmaking/matchmaking-reducer.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Remove remaining jsdoc and cleanup
  common/cards/effects/totem.ts
  common/cards/hermits/evilxisuma_rare.ts
  common/cards/hermits/geminitay-rare.ts
  common/cards/hermits/grian-rare.ts
  common/cards/hermits/humancleo-rare.ts
  common/cards/hermits/pearlescentmoon-rare.ts
  common/cards/single-use/anvil.ts
  common/cards/single-use/chest.ts
  common/cards/single-use/diamond-sword.ts
  common/cards/single-use/emerald.ts
  common/cards/single-use/fire-charge.ts
  common/cards/single-use/knockback.ts
  common/cards/single-use/lead.ts
  common/cards/single-use/looting.ts
  common/cards/single-use/mending.ts
  common/types/game-state.ts
  common/types/hooks.ts
  common/utils/attacks.ts
  common/utils/coinFlips.ts
  common/utils/movement.ts
  server/src/plugins/firebase-logs.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/utils/picked-cards.ts
  server/src/utils/state-gen.ts
Due: none

Clean up modals, and stop them hiding when you click outside
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/app/game/modals/confirm-modal.tsx
  client/src/components/modal/modal.tsx
Due: eslint --max-warnings=0, prettier --write

Hacky fix for card text getting messed up
  client/src/app/game/board/board-slot.tsx
  client/src/app/game/board/board.module.scss
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
  client/src/components/card/health-card-svg.module.scss
  client/src/components/card/health-card-svg.tsx
  client/src/components/card/hermit-card-svg.module.scss
  client/src/components/card/hermit-card-svg.tsx
  client/src/components/card/item-card-svg.module.scss
  client/src/components/card/item-card-svg.tsx
  common/cards/base/health-card.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix composter allowing to pick less than 2 cards
  client/src/app/game/modals/unmet-condition-modal.tsx
  client/src/logic/game/game-saga.ts
  client/src/logic/game/tasks/action-logic-saga.ts
  client/src/logic/game/tasks/pick-process-saga.ts
  common/cards/single-use/composter.ts
  common/cards/single-use/crossbow.ts
  common/types/pick-process.ts
Due: eslint --max-warnings=0, prettier --write

Add back weakness ailment visual
  client/src/app/game/board/board.module.scss
Due: stylelint --fix

Beta v0.6.14
  common/config/server-config.json
Due: none

Fix corner text on item cards
  client/src/components/card/item-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write

Show final coin flips before end game overlay
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

Fix composter not actually composting
  common/cards/single-use/composter.ts
Due: none

Fix gem 2nd effect not working
  common/cards/hermits/geminitay-rare.ts
Due: none

Add canAttach to potion of weakness
  common/cards/single-use/potion-of-weakness.ts
Due: none

Cleanup
  common/cards/single-use/fishing-rod.ts
Due: none

Fix being able to change to knocked out hermit both client and server side
  client/src/app/game/modals/change-hermit-modal.tsx
  server/src/routines/turn-actions/change-active-hermit.ts
Due: eslint --max-warnings=0, prettier --write

Fix forfeit not returning to menu properly
  client/src/logic/matchmaking/matchmaking-saga.ts
Due: eslint --max-warnings=0, prettier --write

Show tooltips for cards in a modal above the modal
  client/src/app/game/modals/borrow-modal.tsx
  client/src/app/game/modals/chest-modal.tsx
  client/src/app/game/modals/discarded-modal.tsx
  client/src/components/card-list/card-list.tsx
  client/src/components/card/card.tsx
  client/src/components/tooltip/tooltip.module.scss
  client/src/components/tooltip/tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix
