Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Use Card String ID For API (#1030)
  server/src/api/stats.ts
Due: none

fix button
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
Due: eslint --max-warnings=0, prettier --write

some changes
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/game-controller.ts
Due: none

some changes
  client/src/logic/game/game-saga.ts
  common/models/game-model.ts
Due: eslint --max-warnings=0, prettier --write

AAAAAA
  client/src/logic/game/game-saga.ts
  common/routines/game.ts
  server/src/routines/player.ts
Due: eslint --max-warnings=0, prettier --write

Fix game Id bug
  client/src/logic/game/game-saga.ts
  common/models/game-model.ts
  common/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Fix game Id bug
  common/routines/game.ts
Due: none

WORKS PERFECT
  client/src/logic/game/game-saga.ts
Due: eslint --max-warnings=0, prettier --write

some more game adjustments
  client/src/logic/game/game-saga.ts
  common/models/game-model.ts
  common/routines/game.ts
  common/routines/virtual/exboss-ai.ts
  common/types/game-state.ts
  common/types/turn-action-data.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

evil x is broken
  client/src/logic/game/game-saga.ts
  client/src/logic/game/local-state.ts
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/routines/game.ts
  common/routines/virtual/exboss-ai.ts
  common/routines/virtual/virtual-action.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Add started spectating message
  server/src/routines/matchmaking.ts
Due: none

fix double border
  client/src/components/status-effects/status-effect-tooltip.module.scss
  client/src/components/status-effects/status-effect-tooltip.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Add message when spectator leaves
  server/src/routines/background/spectators.ts
Due: none

Broadcast spectator join & leave messages
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
Due: none

Fix EX boss clearing Amnesia too often
  common/cards/boss/hermits/evilxisuma_boss.ts
  tests/unit/game/hermits/evilxisuma-boss.test.ts
Due: none

Add tests
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Global-1-firefox-linux.png
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Hermit-1-firefox-linux.png
  tests/ct/tooltip.spec.tsx
Due: none

fix css
  client/src/components/tooltip/tooltip.tsx
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Global-1-firefox-linux.png
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Hermit-1-firefox-linux.png
  tests/ct/tooltip.spec.tsx
Due: eslint --max-warnings=0, prettier --write

format
  tests/ct/tooltip.spec.tsx
Due: none

replace NaN with null
  common/cards/boss/hermits/evilxisuma_boss.ts
Due: none

Lower fetch depth in CI
  .github/workflows/ci.yaml
  .github/workflows/render-cards.yml
Due: none

Add started spectating and stopped spectating messages (#1032)
  server/src/routines/background/spectators.ts
  server/src/routines/matchmaking.ts
Due: none

Fix Double Border on Status Effect Tooltip (#1033)
  client/src/components/status-effects/status-effect-tooltip.module.scss
  client/src/components/status-effects/status-effect-tooltip.tsx
  client/src/components/tooltip/tooltip.tsx
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Global-1-firefox-linux.png
  tests/ct/__snapshots__/tooltip.spec.tsx-snapshots/Status-Effect-Tooltip-Hermit-1-firefox-linux.png
  tests/ct/tooltip.spec.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix bug where games could not be joined after playing one
  client/src/app/game/end-game-overlay/end-game-overlay.tsx
  client/src/logic/matchmaking/matchmaking-saga.ts
  common/models/game-model.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/game.ts
Due: eslint --max-warnings=0, prettier --write

Reflecting More Changes
  common/cards/attach/thorns.ts
  common/cards/single-use/flint-and-steel.ts
  server/src/api/cards.ts
Due: none

Update
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/export-modal.tsx
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  common/types/database.ts
  server/src/api/index.ts
  server/src/api/stats.ts
  server/src/api/utils.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
  tests/db/database.test.ts
Due: eslint --max-warnings=0, prettier --write

show data first update
  server/src/api/cards.ts
  server/src/api/stats.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
Due: none

Jack Rare -
  client/src/components/card/mobile-card-component.tsx
  common/cards/index.ts
  common/cards/shifttech/hermits/index.ts
  common/cards/shifttech/hermits/jack-rare.ts
  common/cards/shifttech/hermits/jack-ultra-rare.ts
  server/src/api/cards.ts
  tests/sh/test-api
Due: eslint --max-warnings=0, prettier --write

Commit from GitHub Actions (Render Cards)
  client/public/images/cards/glowstone.png
  client/public/images/cards/glowstone.webp
  client/public/images/cards/glowstone_with_tokens.png
  client/public/images/cards/glowstone_with_tokens.webp
Due: none

Fix Betrayed blocking end turn after active change
  common/status-effects/betrayed.ts
  tests/unit/game/hermits/humancleo-rare.test.ts
Due: none

changes
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/app/deck/deck.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/logic/messages.ts
  client/src/logic/saved-decks/saved-decks.ts
  client/src/logic/session/session-reducer.ts
  client/src/logic/session/session-saga.ts
  common/socket-messages/client-messages.ts
  common/types/database.ts
  common/types/deck.ts
  server/src/api/cards.ts
  server/src/api/index.ts
  server/src/api/stats.ts
  server/src/db/db-reciever.ts
  server/src/db/db.ts
  server/src/routines/handle-client-message.ts
Due: eslint --max-warnings=0, prettier --write

fix
  server/src/db/db.ts
Due: none

fixes
  common/types/database.ts
  common/types/deck.ts
  server/src/api/cards.ts
  server/src/db/db.ts
Due: none

Fix to imported deck
  server/src/db/db-reciever.ts
Due: none

Update spyglass and wild item rarities
  client/src/components/card/item-card-svg.tsx
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/items/wild-common.ts
  common/cards/single-use/spyglass.ts
Due: eslint --max-warnings=0, prettier --write

fixes to importing
  client/src/app/deck/deck-edit.tsx
  client/src/app/deck/deck-select.tsx
  client/src/components/import-export/import-modal.tsx
  client/src/logic/game/database/database-reducer.ts
  client/src/logic/messages.ts
  client/src/logic/session/session-saga.ts
  client/src/root-saga.ts
  common/socket-messages/client-messages.ts
  common/socket-messages/server-messages.ts
  server/src/db/db-reciever.ts
  server/src/routines/handle-client-message.ts
Due: eslint --max-warnings=0, prettier --write

Fix EX boss clearing Amnesia too often (#1034)
  common/cards/boss/hermits/evilxisuma_boss.ts
  tests/unit/game/hermits/evilxisuma-boss.test.ts
Due: none

Fix Betrayed blocking end turn after changing active hermit (#1037)
  common/status-effects/betrayed.ts
  tests/unit/game/hermits/humancleo-rare.test.ts
Due: none

Update spyglass and wild item rarities (#1039)
  client/src/components/card/item-card-svg.tsx
  common/cards/advent-of-tcg/items/wild-rare.ts
  common/cards/items/wild-common.ts
  common/cards/single-use/spyglass.ts
Due: eslint --max-warnings=0, prettier --write

fix
  client/src/components/card/card-tooltip.tsx
  common/cards/advent-of-tcg/attach/berry-bush.ts
  common/cards/advent-of-tcg/attach/slimeball.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/dropper.ts
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
