Repository hc-tcg/hc-tcg: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix prettier
  server/src/api.ts
Due: none

Prevent splash harming counting repeatedly for biffa
  common/cards/advent-of-tcg/single-use/splash-potion-of-harming.ts
Due: none

force player to switch active row
  common/cards/advent-of-tcg/effects/berry-bush.ts
Due: none

Allow berry bush to be played with one hermit
  common/cards/advent-of-tcg/effects/berry-bush.ts
Due: none

Allow switching for berry bush
  server/src/routines/game.ts
Due: none

Make trapdoor only allow opponent player attacks
  common/cards/advent-of-tcg/effects/trapdoor.ts
Due: none

Update description
  common/cards/advent-of-tcg/effects/trapdoor.ts
Due: none

Biffa fix
  common/ailments/museum-collection.ts
Due: none

Delete hook in oli card
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
Due: none

Remove button disabling
  client/src/app/game/modals/select-cards-modal.tsx
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/single-use/brush.ts
  common/cards/advent-of-tcg/single-use/glowstone.ts
  common/cards/advent-of-tcg/single-use/lantern.ts
  common/cards/default/single-use/chest.ts
  common/cards/default/single-use/spyglass.ts
Due: eslint --max-warnings=0, prettier --write

Various berry bush fixes (#453)
  common/cards/advent-of-tcg/effects/berry-bush.ts
  server/src/routines/game.ts
Due: none

Make trapdoor only allow opponent player attacks (#454)
  common/cards/advent-of-tcg/effects/trapdoor.ts
Due: none

Final advent bug fixes (#455)
  client/src/app/game/modals/select-cards-modal.tsx
  client/src/app/game/toolbar/toolbar.tsx
  common/ailments/museum-collection.ts
  common/cards/advent-of-tcg/effects/cat.ts
  common/cards/advent-of-tcg/hermits/orionsound-rare.ts
Due: eslint --max-warnings=0, prettier --write

Fix security issues
  package-lock.json
Due: none

v0.6.34
  common/config/server-config.json
Due: none

Add new url to cors
  common/config/server-config.json
Due: none

Disable the advent cards
  common/config/expansions.json
Due: none

Gray out effect cards
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Revert logo subtext
  common/config/server-config.json
Due: none

Fix audio bugs
  client/src/app/deck/deck.tsx
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Some changes for things we missed when disabling AoTCG (#458)
  client/src/components/card/effect-card-svg.module.scss
  client/src/components/card/effect-card-svg.tsx
  common/config/server-config.json
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Fix audio bugs (#459)
  client/src/app/deck/deck.tsx
  client/src/logic/sound/sound-saga.ts
Due: eslint --max-warnings=0, prettier --write

Add mass import and export from files
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/components/import-export/import-export-utils.ts
  client/src/components/import-export/import-export.module.scss
  client/src/components/import-export/mass-export-modal.tsx
  client/src/components/import-export/mass-import-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Run prettier
  client/src/app/main-menu/main-menu.tsx
  client/src/components/import-export/mass-export-modal.tsx
  client/src/components/import-export/mass-import-modal.tsx
Due: eslint --max-warnings=0, prettier --write

Mass import export (#461)
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/components/import-export/import-export-utils.ts
  client/src/components/import-export/import-export.module.scss
  client/src/components/import-export/mass-export-modal.tsx
  client/src/components/import-export/mass-import-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Clean up import/export
  client/src/app/deck/deck.tsx
  client/src/app/main-menu/main-menu.module.scss
  client/src/app/main-menu/main-menu.tsx
  client/src/components/import-export/import-export.module.scss
  client/src/components/import-export/import-modal.tsx
  client/src/components/import-export/mass-export-modal.tsx
  client/src/components/import-export/mass-import-modal.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

v0.6.36
  common/config/server-config.json
Due: none

Changed logo subtext to "Unification!"
  common/config/server-config.json
Due: none

Changes to the battle log to work in text
  client/src/app/game/battle-log/battle-log.module.scss
  client/src/app/game/battle-log/battle-log.tsx
  client/src/app/game/battle-log/index.ts
  client/src/app/game/board/board.module.scss
  client/src/app/game/board/board.tsx
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/app/game/toolbar/chat-item.tsx
  client/src/logic/game/game-reducer.ts
  common/ailments/fire.ts
  common/ailments/poison.ts
  common/config/debug-config.json
  common/models/battle-log.ts
  common/models/game-model.ts
  common/types/chat.ts
  common/types/game-state.ts
  common/utils/attacks.ts
  common/utils/comm.ts
  server/src/routines/background/chat.ts
  server/src/routines/background/connection-status.ts
  server/src/routines/game.ts
  server/src/routines/matchmaking.ts
  server/src/routines/turn-actions/apply-effect.ts
  server/src/routines/turn-actions/attack.ts
  server/src/routines/turn-actions/change-active-hermit.ts
  server/src/routines/turn-actions/play-card.ts
  server/src/utils/battle-log.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Finish battle log changes and remove files
  client/public/images/icons/coin.png
  client/public/images/icons/coins/0_heads_1_tails.png
  client/public/images/icons/coins/0_heads_2_tails.png
  client/public/images/icons/coins/0_heads_3_tails.png
  client/public/images/icons/coins/1_heads_0_tails.png
  client/public/images/icons/coins/1_heads_1_tails.png
  client/public/images/icons/coins/1_heads_2_tails.png
  client/public/images/icons/coins/2_heads_0_tails.png
  client/public/images/icons/coins/2_heads_1_tails.png
  client/public/images/icons/coins/3_heads_0_tails.png
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Chat improvements and emoji system basics
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  client/src/logic/local-settings/local-settings-reducer.ts
  common/models/battle-log.ts
  common/types/chat.ts
  common/types/game-state.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

fix chat to use offset
  client/src/app/game/chat/chat.tsx
Due: eslint --max-warnings=0, prettier --write

Fix emoji system issues
  client/src/app/game/chat/chat.module.scss
  server/src/routines/background/chat.ts
Due: stylelint --fix

Add back profanity filter and alt text
  client/src/app/game/chat/chat.module.scss
  client/src/app/game/chat/chat.tsx
  common/models/battle-log.ts
  common/types/chat.ts
  common/types/game-state.ts
  server/src/routines/background/chat.ts
Due: eslint --max-warnings=0, prettier --write, stylelint --fix

Improve emoji sizing and spacing
  client/src/app/game/chat/chat.module.scss
Due: stylelint --fix

Path conditions:
  eslint --max-warnings=0: (any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)
  prettier --write: ((any of: client/src/**/*.ts) or (any of: client/src/**/*.tsx)) or (any of: server/**/*.js)
  stylelint --fix: any of: client/src/**/*.scss
